<!DOCTYPE html>
<html>
    <head>
        <title>留哪儿 -- 今日任务</title>
        <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
        <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">
        <meta name="author" content="Canbest">
        <link rel="stylesheet" href="/public/lib/themifyIcons/themify-icons.css"/>
        <link rel="stylesheet" href="/public/lib/slick/slick.css" />
        <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="/public/css/mission.css?nc=b" />
        <script src="/public/lib/jquery-3.1.1.js"></script>
        <% include ../partials/head %>
        <script>
            $(function(){
                $(".instruction").click(function(){
                    $(".instruction").fadeOut(500);
                    document.cookie = "educated=true";
                });
            });
        </script>
    </head>
    <body>
        <div class="view-container">
            <div class="pane" style="background-color: #e9e9e9">
                <% include ../partials/headerBar_mission %>
                <div class="content-container mission-header no-footer">
                    <div class="content">
                        <div class="instruction <%= showInstruction == true ? '' : 'hide'%>">
                            <div class="instruction_content">
                                <h3>1. 请点击热推任务，进入详情页</h3>
                                <h3>
                                    2. 点击右上角
                                    <i class="mx-6 ti-more-alt" style="vertical-align: middle; font-size: 24px"></i>
                                    按钮分享给朋友或者朋友圈，可获得更多积分哟。
                                </h3>
                            </div>
                        </div>
                        <% if(user){ %>
                            <a href="http://www.liunar.com/usercenter" class="item thumbnailItem fullscreen-margin white-bg py-12" style="height: 109px">
                                <img src="<%= user.avatar %>" style="width: 85px; height: 85px; left: 12px; bottom: 12px; top: 12px;"/>
                                <h3 class="my-6">
                                    <%= user.fullname %>
                                </h3>
                                <p class="my-6 color-666">
                                    <span>推广费：</span>
                                    <span class="ml-12 credit"><%= credit.available %>元</span>
                                </p>
                                <p class="my-6 color-666">
                                    <span>已提现：</span>
                                    <span class="ml-12 credit"><%= credit.withdrew %>元</span>
                                </p>
                            </a>
                        <% } %>
                        <!--<div class="mt-12 item white-bg fullscreen-margin px-12 pb-12">
                            <div class="item-divider white-bg">
                                <span class="section-header">
                                    <i class="fa fa-microphone"></i>
                                    消息通知
                                </span>
                            </div>
                            <hr class="divider-line">
                            <p class="t-a-c color-666">暂时没有消息通知...</p>
                            <div>
                                <h3 class="msg-title">题目题目</h3>
                                <p class="msg-time">2017-01-28</p>
                                <hr class="content-divider-line">
                            </div>
                            <div>
                                <h3 class="msg-title">题目题目</h3>
                                <p class="msg-time">2017-01-28</p>
                                <hr class="content-divider-line">
                            </div>
                        </div>-->
                        <div class="mt-12 item white-bg fullscreen-margin px-12">
                            <div class="item-divider white-bg">
                                <span class="section-header">
                                    <i class="fa fa-suitcase mission-icon"></i>
                                    今日热推任务
                                </span>
                            </div>
                            <hr class="divider-line">
                            <% if (missions){ %>
                                <% for(var i = 0; i < missions.length; i++){ %>
                                <% var url = {"product": "http://shop.liunar.com/" + missions[i].id, "article": "http://toutiao.liunar.com/0/" + missions[i].id, "event": "http://toutiao.liunar.com/0/" + missions[i].id} %>
                                <a href="<%= url[missions[i].type] %>">
                                    <table class="mission-item" style="width: 100%">
                                        <tr>
                                            <th rowspan="2" style="width: 40%">
                                                <% if(missions[i].type == "product"){ %>
                                                    <img style="width: 100%" src="http://cms.liunar.com/uploadimage/products/<%= missions[i].promo_thumb %>" />
                                                <% }else if(missions[i].type == "article" || missions[i].type == "event"){ %>
                                                    <img style="width: 100%" src="http://cms.liunar.com/uploadimage/articles/<%= missions[i].promo_thumb %>" />
                                                <% } %>
                                            </th>
                                            <td class="mission-title">
                                                <%= missions[i].title %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="mission-addition">
                                                <% var type = {"product": "留哪儿精选", "article": "留哪儿头条", "event": "留哪儿活动"} %>
                                                <%= type[missions[i].type] %>
                                            </td>
                                        </tr>
                                    </table>
                                </a>
                                <!--<a href="<%= url[missions[i].type] %>" class="white-bg mission_item">
                                    <div class="mission_col" style="width: 40%">
                                        <% if(missions[i].type == "product"){ %>
                                            <img style="width: 100%" src="http://cms.liunar.com/uploadimage/products/<%= missions[i].promo_thumb %>" />
                                        <% }else if(missions[i].type == "article" || missions[i].type == "event"){ %>
                                            <img style="width: 100%" src="http://cms.liunar.com/uploadimage/articles/<%= missions[i].promo_thumb %>" />
                                        <% } %>
                                    </div>
                                    <div class="mission_col" style="width: 60%">
                                        <h3 class="mission-title">
                                            <%= missions[i].title %>
                                        </h3>
                                        <p class="mission-addition">
                                            <% var type = {"product": "留哪儿精选", "article": "留哪儿头条", "event": "留哪儿活动"} %>
                                            <span><%= type[missions[i].type] %></span>
                                        </p>
                                    </div>
                                </a>-->
                                <hr class="content-divider-line">
                                <% } %>
                            <% }else{ %>
                                <p class="t-a-c color-666">今日任务还未发布...</p>
                            <% } %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footScript %>
    </body>
</html>