<div ng-controller="agencyController">
    <div ng-if="showCustomedCard === true" class="list card fullWidthCardMenu noBorder" style="margin: 0; box-shadow: none;">
        <div class="row" style="padding: 12px" ng-if="showCustomedCard === true">
            <div class="col col-33" style="text-align: center;">
                <img style="vertical-align: middle; border-radius: 100%" width="100%" ng-src="{{agentInfo.avatar}}">
            </div>
            <div class="col col-offset-10 col-center">
                <h4>{{agentInfo.fullname}}</h4>
                <p>
                    <a ui-sref="app.mission()" class="button button-assertive button-small" style="font-weight: bolder">
                        <i class="icon fa fa-graduation-cap"></i>
                        今日任务
                    </a>
                    <a ui-sref="userAgentTutorial" class="button button-balanced button-small" style="font-weight: bolder; margin-left: 12px">
                        <i class="icon fa fa-book"></i>
                        达人教程
                    </a>
                </p>
            </div>
            <!--<div class="col col-10" style="position: relative">
                <img ng-click="QRPopUp()" width="100%" style="position: absolute; bottom: 12px; right: 12px;" src="img/wechatIcon.png"/>
            </div>-->
        </div>
    </div>
</div>