<div ng-controller="agencyBottomController">
    <div ng-if="showAgentCard == true" class="item item-text-wrap">
        <div class="row noPadding">
            <div class="col col-40" style="text-align: center; padding-right: 12px;">
                <img ng-src="{{agentShowInfo.avatar}}" width="100%" style="vertical-align: middle; border-radius: 12px;"/>
            </div>
            <div class="col col-60" style="text-align: left; position: relative; padding-left: 12px;">
                <h2 style="font-size: 20px; margin-bottom: 12px; font-weight: bolder">
                    {{agentShowInfo.fullname}}
                </h2>
                <!--<p style="font-size: 14px; color: #2a3439">
                    电话：{{agentShowInfo.phone}}
                </p>-->
                <p style="font-size: 14px; color: #2a3439">
                    推荐码：{{agentShowInfo.reference_code}}
                </p>
                <p style="font-size: 14px; color: #2a3439; position: absolute; bottom: 0; line-height: 1.23">
                    {{agentShowInfo.slogan}}
                </p>
            </div>
        </div>
    </div>
</div>