<ion-view view-title="预约咨询">
    <ion-nav-buttons>
        <a href="{{'#' + from.url}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll class="whiteBg">
        <div class="item noBorder">
            
            <div class="item item-body noBorder noPadding" style="margin: 15px 14px 15px 14px">
                <h2 style="font-size: 18px">
                    定制项目：{{productName}}
                </h2>
                <ul>
                    <li style="margin-top: 8px">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        海外+中国双总部，服务留学前中后
                    </li>
                    <li style="margin-top: 8px">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        8位跨国导师团，打造中央控制系统
                    </li>
                    <li style="margin-top: 8px">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        北美院校全面合作，精准匹配最适合学校
                    </li>
                    <li style="margin-top: 8px">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        SCES院校直招，申请到录取一键完成
                    </li>
                    <li style="margin-top: 8px">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        16年帮助6000学员升入北美TOP100学校
                    </li>
                </ul>
            </div>
            
            <div class="list list-inset noBorder" style="margin: 25px 14px 25px 14px">
                <h2 style="text-align: center;">您的联系方式</h2>
                <label class="item item-input labelForm">
                    姓名：
                    <input type="text" ng-model="applyObj.name" placeholder="请填入真实姓名">
                </label>
                <label class="item item-input labelForm">
                    电话：
                    <input type="text" ng-model="applyObj.number" placeholder="电话号码只能由 +,-,0-9组成">
                </label>
                <p style="font-size: 14px; padding: 0; line-weight: bolder; margin-top: 15px; color: #b3b3b3; white-space: normal">
                    预约后，资深留学顾问将会在24小时内联系您，为您定制方案。
                </p>
            </div>
            <div class="">
            <button class="button button-full button-calm centerMargin" style="width: 65%; margin-left: 17.5%" ng-click="apply()">确认提交</button>
            </div>
        </div>
    </ion-content>
</ion-view>