<ion-view view-title="{{missionDetail.title}}" cache-view="false">
    <ion-nav-buttons>
        <a href="http://www.liunar.com" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content style="background-color: #FFD10F" prevent-over-scroll>
		<p></p>
        <div class="articleHeader" style="border: none">
            <h1 style="font-size: 24px; line-height: 135%;">{{missionDetail.title}}</h1>
            <div class="row" style="border: none; padding: 0px 17px">
                <div class="col col-90 noPadding">
                    <p style="vertical-align: middle">
                        {{missionDetail.update_time * 1000 | date:'yyyy-MM-dd'}}
                    </p>
                </div>
            </div>
            <div class="articleDetail" style="margin-top: 14px; overflow: visible; white-space: normal;" ng-bind-html="missionDetailContent">
            </div>
    </ion-content>
</ion-view>
