<button class="button button-clear button-small" style="font-size: 14px; position: absolute; right: 0; top: 0; color: #fff;" ng-click="closePop()">
    X
</button>

<div>
    <label class="item item-input labelForm" style="margin-top: 15px;border: solid 1px #52baba">
        姓名：
        <input type="text" placeholder="请填入真实姓名" ng-model="collectObj.name">
    </label>
    <label class="item item-input labelForm" style="margin-top: 15px; border: solid 1px #52baba">
        电话：
        <input type="text" placeholder="电话号码只能由 +,-,0-9组成" ng-model="collectObj.phone">
    </label>
    <label class="item item-input item-select labelForm" style="margin-top: 15px; border: solid 1px #52baba">
        在读年级：
        <select ng-model="collectObj.grade">
            <option ng-repeat="(key, value) in grades" value="{{value}}">
                {{key}}
            </option>
        </select>
    </label>
    <label class="item item-input item-select labelForm" style="margin-bottom: 15px; border: solid 1px #52baba">
        意向国家：
        <select ng-model="collectObj.country">
            <option ng-repeat="(key, value) in countries" value="{{value}}">
                {{key}}
            </option>
        </select>
    </label>
</div>
