<ion-modal-view>
    <ion-header-bar class="nav-title-slide-ios7 bar-calm">
        <button class="button button-clear button-primary" ng-click="modal.hide()">
            取消
        </button>
        <h1 class="title">{{}}</h1>
        <button class="button button-clear button-primary" ng-click="leaveComment()">
            评论
        </button>
    </ion-header-bar>
    <ion-content prevent-over-scroll>
        <textarea autofocus style="padding: 12px 6px; font-size: 18px; resize: none; width: 100%; height: 320px;" ng-model="commentObj.content">
        </textarea>
    </ion-content>
</ion-modal-view>