<ion-view view-title="留学评估" cache-view="false">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="http://www.liunar.com">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
	<ion-content prevent-over-scroll class="estimateBody">
        <div>
            <div class="card estimateCard">
                <p>
                    {{question.question}}
                </p>
            </div>
            <div class="estimateList">
                <ion-radio class="estimate radio noBorder" ng-value="value.value" ng-repeat="(key, value) in question.answers" ng-model="selectValue.value">
                    <span style="margin-right: 24px;">{{key}}</span> 
                        {{value.text}}
                </ion-radio>
            </div>
            <div class="estimateBtnGroup row">
                <button ng-if="nextButton == true" class="prev button estimateBtn col" ng-click="back(question.id)">
                    上一题
                </button>
                <button class="button estimateBtn next col" ng-click="next(question.id, selectValue.value)">
                    继续
                </button>
            </div>
        </div>
	</ion-content>
</ion-view>