<ion-view view-title="留哪儿活动">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="http://www.liunar.com">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
	<ion-content prevent-over-scroll style="background-color: #fff">
        <a ng-if="event.expire_time > now" ng-repeat="event in events" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: event.id})" style="padding: 12px 0px 12px 0px; margin:0px 20px; border-bottom:1px solid #edeff0;">
            <div class="row noPadding">
                <div class="col col-25 noPadding">
                    <img width="100%" ng-src="http://cms.liunar.com/uploadimage/articles/{{event.promo_thumb}}" />
                </div>
                <div class="col noPadding" style="margin-left: 12px">
                    <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                        {{event.title}}
                    </h4>
                </div>
            </div>
            <div class="row" style="color: steelblue; display: inline-block; padding: 5px; margin: 15px 0px 0px 0px; font-weight: normal;">
                <span class="fa fa-calendar" style="vertical-align: middle" aria-hidden="true"></span>
                <span style="margin-left: 8px; vertical-align: middle">
                    {{event.effective_time * 1000 | date:'yyyy-MM-dd'}} ~ {{event.expire_time * 1000 | date:'yyyy-MM-dd'}}
                </span>
            </div>
        </a>
	</ion-content>
</ion-view>