<ion-view view-title="留哪儿头条" cache-view="true" ng-init="initList()">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <div class="list" style="background-color: #fff; border: none" ng-cloak>
              <a ng-if="post.special_event == 0" ng-repeat="post in articles" nav-direction="forward" class="item noBorder " href="http://toutiao.liunar.com/0/{{post.id}}" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                  <div style ="display:block;" >
                          <img ng-if="post.have_thumbnail == 1" ng-src="http://www.liunar.com{{post.thumbnail}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                          <img ng-if="post.have_thumbnail == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{post.promo_thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                  </div> 
              
                 
                  <div style="margin-left: 0">
                      <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">{{post.title}}</h4>
                      <p class="dateInfo">
                          <span style ="padding-right:30px;">
                              <i style="margin-right: 4px" class="icon ion-eye"></i>
                              {{post.view_count}}
                          </span>
                          <span>{{post.update_time * 1000 | date:'yyyy-MM-dd'}}</span>
                      </p>
                      <p style="color: #4689b2 ">{{tags[post.category]}}</p>
                  </div>
                </a>
        </div>
        <ion-infinite-scroll spinner="bubbles" on-infinite="getMoreArticles()" distance="3%"></ion-infinite-scroll>
    </ion-content>
</ion-view>