<ion-view view-title="{{hotItem.title}}" cache-view="false">
    <ion-nav-buttons>
        <a ui-sref="app.mainHome()" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
		<p></p>
        <div class="articleHeader" style="border: none">
            <h1 style="font-size: 24px; line-height: 135%;">{{hotItem.title}}</h1>
<!--
            <div class="row" style="border: none; padding: 0px 17px">
                <div class="col col-90 noPadding">
                    <p style="vertical-align: middle">
                        {{hotItem.update_time * 1000 | date:'yyyy-MM-dd'}}
                    </p>
                </div>
            </div>
-->
            <div class="articleDetail" style="margin-top: 14px; overflow: visible; white-space: normal;" ng-bind-html="hotItemContent">
            </div>
    </ion-content>
</ion-view>
