<div class="modal image-modal transparent">
	<div class="img-container">
		<i ng-click="closeModal()" class="icon ion-close-circled" style="z-index: 99999; position: absolute; left: 18px; top: 18px; color: #fff; font-size: 28px;"></i>
        <img ng-src="http://api.liunar.com/{{imgPoster}}" class="fullscreen-image" />
	</div>	
</div>