<ion-view view-title="成功案例">
    <ion-nav-buttons>
        <a href="{{'#' + from}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll style="background-color: #fff;" overflow-scroll="true">
        <div class="item item-text-wrap" style="border: none">
            <div class="item item-avatar" style="border: none">
                <img src="http://www.liunar.com/schools/{{case.school_id}}/1.png" check-image>
                <h3 style="font-size: 18px">祝贺 {{case.name}} 同学，</h3>
                <h3 style="font-size: 18px">申请<span style="color: #52baba">{{case.ch_name}}</span>成功！</h3>
            </div>
            <div class="item introduction" style="width: 90%; margin-left: 5%">
                <p style="text-align: center; font-size: 15px;" ng-bind-html="case.extra_info"></p>
            </div>
            <br/>
            <div class="item itemPSize" style="border: none;">
                <div ng-bind-html="postDetailContent" style="overflow: visible; white-space: normal;"></div>
            </div>
        </div>
        <div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿——最聪明的留学</h3>
                    <img src="img/liunarLogo.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
        </div>
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
    </ion-content>
</ion-view>