<ion-view view-title="{{cate}}申请">
    <ion-nav-bar class="bar bar-grey">
        <ion-nav-buttons side="primary">
            <a nav-direction="back" ui-sref="app.mainHome()">
                <button class="button button-clear" style="color: #fff">
                    <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
                </button>
            </a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content prevent-over-scroll>
        <div class="list noBorder" style="background-color: rgb(188,240,211); margin-bottom: 0">
            <div class="item" style="border-bottom: 1px solid rgb(120,190,154); background-color: rgb(188,240,211); color: rgb(120,190,154)">
                留哪儿产品
            </div>
            <div class="list noBorder">
                <div class="item item-thumbnail-left noBorder" style="padding: 10px 0px 10px 120px; margin:0px 20px 0px 20px; background-color: inherit; border-bottom: 1px solid rgb(120,190,154);" ng-repeat="list in productLists">
                    <img src="http://www.liunar.com/products/{{list.id}}.png" style="width: 90px; height: auto; max-width: 300px; max-width: 300px;">
                    <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">{{list.title}}</h4>
                    <p style="font-size: 14px; overflow: visible; white-space: normal" ng-bind-html="list.description"></p>
                    <a class="button" style="float: right; margin-top: 12px; background-color: rgb(120,190,154); color: #fff;" ui-sref="apply({pageTitle: cate+'申请', productId: list.id})">
                        我要申请    
                    </a>
                </div>
            </div>
        </div>

        <div class="list noBorder" style="background-color: rgb(187,236,243); margin-top: 0; margin-bottom: 0">
            <div class="item" style="border-bottom: 1px solid rgb(39,147,206); background-color: inherit; color: rgb(39,147,206)">
                成功案例
            </div>
            <div class="list">
                <a div class="item item-thumbnail-left noBorder" style="padding: 10px 0px 10px 120px; margin:0px 20px 0px 20px; background-color: inherit; border-bottom: 1px solid rgb(39,147,206);" ng-repeat="case in pastCases" ui-sref="app.pastCase({typeId: case.type, caseId: case.id})">
                    <img class="full-image" style="width: 90px; height: auto; max-width: 300px; max-width: 300px;" ng-src="http://www.liunar.com/schools/{{case.school_id}}/1.png">
                    <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                            学生: {{case.name}}
                    </h4>
                    <p style="font-size: 14px; overflow: visible; white-space: normal">
                        <span style="font-weight:900;">
                            个人资料
                        </span>
                        : {{case.highlight}}
                    </p>
                </a>
            </div>
        </div>
        <div style="background-color: rgb(199,192,232); margin-top: 0;">
            <div class="item" style="position: relative; background-color: inherit; color: rgb(144,123,251)">
                学校列表
                <a ui-sref="app.schoolRank({cateID: anchor})">
                    <span style="right: 4%; color: rgb(144,123,251); position: absolute">更多 <i class="icon ion-chevron-right"></i></span>
                </a>
            </div>
            <a ng-if="type != 3" nav-direction="forward" class="item" ui-sref="app.schoolStandard({schoolId: list.id})" ng-repeat="list in schools" style="background-color: inherit; padding: 2px; border: 1px solid rgb(144,123,251);">
                <div class="row">
                    <div class="col col-25" style="text-align: center; position: relative">
                        <div ng-if="list.national_rank != 999" style="position: absolute; top:0; left:0; background-color: #d51f26; color:#fff; width: 24px;">{{list.national_rank}}</div>
                        <img class="full-image" ng-src="http://www.liunar.com/schools/{{list.id}}/1.png" style="margin-top: 20px; margin-bottom: 5px; margin-bottom: 5px; margin-left:13px; max-height: 100px; display:block" check-image/>
                    </div>
                    <div class="col col-67 col-offset-10" style="text-overflow: ellipsis; width: 100%;">
                        <div class="list">
                            <h2 style="overflow: visible; white-space: normal">{{list.en_name}}</h2>
                            <p>{{list.ch_name}}</p>
                            <p style="display: block; height: 36px; white-space: pre-line; font-size: 12px">{{list.detail_info}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="badgeBtn-outline"  style="color: rgb(144,123,251); border-color: rgb(144,123,251);">{{list.city == null ? '温哥华' : list.city}}</button>
                    </div>
                    <div class="col" style="text-align: center">
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic == 0"
                                style="color: #888; border-color: #999">
                            暂无资料
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic != 0"
                                style="color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}; border-color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}">
                        {{list.isPublic == 1?'公校':'私校'}}
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="list.type == 1"
                                style=" padding:0; color: #f26c5d; border-color: #f26c5d">
                        {{list.school_category == ''? '综合类':list.school_category}}
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="list.type == 2"
                                style="color: #888; border-color: #999">
                            移民
                        </button>
                    </div>

                    <div class="col">
                      <button class="badgeBtn-outline" ng-if="list.type == 4"  style="color: #0a556c; border-color: #a556c">ESL</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != null && list.ap_ib != 3 && list.ap_ib != 0"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 1?'有AP':'有IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != 1 && list.ap_ib != 2 && list.ap_ib != null"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 0?'无AP/IB':'有AP/IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib == null"  style="color: #0a556c; border-color: #0a556c">有AP/IB</button>
                        <button class="badgeBtn-outline" 
                              ng-if="list.type == 1"
                                style=" padding:0; color: #0a556c; border-color: #0a556c">
                           教育部认证
                        </button>
                    </div>
                </div>
            </a>
            <a ng-if="type == 3" class="item" nav-direction="forward" class="item" ui-sref="app.schoolProvinceStandard({schoolId: list.id})" ng-repeat="list in schools" style="padding: 14px 14px 14px 14px; background-color: rgb(199,192,232);">
                <div style="min-height: 68px; padding-left: 120px; padding-right: 0px; padding-bottom: 6px; background-color: rgb(199,192,232);" class="noBorder item item-thumbnail-left" href="#">
                    <img class="full-image" style="height: auto; max-width: 60px;" ng-src="http://www.liunar.com/schools/{{list.id}}/1.png" check-school-image>
                    <h2 style="white-space: normal; word-wrap: break-word">
                        {{list.en_name}}
                    </h2>
                    <p style="white-space: normal; word-wrap: break-word">
                        {{list.ch_name}}
                    </p>
                </div>
                <div class="item noBorder noPadding" style="font-size: 14px; background-color: rgb(199,192,232);">
                    <div class="row">
                        <div class="col noPadding">
                            最新排名：
                            <span>
                                {{list.national_rank}}
                            </span>
                        </div>
                        <div class="col noPadding" style="text-align:right">
                            最近5年平均排名：
                            <span>
                                {{list.five_year_rank}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col noPadding">
                            城市：
                            <span>
                                {{list.city}}
                            </span>
                        </div>
                        <div class="col noPadding" style="text-align:right">
                            学校类型：
                            <span>
                                {{list.isPublic == 1 ? "公校" : "私校"}}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
        <div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿——最聪明的留学</h3>
                    <img src="img/liunarLogo.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>