<ion-view view-title="留哪儿--让孩子选择世界" hide-nav-bar="false">
    <ion-nav-title>
        <h1 class="title">
            留哪儿
        </h1>
    </ion-nav-title>
	<ion-nav-buttons side="secondary">
        <a nav-direction="forward" ui-sref="tagSearch({tag: ''})">
            <button class="button button-clear">
                <i style="font-size: 24px;" class="ion-ios-search-strong">
                </i>
            </button>
        </a>
	</ion-nav-buttons>
    <ion-content prevent-over-scroll ng-init="getPosts()" on-scroll="headerBarControll()" style="background-color: #e9e9e9">
        <slick ng-if="slick == true" ng-bind-html="topSlider" settings="slickConfig">
        </slick>
        <div class="list card fullWidthCardMenu noBorder" style="font-weight: lighter">
            <div class="row noPadding" style="width: 92%; margin-left: 4%;">
                <!--ui-sref="app.liunarProduct({typeId: 3})"-->
                <div class="col homeMenuItem" ng-click="goTo('lowAge')">
                    <img src="img/dllx.png" style="width: 80%; max-width: 92px;"/>
                    <p style="font-size: 14px; font-weight:lighter">低龄留学</p>
                </div>
                <!--ui-sref="app.liunarProduct({typeId: 2})"-->
                <div class="col homeMenuItem" ng-click="goTo('collage')">
                    <img src="img/tsyx.png" style="width: 80%; max-width: 92px;"/>
                    <p style="font-size: 14px; font-weight:lighter">特色院校</p>
                </div>
                <!--ui-sref="app.liunarProduct({typeId: 1})"-->
                <div class="col homeMenuItem" ng-click="goTo('university')">
                    <img src="img/zmdx.png" style="width: 80%; max-width: 92px;"/>
                    <p style="font-size: 14px; font-weight:lighter">知名大学</p>
                </div>
                <!--ui-sref="app.summerCamps()"-->
                <div class="col homeMenuItem" ng-click="goTo('shortTerm')">
                    <img src="img/hwyx.png" style="width: 80%; max-width: 92px;"/>
                    <p style="font-size: 14px; font-weight:lighter">海外游学</p>
                </div>
            </div>
            <div class="row" style="border-top: #E5E5E5 1px solid; width: 92%; margin-left: 4%; padding-top: 6px; padding-bottom: 6px;">
                <a class="col textCenter" ui-sref="app.estimate()" nav-direction="forward">
                    <i class="iconCustom" style="background-image: url('img/s1.png');"></i>
                    <span style="vertical-align: middle; font-weight:lighter">
                        免费评估
                    </span>
                </a>
                <a class="col textCenter" style="border-left: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5;" ng-click="collectForm()">
                    <i class="iconCustom" style="background-image: url('img/s2.png');"></i>
                    <span style="vertical-align: middle; font-weight:lighter">
                        定制方案
                    </span>
                </a>
                <a class="col textCenter" ui-sref="app.postDetail({postId: 34677})">
                    <i class="iconCustom" style="background-image: url('img/s3.png');"></i>
                    <span style="vertical-align: middle; font-weight:lighter">
                        领取攻略
                    </span>
                </a>
            </div>
        </div>
        
        <div style="margin-top: 12px" ng-include src="'templates/agencyCard.html'">
        </div>
        
        <div class="card fullWidthCard">
            <div class="item item-divider whiteBg noBorder" style="padding-left: 12px">
                <i class="ion custom ion-android-alarm-clock" style="color: rgb(211, 65, 41)"></i>
                <a style="vertical-align: middle; font-weight:lighter; margin-left: 8px; font-size: 15px">
                    留哪儿活动
                </a>
                <a ui-sref="app.eventList()" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                    <span>
                        更多
                    </span>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
            <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
            <a ng-if="event.expire_time > now" ng-repeat="event in events" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: event.id})" style="padding: 12px 0px 12px 0px; margin:0px 20px; border-bottom:1px solid #edeff0;">
                <div class="row noPadding">
                    <div class="col col-25 noPadding">
                        <img width="100%" ng-src="http://cms.liunar.com/uploadimage/articles/{{event.promo_thumb}}" />
                    </div>
                    <div class="col noPadding" style="margin-left: 12px">
                        <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                            {{event.title}}
                        </h4>
                    </div>
                </div>
                <div class="row" style="color: steelblue; display: inline-block; padding: 5px; margin: 15px 0px 0px 0px; font-weight: normal;">
                    <span class="fa fa-calendar" style="vertical-align: middle" aria-hidden="true"></span>
                    <span style="margin-left: 8px; vertical-align: middle">
                        {{event.effective_time * 1000 | date:'yyyy-MM-dd'}} ~ {{event.expire_time * 1000 | date:'yyyy-MM-dd'}}
                    </span>
                </div>
            </a>
        </div>
        
        <div class="card fullWidthCard">
            <div class="item item-divider whiteBg noBorder" style="padding-left: 12px">
                <i class="iconCustom" style="background-image: url('img/zjdy.png')"></i>
                <a ui-sref="tagSquare()" style="vertical-align: middle; font-weight:lighter; margin-left: 8px; font-size: 15px">
                    留哪儿问答
                </a>
                <a ui-sref="app.QandA()" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                    <span>
                        更多热门关注问题
                    </span>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
            <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
            <div class="wrapBox" style="padding: 0px 0px 12px 0px" ng-bind-html="questions">
            </div>            
        </div>
        
        <div class="card fullWidthCard">
            <div class="item item-divider whiteBg noBorder" style="padding-left: 12px">
                <i class="iconCustom" style="background-image: url('img/s_lngl.png')"></i>
                <a ui-sref="tagSquare()" style="vertical-align: middle; font-weight:lighter; margin-left: 8px; font-size: 15px">
                    留哪儿知识库
                </a>
                <a ui-sref="tagSquare()" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                    <span>
                        更多
                    </span>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
            <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
            <h4 style="padding: 0px 12px; font-size: 16px">留学知识一网打尽，常看长知识</h4>
            <div class="wrapBox" style="padding: 0px 0px 12px 0px">
                <div class="row" style="padding: 6px 12px;">
                    <a ui-sref="tagSearch({tag: '留学规划'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        留学规划
                    </a>
                    <a ui-sref="tagSearch({tag: '留学生活'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        留学生活
                    </a>
                    <a ui-sref="tagSearch({tag: '观点'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        观点
                    </a>
                </div>
                <div class="row" style="margin:0; padding: 6px 12px;">
                    <a ui-sref="tagSearch({tag: '中小学留学'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        中小学留学
                    </a>
                    <a ui-sref="tagSearch({tag: '常青藤'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        常青藤
                    </a>
                    <a ui-sref="tagSearch({tag: '热门专业'})" class="col homeBadgeBtn-outline" style="margin: 0px 4px;">
                        热门专业
                    </a>
                </div>
            </div>
        </div>
        
        
        <div class="fullWidthCard" ng-bind-html="placeholderTwo">
        </div>
        
        
        <div class="card fullWidthCard">
            <div class="item item-divider whiteBg noBorder" style="padding-left: 12px">
                <i class="iconCustom" style="background-image: url('img/s_lngl.png')"></i>
                <span style="vertical-align: middle; font-weight:lighter; margin-left: 8px; font-size: 15px">
                    留哪儿攻略
                </span>
                <a ui-sref="app.gongLue()" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                    <span>
                        更多详细留学攻略
                    </span>
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </div>
            <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
            <div class="row noPadding wrapBox">
                <div class="col col-50 fourSquareCol" ng-repeat="post in posts">
                    <a class="noPadding item" href="http://toutiao.liunar.com/0/{{post.id}}">
                        <img ng-src="http://cms.liunar.com/uploadimage/articles/{{post.promo_thumb}}" class="full-image"/>
                        <h3 style="font-size: 13px; white-space: normal">{{post.title}}</h3>
                        <p style="font-size: 12px">{{post.description}}</p>
                    </a>
                </div> 
            </div>
        </div>
        
        <!--box-shadow: 0px 0px 13px #888888;-->
        <div style="margin-top: 12px" ng-include src="'templates/agencyCardBottom.html'">
        </div>
        <div class="card fullWidthCard" style="text-align: center; width: 100%; line-height: 24px; background-color: #fff">
            <span style="color: #888; font-size: 12px;">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                2016 深圳市肯博思特网络科技有限公司
            </span>
            <br>                
            <a href="http://www.miitbeian.gov.cn/" style="color: #888; font-size: 12px;">
                备案号: 粤ICP备16013188号-2
            </a>
        </div>
    </ion-content>
</ion-view>
