<ion-view view-title="留哪儿广场" cache-view="false">
	<ion-header-bar class="bar-light bar-subheader noPadding">
   		<div class="button-bar bar-light tab-buttons">
			<button class="button noBorder" ng-class="{'selected': tabSelected == 1}" ng-click="tabSelect(1)"> 最新消息 </button>
			<button class="button noBorder" ng-class="{'selected': tabSelected == 2}" ng-click="tabSelect(2)"> 即将过期 </button>
			<button class="button noBorder" ng-class="{'selected': tabSelected == 3}" ng-click="tabSelect(3)"> 历史消息 </button>
			<button class="button noBorder" ng-class="{'selected': tabSelected == 4}" ng-click="tabSelect(4)"> 我的消息 </button>
		</div>
  	</ion-header-bar>
	<ion-nav-buttons side="secondary">
        <a nav-direction="forward" ui-sref="app.msgPost()">
            <button class="button button-clear">
                发布消息
                <i style="font-size: 18px;" class="ion-ios-compose-outline"></i>
            </button>
        </a>
    </ion-nav-buttons>
	<ion-content prevent-over-scroll>
		<ion-list class="msgItemList" ng-class="{'show': tabSelected == 1}">
			<ion-item class="item-text-wrap item-avatar" ui-sref="app.msgDetail({id: list.id})" ng-repeat="list in lists" >
				<img ng-src="{{list.avatar}}" style="max-width:60px; max-height:60px;">
				<h2 style="margin-right: -33px;">
					{{list.nickname}}
					<span class="item-note">评论数：{{list.commentCount ? list.commentCount : 0}}</span>
				</h2>
				<h3 style="font-size: 18px; margin-top: 8px;margin-bottom: 8px;">
					{{list.title}}
					<span ng-if="list.type == 1" style="font-size: 14px; background-color: #88C8B8; color: #fff; padding: 2px;">
						供
					</span>
					<span ng-if="list.type == 2" style="font-size: 14px; background-color: #E98A61; color: #fff; padding: 2px;">
						求
					</span>
				</h3>
				<p style="margin-bottom: 12px; font-size: 16px;">
					{{list.content}}
				</p>
				<p style="margin-top: 36px; margin-left: -76px; margin-right: -33px;">
					<a class="subdued">发布时间： {{list.created_time | date:'yyyy-MM-dd'}}</a>
					<a class="subdued item-note">截止效期： {{list.deadline * 1000 | date:'yyyy-MM-dd'}}</a>
				</p>
			</ion-item>
		</ion-list>
		<ion-list class="msgItemList" ng-class="{'show': tabSelected == 2}">
			<ion-item class="item-text-wrap item-avatar" ui-sref="app.msgDetail({id: list.id})" ng-repeat="list in lists" >
				<img ng-src="{{list.avatar}}" style="max-width:60px; max-height:60px;">
				<h2 style="margin-right: -33px;">
					{{list.nickname}}
					<span class="item-note">评论数：{{list.commentCount ? list.commentCount : 0}}</span>
				</h2>
				<h3 style="font-size: 18px; margin-top: 8px;margin-bottom: 8px;">
					{{list.title}}
					<span ng-if="list.type == 1" style="font-size: 14px; background-color: #88C8B8; color: #fff; padding: 2px;">
						供
					</span>
					<span ng-if="list.type == 2" style="font-size: 14px; background-color: #E98A61; color: #fff; padding: 2px;">
						求
					</span>
				</h3>
				<p style="margin-bottom: 12px; font-size: 16px;">
					{{list.title}}
				</p>
				<p style="margin-top: 36px; margin-left: -76px; margin-right: -33px;">
					<a class="subdued">发布时间： {{list.created_time | date:'yyyy-MM-dd'}}</a>
					<a class="subdued item-note">截止效期： {{list.deadline * 1000 | date:'yyyy-MM-dd'}}</a>
				</p>
			</ion-item>
		</ion-list>
		<ion-list class="msgItemList" ng-class="{'show': tabSelected == 3}">
			<ion-item class="item-text-wrap item-avatar" ui-sref="app.msgDetail({id: list.id})" ng-repeat="list in lists" >
				<img ng-src="{{list.avatar}}" style="max-width:60px; max-height:60px;">
				<h2 style="margin-right: -33px;">
					{{list.nickname}}
					<span class="item-note">评论数：{{list.commentCount ? list.commentCount : 0}}</span>
				</h2>
				<h3 style="font-size: 18px; margin-top: 8px;margin-bottom: 8px;">
					{{list.title}}
					<span ng-if="list.type == 1" style="font-size: 14px; background-color: #88C8B8; color: #fff; padding: 2px;">
						供
					</span>
					<span ng-if="list.type == 2" style="font-size: 14px; background-color: #E98A61; color: #fff; padding: 2px;">
						求
					</span>
				</h3>
				<p style="margin-bottom: 12px; font-size: 16px;">
					{{list.title}}
				</p>
				<p style="margin-top: 36px; margin-left: -76px; margin-right: -33px;">
					<a class="subdued">发布时间： {{list.created_time | date:'yyyy-MM-dd'}}</a>
					<a class="subdued item-note">截止效期： {{list.deadline * 1000 | date:'yyyy-MM-dd'}}</a>
				</p>
			</ion-item>
		</ion-list>
		<ion-list class="msgItemList" ng-class="{'show': tabSelected == 4}">
			<ion-item class="item-text-wrap item-avatar" ui-sref="app.msgDetail({id: list.id})" ng-repeat="list in lists" >
				<img ng-src="{{list.avatar}}" style="max-width:60px; max-height:60px;">
				<h2 style="margin-right: -33px;">
					{{list.nickname}}
					<span class="item-note">评论数：{{list.commentCount ? list.commentCount : 0}}</span>
				</h2>
				<h3 style="font-size: 18px; margin-top: 8px;margin-bottom: 8px;">
					{{list.title}}
					<span ng-if="list.type == 1" style="font-size: 14px; background-color: #88C8B8; color: #fff; padding: 2px;">
						供
					</span>
					<span ng-if="list.type == 2" style="font-size: 14px; background-color: #E98A61; color: #fff; padding: 2px;">
						求
					</span>
				</h3>
				<p style="margin-bottom: 12px; font-size: 16px">
					{{list.title}}
				</p>
				<p style="margin-top: 36px; margin-left: -76px; margin-right: -33px;">
					<a class="subdued">发布时间： {{list.created_time | date:'yyyy-MM-dd'}}</a>
					<a class="subdued item-note">截止效期： {{list.deadline * 1000 | date:'yyyy-MM-dd'}}</a>
				</p>
			</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="haveMore == true" spinner="bubbles" on-infinite="getMore()" distance="3%"></ion-infinite-scroll>
	</ion-content>
</ion-view>
