<ion-view view-title="消息详情">
	<ion-nav-buttons>
		<a ui-sref="app.msgCenter()" nav-direction="back">
			<button class="button button-clear">
				<i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
			</button>
		</a>
	</ion-nav-buttons>
	<ion-content prevent-over-scroll>

		<ion-item class="item-text-wrap">
			<ion-item class="item-avatar noBorder" >
				<img ng-src="{{msg.avatar}}" style="left: 0px; top:0px; max-width:60px; max-height:60px;">

				<h2>{{msg.nickname}}
					<button class="button button-small button-assertive" ng-if="showDelete==true" style="float:right;margin-right: -16px" ng-click="showConfirmation()">
						删除
					</button>
				</h2>
				
			</ion-item>
			<h3 style="font-size: 18px; margin-top: 8px;margin-bottom: 8px;">
				{{msg.title}}
				<span ng-if="msg.type == 1" style="font-size: 14px; background-color: #88C8B8; color: #fff; padding: 2px;">
					供
				</span>
				<span ng-if="msg.type == 2" style="font-size: 14px; background-color: #E98A61; color: #fff; padding: 2px;">
					求
				</span>
			</h3>
			<p style="margin-bottom: 12px; font-size: 16px;">
				{{msg.content}}
			</p>
			<p>
				<a class="subdued">发布时间： {{msg.created_time | date:'yyyy-MM-dd'}}</a>
				<a class="subdued item-note">截止效期： {{msg.deadline * 1000 | date:'yyyy-MM-dd'}}</a>
			</p>
<!--
			<p>
				<a class="subdued" ng-clck="showContact()">联系方式</a>
			</p>
		-->
		<button class="button button-small button-calm" ng-click="showContact()" style="margin-top: 8px;">
			联系方式
		</button>
		<button class="button button-small button-royal" style="margin-top: 8px;" ng-if="showCreate==true" ng-click="createPoster(msg.nickname, msg.avatar, msg.type, msg.title, msg.content, msg.deadline)">
			生成海报
		</button>
		<div class="item noPadding" style="margin-top: 15px; padding: 8px;" ng-class="{'hide' : show == false}">
			<p class="row">
				<span class="col subdued">电话号码：{{msg.phone}}</span>
				<span class="col subdued">微信号：{{msg.wechat}}</span>
			</p>
			<div class="row">
				<div class="col" style="text-align: center">
					<img check-image ng-src="http://api.liunar.com/uploads/qr/qr-{{msg.uid}}.jpg" style="width: 80%;"/>
				</div>
			</div>
		</div>
	</ion-item>
	<ion-list>
		<ion-item class="item-text-wrap" ng-repeat="comment in comments">
			<ion-item class="item-avatar noBorder" >
				<img ng-src="{{comment.avatar}}" style="left: 0px; top:0px; max-width:60px; max-height:60px;">
				<h2>{{comment.nickname}}</h2>
			</ion-item>
			<p style="margin-bottom: 12px; font-size: 16px;">
				{{comment.content}}
			</p>
			<p>
				<a class="subdued">发布时间： {{comment.create_time * 1000 | date:'yyyy-MM-dd'}}</a>
			</p>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer-bar class="noPadding">
	<div class="item item-input-inset" style="background-color: #52baba; border: none; padding: 11px 8px 11px 8px; width: 100%;">
		<label class="item-input-wrapper whiteBg">
			<input type="text" placeholder="评论" ng-focus="preventDefault()" ng-model="msgComment.content">
		</label>
		<button class="button button-small" style="background-color: #4aa09d; color: #fff" ng-click="postMsgComment();" ng-disabled="disable">
			发布
		</button>
	</div>
</ion-footer-bar>
</ion-view>
