<ion-view view-title="发布消息">
    <ion-nav-buttons side="primary"> 
        <a ui-sref="app.msgCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
	<ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="postMsg()">
            提交
            <i style="font-size: 18px;" class="ion-paper-airplane"></i>
        </button>
    </ion-nav-buttons>
    <ion-content style="background-color: #f8f8f8">
			<div class="edit-group noBorder">
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon fa fa-hashtag" style="font-size: 14px; margin: 12px 0 0 16px"></span>
								<span>
									<input style="width: 100%;" ng-model="msgObj.title" type="text" placeholder="消息标题" class="event-place">
								</span>
							</div>
						</div>
					</div>
				<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon fa fa-tags" style="font-size: 14px; margin-top: 4px;"></span>
								<p style="margin-top: 7px; margin-bottom: 12px; color: grey">消息类型：</p>
								<div>
									<input class="msgType" id="toggle-1" type="radio" ng-value="1" ng-model="msgObj.type"/>
									<label class="msgTypeLabel" for="toggle-1"></label>
									<span class="msgTypeLabelText">供</span>
									<input class="msgType" id="toggle-2" type="radio" ng-value="2" ng-model="msgObj.type"/>
									<label style="margin-left: 12px;" class="msgTypeLabel" for="toggle-2"></label>
									<span class="msgTypeLabelText">求</span>
								</div>
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon textarea-icon ion-document-text"></span>
								<textarea rows="5" ng-model="msgObj.content" placeholder="消息内容">
								</textarea>
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon ion-android-time" style="margin: 3px 0 0 16px;">
								</span >
								<p style="margin-top: 7px; margin-bottom: 0px; color: grey">有效期至：</p>
								<input ng-model="time" type="date" placeholder="有效期" class="event-place">
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon ion-location"></span>
								<span>
									<input ng-model="msgObj.location" type="text" placeholder="地点(选填)" class="event-place">
								</span>
							</div>
						</div>
					</div>
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon fa fa-weixin" style="font-size: 14px"></span>
								<span>
									<input ng-model="msgObj.wechat" type="text" placeholder="微信号(选填)" class="event-place">
								</span>
							</div>
						</div>
					</div>
				
					<label class="item noBorder" style="margin-bottom: 10px">
						<div class="row">
							<div class="col">
								<div class="QR-code-container">
									<input id="file" type="file" ng-change="uploadQrCode(file)" class="hide browserFileInput" ngf-select ng-model="file" name="file"/>
									<img ng-src="{{qrSrc}}" check-image style="width: 100%;"/>
									<i class="ion-camera"></i>
								</div>
							</div>
							<div class="col">
								<h3>
									上传微信二维码
								</h3>
								<p style="white-space: normal">
									提供微信二维码可以方便对你的消息感兴趣的人找到你
								</p>
							</div>
						</div>
					</label>
					<div class="input-container">
						<div class="pr">
							<div class="type-wrapper">
								<span class="icon input-icon ion-iphone"></span>
								<span>
									<input ng-model="msgObj.phone" type="text" placeholder="电话(选填)" class="event-place">
								</span>
							</div>
						</div>
					</div>
			</div>
    </ion-content>
</ion-view>