<ion-view view-title="{{title}}" cache-view="false">
  <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.school">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
        <a nav-direction="forward" ui-sref="schoolSearch()">
            <button class="button button-clear">
                <i style="font-size: 24px;" class="ion-ios-search-strong">
                </i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true" ng-cloak>
        <div ng-init="schoolInit()">
            <div class="row whiteBg" ng-if="showFliter == true">
                <label class="col item item-input item-select noBorder">
                    <div class="input-label">类型</div>
                    <select style="padding-left: 6px; padding-right: 36px; width: 100%; direction: ltr" ng-model="public" ng-change="changePublic(public)">
                        <option value = "all">全部</option>
                        <option value = "1">公校</option>
                        <option value = "0">私校</option>
                    </select>
                </label>
                <label class="col item item-input item-select noBorder">
                    <div class="input-label">城市</div>
                    <select style="padding-left: 6px; padding-right: 36px; max-width: 100%; direction: ltr" ng-model="city" ng-change="changeCity(city)">
                        <option value = "all">全部</option>
                        <option value = "{{key}}" ng-repeat="(key, value) in cities">{{value}}</option>
                    </select>
                </label>
            </div>
            <a class="item" nav-direction="forward" class="item" ui-sref="app.schoolProvinceStandard({schoolId: list.id})" ng-repeat="list in schoolListsRank" style="padding: 14px 14px 14px 14px; background-color: #fff;">
                <div style="min-height: 68px; padding-left: 120px; padding-right: 0px; padding-bottom: 6px;" class="noBorder item item-thumbnail-left" href="#">
                    <img class="full-image" style="height: auto; max-width: 60px;" ng-src="http://www.liunar.com/schools/{{list.id}}/1.png" check-school-image>
                    <h2 style="white-space: normal; word-wrap: break-word">
                        {{list.en_name}}
                    </h2>
                    <p style="white-space: normal; word-wrap: break-word">
                        {{list.ch_name}}
                    </p>
                </div>
                <div class="item noBorder noPadding" style="font-size: 14px">
                    <div class="row">
                        <div class="col noPadding">
                            最新排名：
                            <span>
                                {{list.national_rank}}
                            </span>
                        </div>
                        <div class="col noPadding" style="text-align:right">
                            最近5年平均排名：
                            <span>
                                {{list.five_year_rank}}
                            </span>
                        </div>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <div class="col noPadding">
                            城市：
                            <span>
                                {{list.city}}
                            </span>
                        </div>
                        <div class="col noPadding" style="text-align:right">
                            学校类型：
                            <span>
                                {{list.isPublic == 1 ? "公校" : "私校"}}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <ion-infinite-scroll ng-if="loadMore == true" spinner="bubbles" on-infinite="getMoreSchool()" distance="3%"></ion-infinite-scroll>
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
    </ion-content>
    <button class="floatingButton noBorder" style="border-radius:0; background-color: rgba(49,138,255, 0.65); bottom: 47px; left: 0px; z-index: 9999; font-size: 36px;" ng-click="scrollTop()">
        <i class="icon ion-android-arrow-dropup-circle"></i>
    </button>
</ion-view>