<ion-view view-title="产品细节">
    <ion-nav-title>
        <h1 class="title">
            {{productTitle}}
        </h1>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.shopnew()">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll style="background-color: #fff; padding: 17px">
        <!--价格：{{productPrice}}-->

        <h4 style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:20px; font-weight:bold; line-height: 28px">
            {{productTitle}}
        </h4>
        <p style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            <i class="fa fa-usd" style="margin-right: 8px; font-size: 24px; vertical-align: sub; color: #52baba"></i>
            {{productPrice}} 
            <a  ng-if='showButton==true' style="text-align: right; margin-left: 16px;" class="button button-calm button-small" ui-sref="app.productmoredetail({prdID:productId})">查看运营信息</a>
        </p>
        <p ng-if="showCode !== false" style="text-align:left; margin-bottom:24px; margin-top:24px; color: red; font-size:14px">
            <i class="fa fa-font-awesome" style="margin-right: 8px; font-size: 18px; vertical-align: sub;"></i>
            限量优惠推荐码：{{refCode}}
        </p>
        <div class="productDetail" ng-bind-html="productDetail" style="padding-top: 0"></div>
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
    </ion-content>
    <ion-footer-bar class="row noPadding">
        <div ng-click="$root.call()" class="col noPadding schoolBottomButton" style="background-color: #E38531">
            <i class="icon fa fa-phone" style="font-size:16px; margin-right: 6px;"></i>
            立刻咨询
        </div>
        <div ng-click="purchase()" class="col noPadding schoolBottomButton" style="background-color: #125FA6">
            <i class="icon fa fa-shopping-cart" style="font-size:16px; margin-right: 6px;"></i>
            购买预定
        </div>
    </ion-footer-bar>
</ion-view>