<ion-view view-title="留哪儿商城">

    <ion-content prevent-over-scroll overflow-scroll="true" on-scroll="getScroll()" style="background-color: #eee">

        <slick ng-if="slick == true" ng-bind-html="topCarousel" settings="slickConfig">
        </slick>
        
        <div class="row" style="margin-top: 12px">
            <div class="col" align="center">
              <img src="img/slice2.png" onload="this.width/=1.5;this.onload=null;"/>
              <span>冬夏令营</span>
          </div>
          <div class="col" align="center">
              <img src="img/slice3.png" onload="this.width/=1.5;this.onload=null;"/>
              <span>背景提升</span>
          </div>
          <div class="col" align="center">
              <img src="img/slice4.png" onload="this.width/=1.5;this.onload=null;"/>
              <span>中小学</span>
          </div>
          <div class="col" align="center">
              <img src="img/slice5.png" onload="this.width/=1.5;this.onload=null;"/>
              <span>特色学院</span>
          </div>
          <div class="col" align="center">
              <img src="img/slice6.png" onload="this.width/=1.5;this.onload=null;"/>
              <span>知名大学</span>
          </div>
      </div>
      <div class="row" style="margin-top: 12px">
       <div class="col" align="center">
          <img src="img/slice7.png" onload="this.width/=1.5;this.onload=null;"/>
          <span style="vertical-align: 40%;">签证服务</span>
      </div>
      <div class="col" align="center">
          <img src="img/slice8.png" onload="this.width/=1.5;this.onload=null;"/>
          <span style="vertical-align: 40%;">移民项目</span>
      </div>
      <div class="col" align="center">
          <img src="img/slice9.png" onload="this.width/=1.5;this.onload=null;"/>
          <span style="vertical-align: 40%;">海外服务</span>
      </div>
  </div>

  <div style="margin: 12px;" id="shortTerm">
    <p style="font-size: 18px; color: #FD6601; border-left: 9px solid #FD6601;">
        <span style="padding-left: 10px">短期留学</span>
        <span style="float: right">更多></span>
    </p>
    <div class="row shopRow wrapBox">
        <a class="col col-50" style="background: white; border-radius: 10px; padding:0px; border: #f0f0f0 solid 3px" ng-repeat="list in b | limitTo:4" ui-sref="app.productdetail({productId: list.id})">
            <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%" height="60%" style="border-top-left-radius: inherit;border-top-right-radius: inherit;">
            <div style="padding: 10px">
                <span class="title" style="font-size: 150%" ">产品标题</span> 
                <i class="fa-map-marker"></i>地点
                <i class="fa-user"></i>适合年龄
                <i class=" fa-dollar"></i>价格
                日期（2017-09-14）
            </div>
        </a>
    </div>
</a>
</div>
</div>
