<ion-view view-title="{{school.en_name ? school.en_name : '学校详情'}}">
  <ion-nav-buttons>
        <a href="{{backUrl}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scrollbar-y="false" overflow-scroll="true" delegate-handle="schoolStandard">
     <div class="item schoolStandardCard" ng-style="{'background-image': 'url(http://www.liunar.com/schools/' + school.id + '/2.png)'}">
         <div class="blackMatt"></div>
         <div class="row noBorder" style="vertical-align: middle">
                    <div class="col col-33" style="text-align: center; position: relative">
                        <img style="width: 80%; max-width: 98px" ng-src="http://www.liunar.com/schools/{{school.id}}/1.png" check-school-image/>
                    </div>
                    <div class="col col-offset-5">
                        <div class="list" style="">
                            <h1 style="oveflow: visible; white-space: normal; color: #fff; font-size: 18px;">{{school.en_name}}</h1>
                            <p style="color: #fff; font-size: 16px; margin-bottom: 6px">{{school.ch_name}}</p>
                            <p style="color: #fff; float: left;">
                                <i style="color: #52baba" class="icon ion-information-circled"></i> 
                                学校详情
                            </p>
                            <p style="margin-top: 36px; oveflow: visible; white-space: normal; clear: both">
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">学校排名: {{school.national_rank}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">{{school.isPublic == 0 ? '私校':'公校'}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">教师数量: {{school.teacher_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">学生数量: {{school.student_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">国际学生数量: {{school.int_student_num}}</button>
                                <button ng-if="school.ap_ib != 0 && school.ap_ib" style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">
                                    {{school.ap_ib == 3 ? "AP/IB" : school.ap_ib == 1 ? "IB" : school.ap_ib == 2 ? "AP" : school.ap_ib}}
                                </button>
                            </p>
                        </div>
                    </div>
         </div>
    </div>
    
    <div class="item row noBorder noPadding" ng-init="actived = 'a'" >
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'a'" ng-class="{'active': actived === 'a'}" el-scroll="apInfo" delegate="schoolStandard" animate="true">信息</a>
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'b'" ng-class="{'active': actived === 'b'}" el-scroll="contactInfo" delegate="schoolStandard" animate="true">联系</a>
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'c'" ng-class="{'active': actived === 'c'}" el-scroll="mapInfo" delegate="schoolStandard" animate="true">地图</a>
        <a ng-if="schoolComment.length != 0" class="col textCenter schoolNavBtn" ng-click="actived = 'd'" ng-class="{'active': actived === 'd'}" el-scroll="review" delegate="schoolStandard" animate="true">点评</a>
    </div>  
    
    <div id="apInfo" class="item item-body" style="border-top: none; padding: 24px;">
        <h2>学校信息：</h2>
        <div class="list">
            <div class="item noBorder" style="font-weight: bold; padding: 4px 0px 4px 0px;">
              {{firstKey}}
              <span class="item-note" style="font-weight: normal !important">
                  {{firstValue}}
              </span>
            </div>
            <div class="item noBorder" style="font-weight: bold; padding: 4px 0px 4px 0px;">
              英语非母语学生率(%)
              <span class="item-note" style="font-weight: normal !important">
                  {{school.esl}}
              </span>
            </div>
            <div class="item noBorder" style="font-weight: bold; padding: 4px 0px 4px 0px;">
              需特殊帮助学生率(%)
              <span class="item-note" style="font-weight: normal !important">
                  {{school.special_needs_percentage}}
              </span>
            </div>
            <div class="item noBorder" style="font-weight: bold; padding: 4px 0px 4px 0px;">
              法语浸入课程注册学生率(%)
              <span class="item-note" style="font-weight: normal !important">
                  {{school.french_percentage}}
              </span>
            </div>
        </div>
    </div>
      
    <div class="item item-body" style="margin-top: 24px;">
        <h2>学校概况：</h2>
        <table class="schoolInfoTable" style="font-size: 9px; width: 100%;" ng-init="tableInit()">
            <tr>
                <th>学术表现</th>
                <th>2011</th>
                <th>2012</th>
                <th>2013</th>
                <th>2014</th>
                <th>2015</th>
            </tr>
            <tr ng-repeat="(key, value) in table">
                <th style="text-align: left;">{{translate[key]}}</th>
                <td ng-repeat="value in value track by $index">{{value}}</td> 
            </tr>
        </table>
    </div>
      
    <div class="item item-body" style="margin-top: 24px; padding: 24px;">
        <h2>5年评分趋势：</h2>
        <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride">
        </canvas> 
    </div>
      
    <div id="contactInfo" class="item item-body" style="margin-top: 24px; padding: 24px;">
        <h2>联系方式：</h2>
        <p>电话号码：{{school.contact}}</p>
        <p>地址：{{school.address}}</p>
        <p>城市：{{school.city}}</p>
    </div>
      
    <div id="mapInfo" class="item item-body" style="margin-top: 24px; padding: 24px;">
        <h2>位置信息：</h2>
        <br/>
        <div class="row noPadding">
            <div ng-click="select(option)" class="col textCenter mapOption" ng-class="{'mapOptionActived': option == selected}" ng-repeat="option in mapModules">{{option.text}}</div>
        </div>
        <map map-type="{{mapType}}" id="schoolMap" style="height: 200px; width:100%" address="{{school.address}}"></map>
    </div>
      
    <div ng-if="schoolComment.length != 0" id="review" class="item item-text-wrap" style="border: none; margin-top: 24px;">
        <div class="item" style="border: none">
            <h2>点评：</h2>
        </div>
        <div class="list">
            <div ng-repeat="comment in schoolComment" class="item item-avatar" style="border: none">
                <img ng-src="{{comment.avatar}}">
                <h2>{{comment.nickname}}</h2>
                <p>{{comment.content}}</p>
                <p>{{comment.create_time * 1000 | date: "yyyy-MM-dd"}}</p>
            </div>
        </div>
    </div>  
  </ion-content>
  <ion-footer-bar class="row noPadding">
        <a ui-sref="apply({schoolType: school.type})" class="col noPadding schoolBottomButton" style="background-color: #E38531">
            定制预约
        </a>
        <div ng-click="modal.show()" class="col noPadding schoolBottomButton" style="background-color: #125FA6">
            我要点评
        </div>
    </ion-footer-bar>
</ion-view>
