<ion-view view-title="{{postDetail.title}}" cache-view="false">
    <ion-nav-title>
      <h1 class="title">
      </h1>
    </ion-nav-title>
    <ion-nav-buttons>
        <a href="{{'#' + from}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-header-bar align-title="left" class="bar-subheader" style="padding: 17px; display: block; height: 82px; box-shadow: none; border-bottom: 1px solid #E8E8E8;" ng-if="postDetail.hasTopicTag == 1">
        <a ui-sref="app.tagResultList({tag: topicTagId})">
            <h4 style="margin-top: 0px; margin-bottom: 6px; color: #52baba; display: inline-block; vertical-align: middle">
                {{topicTag}}
            </h4>
        </a>
        <save-tag targetid="{{topicTagId}}"></save-tag>
    </ion-header-bar>
    <ion-content class="has-header has-subheader" prevent-over-scroll style="top: {{postDetail.hasTopicTag == 1 ? '126px' : '44px'}}; background-color: #fff;" overflow-scroll="true">
        <div class="articleHeader" style="border: none">
            <h1 style="font-size: 24px; line-height: 135%;">{{postDetail.title}}</h1>
            <div class="row" style="border: none; padding: 0px 17px">
                <div class="col col-80 noPadding">
                    <p style="vertical-align: middle">
                        {{postDetail.create_time * 1000 | date:'yyyy-MM-dd'}}
                    </p>
                </div>
                <div class="col col-20 noPadding" style="text-align: center">
                    <like-btn module="4" rowid="{{postDetail.id}}"></like-btn>
                </div>
            </div>
        </div>
        <div class="articleDetail" style="margin-top: 14px; overflow: visible; white-space: normal;" ng-bind-html="postDetailContent" hide-content>
        </div>
        <div class="item item-text-wrap noBorder" ng-init="getPostComments()">
            <div class="list" ng-repeat="comment in comments">
                <div class="item item-avatar" style="border: none">
                    <img ng-src="{{comment.avatar}}">
                    <h4>{{comment.nickname}}</h4>
                    <p>{{comment.content}}</p>
                    <p>{{comment.create_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                    <like-btn module="1" rowid="{{comment.id}}"></like-btn>
                </div>
            </div>
        </div>
        <div class="item item-text-wrap noBorder" ng-if="showRelative == true">
            <h3 style="font-size: 18px; margin-bottom: 16px;">
                <i class="fa fa-bookmark" style="margin-right: 6px; color: rgb(246, 83, 74)"></i>
                相关阅读:
            </h3>
            <div>
                <a ng-if="result.id != postDetail.id" ng-repeat="result in lists" nav-direction="forward" class="item noBorder noMargin" ng-class="{'relativeList item-thumbnail-left': result.has_thumb !== 0}" ui-sref="app.postDetail({postId: result.id})" style=" padding-bottom: 12px">
                    <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}" style="max-width: 120px; max-height: 85px; left: 16px;">
                    <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}" style="max-width: 120px; max-height: 85px; left: 16px;">
                    <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal" >
                        {{result.title}}
                    </h4>
                </a>
            </div>
        </div>
        <!--<div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿</h3>
                    <p>全球华人虎妈留学神器</p>
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center">
                    <img src="img/icon.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
        </div>-->
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
    </ion-content>
    <ion-footer-bar class="noPadding">
        <div class="item item-input-inset" style="background-color: #52baba; border: none; padding: 11px 8px 11px 8px; width: 100%;">
            <label class="item-input-wrapper whiteBg">
                <input type="text" placeholder="评论" ng-focus="preventDefault()" ng-model="commentObj.content">
            </label>
            <button class="button button-small" style="background-color: #4aa09d; color: #fff" ng-click="postNewsComment();" ng-disabled="disable">
              发布
            </button>
        </div>
    </ion-footer-bar>
</ion-view>
