<ion-view view-title="产品细节">
    <ion-nav-title>
        <h1 class="title">
            {{title}}
        </h1>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.productdetail({productId: prdID})">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll style="background-color: #fff; padding: 17px">
        <!--价格：{{productPrice}}-->
        <h4 style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:20px; font-weight:bold; line-height: 28px">
            产品名：{{title}}
        </h4>
        <p style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            渠道佣金：{{commission}}
        </p>
        <p style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            返佣金时间：{{referral_fee_process_time}}
        </p>
        <p style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            销售指导：<div ng-bind-html='sale_instruction'></div>
        </p>
        <p style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            市场指导：<div ng-bind-html='market_instruction'></div>
        </p>
        <div style="text-align:left; margin-bottom:24px; margin-top:24px; font-size:14px">
            物料：
            <ul>
                <li ng-repeat="f in files">{{f.title}}  <a style="margin-left:20px" href="http://cms.liunar.com/uploads/products/49/sales_materials/{{f.title}}">点击下载</a> </li>
            </ul>
        </div>
    </div>
</ion-content>
</ion-footer-bar>
</ion-view>
