<ion-view hide-nav-bar="true">
    <ion-content prevent-over-scroll class="whiteBg">
        <img width="100%" src="img/1.png" />
        <div class="item noBorder" style="background-color: #52baba; text-align: center">
            <div class="promoteFormContainer">
                姓名：
                <input class="promoteFormInput" />
            </div>
            <div class="promoteFormContainer">
                电话：
                <input class="promoteFormInput" />
            </div>
            <button class="button promoteFormBtn" style="margin-top: 24px;">
                立即领取
            </button>
        </div>
        <a ui-sref="app.shopDetail({productId: 9})">
            <img width="100%" src="img/2.png" />
        </a>
        <a ui-sref="app.shopDetail({productId: 12})">
            <img width="100%" src="img/3.png" />
        </a>
        <img width="100%" src="img/4.png" />
        <img width="100%" src="img/5.png" />
        <div class="item noBorder noMargin" style="text-align: center; background-color: #52baba; color: #fff; font-size: 24px">
            立即咨询
        </div>
    </ion-content>
</ion-view>