<ion-view view-title="{{listTitle}}">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="http://www.liunar.com">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll overflow-scroll="true">
            <div class="card fullWidthCard" style="margin-top: 0; height: 120px; text-align: center; padding: 12px;">
                <h3>有问必答，24小时内专家答疑</h3>
                <a ui-sref="app.QandAForm()">
                    <button class="button" style="font-size: 16px; background-color: #52baba; color: #fff">
                        我要提问
                    </button>
                </a>
            </div>
            <div class="list">
                <a ui-sref="app.QandADetail({questionId:question.id, order: 'type' + question.category})" class="item item-body questionItem" nav-direction="forward" ng-repeat="question in questions">  
                    <h2>{{question.title}}</h2>
                    <p class="list questionContent" ng-bind-html="question.description">
                    </p>
                    <p style="color: #d51f26">
                        {{question.user.nickname}}  
                        <span style="color: #666">{{question.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                    </p>
                </a>
            </div>
            <ion-infinite-scroll ng-if="haveMore == true" on-infinite="loadMoreQuestions()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>