<ion-view view-title="专家答疑" cache-view="false">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="http://www.liunar.com">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll overflow-scroll="true">
        <div class="card fullWidthCard" style="margin-top: 0; height: 120px; text-align: center; padding: 12px;">
            <h3>有问必答，24小时内专家答疑</h3>
            <a ui-sref="app.QandAForm()">
                <button class="button" style="font-size: 16px; background-color: #52baba; color: #fff">
                    我要提问
                </button>
            </a>
        </div>
        <div class="list" ng-init="getNewestQuestion()">
            <div class="item questionHeader">
                <h2>最新问题：</h2>
                <h2><a ui-sref="app.QandAList({order: 'newest'})" nav-direction="forward">更多<i class="icon ion-chevron-right"></i></a></h2>
            </div>
            <a ui-sref="app.QandADetail({questionId: newQuestion.id, order: 'newest'})" class="item item-body questionItem" nav-direction="forward" ng-repeat="newQuestion in newQuestion">
                <h2>{{newQuestion.title}}</h2>
                <p>{{newQuestion.description}}</p>
                <p style="color: #d51f26">
                    {{newQuestion.user.nickname}}  
                    <span style="color: #666">{{newQuestion.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                </p>
            </a>
        </div>
        
        <div class="list">
            <div class="item questionHeader">
                <h2>最热问题：</h2>
                <h2><a ui-sref="app.QandAList({order: 'most-answered'})" nav-direction="forward">更多<i class="icon ion-chevron-right"></i></a></h2>
            </div>
            <a ui-sref="app.QandADetail({questionId: question.id, order: 'most-answered'})" class="item questionItem" nav-direction="forward" ng-repeat="question in hotQuestions">
                <h2>{{question.title}}</h2>
                <p class="questionContent" ng-bind-html="question.description"></p>
                <p style="color: #000000">
                    {{question.user.nickname}}  
                    <span style="color: #666">{{question.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                </p>
            </a>
        </div>
    </ion-content>
</ion-view>