<ion-view view-title="{{qDetail.title}}">
    <ion-nav-title>
      <h1 class="title">
        问题细节
      </h1>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="{{backUrl}}">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
        <!--<a ng-if="order == 'from_stream'" nav-direction="back" ui-sref="app.stream()">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>-->
    </ion-nav-buttons>
    <ion-content prevent-over-scroll overflow-scroll="true">
        <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="refresh()">
        </ion-refresher>
        <div class="list" ng-if="qDetail !== undefined">
            <!--Question-->
            <div class="item">
                <div class="row">
                    <div class="col col-20 QALikes">
                        <img ng-src="{{qDetail.avatar}}" class="full-image"/>
                        <like-btn module="5" rowid="{{qDetail.id}}"></like-btn>
                    </div>
                    <div class="col col-80 questionDetail">
                        <h2>{{qDetail.nickname}}</h2>
                        <h3>{{qDetail.title}}</h3>
                        <p>{{qDetail.description}}</p>
                        <p class="questionNote">
                            {{qDetail.create_time * 1000 | date:'yyyy-MM-dd'}}
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Answers -->
            <div class="item">
                <div class="row questionAnswer" ng-repeat="answer in qAnswer" ng-show="qAnswer">
                    <div class="col col-20 QALikes">
                        <img ng-src="{{answer.avatar}}" class="full-image"/>
                        <br/>
                        <like-btn module="3" rowid="{{answer.id}}"></like-btn>
                    </div>
                    <div class="col answerDetail">
                        <h2>{{answer.nickname}}</h2>
                        <p ng-bind-html="answer.content">
                        <p class="answerNote">
                            {{answer.create_time * 1000 | date:'yyyy-MM-dd'}}
                        </p>
                        <!--<p class="commentButt">
                            <i class="icon ion-android-textsms" ng-click="addPerson(answer.user.nickname)"></i>
                        </p>-->
                    </div>
                </div>
                <div class="row questionAnswer" ng-show="!qAnswer">
                    <span><p>这个问题暂时还没有答案。。。</p></span>
                </div>
            </div>
        </div>
        <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/>
    </ion-content>
    <!--<ion-footer-bar class="item-input-inset">
            <span ng-show="showPerson" class="commentPerson">@{{answerObj.commentPerson}}: </span>
            <label class="item-input-wrapper">
              <input type="text" ng-model="answerObj.content" placeholder="">
            </label>
            <button class="button button-small answerPostBtn" ng-click="postAnswer(answer)">
              回复
            </button>
    </ion-footer-bar>-->
</ion-view>