<ion-view view-title="学校类别">
    <ion-nav-buttons side="secondary">
        <a nav-direction="forward" ui-sref="schoolSearch()">
            <button class="button button-clear">
                <i style="font-size: 24px;" class="ion-ios-search-strong">
                </i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll scroll="true" style="background-image: url()">
        <div class="row" style="margin-top: 36px">
            <a nav-direction="forward" style="background-color: rgba(200, 219, 100, 1)" ui-sref="app.schoolRank({cateID: 1})" class="col schoolButton noBorder schoolButton-left">
                <div class="vCenterBlock">
                    <img src="img/daXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大大学排名</p>
                </div>
            </a>
            <a nav-direction="forward" style="background-color: rgba(81, 133, 153, 1)" ui-sref="app.schoolRank({cateID: 2})" class="col schoolButton noBorder schoolButton-right">
                <div class="vCenterBlock">
                    <img src="img/teSeXueYuanIcon.png"/>
                    <p style="margin-top: 12px;">加拿大特色院校</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a nav-direction="forward" style="background-color: rgba(15, 156, 133, 1)" ui-sref="app.schoolRankProvince({cateID: 3, province: 'BC', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-left">
                <div class="vCenterBlock">
                    <img src="img/zhongXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大卑诗省中学排名</p>
                </div>
            </a>
            <a nav-direction="forward" style="background-color: rgba(244, 107, 89, 1)" ui-sref="app.schoolRankProvince({cateID: 4, province: 'BC', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-right">
                <div class="vCenterBlock">
                    <img src="img/xiaoXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大卑诗省小学排名</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a nav-direction="forward" style="background-color: #AB47BC" ui-sref="app.schoolRankProvince({cateID: 3, province: 'ON', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-left">
                <div class="vCenterBlock">
                    <img src="img/zhongXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大安大略省中学排名</p>
                </div>
            </a>
            <a nav-direction="forward" style="background-color: #7E57C2" ui-sref="app.schoolRankProvince({cateID: 4, province: 'ON', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-right">
                <div class="vCenterBlock">
                    <img src="img/xiaoXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大安大略省小学排名</p>
                </div>
            </a>
        </div>
        <div class="row">
            <a nav-direction="forward" style="background-color: #0277BD" ui-sref="app.schoolRankProvince({cateID: 3, province: 'AB', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-left">
                <div class="vCenterBlock">
                    <img src="img/zhongXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大阿尔伯特省中学排名</p>
                </div>
            </a>
            <a nav-direction="forward" style="background-color: #689F38" ui-sref="app.schoolRankProvince({cateID: 4, province: 'AB', city: 'all', public:'all'})" class="col schoolButton noBorder schoolButton-right">
                <div class="vCenterBlock">
                    <img src="img/xiaoXueIcon.png"/>
                    <p style="margin-top: 12px;">加拿大阿尔伯特省小学排名</p>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
