<ion-view view-title="{{school.en_name ? school.en_name : '学校详情'}}">
  <ion-nav-buttons>
        <a ui-sref="app.schoolRank({cateID: school.type})" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scrollbar-y="false" overflow-scroll="true" delegate-handle="schoolStandard">
     <div class="item schoolStandardCard" style="background-image: url('http://www.liunar.com/schools/{{school.id}}/2.png'); ">
         <div class="blackMatt"></div>
         <div class="row noBorder" style="vertical-align: middle">
                    <div class="col col-33" style="text-align: center; position: relative">
                        <img style="width: 80%; max-width: 98px" ng-src="http://www.liunar.com/schools/{{school.id}}/1.png" check-image/>
                    </div>
                    <div class="col col-offset-5">
                        <div class="list" style="">
                            <h1 style="oveflow: visible; white-space: normal; color: #fff; font-size: 18px;">{{school.en_name}}</h1>
                            <p style="color: #fff; font-size: 16px; margin-bottom: 6px">{{school.ch_name}}</p>
                            <p style="color: #fff; float: left;">
                                <i style="color: #52baba" class="icon ion-information-circled"></i> 
                                学校详情
                            </p>
                            <!--<a style="color: #fff; float: right;" ui-sref="app.schoolMoreOne({schoolId: school.id})" nav-direction="forward"> 
                                更多
                                <i style="color: #52baba" class="icon ion-ios-arrow-forward"></i>
                            </a>-->
                            <p style="margin-top: 36px; oveflow: visible; white-space: normal; clear: both">
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">{{school.school_category}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">教师数量: {{school.teacher_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">学生数量: {{school.student_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255,255,255,0.45)" class="badgeBtn">国际学生数量: {{school.int_student_num}}</button>
                            </p>
                        </div>
                    </div>
         </div>
    </div>
    
    <div class="item row noBorder noPadding" ng-init="actived = 'a'">
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'a'" ng-class="{'active': actived === 'a'}" el-scroll="apInfo" delegate="schoolStandard" animate="true">信息</a>
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'b'" ng-class="{'active': actived === 'b'}" el-scroll="contactInfo" delegate="schoolStandard" animate="true">联系</a>
        <a class="col textCenter schoolNavBtn" ng-click="actived = 'c'" ng-class="{'active': actived === 'c'}" el-scroll="mapInfo" delegate="schoolStandard" animate="true">地图</a>
        <a ng-if="schoolComment.length != 0" class="col textCenter schoolNavBtn" ng-click="actived = 'd'" ng-class="{'active': actived === 'd'}" el-scroll="review" delegate="schoolStandard" animate="true">点评</a>
        <!--
            <a class="col textCenter schoolNavBtn" style="background-color: #52baba; color: #fff;">分享</a>
        -->
    </div>  
    
    <div id="apInfo" class="item item-body" style="border-top: none; padding: 24px;">
        <h2>申请信息：</h2>
        <p ng-bind-html="school.apply_info"></p>
    </div>
      
    <div id="contactInfo" class="item item-body" style="margin-top: 24px; padding: 24px;">
        <h2>联系方式：</h2>
        <p>{{school.contact}}</p>
    </div>
      
    <div id="mapInfo" class="item" style="margin-top: 24px; padding: 24px;">
        <h2>位置：</h2>
        <br/>
        <div class="row noPadding">
            <div ng-click="select(option)" class="col textCenter mapOption" ng-class="{'mapOptionActived': option == selected}" ng-repeat="option in mapModules">{{option.text}}</div>
        </div>
        <map map-type="{{mapType}}" id="schoolMap" style="height: 200px; width:100%" address="{{address}}"></map>
    </div>
    
    <!--<div class="item item-input-inset" style="margin-top: 24px;">
        <label class="item-input-wrapper">
            <input style="width: 100%" type="text" placeholder="有任何学校问题可以在这里提问...">
        </label>
        <button class="button button-small">
            提问
        </button>
    </div>-->
  
    <div ng-if="schoolComment.length != 0" id="review" class="item item-text-wrap" style="border: none; margin-top: 24px;">
        <div class="item" style="border: none">
            <h2>点评：</h2>
        </div>
        <div class="list">
            <div ng-repeat="comment in schoolComment" class="item item-avatar" style="border: none">
                <img ng-src="{{comment.avatar}}">
                <h2>{{comment.nickname}}</h2>
                <p>{{comment.content}}</p>
                <p>{{comment.create_time * 1000 | date: "yyyy-MM-dd"}}</p>
            </div>
        </div>
    </div>
    <img ng-if="shareUrl" ng-src="{{shareUrl}}" width="1px" height="1px" check-image/> 
    </ion-content>
    <ion-footer-bar class="row noPadding">
        <a ui-sref="apply({schoolType: school.type})" class="col noPadding schoolBottomButton" style="background-color: #E38531">
            定制预约
        </a>
        <div ng-click="modal.show()" class="col noPadding schoolBottomButton" style="background-color: #125FA6">
            我要点评
        </div>
    </ion-footer-bar>
</ion-view>
