<ion-view view-title="海外游学" ng-init="getCampList()">
  <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome()">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll>
    <div class="item" ng-controller="schoolController">
        <a ui-sref="app.summerCampsDetail({campId: item.id})" class="card productCards" ng-repeat="item in camplist" style="border: none; ">
            <div class="item item-text-wrap" style="background-image: url('http://www.canbest.org{{item.imgcover}}');">
            </div>
            <div class="item item-divider" style="background-color: rgb(171,102,170); margin-top: 0;">
                <p style="color: #fff;">{{item.title}}</p>
                <p style="color: #fff;">{{item.subtitle}}</p>
            </div>
        </a>
    </div>
  </ion-content>
</ion-view>
    
