<ion-modal-view>
    <ion-header-bar class="nav-title-slide-ios7 bar-calm">
        <button class="button button-clear button-primary" ng-click="modal.hide()">
            取消
        </button>
        <h1 class="title">学校点评</h1>
    </ion-header-bar>
    <ion-content prevent-over-scroll>
        <textarea autofocus style="padding: 12px 6px; font-size: 14px; resize: none; width: 100%; height: 320px;" ng-model="commentObj.content" placeholder="请输入评论文字...">
        </textarea>
        <button class="button button-full button-calm" style="font-size: 17px; font-weight: bolder" ng-click="leaveComment()" ng-disabled="disable">
            评论
        </button>
    </ion-content>
</ion-modal-view>