<ion-view view-title="知识库搜索" hide-nav-bar="true" ng-init="resultInit()">
    <ion-nav-buttons side="primary">
        <a nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-stable" style="padding: 0px">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-model="tag" type="text" ng-change="inputSearch(tag)" placeholder="请输入要搜索内容">
            </label>
            <button style="color: rgb(71,194,37)" class="button button-clear" ng-click="back()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
	<ion-content prevent-over-scroll>
        <div class="list" style="background-color: #fff;">
            <div ng-repeat="result in results">
                <!--问答-->
                <a ng-if="result.type == 2" nav-direction="forward" class="item noBorder " ui-sref="app.QandADetail({questionId: result.id, order:'search'})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style ="display:block;" >
                        <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                        <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div> 
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #FA5B0F; color: #FA5B0F; margin-top: 24px;">
                            留哪儿问答
                        </button>
                    </div>
                </a>
                <!--文章-->
                <a ng-if="result.type == 1" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: result.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style ="display:block;" >
                        <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                        <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div> 
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #52baba; color: #52baba; margin-top: 24px;">
                            留哪儿攻略
                        </button>
                    </div>
                </a>
                <!--产品-->
                <a ng-if="result.type == 3" nav-direction="forward" class="item noBorder " ui-sref="app.shopDetail({productId: result.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style ="display:block;" >
                        <img ng-src="http://cms.liunar.com/uploadimage/products/{{result.promo_thumb}}" width="auto" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div> 
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #FA2986; color: #FA2986; margin-top: 24px;">
                            留哪儿产品
                        </button>
                    </div>
                </a>
            </div>
        </div>
        <ion-infinite-scroll ng-if="more == true" spinner="bubbles" on-infinite="searchMore()" distance="3%"></ion-infinite-scroll>
	</ion-content>
</ion-view>