<ion-view view-title="学校搜索" cache-view="true" hide-nav-bar="true">
    <ion-nav-buttons side="primary">
        <a nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-header-bar class="bar-stable" style="padding: 0px">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-model="kw" ng-change="search(kw)" type="search" placeholder="请输入要搜索内容">
            </label>
            <button style="color: rgb(71,194,37)" class="button button-clear" ng-click="back()">
                Cancel
            </button>
        </div>
    </ion-header-bar>
	<ion-content prevent-over-scroll>
        <div class="list">
            <a ng-repeat="result in results" class="item" ui-sref="app.schoolProvinceStandard({schoolId: result.id})">
                <h2>{{result.title_en}}</h2>
                <p>{{result.title_cn}}</p>
            </a>
        </div>    
	</ion-content>
</ion-view>