<ion-view view-title="购买预定">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.shopDetail({productId: purchaseDetail.id})">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <div class="item">
            <h2 style="margin-left: 16px; margin-bottom: 16px; white-space: normal">
                {{purchaseDetail.title}}
            </h2>
            <div class="item item-thumbnail-right noBorder">
                <img style="max-width:140px" ng-src="{{imgUrl}}">
                <div class="item item-body noBorder noPadding" style="margin-right: 66px;">
                    <p class="noMargin">{{purchaseDetail.description.slice(0, 50) + "..."}}</p>
                </div>
            </div>
            <div class="list list-inset">
                <div style="font-weight: bold; display: table">
                    <div style="display: table-cell; vertical-align: middle">
                        <i class="icon fa fa-usd" style="color: #52baba; font-weight: bolder; font-size: 26px; margin-right: 14px;">
                            <span style="margin-left: 14px; vertical-align: middle; font-size: 14px; color: #666">
                                价格：
                            </span>
                        </i>
                    </div>
                    <div style="display: table-cell; vertical-align: middle; white-space: normal; font-weight: bolder; font-size: 14px">
                        {{purchaseDetail.price}}
                    </div>    
                </div>
            </div>
            <div class="list list-inset" style="margin-top: 36px">
                <div style="font-weight: bold">
                    <h2 style="text-align: center">
                        您的预定信息：
                    </h2>
                </div>
                <label class="item item-input labelForm" style="margin-top: 15px;border: solid 1px #52baba">
                    姓名：
                    <input type="text" placeholder="请填入真实姓名" ng-model="orderObj.name">
                </label>
                <label class="item item-input labelForm" style="margin-top: 15px; border: solid 1px #52baba">
                    电话：
                    <input type="text" placeholder="电话号码只能由 +,-,0-9组成" ng-model="orderObj.phone">
                </label>
                <!--<p style="line-weight: bolder; margin-top: 15px; color: red; white-space: normal">
                    电话格式：+8613909998888, +86-10-66668888, +1604-999-8888
                </p>-->
                <label class="item item-input labelForm" style="margin-top: 15px;border: solid 1px #52baba">
                    优惠推荐码：
                    <input type="text" placeholder="推荐码（填入正确推荐码可获得9折优惠）" ng-model="orderObj.refCode">
                </label>
                <p style="font-size: 14px; padding: 0; line-weight: bolder; margin-top: 15px; color: #b3b3b3; white-space: normal">
                    预定只收集客户信息，不发生实际交易，留哪儿客服将会在24小时内联系您。
                </p>
                <button style="margin-top: 15px;" class="button button-full button-calm" ng-click="orderProduct()">
                    提交预定
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>