<ion-view view-title="留哪儿商城">
    <ion-nav-buttons side="secondary">
        <a nav-direction="forward" ui-sref="app.allProduct">
            <button class="button button-clear">
                全部商品
                <i style="font-size: 18px;" class="fa fa-shopping-bag"></i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll overflow-scroll="true" on-scroll="getScroll()" style="background-color: #eee">
        
        <slick ng-if="slick == true" ng-bind-html="topCarousel" settings="slickConfig">
        </slick>
        
        <div class="item noBorder noPadding" style="margin-top: 12px">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                热门产品
            </p>
            <div class="row" style="padding: 8px 0px;">
                <div class="col noPadding" ng-bind-html="secondSection">
                </div>
            </div>
        </div>
        
        <div class="item noBorder noPadding" style="margin-top: 12px;" >
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                热门国家
            </p>
            <div class="row" style="padding: 8px 0px; width: auto; overflow:scroll">
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '加拿大'})">
                        <img src="img/CA-a.png" class="full-image"/>
                    </a>
                </div>
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '美国'})">
                        <img src="img/US-a.png" class="full-image"/>
                    </a>
                </div>
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '芬兰'})">
                        <img src="img/FL-a.png" class="full-image"/>
                    </a>
                </div>
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '澳大利亚'})">
                        <img src="img/AU-a.png" class="full-image"/>
                    </a>
                </div>
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '新西兰'})">
                        <img src="img/NL-a.png" class="full-image"/>
                    </a>
                </div>
                <div class="col col-50 noPadding countryNav">
                    <a ui-sref="app.countryProduct({country: '英国'})">
                        <img src="img/EN-a.png" class="full-image"/>
                    </a>
                </div>
            </div>
        </div>
        

        <div class="item noPadding noBorder" style="margin-top: 12px;" id="shortTerm">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                短期留学
            </p>
            <div class="row shopRow wrapBox" style="padding: 8px 0px;">
                <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="list in b" ui-sref="app.shopDetail({productId: list.id})">
                    <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%">
                </a>
            </div>
        </div>
        
        
        <div class="item noPadding noBorder" style="margin-top: 12px;" id="university">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                知名大学
            </p>
            <div class="row shopRow wrapBox" style="padding: 8px 0px;">
                <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="list in d" ui-sref="app.shopDetail({productId: list.id})">
                    <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%">
                </a>
            </div>
        </div>


        <div class="item noPadding noBorder" style="margin-top: 12px;" id="collage">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                特色院校
            </p>
            <div class="row shopRow wrapBox" style="padding: 8px 0px;">
                <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="list in c" ui-sref="app.shopDetail({productId: list.id})">
                    <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%">
                </a>
            </div>
        </div>


        <div class="item noPadding noBorder" style="margin-top: 12px;" style="margin-top: 12px" id="lowAge">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                低龄留学
            </p>
            <div class="row shopRow wrapBox" style="padding: 8px 0px;">
                <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="list in a" ui-sref="app.shopDetail({productId: list.id})">
                    <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%">
                </a>
            </div>
        </div>
  
      
        <div class="item noPadding noBorder" style="margin-top: 12px;">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                移民项目
            </p>
            <div class="row shopRow wrapBox" style="padding: 8px 0px;">
                <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="list in e" ui-sref="app.shopDetail({productId: list.id})">
                    <img ng-src="http://cms.liunar.com/uploadimage/products/{{list.promo_thumb}}" width="100%">
                </a>
            </div>
        </div>


        <div class="item noPadding noBorder" style="margin-top: 12px;">
            <p style="font-size: 18px; padding: 12px; background-color: #52baba; text-align: center; color: #fff;">
                <i class="fa fa-send"></i>
                服务产品
            </p>
            <div class="row noBorder noPadding" style="width: auto; overflow:scroll; padding: 8px 0px;" ng-bind-html="midBanner">
            </div>
        </div>
        

    </ion-content>
</ion-view>