<ion-view>
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.shopnew()">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <!--<div class="list">
            <a class="item item-body" ng-repeat="product in products" ui-sref="app.shopDetail({productId: product.id})">
              <img class="full-image" ng-src="{{imgUrl(product.details)}}">
              <h2>{{product.title}}</h2>
              <p>{{product.description}}</p>
            </a>
        </div>-->
        
        <div class="row shopRow wrapBox" style="margin-top: 32px;">
            <a class="col col-33" style="padding: 0px 3px 2px 3px" ng-repeat="product in products" ui-sref="app.productdetail({productId: product.id})">
                <img ng-src="http://cms.liunar.com/uploadimage/products/{{product.promo_thumb}}" width="100%">
            </a>
        </div>
    </ion-content>
</ion-view>