<ion-tabs prevent-scroll class="tabs-icon-top tabs-stable {{$root.hideTabs}}">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ng-click="goToHome()">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="院校排名"  icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ng-click="goToSchool()">
    <ion-nav-view name="tab-school"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="精选" icon-off="ion-tab-fa-coffee" icon-on="ion-tab-fa-coffee" ng-click="goToShop()">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>
    
  <!--<ion-tab title="发现" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline" ui-sref="app.stream()">
      <ion-nav-view name="tab-stream"></ion-nav-view>
  </ion-tab>-->

  <ion-tab title="广场" class="hide" icon-off="ion-ios-basketball-outline" icon-on="ion-ios-basketball" ui-sref="app.msgCenter()">
    <ion-nav-view name="tab-msg"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="app.userCenter()">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>

