<ion-view view-title="{{pageTag}}" cache-view="true" ng-init="initList()">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="#{{from}}">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <div class="list" style="background-color: #fff; border: none" ng-cloak>
            <div ng-repeat="result in lists">
                <!--问答-->
                <a ng-if="result.type == 3" nav-direction="forward" class="item noBorder " ui-sref="app.QandADetail({questionId: result.id, order:'search'})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style="display:block;">
                        <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                        <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div>
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #FA5B0F; color: #FA5B0F; margin-top: 24px;">
                            留哪儿问答
                        </button>
                    </div>
                </a>
                <!--文章-->
                <a ng-if="result.type == 1" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: result.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style="display:block;">
                        <img ng-if="result.have_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                        <img ng-if="result.have_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div>
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #52baba; color: #52baba; margin-top: 24px;">
                            留哪儿攻略
                        </button>
                    </div>
                </a>
                <!--产品-->
                <a ng-if="result.type == 4" nav-direction="forward" class="item noBorder " ui-sref="app.shopDetail({productId: result.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                    <div style="display:block;">
                        <img ng-src="http://cms.liunar.com/uploadimage/products/{{result.promo_thumb}}" width="auto" height="90" style="float: right; margin: 0 0 10px 10px;">
                    </div>
                    <div style="margin-left: 0">
                        <h4 style="display: block; font-size: 18px; overflow: visible; white-space: normal">
                            {{result.title}}
                        </h4>
                        <button class="badgeBtn-outline" style="width: auto; border-color: #FA2986; color: #FA2986; margin-top: 24px;">
                            留哪儿产品
                        </button>
                    </div>
                </a>
            </div>
        </div>
        <!--<ion-infinite-scroll spinner="bubbles" on-infinite="getMoreArticles()" distance="3%"></ion-infinite-scroll>-->
    </ion-content>
</ion-view>
