<ion-view view-title="留哪儿知识库">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" href="http://www.liunar.com">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll overflow-scroll="true">
        <div class="row noPadding" style="height: 100%; width: 100%;">
            <ion-scroll direction="y" class="noPadding col col-25 vertical-tabs">
                <div ng-class="{'clicked': tag == clicked}" class="vertical-tab" ng-repeat="tag in tags" ng-click="select(tag)">
                    <p>
                        <i class="icon {{tag.icon}}">
                        </i>
                    </p>
                    <p>{{tag.cate}}</p>
                </div>
            </ion-scroll>
            <div class="noPadding col">
                <div class="row wrapBox">
                    <a ui-sref="tagSearch({tag: button})" class="col col-40 tagButton" ng-repeat="button in clicked.tags">
                        {{button}}
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>