<ion-view cache-view="false" view-title="认证达人申请">
Add a comment to this line
  <ion-content prevent-over-scroll style="background-color: #ffffff">
    <div class="item noBorder">
        <div class="list list-inset">
            <div class="item">
                <input type="file" />
            </div>
           <label class="item item-input" style="margin-top: 15px;border: solid 1px #52baba">
                <input type="text" placeholder="达人邀请码（必填）" ng-model="refCode" required>
            </label>
            <label class="item item-input" style="margin-top: 15px;border: solid 1px #52baba">
                <input type="text" placeholder="姓名（必填）" ng-model="name" required>
            </label>
            <label class="item item-input" style="margin-top: 15px; border: solid 1px #52baba">
                <input type="text" placeholder="电话号码（必填）" ng-model="phone" required>
            </label>
            <p style="line-weight: bolder; margin-top: 15px; color: red; white-space: normal">
                电话格式：+8613909998888, +86-10-66668888, +1604-999-8888
            </p>
            <label class="item item-input" style="margin-top: 15px; border: solid 1px #52baba">
                <input type="text" placeholder="电子邮箱（选填）" ng-model="email" required>
            </label>
            <label class="item item-input" style="margin-top: 15px; border: solid 1px #52baba">
                <input type="text" placeholder="微信号（选填）" ng-model="wechat">
            </label>
            <label class="item item-input" style="height:120px; margin-top: 15px; border: solid 1px #52baba">
                <textarea style="height: 100%;" placeholder="个性签名..." ng-model="slogan"></textarea>
            </label>
            <div class="item noBorder" style="margin-top: 12px; text-align: center; padding: 36px;">
                <i ng-if="idUploadStatus !== 'b' && idUploadStatus !== 'a'" class="icon fa-file-text" style="font-size: 36px;" ngf-select="uploadID($file)" ngf-pattern="'application/pdf,image/*'" accept="image/*,application/pdf"></i>
                <i ng-if="idUploadStatus == 'b'" class="icon fa-file-text" style="font-size: 36px; color: #9BCF00"></i>
                <i ng-if="idUploadStatus == 'a'" class="icon fa-file-text" style="font-size: 36px;"></i>
                <p style="margin-top: 15px; white-space: normal" ng-if="idUploadStatus !=='a' && idUploadStatus !== 'b'">
                    点击图标上传身份证明文件（如：身份证、护照或营业执照的照片）
                </p>
                <p style="margin-top: 15px; color: {{statusColor}}" ng-if="idUploadStatus == 'b' || idUploadStatus == 'c'">
                    <i class="icon" ng-class="{'ion-checkmark-circled': idUploadStatus == 'b', 'ion-close-circled': idUploadStatus == 'c'}"></i>
                    {{statusText}}
                </p>
                <progress-bar ng-if="idUploadStatus == 'a'" style="margin-top: 15px" value="{{idUploadProgress}}" max="100">
                </progress-bar>
            </div>
            <button style="margin-top: 24px;" class="button button-full button-assertive" ng-click="applyAgent(refCode, name, phone, slogan, wechat, email)">
                申请达人
            </button>
            <p ng-if="errText.length !== 0" style="color: #942200; white-space: normal">
                <i class="icon ion-close-circled"></i>
                {{errText}}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>