<ion-view view-title="达人教程" id="page9" style="background-color:#EBEBEB;">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome()">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    
    <ion-content prevent-over-scroll padding="false" class="has-header">
    <div style="background: #f5f5f5; width: 100%; padding: 0; margin: 0; overflow: hidden; font-family: FontAwesome, Helvetica, Tahoma, Arial, STXihei, 华文细黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Heiti, 黑体, sans-serif;">
        <!--绿色版头-->
        <div style="background-color: #52baba; width: 100%;">
            <div style="width: 100%; padding: 50px;">
                <p style="font-size: 41px; font-weight: bold; color: white; line-height: 1.1;">
                    成为留学<br>教育合伙达人<br>并赚取收入
                </p>
                <p style="font-size: 17px; font-weight: 400; color: white; margin-top: 24px; margin-bottom: 24px;">
                    从分享知识到实现梦想之旅，<br>达人运用移动营销轻松盈利。

                </p>
                <a ui-sref="app.mission()" style="background-color: #ff975a; border: 1px solid; border-color: #ff975a; border-bottom-color: #f85c00; color: white; padding: 9px 27px; font-size: 15px; border-radius: 2px; text-align: center; vertical-align: middle; line-height: 1.43; -webkit-user-select: none; cursor: pointer; text-decoration: none; font-weight: bold;"><span>开始分享</span></a>
            </div>
        </div>
        <!--版头下面的一个标题-->
        <div style="width: 100%">
            <p style="font-weight: 300; font-size: 17px; color: #757575; line-height: 1.1; text-align: center; margin-top: 35px; margin-bottom: 35px; letter-spacing: 0.2em;">
            三步开启我的留学工作室
            </p>
        </div>
        <!--第1个模块-->
        <div style="background: white; width: 95%; margin-left: auto; margin-right: auto; padding: 50px;">
            
            <!--带圈数字-->
            <p style="border-radius: 50%;  width: 24px; line-height: 21px; height: 24px; border: 2px solid #757575; color: 2px solid #757575; text-align: center; font-size: 14px; box-sizing: border-box;">
            1
            </p>
            
            <!--大标题-->
            <p style="font-weight: bold; font-size: 30px; line-height: 1.1; color: #484848; margin-top: 20px; margin-bottom: 20px;">
            得到邀请码，注册帐号启动在线创业
            </p>
            
            <!--大标题介绍-->
            <p style=" font-size: 16px; color: #484848; margin-bottom: 24px;">
            从创建个人页面开始吧。这将是您的在线留学工作室。
            </p>
            
            </div>
        <!--End of 第1个模块-->
        <div style="height: 40px;"></div>
        <!--第2个模块-->
        <div style="background: white; width: 95%; margin-left: auto; margin-right: auto; padding: 50px;">
            
            <!--带圈数字-->
            <p style="border-radius: 50%;  width: 24px; line-height: 21px; height: 24px; border: 2px solid #757575; color: 2px solid #757575; text-align: center; font-size: 14px; box-sizing: border-box;">
            2
            </p>
            
            <!--大标题-->
            <p style="font-weight: bold; font-size: 30px; line-height: 1.1; color: #484848; margin-top: 20px; margin-bottom: 20px;">
            转发分享精彩教育攻略，帮助他人，吸引客户
            </p>
            
            <!--大标题介绍-->
            <p style=" font-size: 16px; color: #484848; margin-bottom: 24px;">
            您将得到丰厚的佣金，以及积分回报。
            </p>
            
                <!--图标1-->
                <i class="icon ion-cube" style="font-size: 2.4em; color: white; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题1-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                分享留学教育知识
                </p>

                <!--小介绍1-->
                <p style="font-size: 14px; color: #484848;">
                CanBest建立了领先的留学院校数据库与知识库，能帮助您亲朋好友的孩子绕开高考独木桥，升入比清华北大排名还靠前的海外名校。
                </p>
                
                <div style="height: 30px;"></div>
                <!--图标2-->
                <i class="icon ion-pricetag" style="font-size: 2.4em; color: white; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题2-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                分享海外教育产品
                </p>

                <!--小介绍2-->
                <p style="font-size: 14px; color: #484848;">
                “留哪儿”留学在线商城，提供四大产品线海外教育产品，并实时更新，推出广受欢迎的海外游学、中学留学、大学留学、特色学院等产品。
                </p>
            </div>
        <!--End of 第2个模块-->
        <div style="height: 40px;"></div>
        <!--第3个模块-->
        <div style="background: white; width: 95%; margin-left: auto; margin-right: auto; padding: 50px;">
            
            <!--带圈数字-->
            <p style="border-radius: 50%;  width: 24px; line-height: 21px; height: 24px; border: 2px solid #757575; color: 2px solid #757575; text-align: center; font-size: 14px; box-sizing: border-box;">
            3
            </p>
            
            <!--大标题-->
            <p style="font-weight: bold; font-size: 30px; line-height: 1.1; color: #484848; margin-top: 20px; margin-bottom: 20px;">
            获得收入
            </p>
            
            <!--大标题介绍-->
            <p style=" font-size: 16px; color: #484848; margin-bottom: 24px;">
            吸引到客户后，您将终生享有其所有消费的佣金。
            </p>
            
                <!--图标1-->
                <i class="icon ion-funnel" style="font-size: 2.4em; color: white; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题1-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                分享客户的全周期消费
                </p>

                <!--小介绍1-->
                <p style="font-size: 14px; color: #484848;">
                CanBest能够为留学生提供申请、补习、升学、就业、移民的全周期服务。在每一个消费环节，您都能相应获得佣金。
                </p>
                
                <div style="height: 30px;"></div>
                <!--图标2-->
                <i class="icon ion-ios-pie" style="font-size: 2.4em; color: white; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题2-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                您如何确保对客户交易的知情权
                </p>

                <!--小介绍2-->
                <p style="font-size: 14px; color: #484848;">
                “留哪儿”CRM系统实时跟进每一个因您的分享而来的客户，并显示其状态及进度。
                </p>
            
                <div style="height: 30px;"></div>
                <!--图标2-->
                <i class="icon ion-social-usd" style="font-size: 2.4em; color: white; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题2-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                您如何收到款项
                </p>

                <!--小介绍2-->
                <p style="font-size: 14px; color: #484848;">
                您可以选择通过微信、支付宝、直接汇款来接收款项。系统会在交易之后自动将款项汇给您，非常便捷。
                </p>
            </div>
        <!--End of 第3个模块-->
        
        <!--第4个模块-->
        <div style="background: transparent; width: 100%; padding: 50px;">
            
            <!--大标题-->
            <p style="font-weight: bold; font-size: 30px; line-height: 1.1; color: #484848; margin-top: 20px; margin-bottom: 20px;">
            我们会保护您的利益
            </p>
            
            <!--大标题介绍-->
            <p style=" font-size: 16px; color: #484848; margin-bottom: 24px;">
            
            </p>
            
                <!--图标1-->
                <i class="icon ion-umbrella" style="font-size: 2.4em; color: #f5f5f5; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题1-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                合伙达人建基于信任
                </p>

                <!--小介绍1-->
                <p style="font-size: 14px; color: #484848;">
                留哪儿留学教育达人，都是由好友推荐，彼此建立在信任的基础上。
                </p>
                
                <div style="height: 30px;"></div>
                <!--图标2-->
                <i class="icon ion-hammer" style="font-size: 2.4em; color: #f5f5f5; text-shadow: -2px 0 #00a699, 0 2px #00a699, 2px 0 #00a699, 0 -2px #00a699;"></i>

                <!--小标题2-->
                <p style="font-size: 23px; margin-top: 12px; margin-bottom: 12px; color: #484848; line-height: 1.43;">
                回报不仅仅是金钱
                </p>

                <!--小介绍2-->
                <p style="font-size: 14px; color: #484848;">
                除了可以赚取额外收入，您更加入了一个海外教育的全球社区。随时都有机会从学习到不少宝贵的知识。您还可以为自己孩子的海外教育做好准备。
                </p>
            
            </div>
        <!--End of 第4个模块-->
        
        <div style="height: 40px;"></div>
        
        <div style="background-image: url('img/moneybg.jpg'); width: 100%; ">
            <div style="width: 100%; padding: 50px; padding-bottom: 30px;">
                <p style="font-size: 40px; color: white; line-height: 1.1; font-weight: bold;">
                    加入我们，<br>把握教育产业的黄金时代！
                </p>
            </div>
            
            <div style="margin-left: auto; margin-right: auto; width: 100%; padding: 50px; padding-top: 0;">
                <a ui-sref="app.mission()" style="display: inline-block; width: 100%; background-color: #ff975a; border: 1px solid; border-color: #ff975a; border-bottom-color: #f85c00; color: white; padding: 9px 27px; font-size: 15px; border-radius: 2px; text-align: center; vertical-align: middle; line-height: 1.43; -webkit-user-select: none; cursor: pointer; text-decoration: none; font-weight: bold;"><span>开启我分享之旅</span></a>
            </div>
            
            
        </div>
        
    </div>    
    </ion-content>
</ion-view>