<ion-view view-title="达人积分">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll style="background-color: #f8f8f8">
    <p></p>
    <div class="list">
        <div class="item noBorder">
            <h2>
                当前积分：
                <span style="color: blue">{{totalPoints}}</span>
            </h2>
        </div>
        <div class="item noBorder">
            <h2>
                累计积分：
                <span style="color: red">{{totalPoints}}</span>
            </h2>
        </div>
    </div>
    <div class="list">
        <div class="item noBorder">
            <h2>
                积分明细：
                <!--<span style="font-size: 14px; font-weight: lighter; color: #666">您的积分目前排名 <strong>前20%</strong>, 很棒！</span>-->
            </h2>
            <div class="item noBorder">
                <table style="width: 100%; border: 0.5px solid #d8d8d8;">
                    <tr style="font-size: 15px; font-weight: bold; background-color: #d8d8d8">
                        <th>类别</th>
                        <th>积分</th>
                        <th>日期</th>
                    </tr>
                    <!--ng repeat-->
                    <tr style="text-align: center; font-size: 12px; color: #777;" ng-repeat="point in pointHistory">
                        <td style="padding: 12px;">{{pointTypes[point.pointType]}}</td>
                        <td style="padding: 12px;">{{point.points}}</td>
                        <td style="padding: 12px;">{{point.stamp | date:"yyyy-MM-dd"}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>