<ion-view view-title="产品价格清单">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <div style="margin-top: 12px;" class="item" ng-repeat="product in products">
            <h3 style="white-space: normal">
                {{product.title}}
            </h3>
            <p style="white-space: normal">
                <i class="icon ion-android-alarm-clock" style="color: #7ACCBE"></i>
                返佣时间：{{product.referral_fee_process_time || " "}}
            </p>
            <p style="white-space: normal">
                <i class="icon ion-cash" style="color: #E65C00"></i>
                返佣金额：{{product.referral_fee ? product.referral_fee + " " + product.currency : " "}}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>