<ion-view view-title="客户管理">
  <ion-header-bar class="bar bar-subheader noPadding" style="box-shadow: none; width:100%;">
        <div class="row noPadding" style="height:44px">
            <div class="col clientTab"
                 ng-class="{'active': selected === 2}"
                 ng-click="selected = 2">
                我的顾客
            </div>
            <div 
                class="col clientTab" 
                ng-class="{'active': selected === 1}"
                ng-click="selected = 1">
                我推荐的达人
            </div>
        </div>
  </ion-header-bar>
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll class="has-header has-subheader" scroll="true" style="background-color: #f8f8f8">
    
    <div class="list" ng-show="selected == 2">
        <a ng-repeat="client in clientList" class="item item-avatar noBorder" ui-sref="app.userClientDetail({orderId: client.Id})" nav-direction="forward">
            <img ng-src="{{client.avatar}}" style="" class="profileAvater"/>
            <h2>
                {{client.nickname}}
                <span style="margin-left: 12px; font-size: 14px; color:#7F7F7F;">
                    {{client.fullname}}
                </span>
            </h2>
            <p style="font-size: 14px; color:red;">
                状态：{{status[client.orderStatus]}}
            </p>
            <p>
                预定产品：
                <Span>
                    {{client.title}}
                </Span>
            </p>
            <p>
                预定时间：
                <Span>
                    {{client.created_time | date:"MM/dd/yyyy"}}
                </Span>
            </p>
        </a>
    </div>
      
    <div class="list" ng-show="selected == 1">
        <div ng-repeat="refer in referList" class="item item-avatar noBorder" nav-direction="forward">
            <img ng-src="{{refer.avatar}}" style="" class="profileAvater"/>
            <h2>
                {{refer.nickname}}
                <span style="margin-left: 12px; font-size: 14px; color:#7F7F7F;">
                    {{refer.fullname}}
                </span>
            </h2>
            <p>
                加入时间：
                <Span>
                    {{refer.created_time | date:"MM/dd/yyyy"}}
                </Span>
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>