<ion-view view-title="招募留学教育合伙人" hide-nav-bar="true">
    <ion-content style="background-color: #eee9e4" prevent-over-scroll>
        <!--<p></p>
        <img src="img/vip1.jpg" width="100%"/>
        <img src="img/vip2.png?2=2" width="100%"/>
        <div class="item item-body" style="text-align: center">
            <h2 style="color:red; font-size: 24px; font-weight: bolder">
                我的推荐码是：{{refCode}}
            </h2>
            <p ng-show="showShareMethod == true" style="margin-top: 32px; color:#52baba">
                请点击右上角微信分享，把此页面分享给朋友
            </p>
        </div>
        <div class="item" style="width: 100%; background-color: #00a699">
            <img src="img/vip3.png" width="100%"/>
            <br/>
            <a href="{{url}}" class="button button-assertive button-full" style="font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
                立即申请，仅限100位
                <i style="font-size: 18px;" class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
        <img src="img/vip4.png" width="100%"/>
        <a href="{{url}}" class="button button-assertive button-full" style="width: 80%; margin-left: 10%; font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
            立即点击，成为留学教育合伙人
            <i style="font-size: 18px;" class="icon ion-ios-arrow-forward"></i>
        </a>
        <a href="tel:+864008099039" class="button button-assertive button-full" style="width: 80%; margin-left: 10%; font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
            拨打热线：4008-099-039
        </a>
        <img src="img/vip5.png" width="100%"/>-->
        <ion-slides options="options" slider="data.slider">
            <ion-slide-page>
                <div class="invitation-slide">
                    <div class="invitation-header index-header">
                        <img src="img/invitation/slice10.png?v=3"/>
                    </div>
                    <img src="img/invitation/slice2.png" />
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="invitation-slide">
                    <div class="invitation-header">
                        <img src="img/invitation/slice4.png"/>
                    </div>
                    <img src="img/invitation/slice5.png" style="width: 70%;"/>
                </div>
            </ion-slide-page>
            <ion-slide-page>
                <div class="invitation-slide">
                    <div class="invitation-header">
                        <img src="img/invitation/slice6.png"/>
                    </div>
                    <img src="img/invitation/slice7.png" />
                </div>    
            </ion-slide-page>
            <ion-slide-page>
                <div class="invitation-slide">
                    <div class="invitation-header">
                        <img src="img/invitation/slice8.png"/>
                    </div>
                    <img src="img/invitation/slice9.png" />
                </div>    
            </ion-slide-page>
            <ion-slide-page>
                <div class="invitation-slide last-child">
                    <img src="img/invitation/slice10.png" />
                    <a href="{{url}}" class="button button-block button-light" style="margin-top:90px; border-radius: 4em; color: #FA3E3E; font-weight: bold; max-width: 320px; margin-left: auto; margin-right: auto;">
                        立即成为留哪儿达人
                    </a>
                    <a href="tel:4008099039" class="button button-block button-outline button-light" style="margin-top:32px; border-radius: 4em;font-weight: bold; max-width: 320px; margin-left: auto; margin-right: auto;">
                        咨询热线：4008-099-039
                    </a>
                </div>    
            </ion-slide-page>
        </ion-slides>
    </ion-content>
</ion-view>