<ion-view view-title="我的订单">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <div class="item noBorder">
            <h2>
                订单历史：
            </h2>
                <!--<table style="width: 100%; border: 0.5px solid #d8d8d8;">
                    <tr style="font-size: 15px; font-weight: bold; background-color: #d8d8d8">
                        <th>订单号</th>
                        <th>购买产品</th>
                        <th>金额</th>
                        <th>状态</th>
                        <th>日期</th>
                    </tr>
                    <tr ng-repeat="order in orderList" style="text-align: center; font-size: 12px; color: #777;">
                        <td style="padding: 8px;"></td>
                        <td>{{order.title}}</td>
                        <td>{{order.originalPrice}}</td>
                        <td>{{status[order.orderStatus]}}</td>
                        <td>{{order.updated_time | date:"MM/dd/yyyy"}}</td>
                    </tr>
                </table>-->
        </div>
        <div class="item noBorder" ng-repeat="order in orderList" style="margin-top: 12px">
            <h2 style="white-space: normal">
                {{order.title}}
            </h2>
            <p>
                价格：{{order.originalPrice}}
            </p>
            <p style="color: red">
                状态：{{status[order.orderStatus]}}
            </p>
            <p>
                预定时间：{{order.updated_time | date:"MM/dd/yyyy"}}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>