<ion-view cache-view="false" view-title="认证达人申请">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
  <ion-content prevent-over-scroll style="background-color: #ffffff" has-bouncing="true">
    <div class="item noBorder">
        <div class="list list-inset">
            <label class="item item-input labelForm">
                姓名（必填）：
                <input type="text" placeholder="请填入真实姓名" ng-model="name" required>
            </label>
            <label class="item item-input labelForm">
                电话号码（必填）：
                <input type="text" placeholder="请填入电话号码" ng-model="phone" required>
            </label>
            <p style="line-weight: bolder; margin-top: 15px; color: red; white-space: normal">
                电话格式：+8613909998888, +86-10-66668888, +1604-999-8888
            </p>
            <label class="item item-input labelForm">
                微信号：
                <input type="text" placeholder="您的微信号" ng-model="wechat" required>
            </label>
            <label class="item item-input labelForm">
                电子邮箱：
                <input type="text" placeholder="您的电子邮箱" ng-model="email" required>
            </label>
            <label class="item item-input labelForm">
                达人邀请码（必填）：
                <input type="text" placeholder="请填入达人邀请码" ng-model="refCode" required>
            </label>
            <div class="item" style="margin-top: 12px; text-align: center; padding: 36px; border: 3px dashed #52baba;">
                <i ng-if="idUploadStatus !== 'b' && idUploadStatus !== 'a'" class="icon fa-file-text unselect" style="font-size: 36px; color: #BCBCBF" ngf-select="uploadID($file)" ngf-pattern="'application/pdf,image/*'" accept="image/*,application/pdf"></i>
                <i ng-if="idUploadStatus == 'b'" class="icon fa-file-text" style="font-size: 36px; color: #9BCF00"></i>
                <i ng-if="idUploadStatus == 'a'" class="icon fa-file-text" style="font-size: 36px;"></i>
                <p style="margin-top: 15px; white-space: normal" ng-if="idUploadStatus !=='a' && idUploadStatus !== 'b'">
                    点击图标上传身份证明文件（如：身份证、护照或营业执照的照片）
                </p>
                <p style="margin-top: 15px; color: {{statusColor}}" ng-if="idUploadStatus == 'b' || idUploadStatus == 'c'">
                    <i class="icon" ng-class="{'ion-checkmark-circled': idUploadStatus == 'b', 'ion-close-circled': idUploadStatus == 'c'}"></i>
                    {{statusText}}
                </p>
                <progress-bar ng-if="idUploadStatus == 'a'" style="margin-top: 15px" value="{{idUploadProgress}}" max="100">
                </progress-bar>
            </div>
            <button style="margin-top: 24px;" class="button button-full button-assertive" ng-click="applyAgent(refCode, name, phone, slogan, wechat, email)">
                申请达人
            </button>
            <p ng-if="errText.length !== 0" style="color: #942200; white-space: normal">
                <i class="icon ion-close-circled"></i>
                {{errText}}
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>