<ion-view view-title="推荐新达人">
    <ion-nav-buttons>
        <a href="http://www.liunar.com/usercenter" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">返回</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <div style="text-align:center" class="item item-body">
            <img style="width: 40%; max-width: 240px; margin-left: auto; margin-right: auto;" src="img/icon.png" />
            <h2 style="text-align: left; margin-top: 32px;">
                推荐好友成为留哪儿达人！
            </h2>
            <h2 style="text-align: left; margin-top: 32px;">
                我的推荐码：
                <span style="color: red">{{reference_code}}</span>
            </h2>
            <p style="text-align: left; margin-top: 32px;">
                推荐好友成为留哪儿达人，您可以扩大客户获取能力，当达人好友获得销售佣金时，您可以获得额外的5%销售佣金，这部分奖励来自留哪儿平台，并不会影响达人好友的销售佣金收入。
            </p>
            <p style="text-align: left; margin-top: 32px; color:#52baba">
                请点击右上角微信分享，把此页面分享给朋友
            </p>
        </div>
    </ion-content>
</ion-view>