<ion-view view-title="个人中心" cache-view="false">
  <ion-content prevent-over-scroll scroll="true" style="background-color: #f8f8f8" >
    <p></p>
    <div class="item  profileItem " style="text-align: center">
        <img ng-src="{{avatar}}" class="profileAvater"/>
        <h2>{{fullname}}</h2>
    </div>
      
    <div class="list profileItem">
        <div class="item">
            @我
            <!--<span class="badge badge-assertive">2</span>-->
        </div>
        <!--<a href="http://yun.liunar.com/zh-CN/CustomerManage/Customers" class="item" style="border-top: 0.5px solid #d3d3d3;">
            我购买的服务
        </a>-->
    </div>
      
    <div class="list profileItem">
        <a class="item item-icon-left" ui-sref="app.userPoints()" nav-direction="forward">
            <i class="icon ion-ios-pulse" style="color: #0099ff"></i>
            达人积分
            <span style="margin-left: 24px; font-size: 14px; color:#888;">
                {{totalPoints | number:0}}
            </span>
        </a>
        <div class="item item-icon-left">
            <i class="icon ion-ios-person" style="color: #0099ff"></i>
            达人类型 
            <span style="margin-left: 24px; font-size: 14px; color:#888;">
                {{agentTypes[agentType]}}
            </span>
        </div>
    </div>

    <!--<div class="list profileItem">
        <a class="item item-icon-left" nav-direction="forward" ui-sref="app.userCash">
            <i class="icon ion-card" style="color: #ffd11a"></i>
            累计分成
            <span style="margin-left: 24px; font-size: 14px; color:#888;">
                0元
            </span>
        </a>
    </div>-->
    
    <div class="list profileItem" ng-show="agentType == 1">
        <div class="item item-icon-left item-button-right">
            <i class="icon ion-android-apps" style="color: steelblue"></i>
            达人推荐码
            <!--<input id="refCode" ng-readonly="true" ng-model="reference_code" class="noBorder" style="background-color: rgba(0,0,0,0); color: #e65c00; margin-left: 24px; font-size: 14px;"/>-->
            <span id="refCode" style="background-color: rgba(0,0,0,0); color: #e65c00; margin-left: 24px; font-size: 14px;">{{reference_code}}</span>
            <!--<button style="font-size: 14px" class="button button-small button-balanced" ng-click="selectCode()">
                选中推荐码
            </button>-->
        </div>
<!--
        <a class="item item-icon-left" ui-sref="app.userProductPrice">
            <i class="icon ion-ios-pricetags" style="color: #7ACCBE"></i>
            产品价格清单
        </a>
-->
    </div>

    <div class="list profileItem">
<!--         <a ng-show="agentType == 1" class="item item-icon-left" ui-sref="app.userRecommend()" nav-direction="forward">
            <i class="icon ion-android-share-alt" style="font-size: 24px; color: #444999"></i>
            推荐新达人
        </a> -->
        <a class="item item-icon-left noBorder" href="http://yun.liunar.com/zh-CN/CustomerManage/Customers" nav-direction="forward">
            <i class="icon ion-ios-people" style="color: #e65c00"></i>
            客户管理
        </a>
    </div>
      
    <div class="list profileItem">
        <!--<a class="item item-icon-left" nav-direction="forward" ui-sref="app.userComplete()">
            <i class="icon ion-gear-b" style="color: #8BC53F; font-size: 28px;"></i>
            完善个人资料
        </a>-->
        <div class="item item-icon-left" ng-click="logout()" nav-direction="forward">
            <i class="icon ion-android-exit" style="color: #a8a8a8; font-size: 28px;"></i>
            注销
        </div>
    </div>
  </ion-content>
</ion-view>