<ion-view view-title="审核状态">
    <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll>
        <div class="item item-body" style="text-align: center">
            <h2 style="color: #ff5a5f; line-height: 160%">
                感谢您申请成为认证达人
                <br/>
                我们会尽快为您审核
            </h2>
            <p>
                请关注我们的“留哪儿小秘书”公众号，第一时间接收我们的官方信息。
            </p>
            <img width="75%" src="img/xiaoMiShu.jpg"/>
        </div>
    </ion-content>
</ion-view>