<ion-view view-title="招募留学教育合伙人" hide-nav-bar="true">
    <ion-content style="background-color: #eee9e4">
        <img src="img/vip1.jpg" width="100%"/>
        <img src="img/vip2.png?2=2" width="100%"/>
        <div class="item" style="width: 100%; background-color: #00a699">
            <img src="img/vip3.png" width="100%"/>
            <br/>
            <a href="{{url}}" class="button button-assertive button-full" style="font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
                立即申请，仅限100位
                <i style="font-size: 18px;" class="icon ion-ios-arrow-forward"></i>
            </a>
        </div>
        <img src="img/vip4.png" width="100%"/>
        <a href="{{url}}" class="button button-assertive button-full" style="width: 80%; margin-left: 10%; font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
            立即点击，成为留学教育合伙人
            <i style="font-size: 18px;" class="icon ion-ios-arrow-forward"></i>
        </a>
        <a href="tel:+864008099039" class="button button-assertive button-full" style="width: 80%; margin-left: 10%; font-weight:bolder; background-color: #ff5a5f; border-radius: 24px;">
            拨打热线：4008-099-039
        </a>
        <img src="img/vip5.png" width="100%"/>
    </ion-content>
</ion-view>