<ion-view view-title="新用户">
  <ion-nav-buttons side="primary">
      <a ui-sref="userLogin()">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
      </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" ng-model="signupObj.username" placeholder="用户名">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" ng-model="signupObj.password" placeholder="密码">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" ng-model="signupObj.confirmPassword" placeholder="确认密码">
          </label>
        </div>
        <div class="">
            <button class="button button-full button-calm centerMargin" style="width: 65%; margin-left: 17.5%" ng-click="signup()">注册</button>
        </div>
  </ion-content>
</ion-view>