<ion-view view-title="用户登录">
  <ion-nav-buttons side="primary">
      <a href="http://www.liunar.com" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
      </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true" overflow-scroll="true">
        <div class="item" style="text-align: center">
            <div ng-click="wechatRedirect()">
                <img src="img/wechatIcon.png" width="50px"/>
            </div>
            <div ng-if="showBroMsg != true" ng-click="wechatRedirect()" class="button button-full button-calm" style="color: #fff">
                登录留哪儿
            </div>
			<p ng-if="showBroMsg == true" style="white-space: normal">
				登录仅支持微信浏览器，请关注微信服务号：<br>
				<span style="display: block; font-size: 16px; margin-top: 8px;">Canbest教育集团</span>
			</p>
        </div>
        <!--<div id="wechatLogin" class="item" style="text-align: center"></div>-->
  </ion-content>
</ion-view>