<ion-view>
  <ion-nav-buttons>
        <a ui-sref="app.userClientList()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content prevent-over-scroll scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <div class="item" ng-repeat="memo in memos">
            <h4>{{memo.stamp | date:"yyyy-MM-dd"}}</h4>
            <p>{{memo.comment}}</p>
        </div>
    </div>    
  </ion-content>
</ion-view>