<ion-view view-title="完善资料">
    <ion-nav-buttons side="primary"> 
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="update()">
            <i style="font-size: 18px;" class="icon ion-compose"></i>
        </button>
    </ion-nav-buttons>
    <ion-content prevent-over-scroll class="whiteBg" scroll="true" style="background-color: #f8f8f8">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">电话号码</span>
                <input type="text" placeholder="{{phone}}" ng-model="new.phone">
            </label>
        </div>
        <!--<div class="noPadding noBorder" style="text-align:center">-->
            <label for="qrCodeImg" class="fileInput noMargin" style="text-align: center">
                <input id="qrCodeImg" type="file" ng-change="upload(file)" class="browserFileInput" ngf-select ng-model="file" name="file"/>
                <i class="icon fa fa-qrcode"></i>
            </label>
        <!--</div>-->
    </ion-content>
</ion-view>