<ion-view view-title="等待跳转中">
    <ion-nav-buttons side="primary"> 
        <a ui-sref="app.msgCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content style="background-color: #f8f8f8">
			<div class="item noBorder">
				<div class="list list-inset">

				</div>
			</div>
<!--
        <label for="qrCodeImg" class="fileInput noMargin" style="text-align: center">
            <input id="qrCodeImg" type="file" ng-change="upload(file)" class="browserFileInput" ngf-select ng-model="file" name="file"/>
            <i class="icon fa fa-qrcode"></i>
        </label>
-->
    </ion-content>
</ion-view>