<div class="list card fullWidthCardMenu" style="margin-bottom: 1px;" ng-controller="agencyController">
    <div class="row" style="border-bottom: 1px #ddd solid;">
        <div class="col col-25">
            <div class="item-avatar">
                <img width="100%" style="left: 28px; max-width: 70px; max-height: 70px;" ng-src="https://s-media-cache-ak0.pinimg.com/736x/8b/57/fd/8b57fd6e54774d0434a972b1a5b99020.jpg">
            </div>
        </div>
        <div class="col col-offset-10">
            <h4>远景留学</h4>
            <p>
                <button class="button button-assertive"><i class="icon ion-android-call"></i> +16043793183</button>
            </p>
        </div>
        <div class="col col-10" style="position: relative">
            <img ng-click="QRPopUp()" width="100%" style="position: absolute; bottom: 12px; right: 12px;" src="img/wechatIcon.png"/>
        </div>
    </div>
    <div class="list">
        <div class="item item-icon-left" href="#">
            <i class="icon ion-ios-email-outline"></i>
            gplindawang@gmail.com
        </div>
        <div class="item item-icon-left" href="#">
            <i class="icon ion-ios-telephone-outline"></i>
            +16043793183
        </div>
        <div class="item item-icon-left" href="#">
            <i class="icon ion-social-tux"></i>
            854887100
        </div>
        <div class="item item-icon-left" href="#">
            <i class="icon ion-ios-location-outline"></i>
            1234 Abc Street, Cdef, B.C, V13 T45
        </div>
    </div>
    <!--<div class="item item-avatar">
        <img src="https://build.phonegap.com/images/marketing/buildbot-hero.png"/>
        <h1 style="font-size: 18px;">远景旅游</h1>
        <p>
            <button class="button button-assertive"><i class="icon ion-android-call"></i> +16043793183</button>
        </p>
    </div>-->
</div>