<ion-view view-title="评估完成" ng-init="calculation()">
    <ion-content overflow-scroll="true">
        <div class="card" style="text-align: center; padding: 12px;">
            <h1 style="font-size: 24px;">感谢您的评估！</h1>
            <h2 style="font-size: 18px;">
                申请成功率： 
                <i ng-repeat="i in getNumber(score) track by $index" style="color: #52baba" class="icon ion-ios-star"></i>
                <i ng-repeat="i in getNumber(inverseScore) track by $index" style="color: #52baba" class="icon ion-ios-star-outline"></i>
            </h2>
            <button class="button button-assertive" ng-click="apply()">我要申请</button>
        </div>
    </ion-content>
</ion-view>