<ion-view view-title="留学评估" cache-view="false">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
	<ion-content class ="estimateBody">
        <div>
            <div class="card estimateCard">
                <div class="item item-text-wrap estimateItem">
                    <p style="font-size: 24px; line-height: 24px;">{{question.question}}</p>
                    <img class="estimateImg" src="img/leaf.png">
                </div>
            </div>
            <div class="estimateList">
                <!--<ul class="list">
                    <li  ng-class="{'answerActive': key == selected}" ng-click="select(key, question.id, value.value)" class="item item-body" ng-repeat="(key, value) in question.answers">
                        <span>{{key}}</span> 
                        {{value.text}}
                    </li>
                </ul>-->
                <ion-radio  class="radio" ng-value="value.value" ng-repeat="(key, value) in question.answers" ng-model="selectValue.value">
                    <span>{{key}}</span> 
                        {{value.text}}
                </ion-radio>
            </div>
            <div class="row" style="padding: 12px">
                 <button ng-if="nextButton == true" class="col button button-assertive" style="margin-right: 4px;" ng-click="back(question.id)">上一题</button>
			     <button class="col button button-positive" style="margin-left: 4px;" ng-click="next(question.id, selectValue.value)">继续</button>
		    </div>
        </div>
	</ion-content>
</ion-view>