<ion-view view-title="虎妈之家" ng-init="getHuMaList()">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
        <div class="list" style="background-color: #fff; border: none">
              <a nav-direction="forward" class="item" ng-class="{'item-thumbnail-left': post.have_thumbnail == 1}" ui-sref="app.postDetail({postId: post.id})" ng-repeat="post in humaLists">
                  <img ng-if="post.have_thumbnail == 1" ng-src="http://www.liunar.net/articles/thumbnails/{{post.id}}.png">
                  <div style="margin-left: {{post.have_thumbnail == 1 ? '36px' : '0px'}};">
                      <h4 style="display: block; font-size: 20px; overflow: visible; white-space: normal">{{post.title}}</h4>
                      <p style="font-size: 16px" ng-bind-html="post.description"></p>
                      <p class="dateInfo">
                          <span>{{post.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                          <span ng-if="post.view_count != 0">
                              <i style="margin-right:4px" class="icon ion-eye"></i>
                              {{post.view_count}}
                          </span>
                          <span ng-if="post.comment_count != 0">
                              <i style="margin-right:4px" class="icon ion-chatbox-working"></i>
                              {{post.comment_count}}
                          </span>
                      </p>
                  </div>
              </a>
        </div>
    </ion-content>
</ion-view>