<ion-view view-title="{{cate}}申请">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome()">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <!--<div >
            <img class = "schoolProductImg" src="img/universityHeader.jpg">
            <p class ="schoolProductP">加拿大大学<br>世界一流的大学<br>全球竞争力培养</p>
        </div>-->



        <div class="list">
         <div class="whiteBg noBorder item item-divider">留哪儿产品</div>
            <div class="list">
                <div class="liunarProductCards" ng-repeat="list in productLists">
                    <div class="item" style="background-image: url('http://www.liunar.net/products/{{list.id}}.png')">
                        <div>{{list.title}}</div>
                    </div>
                    <div class="item item-text-wrap">
                        <p style="font-size: 14px">{{list.description}}</p>
                        <h1 style="font-weight: bolder; font-size: 14px; color: #52baba">费用：{{list.price}}</h1>
                    </div>
                    <a class="item item-text-wrap" ui-sref="apply({pageTitle: cate+'申请', productId: list.id})">
                        一键申请    
                    </a>
                </div>
            </div>
            <!--<a class="item" href="#" ng-repeat="list in productLists">
                <img ng-src="http://www.liunar.net/products/{{list.id}}.png">
                <div class ="schoolBody1">
                    <h2>{{list.title}}</h2>
                    <p>{{list.description}}</p>
                    <p>费用: {{list.price}} 人民币</p>
                </div>
            </a>-->
        </div>

        <div class="list">
         <div class="whiteBg item item-divider">成功案例</div>
            <a class="item item-text-wrap" style="padding: 6px" ng-repeat="case in pastCases" ui-sref="app.pastCase({typeId: case.type, caseId: case.id})">
                <div class="row">
                    <div class="col col-25" style="text-align: center;">
                        <img class="full-image" ng-src="http://www.liunar.net/schools/{{case.school_id}}/1.png" check-image>
                    </div>
                    <div class ="col col-67 col-offset-10">
                        <h2>{{case.ch_name}}</h2>
                         <p><span style="font-weight:900;">学生</span>: {{case.name}}</p>
                        <p><span style="font-weight:900;">个人资料</span>: {{case.event}}</p>
                    </div>
                </div>
            </a>

        </div>
        <div>
            <div class="whiteBg item item-divider" style="position: relative">
                学校列表
                <a ui-sref="app.schoolRank({cateID: anchor})">
                    <span style="right: 4%; color: #d51f26; position: absolute">更多 <i class="icon ion-chevron-right"></i></span>
                </a>
            </div>
            <a nav-direction="forward" class="item" ui-sref="app.schoolStandard({schoolId: list.id})" ng-repeat="list in schools" style="background-color: #fff; padding:2px;">
                <div class="row">
                    <div class="col col-25" style="text-align: center; position: relative">
                        <div ng-if="list.national_rank != 999" style="position: absolute; top:0; left:0; background-color: #d51f26; color:#fff; width: 24px;">{{list.national_rank}}</div>
                        <img class="full-image" ng-src="http://www.liunar.net/schools/{{list.id}}/1.png" style="margin-top: 20px; margin-bottom: 5px; margin-bottom: 5px; margin-left:13px; display:block" check-image/>
                    </div>
                    <div class="col col-67 col-offset-10" style="text-overflow: ellipsis; width: 100%;">
                        <div class="list">
                            <h2 style="overflow: visible; white-space: normal">{{list.en_name}}</h2>
                            <p>{{list.ch_name}}</p>
                            <p style="display: block; height: 36px; white-space: pre-line; font-size: 12px">{{list.detail_info}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col col-25">
                        <button class="badgeBtn-outline"  style="color: #bdd53d; border-color: #bdd53d">{{list.city == null ? '温哥华' : list.city}}</button>
                    </div>
                    <div class="col col-offset-10" style="text-align: center">
                        <button class="badgeBtn-outline"
                                ng-if="list.isPublic === 0"
                                style="color: #888; border-color: #999">
                            暂无资料
                        </button>
                        <button
                                class="badgeBtn-outline"
                                ng-if="list.isPublic !== 0"
                                style="color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}; border-color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}">
                        {{list.isPublic == 1?'公校':'私校'}}
                        </button>
                    </div>
                    <div class="col col-offset-10">
                        <button class="badgeBtn-outline"  style="color: #0a556c; border-color: #0a556c">ESL</button>
                    </div> -->

                    <div class="col">
                        <button class="badgeBtn-outline"  style="color: #bdd53d; border-color: #bdd53d;">{{list.city == null ? '温哥华' : list.city}}</button>
                    </div>
                    <div class="col" style="text-align: center">
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic == 0"
                                style="color: #888; border-color: #999">
                            暂无资料
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic != 0"
                                style="color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}; border-color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}">
                        {{list.isPublic == 1?'公校':'私校'}}
                        </button>
                <!--  <button class="badgeBtn-outline" 
                              ng-if="list.type == 1"
                                style=" margin-left: 70px; padding:0; color: #888; border-color: #999">
                           教育部认证
                        </button> -->
                        <button class="badgeBtn-outline" 
                                ng-if="list.type == 2"
                                style="margin-left: 100px; width:100px; color: #888; border-color: #999">
                            移民
                        </button>

                    </div>

                    <div class="col">
                      <button class="badgeBtn-outline" ng-if="list.type == 4"  style="color: #0a556c; border-color: #a556c">ESL</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != null && list.ap_ib != 3 && list.ap_ib != 0"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 1?'有AP':'有IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != 1 && list.ap_ib != 2 && list.ap_ib != null"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 0?'无AP/IB':'有AP/IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib == null"  style="color: #0a556c; border-color: #0a556c">有AP/IB</button>
                    </div>
                </div>
            </a>
        </div>
        <div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿——最聪明的留学</h3>
                    <img src="img/liunarLogo.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>