<ion-view view-title="留哪儿" hide-nav-bar="shouldHide">
  <ion-nav-title>
      <h1 class="title">
          <img class="title-image" src="img/liunarLogo.png"  height="32"/>留哪儿
      </h1>
  </ion-nav-title>
  <ion-content ng-init="getPosts()" on-scroll="headerBarControll()">
      <ion-slide-box style="height: 240px; min-height: 40vh" on-slide-change="slideChanged(index)" auto-play="true" slide-interval="2000" does-continue="true">
          <!--should using ng-repeat in the future-->
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideOne.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideTwo.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideThree.jpg')">
            </ion-slide>
      </ion-slide-box>
      <!--<div ng-include src="'templates/agencyCard.html'">
      </div>-->
      <div class="list card fullWidthCardMenu">
          <div class="row" style="">
              <a class="col homeMenuItem" ui-sref="app.estimate()">
                  <img src="img/lxpg.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">留学评估</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 3})">
                  <img src="img/dllx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">低龄留学</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 2})">
                  <img src="img/tsyx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">特色院校</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 1})">
                  <img src="img/zmdx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">知名大学</p>
              </a>
          </div>
          <div class="row" style="">
              <a class="col homeMenuItem" ui-sref="app.summerCamps()" nav-direction="forward">
                  <img src="img/hwyx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">海外游学</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.gongLue()">
                  <img src="img/lntt.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">留哪头条</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.QandA()" nav-direction="forward">
                  <img src="img/zjdy.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">专家答疑</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.huMa()">
                  <img src="img/hmzj.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">虎妈之家</p>
              </a>
          </div>
   	  </div>
      
      <!--成功案例-->
      <!--<div class="list card fullWidthCard" id="gongLue">
          <div class="item item-avater item-text-wrap" style="background-color: #fff; border: none">
              <h3><i class="icon ion-star"></i> 加国攻略</h3>
          </div>
          <div class="item item-text-wrap" style="background-color: #fff; border: none">
              <div class="row">
                  <a class="col col-67 imageContainer" style="background-image: url('http://mmbiz.qpic.cn/mmbiz/7PDoa5HnMEB9JYQpT4HcEN0pILBBkaia4zf05vYgKvhh9Pz42iaQtDSg1zuFnHiauseTp3Nd96jbVuwbGs6CqeBbA/640?wx_fmt=jpeg&wxfrom=5');" ui-sref="app.indexPostDetail({placeHolderId: 1})">
                      <div class="homeImageDescription">
                        <p>MIT妈妈孙红丹女士讲座全程实录-干货极多，值得收藏</p>
                      </div>
                  </a>
                  <a class="col col-33 imageContainer" style="background-image: url('http://i.china30s.com/uploads/2013/11/freda1-560x405.jpg');" ui-sref="app.indexPostDetail({placeHolderId: 2})">
                      <div class="homeImageDescription">
                        <p>三明治妈妈访谈：“偏执”妈妈Freda和三个儿子</p>
                      </div>
                  </a>
              </div>
              <div class="row">
                  <a class="col imageContainer" style="background-image: url('http://www.zmnedu.com/uploads/allimg/111118/33200-11111Q15P3103.jpg');" ui-sref="app.indexPostDetail({placeHolderId: 3})">
                      <div class="homeImageDescription">
                          <p>满分访谈：耶鲁妈妈畅谈教育心得</p>
                      </div>
                  </a>
                  <div class="col imageContainer" style="background-image: url({{base_url + postsPanel5[4][0].path}}); " ui-sref="app.indexPostDetail({placeHolderId: 4})">
                      <div class="homeImageDescription">
                          <p>自闭症儿童母亲手记：生活更多是鸡零狗碎</p>
                      </div>
                  </div>
                  <a class="col imageContainer" style="background-color: rgb(241,164,49); text-align: center;">
                      <div class="vCenterBlock">
                          <i class="icon ion-plus" style="font-size: 32px; color:#fff;"></i>
                          <p style="font-weight: 500; margin-top: 12px; padding-left: 3px; padding-right: 3px; color: #fff; font-size: 0.9em">加入虎妈学堂</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>-->
      
      <div class="list card fullWidthCard" ng-init="getNewQuestions()">
          <div class="item item-avater item-text-wrap" style="background-color: #fff; border: none">
              <h3>
                  <i style="font-size: 32px; vertical-align: middle; color: #52baba" class="icon ion-help-circled"></i> 
                  专家答疑
                  <a ui-sref="app.QandAForm()"><button class="button button-calm" style="height: 32px; margin-left: 160px; vertical-align: middle">我要提问</button></a>
              </h3>
          </div>
          <div class="list" ng-repeat="newQuestion in questions">
            <!--Questions-->
            <div class="item">
                <div class="row">
                    <!--<div class="col col-20 QALikes">
                        <i class="icon ion-android-favorite-outline"></i> {{qDetail.good_question}}
                    </div>-->
                    <div class="col questionDetail">
                        <h3>{{newQuestion.title}}</h3>
                        <p>{{newQuestion.description}}</p>
                        <p class="questionNote"><!--{{qDetail.user.nickname}}｜-->{{newQuestion.create_time * 1000 | date:'yyyy-MM-dd'}}<!--｜<span><i class="icon ion-chatbox-working"></i>{{qDetail.answer_num}}</span>--></p>
                    </div>
                </div>
            </div>
            
            <!-- Answers -->
            <div class="item" ng-init="getQuestionDetail(newQuestion.id)" style="border-bottom: 1px solid rgb(221, 221, 221);">
                <div class="row questionAnswer" ng-repeat="answer in qDetail.answers" ng-show="qDetail.answers !== null">
                    <!--<div class="col col-20 QALikes">
                        <i class="icon ion-android-favorite-outline"></i>  {{answer.support}}
                    </div>-->
                    <div class="col answerDetail">
                        <!--<h3>{{answer.user.nickname}}:</h3>-->
                        <span ng-bind-html="answer.content"></span>
                        <!--<p class="commentButt">
                            <i class="icon ion-android-textsms" ng-click="addPerson(answer.user.nickname)"></i>
                        </p>-->
                    </div>
                </div>
                <div class="row questionAnswer" ng-show="qDetail.answers === null">
                    <span><p>这个问题暂时还没有答案。。。</p></span>
                </div>
            </div>
            </div>
          <!--<a ng-repeat="newQuestion in questions" ui-sref="app.QandADetail({questionId: newQuestion.id, order: 'create_time'})" class="item item-body questionItem">
                <h2>{{newQuestion.title}}</h2>
                <p>{{newQuestion.description}}</p>
                <p style="color: #d51f26">
                    {{newQuestion.user.nickname}}  
                    <span style="color: #666">{{newQuestion.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                </p>
          </a>-->
      </div>
      
      <!--<div class="card fullWidthCard" ng-click="scrollTop()">
          <div class="item item-avater" style="background-color: #fff; border: none">
              <h3><i class="icon ion-star"></i>专题活动</h3>
          </div>
          <div class="item item-body" style="background-color: #fff; border: none">
              <div class="homeImageContainer" style="background-image: url()"></div>
              <div style="clear: both;">
                  <p style="float: left"></p>
                  <p style="float: right"><a  nav-direction="forward">阅读更多...</a></p>
              </div>
          </div>
          <div class="item item-body" style="background-color: #fff; border: none">
              <div class="homeImageContainer" style="background-image: url()"></div>
              <div style="clear: both;">
                  <p style="float: left"></p>
                  <p style="float: right"><a>阅读更多...</a></p>
              </div>
          </div>
          <div class="item item-body" style="background-color: #fff; border: none">
              <div class="homeImageContainer" style="background-image: url()"></div>
              <div style="clear: both;">
                  <p style="float: left"></p>
                  <p style="float: right"><a>阅读更多...</a></p>
              </div>
          </div>
      </div>-->
      
      <div class="card fullWidthCard">
          <div class="item item-avater" style="background-color: #fff; border: none">
              <h3><i style="font-size: 32px; vertical-align: middle; color: #52baba" class="icon ion-stats-bars"></i> 热门帖子</h3>
          </div>
          <div ng-repeat="post in posts" class="list list-inset" style="background-color: #fff; border: none">
              <a nav-direction="forward" class="item item-thumbnail-left" ui-sref="app.postDetail({postId: post.id})">
                  <img ng-src="{{base_url+post.path}}">
                  <div style="margin-left: 36px;">
                      <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">{{post.title}}</h4>
                      <p>{{post.description}}</p>
                      <p class="dateInfo">
                          <span>{{post.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                          <span ng-if="post.view != 0">
                              <i style="margin-right:4px" class="icon ion-eye"></i>
                              {{post.view}}
                          </span>
                          <span ng-if="post.comment != 0">
                              <i style="margin-right:4px" class="icon ion-chatbox-working"></i>
                              {{post.comment}}
                          </span>
                      </p>
                      <p>作者：{{post.username}}</p>
                  </div>
              </a>    
          </div>
      </div>
  </ion-content>
</ion-view>
