<ion-view view-title="问题细节">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.QandAList({order: '{{order}}'})">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" ng-init="getQuestionDetail()">
        <div class="list">
            <!--Questions-->
            <div class="item">
                <div class="row">
                    <!--<div class="col col-20 QALikes">
                        <i class="icon ion-android-favorite-outline"></i> {{qDetail.good_question}}
                    </div>-->
                    <div class="col questionDetail">
                        <h3>{{qDetail.title}}</h3>
                        <p>{{qDetail.description}}</p>
                        <p class="questionNote"><!--{{qDetail.user.nickname}}｜-->{{qDetail.create_time * 1000 | date:'yyyy-MM-dd'}}<!--｜<span><i class="icon ion-chatbox-working"></i>{{qDetail.answer_num}}</span>--></p>
                    </div>
                </div>
            </div>
            
            <!-- Answers -->
            <div class="item">
                <div class="row questionAnswer" ng-repeat="answer in qDetail.answers" ng-show="qDetail.answers !== null">
                    <!--<div class="col col-20 QALikes">
                        <i class="icon ion-android-favorite-outline"></i>  {{answer.support}}
                    </div>-->
                    <div class="col answerDetail">
                        <!--<h3>{{answer.user.nickname}}:</h3>-->
                        <span ng-bind-html="answer.content"></span>
                        <!--<p class="commentButt">
                            <i class="icon ion-android-textsms" ng-click="addPerson(answer.user.nickname)"></i>
                        </p>-->
                    </div>
                </div>
                <div class="row questionAnswer" ng-show="qDetail.answers === null">
                    <span><p>这个问题暂时还没有答案。。。</p></span>
                </div>
            </div>
        </div>
    </ion-content>
    <!--<ion-footer-bar class="item-input-inset">
            <span ng-show="showPerson" class="commentPerson">@{{answerObj.commentPerson}}: </span>
            <label class="item-input-wrapper">
              <input type="text" ng-model="answerObj.content" placeholder="">
            </label>
            <button class="button button-small answerPostBtn" ng-click="postAnswer(answer)">
              回复
            </button>
    </ion-footer-bar>-->
</ion-view>