<ion-view view-title="{{listTitle}}" ng-init="getQuestionByOrder()">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.QandA()">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true">
            <div class="list">
                <a ui-sref="app.QandADetail({questionId:question.id, order: '{{order}}'})" class="item item-body questionItem" ng-repeat="question in questions">  
                    <h2>{{question.title}}</h2>
                    <p class="list questionContent" ng-bind-html="question.description">
                    </p>
                    <p style="color: #d51f26">
                        {{question.user.nickname}}  
                        <span style="color: #666">{{question.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                    </p>
                </a>
            </div>
            <ion-infinite-scroll on-infinite="loadMoreQuestions()" distance="5%"></ion-infinite-scroll>
    </ion-content>
</ion-view>