<ion-view view-title="{{school.en_name}}">
    <ion-nav-buttons>
        <a ui-sref="app.schoolStandard({schoolId: school.id})" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content scrollbar-y="false" overflow-scroll="ture" delegate-handle="schoolDetail">
       <ion-slide-box style="height: 180px; min-height: 30vh" on-slide-change="slideChanged(index)" auto-play="true" slide-interval="1500" does-continue="true">
          <!--should using ng-repeat in the future-->
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideOne.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideTwo.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideThree.jpg')">
            </ion-slide>
      </ion-slide-box>
    
        <div class="item row noBorder">
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'e'" ng-class="{'active': actived === 'e'}" el-scroll="detailInfo" delegate="schoolDetail" animate="true">详情</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'f'" ng-class="{'active': actived === 'f'}" el-scroll="fee" delegate="schoolDetail" animate="true">费用</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'g'" ng-class="{'active': actived === 'g'}" el-scroll="core" delegate="schoolDetail" animate="true">专业</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'h'" ng-class="{'active': actived === 'h'}" el-scroll="special" delegate="schoolDetail" animate="true">特色</a>
        </div>
      
        <div id="detailInfo" class="item item-body" style="border-top: none; padding-left: 24px; padding-right: 24px">
            <h2>详细信息：</h2>
            <p>{{school.detail_info}}</p>
        </div>
      
        <div id="fee" class="item item-body" style="margin-top: 24px; padding-left: 24px; padding-right: 24px">
            <h2 class="noMargin">费用：</h2>
            <div class="row noPadding" style="margin-top: 12px;">
                <div class="col col-33 noPadding">
                    <p class="noMargin">申请费用：</p>
                </div>
                <div class="col noPadding">
                    <p class="noMargin">{{school.apply_fee}}</p>
                </div>
            </div>
            <div class="row noPadding" style="margin-top: 12px;">
                <div class="col col-33 noPadding">
                    <p class="noMargin">学费：</p>
                </div>
                <div class="col noPadding">
                    <p class="noMargin">{{school.tuition}}</p>
                </div>
            </div>
        </div>
        
        <div id="core" class="item item-body" style="margin-top: 24px; padding-left: 24px; padding-right: 24px">
            <h2 class="noMargin">专业项目：</h2>
            <p>{{school.core_courses}}</p>
        </div>
        
        <div id="special" class="item item-body" style="margin-top: 24px; padding-left: 24px; padding-right: 24px">
            <h2 class="noMargin">特色项目：</h2>
            <p>{{school.specialty_courses}}</p>
        </div>
      
    </ion-content>
    <a ui-sref="apply({pageTitle: 'schoolMore: '+school.en_name, productId:school.id})">
        <ion-footer-bar style="background-color: #d51f26;">
          <p class="vCenterBlock centerMargin" style="color:#fff; font-size: 18px;">一键申请</p>
        </ion-footer-bar>
    </a>
</ion-view>