<ion-view view-title="{{school.title}}">
  <ion-nav-buttons>
        <a ui-sref="app.summerCamps" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
    
  <ion-content scrollbar-y="false" scroll="true">
    <div class="item schoolContentCard">
        <img width="100%" ng-src="{{base_url + school.logo}}">
        <div>
            <h3 style="display: block; font-size: 16px; overflow: visible; white-space: normal">{{school.title}}</h3>
            <h4>{{school.subtitle}}</h4>
        </div>
    </div>
      
    <div class="item item-body schoolContentCard">
        <h2>产品介绍：</h2>
        <img class="full-image" ng-src="{{base_url + school.image}}">
        <p>{{school.school_environment}}</p>
    </div>
      
    <div class="item item-body schoolContentCard">
        <h2>基本信息：</h2>
        <div class="row">
            <div class="col">
                行期
            </div>
            <div class="col">
                 {{school.travel_dates}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                适合人群
            </div>
            <div class="col">
                {{school.age_range}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                接送机场
            </div>
            <div class="col">
                 {{school.airport}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                住宿
            </div>
            <div class="col">
                 {{school.living_info}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                价格
            </div>
            <div class="col col-75">
                {{school.price}}
            </div>
        </div>
    </div>
    
    <div class="item item-body schoolContentCard">
        <h2>详细信息：</h2>
        <div class="row">
            <div class="col" style="padding: 10px; border: none;" ng-bind-html="detail"></div>
        </div>
    </div>
      
    <div class="item item-body schoolContentCard">
        <h2>行程信息：</h2>
        <div class="row">
            <div class="col" style="padding: 10px; border: none;" ng-bind-html="daily"></div>
        </div>
    </div>
    
  </ion-content>
</ion-view>
