<ion-view view-title="留哪发现">
  <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" ng-init="getAllStream()">

        <div class="list" style = "background-color: #fff; border:none">
           <a href="{{post.channel == '3' ? urlQuestion + post.id : urlPostDetail + post.id}}" ng-repeat="post in stream" nav-direction="forward" class="item">
              <img ng-if="post.thumbnail == '1'" ng-src = "http://www.liunar.net/stream/thumbnails/{{post.id}}.png">
              <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">{{post.title}}</h4>
              <p style = " font-size: 16px" ng-bind-html="post.description"></p>
              <p class="dateInfo">
                  <span>{{post.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
              </p>
              <p style="color: #d51f26 ">{{tags[post.channel]}}</p>
            </a>
            
        </div>

             <ion-infinite-scroll spinner="bubbles" on-infinite="getMoreStream()" distance="3%"></ion-infinite-scroll>
    </ion-content>
</ion-view>













    