<div class="item profileItem" ng-controller="userController">
    <img ng-src="{{userInfo.headimgurl}}" class="profileAvater"/>
    <h2>{{userInfo.nickname}}</h2>
    <p>{{userInfo.sex == 1 ? '男' : '女'}}</p>
</div>
      
<div class="item profileItem">
    <h3>我的提问：</h3>
</div>
      
<div class="item profileItem">
    <h3>我的关注：</h3>
</div>
      
<a ng-click="logout()" nav-direction="back">
    <button style="position: absoulute; bottom: 0; left: 0;"class="bar-footer button button-full button-calm">登出</button>
</a>