<div class="item profileItem">
    <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0933bfa899eedcaf&redirect_uri=http%3A%2F%2Fwww.liunar.net%2F%23%2Fapp%2FuserCenter&response_type=code&scope=snsapi_userinfo#wechat_redirect">
        <img src="img/wechatIcon.png" width="50px"/>
        <h3>
            微信登录
        </h3>
    </a>
</div>
      
<!--<div class="item profileItem">
    <h3>我的提问：</h3>
</div>
      
<div class="item profileItem">
    <h3>我的关注：</h3>
</div>-->