<ion-view view-title="用户登录">
  <ion-nav-buttons side="primary">
      <a ui-sref="app.mainHome()" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
      </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
        <a ui-sref="userSignup()">  
            <button class="button button-clear" ng-click="" style="font-size: 16px;">新用户</button>
        </a>
  </ion-nav-buttons>
  <ion-content scroll="true" overflow-scroll="true">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="用户名" ng-model="loginObj.username">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="密码" ng-model="loginObj.password">
          </label>
        </div>
        <div class="">
            <a ui-sref="app.userCenter()" ng-click="login()">
                <button class="button button-full button-calm centerMargin" style="width: 65%; margin-left: 17.5%">登陆</button>
            </a>
        </div>
        <div class="row">
            <div class="col spanNoteCenter">
                用其他社交网络登录
            </div>
        </div>
        <div class="row textCenter">
            <div class="col">
                <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0933bfa899eedcaf&redirect_uri=http%3A%2F%2Fwww.liunar.net%2F%23%2FuserLogin&response_type=code&scope=snsapi_userinfo#wechat_redirect"><img width="20%" src="img/wechatIcon.png"/></a>
                <!--<img width="20%" src="img/wechatIcon.png" wechat-login/>-->
            </div>
            <div class="col">
                <img id="weiboLogin" width="20%" src="img/weiboIcon.png" weibo-login/>
            </div>
        </div>
        <!--<div id="wechatLogin" class="item" style="text-align: center"></div>-->
  </ion-content>
</ion-view>