<div class="group-card">
<h2>团长 <%= prd.nickname %>: </h2>

<% for(var i=0; i<prd.avatars.length; i++) {%>
<img src="<%= prd.avatars[i].avatar %>" class="avatar avatar<%=i%>" >
<% } %>
<span></span>
<p style="margin:0px 10px;">
"<%= prd.currentCount %>人已加入, 还有<%= prd.spaces_left %>个位置， 你还在等什么"
</p>
</div>