<div class="headerBar">
    <button class="navButton" >
        <a href="<%= backurl %>">
            <i class="fa fa-angle-left"></i>
            Back
        </a>
    </button>
    <h1 class="title" style="left: 73px; right: 73px;">
        <%= head_title ? head_title : '' %>
    </h1>
</div>