<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="robots" content="index, nofollow" />
<meta name="googlebot" content="index, nofollow" />
<meta name="baiduspider" content="index, nofollow, noarchive" />
<link rel="icon" href="/img/favicon.ico?v=3" type="image/x-icon">
<link href="/public/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="/public/css/global.css" rel="stylesheet"/>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" defer></script>