<!DOCTYPE html>
<html>
    <head>
        <title>留哪儿-匠心，良心，教育初心！</title>
        <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
        <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
        <meta name="author" content="Canbest">
        <% include ../d_partials/head %>
        <style>
            .parent {
                display: table;
            }

            .child {
                display: table-cell;
                vertical-align: middle;
            }

            .timeline-col{
                border-right: 3px solid #3b5998;
                color: #3b5998;
            }
        </style>
    </head>
    <body style="background-color: #f2f2f2">
        <% var active_nav="feedback" %>
        <% include ../d_partials/nav %>
        <div class="container mt-3">
        <!--repeat-->
        <% for(var i = 0; i < streams.length; i++){ %>
            <div class="row">
                <div class="col-3 timeline-col p-3">
                    <div class="parent" style="height: 100%; width: 100%;">
                        <h5 class="text-center m-0 child">
                            <%= streams[i].date %>
                            <i class="fa fa-circle float-right" style="margin-right: -1.30em;"></i>
                        </h5>
                    </div>
                </div>
                <div class="offset-1 col-8 p-3">
                    <a class="card" href="http://www.liunar.com/feedback/<%= streams[i].id %>">
                        <div class="card-block">
                            <h4 class="card-title" style="color: #3b5998">
                                <%= streams[i].title %>
                            </h4>
                            <p class="card-text">
                                <%= streams[i].description %>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        <% } %>
        <!--end of repeat -->
        </div>
        <% include ../d_partials/footer %>
    </body>
</html>    