<!DOCTYPE html>
<html>
    <head>
        <title><%= feed.title %></title>
        <meta name="description" content="<%= feed.description %>">
        <meta name="keywords" content="留哪儿">
        <link href="/public/css/article.css?v=3" rel="stylesheet"/>
        <% include ../partials/head %>
        <script src="http://www.liunar.com/public/js/article.js?v=134"></script>
          
    </head>
    <body>
        <div class="view-container">
            <div class="pane">
                <div class="content-container no-footer no-header p-b-0">
                    <div class="content">
                        <h1 class="article-head">
                            <%= feed.title %>
                        </h1>
                        <p class="article-head-note">
                            <span><%= feed.date %></span>
                            <a href="http://www.liunar.com/feedback" style="color: #3E606F; font-weight: bold;">学生感言</a>
                        </p>
                        <div class="article-detail" style="overflow: auto; max-height: auto">
                            <% var feedWell = feed.details.replace(/\\n/g,'<br>').replace(/\\r/g,"").replace(/\\t/g,"") %>
                            <%- feedWell %>
                        </div>
                        <div class="item fullscreen">
                            <img src="/img/qr3.jpg" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img ng-src="{{anaImg}}" style="display:none"/>
        <% include ../partials/footScript %>
        <script src="/public/js/localstorage.js"></script> 
    </body>
</html>
