<!DOCTYPE html>
<html>
<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU"></script>
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../../d_partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/js/school.js?v=5181"></script>
    <script src="/public/lib/masonry.min.js"></script>

<style type="text/css">
      .us_school_detail_content_box{
            font-family:'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
            word-wrap: break-word;
            width: 46%; /* leave 2% for masonry gutter*/
            margin: 0 2%;
        }
                .grid {
            width: 70%;
            margin: 0 auto;
        }
        body p{
            font-size: 16px;
            color: #2F4F4F;
        }
        #cover{
            width:100%;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }
        .content-container{
            background-color: #f2f2f2;
        }
        .contentTitle{
            text-align: center;
            margin-bottom: 50px;
            font-size: 50px;
        }
        .text-title{
            padding: 0 0 0 9px;
            margin-bottom: 8px;
            text-align: left;
            font-size: 18px;
            font-weight: bold;
            color: #3b5998;
            border-left: 6px #3b5998 solid; 
        }
        .text-content{
            background-color: white;
            padding:0 30px;
            margin-bottom: 20px;
            border-radius: 3px;
            border: 1px #e6e6e6 solid;
        }
        .middle{
            text-align: center;
        }
        .text-right{
            text-align: right;
        }
        span.entryStats, span.stdStats, span.fees, span.rankingV{
          font-size: 20px;
        }
    </style>
    <script>
        $(document).ready(function($){
            $('.grid').masonry({
              itemSelector: '.us_school_detail_content_box',
              percentPosition: true
          });
        });
    </script>
</head>
<body>
    <% var active_nav="school" %>
    <% include ../../d_partials/nav %>
    <div class="row bg-white sticky-top">
        <div class="col">
            <div class="container p-3">
                <div class="row" style="max-height: 135px;">
                    <div class="col-6 text-right" style="overflow:hidden">
                        <img src="http://www.liunar.com/schools/world/pictures/<%= school.tag %>-logo.jpg" style="max-height: 120px; width: auto;" check-image replacesrc="/img/school-default.png"/>
                    </div>
                    <div class="col-6">
                        <h5><%= school.en_name %></h5>
                        <h6><%= school.ch_name %></h6>                             
                        <% school.rank = Math.min(parseInt(school.qs || 999), parseInt(school.arwu || 999),parseInt(school.usnews || 999), parseInt(school.times || 999))  %>
                        <button class="btn btn-outline-warning btn-sm" disabled style="cursor: inherit">
                            综合排名：<%= school.rank %>
                        </button>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <iframe style="display:none" src="http://www.liunar.com"></iframe>
    <div class="view-container">
        <div class="pane">
            <div class="content-container no-header no-footer" style=" padding-top:40px;">
                <% if (!err) { %>
                <div class="box">

                    <div class="grid">
                     <div class="us_school_detail_content_box">
                       <div class="text-title">介绍</div>
                       <img id="cover" src="http://www.liunar.com/schools/world/pictures/<%= school.tag %>-cover.jpg">

                       <div class="text-content">
                           <p> <%- school.intro %> </p> 
                       </div>
                   </div>
                   <div class="us_school_detail_content_box">
                       <div class="text-title">
                       排行榜
                       </div>
                       <div class="text-content">
                      <%if(school.usnews_global ){ %>
                      <p>USNews全球排行榜：<span class="rankingV"><%= school.usnews_global %></span></p>
                       <% } %>
                        <%if( school.qs ){ %>
                       <p>QS全球排行榜：<span class="rankingV"><%= school.qs %></span></p>
                       <% } %>
                        <%if( school.arwu ){ %>
                       <p>ARWU全球排行榜：<span class="rankingV"><%= school.arwu %></span></p>
                       <% } %>
                        <%if( school.usnews){ %>
                       <p>USNews美国排行榜：<span class="rankingV"><%= school.usnews %></span></p>
                       <% } %>
                        <%if( school.usnews_school_law ){ %>
                       <p>USNews美国法律院校排行榜：<span class="rankingV"><%= school.usnews_school_law %></span></p>
                       <% } %>
                        <%if( school.usnews_school_medical_research ){ %>
                       <p>USNews美国医研院校排行榜：<span class="rankingV"><%= school.usnews_school_medical_research %></span></p>
                       <% } %>
                        <%if( school.usnews_school_medical_primary_care ){ %>
                       <p>USNews美国医学医疗院校排行榜：<span class="rankingV"><%= school.usnews_school_medical_primary_care %></span></p>
                       <% } %>
                       <%if( school.usnews_school_business ){ %>
                       <p>USNews美国商科院校排行榜：<span class="rankingV"><%= school.usnews_school_business %></span></p>
                       <% } %>
                       <%if( school.usnews_school_engineering ){ %>
                       <p>USNews美国工程院校排行榜：<span class="rankingV"><%= school.usnews_school_engineering %></span></p>
                       <% } %>
                       <%if( school.usnews_school_fine_arts ){ %>
                       <p>USNews美国美术院校排行榜：<span class="rankingV"><%= school.usnews_school_fine_arts %></span></p>
                       <% } %>
                       <%if( school.usnews_liberal_arts_college ){ %>
                       <p>USNews美国文科院校排行榜：<span class="rankingV"><%= school.usnews_liberal_arts_college %></span></p>
                       <% } %>
                       <%if( school.cn_china15 ){ %>
                       <p>中国综合排行榜<span class="rankingV"><%= school.cn_china15 %></span></p>
                       <% } %>
                       <%if( school.cn_shifanlei15 ){ %>
                       <p>中国师范大学排行榜：<span class="rankingV"><%= school.cn_shifanlei15 %></span></p>
                       <% } %>
                       <%if( school.cn_ligonglei15 ){ %>
                       <p>中国理工类排行榜：<span class="rankingV"><%= school.cn_ligonglei15 %></span></p>
                       <% } %>
                       </div>
                   </div>

                    <div class="us_school_detail_content_box">
                       <div class="text-title">
                       学习费用
                       </div>
                       <div class="text-content">
                         <%if( school.foreignGeneralTuition ){ %>
                       <p>学费(州外)：<span class="fees"><%= school.foreignGeneralTuition %></span></p>
                       <% } %>
                       <%if( school.foreignTextBooksTuition ){ %>
                       <p>课本费(州外)：<span class="fees"><%= school.foreignTextBooksTuition %></span></p>
                       <% } %>
                       <%if( school.foreignTotalTuition ){ %>
                       <p>总学费(州外)：<span class="fees"><%= school.foreignTotalTuition %></span></p>
                       <% } %>
                       <%if( school.instateGeneralTuition ){ %>
                       <p>学费(本地)：<span class="fees"><%= school.instateGeneralTuition %></span></p>
                       <% } %>
                       <%if( school.instateTextBooksTuition ){ %>
                       <p>课本费(本地)：<span class="fees"><%= school.instateTextBooksTuition %></span></p>
                       <% } %>
                       <%if( school.instateTotalTuition ){ %>
                       <p>总学费(本地)：<span class="fees"><%= school.instateTotalTuition %></span></p>
                       <% } %>
                   </div>
                   </div>
                    <div class="us_school_detail_content_box">
                       <div class="text-title">
                       院校
                       </div>
                       <div class="text-content">
                         <%if( school.isPublic ){ %>
                       <p>公立/私立：<span class="campus"><%= school.isPublic %></span></p>
                       <% } %>
                          <%if( school.location ){ %>
                       <p>校园位置：<span class="campus"><%= school.location %></span></p>
                       <% } %>
                          <%if( school.areaDescription ){ %>
                       <p>地理位置：<span class="campus"><%= school.areaDescription %></span></p>
                       <% } %>
                          <%if( school.campus ){ %>
                       <p>校园：<span class="campus"><%= school.campus %></span></p>
                       <% } %>
                          <%if( school.dorms ){ %>
                       <p>宿舍：<span class="campus"><%= school.dorms %></span></p>
                       <% } %>
                   </div>
               </div>
               <div class="us_school_detail_content_box">
                       <div class="text-title">
                       入学统计
                       </div>
                       <div class="text-content">
                         <%if( school.entryDifficulty ){ %>
                       <p>录取难度：<span class="entryStats"><%= school.entryDifficulty %></span></p>
                       <% } %>
                       <%if( school.admissionRate ){ %>
                       <p>录取率：<span class="entryStats"><%= school.admissionRate %></span></p>
                       <% } %>
                       <%if( school.admitAndBegin ){ %>
                       <p>录取后入学比例：<span class="entryStats"><%= school.admitAndBegin %></span></p>
                       <% } %>
                       <%if( school.top50GradApplyRatio ){ %>
                       <p>申请者高中成绩前50%比例：<span class="entryStats"><%= school.top50GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.top25GradApplyRatio ){ %>
                       <p>申请者高中成绩前25%比例：<span class="entryStats"><%= school.top25GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.top10GradApplyRatio ){ %>
                       <p>申请者高中成绩前10%比例：<span class="entryStats"><%= school.top10GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.scoreSat ){ %>
                       <p>SAT语言：<span class="entryStats"><%= school.scoreSat %></span></p>
                       <% } %>
                       <%if( school.satMath ){ %>
                       <p>SAT数学：<span class="entryStats"><%= school.satMath %></span></p>
                       <% } %>
                       <%if( school.satWriting ){ %>
                       <p>SAT写作：<span class="entryStats"><%= school.satWriting %></span></p>
                       <% } %>
                       <%if( school.satOverall ){ %>
                       <p>ACT综合：<span class="entryStats"><%= school.satOverall %></span></p>
                       <% } %>
                       <%if( school.actEnglish ){ %>
                       <p>ACT英语：<span class="entryStats"><%= school.actEnglish %></span></p>
                       <% } %>
                       <%if( school.actMath ){ %>
                       <p>ACT数学：<span class="entryStats"><%= school.actMath %></span></p>
                       <% } %>
                       <%if( school.actWriting ){ %>
                       <p>ACT写作：<span class="entryStats"><%= school.actWriting %></span></p>
                       <% } %>
                   </div>
               </div>
                 <div class="us_school_detail_content_box">
                       <div class="text-title">
                       学生统计
                       </div>
                       <div class="text-content">
                         <%if( school.foreignRatio ){ %>
                       <p>州外学生比例：<span class="stdStats"><%= school.foreignRatio %></span></p>
                       <% } %>
                         <%if( school.undergradCount ){ %>
                       <p>本科生数量：<span class="stdStats"><%= school.undergradCount %></span></p>
                       <% } %>
                        <%if( school.gradCount ){ %>
                       <p>研究生数量：<span class="stdStats"><%= school.gradCount %></span></p>
                       <% } %>
                        <%if( school.clubsCount ){ %>
                       <p>学生组织数量：<span class="stdStats"><%= school.clubsCount %></span></p>
                       <% } %>
                        <%if( school.hispanicRatio ){ %>
                       <p>拉丁美洲人比例：<span class="stdStats"><%= school.hispanicRatio %></span></p>
                       <% } %>
                        <%if( school.blackRatio ){ %>
                       <p>黑人比例：<span class="stdStats"><%= school.blackRatio %></span></p>
                       <% } %>
                        <%if( school.whiteRatio ){ %>
                       <p>白人比例：<span class="stdStats"><%= school.whiteRatio %></span></p>
                       <% } %>
                        <%if( school.asianRatio ){ %>
                       <p>亚洲人比例：<span class="stdStats"><%= school.asianRatio %></span></p>
                       <% } %>
                   </div>
               </div>
               <% } %>
           </div>
       </div>
   </div>
   <% include ../../partials/footScript %>     
</body>

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?744edc12315468ba7f6a9ce159e6d177";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>
