<!DOCTYPE html>
<html ng-app="school">

<head>
    <title><%= school.ch_name %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU"></script>
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../../partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js?v=5181"></script>
    <style type="text/css">
            span.entryStats, span.stdStats, span.fees, span.rankingV{
          font-size: 18px;
        }
        </style>
</head>
<body>
    <div class="view-container" ng-controller="schoolDetail">
        <div class="pane" style="background-color: #e9e9e9">
            <%# var head_title = school.ch_name %>
            <%# include ../partials/headerBar %>
            <div class="content-container no-header" ng-init="initShare('<%= school.ch_name %>', 'http://www.liunar.com/schools/world/pictures/<%= school.tag %>-logo.jpg', '<%= school.intro %>')">
                <div class="content">
                    <!-- school_head -->
                    <div class="px-24 py-12 item school-head fullscreen position-relative" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://www.liunar.com/schools/world/pictures/<%= school.tag %>-cover.jpg')">            
                        <div class="row">
                            <div class="col-28">
                                <img src="http://www.liunar.com/schools/world/pictures/<%= school.tag %>-logo.jpg"  check-image replacesrc="/img/school-default.png" class="full-image"/>
                            </div>
                            <div class="col no-padding-y pl-12">
                                <h3 class="no-margin-top no-margin-bottom">
                                    <%= school.en_name %>
                                </h3>
                                <p style="margin-top: 6px; font-size: 16px">
                                    <%= school.ch_name %>
                                </p>
                                <% school.rank = Math.min(parseInt(school.qs || 999), parseInt(school.arwu || 999),parseInt(school.usnews || 999), parseInt(school.times || 999))  %>
                                <div class="row wrapBox">
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        <%= school.country %>
                                    </button>
                                    <% if (school.location !== ""){ %> 
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        <%= school.location %>
                                    </button>
                                    <% } %>
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        综合排名：<%= school.rank %>
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--end school_head -->
                    <!--school_cards-->

                        <div class="item fullscreen white-bg px-12 py-12">
                            <h4>学校详情：</h4>
                            <p><%= school.intro %></p>
                        </div>
                        <div class="item fullscreen mt-18 white-bg px-12 py-12">
                            <h4>排行榜:</h4>
                         <%if(school.usnews_global ){ %>
                      <p>USNews全球排行榜：<span class="rankingV"><%= school.usnews_global %></span></p>
                       <% } %>
                        <%if( school.qs ){ %>
                       <p>QS全球排行榜：<span class="rankingV"><%= school.qs %></span></p>
                       <% } %>
                        <%if( school.arwu ){ %>
                       <p>ARWU全球排行榜：<span class="rankingV"><%= school.arwu %></span></p>
                       <% } %>
                        <%if( school.usnews){ %>
                       <p>USNews美国排行榜：<span class="rankingV"><%= school.usnews %></span></p>
                       <% } %>
                        <%if( school.usnews_school_law ){ %>
                       <p>USNews美国法律院校排行榜：<span class="rankingV"><%= school.usnews_school_law %></span></p>
                       <% } %>
                        <%if( school.usnews_school_medical_research ){ %>
                       <p>USNews美国医研院校排行榜：<span class="rankingV"><%= school.usnews_school_medical_research %></span></p>
                       <% } %>
                        <%if( school.usnews_school_medical_primary_care ){ %>
                       <p>USNews美国医学医疗院校排行榜：<span class="rankingV"><%= school.usnews_school_medical_primary_care %></span></p>
                       <% } %>
                       <%if( school.usnews_school_business ){ %>
                       <p>USNews美国商科院校排行榜：<span class="rankingV"><%= school.usnews_school_business %></span></p>
                       <% } %>
                       <%if( school.usnews_school_engineering ){ %>
                       <p>USNews美国工程院校排行榜：<span class="rankingV"><%= school.usnews_school_engineering %></span></p>
                       <% } %>
                       <%if( school.usnews_school_fine_arts ){ %>
                       <p>USNews美国美术院校排行榜：<span class="rankingV"><%= school.usnews_school_fine_arts %></span></p>
                       <% } %>
                       <%if( school.usnews_liberal_arts_college ){ %>
                       <p>USNews美国文科院校排行榜：<span class="rankingV"><%= school.usnews_liberal_arts_college %></span></p>
                       <% } %>
                       <%if( school.cn_china15 ){ %>
                       <p>中国综合排行榜<span class="rankingV"><%= school.cn_china15 %></span></p>
                       <% } %>
                       <%if( school.cn_shifanlei15 ){ %>
                       <p>中国师范大学排行榜：<span class="rankingV"><%= school.cn_shifanlei15 %></span></p>
                       <% } %>
                       <%if( school.cn_ligonglei15 ){ %>
                       <p>中国理工类排行榜：<span class="rankingV"><%= school.cn_ligonglei15 %></span></p>
                       <% } %>
                        </div>
                        <div class="item fullscreen mt-18 white-bg px-12 py-12">
                            <h4> 学习费用:</h4>
                       <%if( school.foreignGeneralTuition ){ %>
                       <p>学费(州外)：<span class="fees"><%= school.foreignGeneralTuition %></span></p>
                       <% } %>
                       <%if( school.foreignTextBooksTuition ){ %>
                       <p>课本费(州外)：<span class="fees"><%= school.foreignTextBooksTuition %></span></p>
                       <% } %>
                       <%if( school.foreignTotalTuition ){ %>
                       <p>总学费(州外)：<span class="fees"><%= school.foreignTotalTuition %></span></p>
                       <% } %>
                       <%if( school.instateGeneralTuition ){ %>
                       <p>学费(本地)：<span class="fees"><%= school.instateGeneralTuition %></span></p>
                       <% } %>
                       <%if( school.instateTextBooksTuition ){ %>
                       <p>课本费(本地)：<span class="fees"><%= school.instateTextBooksTuition %></span></p>
                       <% } %>
                       <%if( school.instateTotalTuition ){ %>
                       <p>总学费(本地)：<span class="fees"><%= school.instateTotalTuition %></span></p>
                       <% } %>
                        </div>
                        <div class="item fullscreen mt-18 white-bg px-12 py-12">
                            <h4> 院校:</h4>
                           <%if( school.isPublic ){ %>
                       <p>公立/私立：<span class="campus"><%= school.isPublic %></span></p>
                       <% } %>
                          <%if( school.location ){ %>
                       <p>校园位置：<span class="campus"><%= school.location %></span></p>
                       <% } %>
                          <%if( school.areaDescription ){ %>
                       <p>地理位置：<span class="campus"><%= school.areaDescription %></span></p>
                       <% } %>
                          <%if( school.campus ){ %>
                       <p>校园：<span class="campus"><%= school.campus %></span></p>
                       <% } %>
                          <%if( school.dorms ){ %>
                       <p>宿舍：<span class="campus"><%= school.dorms %></span></p>
                       <% } %>
                        </div>
                        <div class="item fullscreen mt-18 white-bg px-12 py-12">
                            <h4> 入学统计:</h4>
                             <%if( school.entryDifficulty ){ %>
                       <p>录取难度：<span class="entryStats"><%= school.entryDifficulty %></span></p>
                       <% } %>
                       <%if( school.admissionRate ){ %>
                       <p>录取率：<span class="entryStats"><%= school.admissionRate %></span></p>
                       <% } %>
                       <%if( school.admitAndBegin ){ %>
                       <p>录取后入学比例：<span class="entryStats"><%= school.admitAndBegin %></span></p>
                       <% } %>
                       <%if( school.top50GradApplyRatio ){ %>
                       <p>申请者高中成绩前50%比例：<span class="entryStats"><%= school.top50GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.top25GradApplyRatio ){ %>
                       <p>申请者高中成绩前25%比例：<span class="entryStats"><%= school.top25GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.top10GradApplyRatio ){ %>
                       <p>申请者高中成绩前10%比例：<span class="entryStats"><%= school.top10GradApplyRatio %></span></p>
                       <% } %>
                       <%if( school.scoreSat ){ %>
                       <p>SAT语言：<span class="entryStats"><%= school.scoreSat %></span></p>
                       <% } %>
                       <%if( school.satMath ){ %>
                       <p>SAT数学：<span class="entryStats"><%= school.satMath %></span></p>
                       <% } %>
                       <%if( school.satWriting ){ %>
                       <p>SAT写作：<span class="entryStats"><%= school.satWriting %></span></p>
                       <% } %>
                       <%if( school.satOverall ){ %>
                       <p>ACT综合：<span class="entryStats"><%= school.satOverall %></span></p>
                       <% } %>
                       <%if( school.actEnglish ){ %>
                       <p>ACT英语：<span class="entryStats"><%= school.actEnglish %></span></p>
                       <% } %>
                       <%if( school.actMath ){ %>
                       <p>ACT数学：<span class="entryStats"><%= school.actMath %></span></p>
                       <% } %>
                       <%if( school.actWriting ){ %>
                       <p>ACT写作：<span class="entryStats"><%= school.actWriting %></span></p>
                       <% } %>
 </div>
 <div class="item fullscreen mt-18 white-bg px-12 py-12">
                            <h4> 学生统计:</h4>
                             <%if( school.foreignRatio ){ %>
                       <p>州外学生比例：<span class="stdStats"><%= school.foreignRatio %></span></p>
                       <% } %>
                         <%if( school.undergradCount ){ %>
                       <p>本科生数量：<span class="stdStats"><%= school.undergradCount %></span></p>
                       <% } %>
                        <%if( school.gradCount ){ %>
                       <p>研究生数量：<span class="stdStats"><%= school.gradCount %></span></p>
                       <% } %>
                        <%if( school.clubsCount ){ %>
                       <p>学生组织数量：<span class="stdStats"><%= school.clubsCount %></span></p>
                       <% } %>
                        <%if( school.hispanicRatio ){ %>
                       <p>拉丁美洲人比例：<span class="stdStats"><%= school.hispanicRatio %></span></p>
                       <% } %>
                        <%if( school.blackRatio ){ %>
                       <p>黑人比例：<span class="stdStats"><%= school.blackRatio %></span></p>
                       <% } %>
                        <%if( school.whiteRatio ){ %>
                       <p>白人比例：<span class="stdStats"><%= school.whiteRatio %></span></p>
                       <% } %>
                        <%if( school.asianRatio ){ %>
                       <p>亚洲人比例：<span class="stdStats"><%= school.asianRatio %></span></p>
                       <% } %>
 </div>

                </div>
                <!--end school_cards-->
            </div>
            <% pageActive = "school" %>
            <% include ../../partials/tabs %>
            <% include ../../partials/region_redirect %>
        </div>
    </div>
</body>