   <!DOCTYPE html>
   <html ng-app="school">

   <head>
       <title>留哪儿院校库</title>
       <meta name="description" content="">
       <meta name="keywords" content="">
       <meta name="author" content="Canbest">
       <link rel="stylesheet" href="/public/css/school.css?t=1" />
       <script src="/public/lib/Chart.js/Chart.js"></script>
       <% include ../../partials/head %>
        <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
       <script src="/public/lib/jquery-3.1.1.js"></script>
       <script src="/public/js/school.js?v=5171"></script>
       <style>
           .full-image {
            max-height:75px;
            max-width:100%;
        }
        h2{
            font-size: 16px;
            font-weight: 400;
            overflow: visible;
        }
        .no-margin-y{
            font-size: 14px;
            color: #666;
        }
        .no-margin-bottom{
            font-size: 12px;
            color: #666;
        }
    </style>
</head>
<body ng-controller="ApplySquareListController">

   <div class="view-container">
   <%if( ranktype=='usnews_global' ){ %>
                      <% head_title='USNews全球排行榜' %>
                        <%} else if( ranktype=='times' ){ %>
                      <% head_title='Times全球排行榜' %>
 <%} else if( ranktype=='qs' ){ %>
                       <% head_title='QS全球排行榜' %>
 <%} else if( ranktype=='arwu' ){ %>
                       <% head_title='ARWU全球排行榜' %>
                    
 <% }else if( ranktype=='usnews'){ %>
                       <% head_title='USNews美国排行榜' %>
 <%} else if( ranktype=='usnews_school_law' ){ %>
                       <% head_title='USNews美国法律院校排行榜' %>
<% } else if( ranktype=='usnews_school_medical_research' ){ %>
                       <% head_title='USNews美国医研院校排行榜' %>
 <% } else if( ranktype=='usnews_school_medical_primary_care' ){ %>
                       <% head_title='USNews美国医学医疗院校排行榜' %>
 <% } else if( ranktype=='usnews_school_business' ){ %>
                       <% head_title='USNews美国商科院校排行榜' %>
 <% } else if( ranktype=='usnews_school_engineering' ){ %>
                       <% head_title='USNews美国工程院校排行榜' %>
 <% } else if( ranktype=='usnews_school_fine_arts' ){ %>
                       <% head_title='USNews美国美术院校排行榜' %>
<% } else if( ranktype=='usnews_liberal_arts_college' ){ %>
                       <% head_title='USNews美国文科院校排行榜' %>
<% } else if( ranktype=='cn_china15' ){ %>
                       <% head_title='中国综合排行榜' %>
 <% } else if( ranktype=='cn_shifanlei15' ){ %>
                       <% head_title='中国师范大学排行榜' %>
<% } else if( ranktype=='cn_ligonglei15' ){ %>
                       <% head_title='中国理工类排行榜' %>
                       <% }else{ %>
                        <% head_title='留哪儿大学排行榜' %>
                       <% } %>
               <% include ../../partials/headerBar %>
       <div class="pane" ng-init="wechatshare_title='<%= head_title %>'">
          <div class="content-container">
           <% for(var i = 0; i < schools.length; i++){ %>
           <a href="/schools/world/<%= schools[i].id %>">
               <div class="item fullscreen px-24 py-12" style="border-bottom: 1px solid #d8d8d8;">
                   <div class="row" style="position: relative;">
                       <div class="col-28" style="margin-top: 20px;">
                           <img src="http://www.liunar.com/schools/world/pictures/<%= schools[i].tag %>-logo.jpg" class="full-image"/>
                           <div style="position: absolute; top:5px; left:5px; background-color: red; color:#fff; width: 24px; text-align: center;">  <%= schools[i][ranktype] %> </div>
                       </div>
                       <div class="col no-padding-y pl-12 mr-12">
                           <h3 class="no-margin-top title" style="margin-bottom: 6px;">
                               <%= schools[i].en_name %>
                           </h3>
                           <p class="no-margin-y">
                               <%= schools[i].ch_name %>
                           </p>
                           <p class="no-margin-bottom" style="overflow: hidden; margin-top: 6px; height: 3em; line-height: 1em;">
                               <%= schools[i].intro %>
                           </p>

                       </div>    
                   </div>
               </div>
           </a>
           <% } %>
         <!--   <a ng-repeat="school in USList" href="/schools/us/{{school.id}}">
               <div class="item fullscreen px-24 py-12" style="border-bottom: 1px solid #d8d8d8;">
                   <div class="row" style="position: relative;">
                       <div class="col-28" style="margin-top: 20px;">
                           <img src="http://www.liunar.com/schools/usPostSecondary/pics/{{school.tag}}-logo.jpg" class="full-image"/>
                           <div style="position: absolute; top:5px; left:5px; background-color: red; color:#fff; width: 24px; text-align: center;"> {{school.rank}} </div>
                       </div>
                       <div class="col no-padding-y pl-12 mr-12">
                           <h3 class="no-margin-top title" style="margin-bottom: 6px;">
                              {{school.en_name}}
                          </h3>
                          <p class="no-margin-y">
                              {{school.ch_name}}
                          </p>
                          <p class="no-margin-bottom" style="overflow: hidden; margin-top: 6px; height: 3em; line-height: 1em;">
                              {{school.description}}
                          </p>

                      </div>    
                  </div>
              </div>
          </a> -->
      </div>
      <% pageActive = "school" %>
      <% include ../../partials/tabs %>
      <% include ../../partials/region_redirect %>
  </div>
</div>
<% include ../../partials/footScript %>    
</body>
</html>