<p>
    <img width="560" height="405" src="http://i.china30s.com/uploads/2013/11/freda1-560x405.jpg" class="portfolios_post_image_thumb portfolio-image" alt="三明治妈妈访谈：“偏执”妈妈Freda和三个儿子" style="border: 0px; outline: 0px; vertical-align: middle; margin: 0px; padding: 0px; max-width: 100%; height: auto; background: transparent;"/>
</p>
<p>
    <header class="project-header" style="border: 0px; outline: 0px; vertical-align: baseline; margin: 35px 0px 25px; padding: 0px; color: rgb(81, 87, 91); font-family: Merriweather, serif; line-height: 24px; white-space: normal; background: rgb(255, 255, 255);">
        <h1 class="entry-title" style="border: 0px; outline: 0px; font-size: 24px; vertical-align: baseline; margin: 0px 0px 15px; padding: 0px; color: rgb(59, 64, 69); line-height: 36px; background: transparent; oveflow: visible; white-space: normal">
            三明治妈妈访谈：“偏执”妈妈Freda和三个儿子
        </h1>
        <p class="project-description" style="border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(216, 219, 223); outline: 0px; font-size: 14px; vertical-align: baseline; margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 20px; color: rgb(143, 150, 156); line-height: auto; border-radius: 1px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial; oveflow: visible; white-space: normal">
            如果家中有三个孩子，麻烦可能远不止一乘以三。Freda是一位全职主妇，三个精力旺盛的男孩的妈妈。而她的家一切都井然有序，孩子们很有秩序感，时间感，和妈妈之间也有着说不出的默契，这其中有什么奥秘呢？
        </p>
    </header>
    <section class="entry-content" style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px 0px 5px; padding: 0px; float: left; width: 100%; color: rgb(81, 87, 91); font-family: Merriweather, serif; line-height: 24px; white-space: normal; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">编者按</strong>：为了更好地为三明治们提供一手的育儿经验与帮助，
            <wbr/>中国三明治会在今后不定期地推出一些爸爸妈妈的专访，
            <wbr/>我们希望通过谈话的方式为大家提供更实用，更深入的内容。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">文/</strong>小简
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            &nbsp;
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            育儿本身是个私人事件， 各家的家庭环境，老幼尊长，生活习惯各不相同，
            <wbr/>我们期待通过非常真实的访谈给大家一个生活的参考。
            <wbr/>任何方式方法都没有对和错，只有适合和不适合，
            <wbr/>希望这十分原生态的访问和记录能最大化地还原给大家受访人的生活
            <wbr/>状态和想法。 在这里，我们万分感谢中国三明治育儿栏目的第一位受访者，
            <wbr/>Freda，她非常无私、坦诚地与我们分享了她的育儿经。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            在今天，如果家中有一个孩子，全家上下围着他／她忙得四脚朝天，
            <wbr/>这样的画面很容易在身周的朋友圈子里找到；家里有两个孩子，
            <wbr/>倘若年龄挨得近，追跑吵打一定是家常便饭；如果家里有三个孩子，
            <wbr/>麻烦可能远不止乘以三……
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            Freda是我的朋友，全职主妇，三个精力旺盛的男孩的妈妈。
            <wbr/>印象里，她是个极有条理的人，任何时间走进她家，
            <wbr/>一切都井然有序, 和假想中三个皮孩子上房揭瓦的情形很不一样。孩子们很有秩序感，
            <wbr/>时间感，和妈妈之间也有着说不出的默契。 带着几分好奇，
            <wbr/>我和小创在一个初夏的中午与Freda有了一次愉快的交谈。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            &nbsp;
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：能不能说说你的三个孩子的情况？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我家老大8周岁, 性格上是我的翻版，急躁，敏感。老二和老三是对双胞胎。老二, 像爸爸，老实，有主见。老三，大约就是对整个家庭的弥补，
            <wbr/>更像他自己，很会察言观色，善于“打太极”，
            <wbr/>整天一张笑眯眯的脸，骂他都骂不出口，我偶尔训斥他时，他会说：
            <wbr/>“你怎么骂我，我都欢喜你。”
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            三个孩子的共同点，就是交际能力比较强，按照规则来做事，
            <wbr/>总体性格比较稳健。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：这几个孩子的日常作息大概是怎样的？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 三个孩子每天3点放学，到家随意休息一下之后, 开始做我布置的15分钟的功课, 然后出门上兴趣班, 基本是他们自己选的，不上兴趣班的日子就在小区里骑车打球。 7点晚饭，饭后是free play和阅读的时间，8点钟开始洗澡睡觉。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            除了学业之外，我给孩子们安排了比较多的课外活动，
            <wbr/>我原来是练短跑和篮球的，比较看重运动， 所以除了弹钢琴之外，主要的业余时间基本都是花在运动项目上，
            <wbr/>平日里是游泳，滑板，跑步，骑车。周末的话就是足球和篮球。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：那您的生活是主要围绕孩子们展开吗？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我自己的作息，一大块用来照顾家庭和小孩，之外的话，微博上网，
            <wbr/>看书听音乐锻炼身体。前一段在学美术和周易，最近在学室内设计。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：我曾经去过你家，真是井井有条，一尘不染，孩子们的玩具，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">书籍各就各位，很难想像这里住这三个活力十足的男孩子，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">怎么可能这么整洁？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我从小就给他们设立关于各清各物的规则，教育他们要学会收纳, 奖罚分明，并且严格执行。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            孩子们三岁之前，
            <wbr/>打开家里任何的家具抽屉都需要经过我的同意方可以。
            <wbr/>我严格执行我的规矩，从不通融。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            玩具收纳, 我一般提醒三次, 绝对没有第四次。 比如他们玩WII，结束后满地都是手柄，配件，没有收起来， 提醒三次后， 我真扔，有一次一个手柄从窗子里飞出去（外边是自家院子），
            <wbr/>另一次是真的进了垃圾桶。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            我的理念就是严格执行——树立威信——言出必行。小孩子很聪明，
            <wbr/>一旦发现有一丝一毫钻空子的余地，前面的努力立刻化为乌有。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            最近我给三个孩子办了个联合生日会， 他们收到很多礼物， 礼物包装扔得一天一地，到处都是，我就告诉他们，
            <wbr/>必须在1点前整理完毕，才能去踢球。他们执行得很好。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：孩子总有不乖的时候，男孩子肯定免不了闯些大祸小祸，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">你会怎么办？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 养孩子的过程也是修炼自己的过程，我总结了一下,
            <wbr/>作为家长自己不能“跳”，要跳就要让孩子“跳”。 做好家庭的管理者。要克制，控制，用俗话来说，就是自己一定要“
            <wbr/>摒牢”。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            我如果心情不好，感觉快要“摒”不牢了，我就到洗手间洗个手/
            <wbr/>脸，换个气场，或者离开那个房间出去走一下。
            <wbr/>这是易经给我的启发，把气场切断，火停一下，换个地方，深呼吸。
            <wbr/>给自己一个再思考的时间和环境。暴怒是一种愚蠢，对着他们三个，
            <wbr/>个个都发火的话，我一定会得咽喉炎了——这是全职妈妈的职业病。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            对孩子的惩罚，我主要采取”Time-out”, 从三岁开始，如果行为有偏颇，比如玩食物，吃饭拖拉等，
            <wbr/>我会罚他们关洗手间。这也是一种气场的隔离，而非恐吓他; 也不是关黑屋、冷暴力，我会把灯开着。
            <wbr/>他们会在一个相对安静的房间反思自己的行为，time-
            <wbr/>out的时间长短就是他们的年龄数，5岁5分钟8岁8分钟，
            <wbr/>他们会嘟嘟囔囔地出来，一般都能认错和改正。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            当然，我们做父母也是摸着石头过河。
            <wbr/>我们不是生而即为优秀的父母， 一定是慢慢摸索和学习的。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q： 我发现你和儿子之间完全是用上海话在沟通，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">这在许多上海本地家庭都很少见了，我看到的大多数情况是，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">不管原先家里说的是什么方言，只要一上幼儿园，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">爸爸妈妈爷爷奶奶外公外婆跟着孩子一起说普通话，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">能不能谈谈你的经验？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我觉得语言是种技能，能说流利上海话的小朋友越来越少了，
            <wbr/>我和先生都坚持要让我们的孩子有讲沪语的能力。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            要坚持自己的想法并不是很容易，特别是在方言问题上，
            <wbr/>我觉得自己是有点偏执的，但也许偏执才管用吧。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            在任何时间，任何地方，不管孩子用什么语言和我交流，
            <wbr/>我一般都用上海话作回应，时间长了，他们知道我的坚持，
            <wbr/>扭不过我，也慢慢养成了习惯。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：能不能继续谈谈你的“ 偏执”？给我们几个例子吧。</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 教育好孩子，需要一点点偏执。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            从很小开始，我便要求他们自己动手吃饭，家里虽然有阿姨，
            <wbr/>但阿姨只能做辅助工作，决不能越俎代庖。
            <wbr/>一开始小朋友就是胡乱吃，手啊，勺子满天飞，
            <wbr/>东西也弄得一天一地，我让阿姨在他们的宝宝椅周围铺满报纸，
            <wbr/>其他坚决不插手，一口不喂， 随他们自己弄，他们很快就独立吃得非常好。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            穿鞋子系鞋带也是一样，阿姨不许帮忙，
            <wbr/>有一次老二足足系了10分钟鞋带，阿姨只能看不能动手，
            <wbr/>我也陪在旁边等着，呵呵，我的确有点偏执吧。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            老大两岁多的时候，我当时怀着双胞胎，晚上睡觉非常辛苦，
            <wbr/>我开始培养他自己睡。这么小的孩子，
            <wbr/>第一次单独睡对他来说基本上是件惊心动魄的事。果然，
            <wbr/>第一天晚上，老大跑来了我们的房间，我收留了他。到第二天，
            <wbr/>到底觉得这样不行，他半夜仍旧又过来了，我坚决不让他上床，
            <wbr/>他实在没办法，结果倒头睡在我们的房门口，我狠狠心没去管他；
            <wbr/>第三天晚上他又来了，在门口睡了一会儿可能觉得太冷，
            <wbr/>最后自己走回房间去了，自己睡觉的问题三天也就解决了。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：家里人支持你的“偏执”吗？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我和老公的想法很一致，在教育孩子的问题上我们都是站在一起的，
            <wbr/>所以孩子看到的是一张脸，也没什么空子可钻。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            家里的老人没有和我们住在一起，只是偶尔来探望一下，
            <wbr/>所以我的大政方针是可以贯彻实施的。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            不过就像我一开始说的，我的风格是：严格执行——树立威信——
            <wbr/>言出必行，我很坚持我自己的方法，
            <wbr/>因为我发现好习惯的养成真是太不容易了，一朝不坚持，
            <wbr/>马上全部毁掉。有一次我和先生去国外一周，
            <wbr/>请家里老人代看小朋友，等回到家，就看到三个孩子嘴里含着饭，
            <wbr/>歪坐在沙发上看电视，老人拿着三个勺子轮流喂。
            <wbr/>后来等我介入才又恢复正常。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：你觉得还有哪些经验和心得可以和三明治读者分享的吗？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 我觉得在孩子上大班之前，要设定好他们的生活习惯，
            <wbr/>这样以后就可以轻松一些，至少小朋友不会特别出格离谱。
            <wbr/>在他们成长的头几年里，我对小朋友的管教是比较严格的，
            <wbr/>现在他们渐渐大了，我对他们的管教开始逐渐放松，走宽松的路线，
            <wbr/>但是他们自己已经懂得分辨事情的界限在哪里了。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            三个孩子在生活/生理上比较独立，但心理上还是十分依赖我们的，
            <wbr/>不管孩子走多远，我觉得教育孩子其实最需要是的是心灵的沟通。
            <wbr/>我时不时也会对他们假装不露痕迹地服个软，
            <wbr/>分别的时候会向他们讨个拥抱, 要个good-by kiss，让儿子觉得他很重要。有时，还会给他们点小惊喜，
            <wbr/>买个小礼物，当然，要一式三份的。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：你有什么心仪的育儿书籍愿意和大家分享的吗？</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: Setting Limits with your strong-willed child, by Robert MacKenzie. 我比较喜欢男作者写的育儿书籍，很肯定和清晰，
            <wbr/>这本书对我的启发很大，我也参照了很多。
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">Q：非常谢谢你的时间和坦诚，</strong>
            <wbr/><strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">也谢谢你成为三明治育儿版的第一位受访者。</strong>
        </p>
        <p style="border: 0px; outline: 0px; vertical-align: baseline; margin-top: 0px; margin-bottom: 25px; padding: 0px; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;">
            <strong style="border: 0px; outline: 0px; vertical-align: baseline; margin: 0px; padding: 0px; color: rgb(59, 64, 69); background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"></strong>F: 不客气。
        </p>
    </section>
</p>
<p>
    <br/>
</p>