<h1 style="margin: 20px 0px 0px; font-size: 26px; line-height: 28px; width: 100%; text-align: left; clear: both; color: rgb(71, 71, 71); font-family: &#39;Times New Roman&#39;; white-space: normal; overflow:visible">
    自闭症儿童母亲手记：生活更多是鸡零狗碎
</h1>
<p style="margin-top: 2em; width: 100%; oveflow: visible; white-space: normal">
    发布日期：2015年04月03日&nbsp;&nbsp;&nbsp;文章来源：澎湃新闻&nbsp;&nbsp;&nbsp;作者：西蒙
</p>
<p>
    <br/>
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　2015年4月2日，是第八个“世界自闭症日（World Autism Awareness Day）”。自闭症在日益引起世人关注，因为不管性别、种族或社会经济地位如何，都可能遭受这种可怕的因神经系统失调影响到大脑功能而引致的终身发展障碍。自闭症也称“儿童孤独症”。患病儿童缺乏社交互动能力，行为常常只表现为有限和重复，被称为“星星的孩子”。长大后80%的人没有谋生的能力。自1983年我国诊断第一例自闭症患儿以来，首批患者已过而立之年。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　当下，人们对自闭症之类的身心障碍仍存在诸多误解和混淆，澎湃新闻策划的系列文章带来不同的声音和对争议的讨论。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　这是一篇来自自闭症孩子母亲的手记，她说自己的对话对象更多是自闭症儿童的父母。文章细腻探讨了自闭症儿童家庭的情感模式与生活空间，或许值得所有试图理解自闭症儿童的普通读者一读。其中关于情感互动和教育模式的思索，或许对于我们反思一切亲密关系中的理解与交流，都会有所启发。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我不太愿意把自闭症孩子的家庭教育当作一个公共议题，硬要从这种特殊、私密而不齐整的生活里引申出什么普遍的社会或文化或政治图像。但既然它已经被或多或少当作这么一个公共议题，并因此有可能影响到自闭症孩子父母的心态，那可能就需要公开说些话，为的是保护自闭症孩子和他们父母自己的生活空间。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　<strong>自闭症儿童的心智状态应该被理解为“电脑”吗？</strong>
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　为了让读者更好理解自闭症儿童的状态，有些家长会强调自己的孩子像电脑或人工智能，并不是真的有跟我们一样的感情和依恋，而是更接近于一种对结构化生活（即稳定生活规律）的需要，比如，这些孩子的情感表达可能还不是感情，而是被教过的套路。他表现亲密并不是因为喜欢你，而是你成了他结构化的一部分。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我想强调的是，这些表述是一种理念或实践哲学范畴的论断，而非事实论断。它超越经验证实或证伪的可能，或者说它并没有清晰的经验含义；它纯是出于教育者修正自己根深蒂固的（正常）情感反应和行为模式的需要，出于实践的需要。就像治疗强迫症，每次在病人要干那件反复想干的事情时就来一个电击或其它抑制信号一样，这句话就是这么一个有意识使用的抑制信号。它是对“应该怎么做”的认识的衍生物，能帮助自闭症儿童的养育者去做到他们确定应该做的事情。如果我们旁人（包括采访者、读者和其他自闭症孩子的父母）误把它当成一种事实论断或科学知识，以为它真的在描述自闭症者是某种样子不是某种样子，能达到什么不能达到什么，就会由一知半解而形成各种危险的偏见，最终影响到我们的实践。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我想先谈谈它作为一个“抑制信号”对教养整个自闭症谱系（从典型的一端、到高功能、到阿斯伯格综合征甚至接近常人的这一端）孩子的特殊实用意义，也就是它对纠正教育者情感反应和行为模式的意义。简单地说，它可以抑制教育者在跟孩子相处时过多的情感表达，也让教育者不再过于期待孩子即时的情感回应以及为此而反复经历的失落感。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　教育者这些情感表达、对他人即时情感回应的期待、得不到回应的失落感，在跟普通人相处的时候是自然、正常和必要的。而且这些都是根植在反射系统里的东西，就像看到红颜色的生理反应一样，无法以理性管制想消除就消除，只能通过艰苦训练而达到笨拙控制甚至“第二天性”的水平，这近似于演员的专业训练。另一方面，自闭症谱系孩子大多对外界刺激敏感，如果按照与常人相处的方式那样流露情感、充满暗示、急于要求回应，他们经常会因信息输入负荷过大，造成情绪过于激动甚至失控崩溃。所以，训练有素的自闭症孩子教育者，跟孩子相处时的一大外在特征就是“客观”，在大多数时候都能就事论事地说话，如同旁白一般以“第三人称视角”而非“第一人称”或“第二人称”极其简明地描述情境、指点该做的事，看起来真的好像一个没情绪的机器人。（这也不是绝对的，不少父母描述，往往是在他们偶然忍不住强烈表达生气的感觉或压力长期积蓄导致爆发的时候，孩子会通过这种激烈的表达方式学习体会别人的感受以及与自己行为的因果关系，但这不能有计划地当技巧使用，只是发生事情之后的反观。）
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　训练有素的另一大外在特征是“淡定”，不期待自闭症孩子用和其他孩子一样的方式来即时表达对自己的喜爱或依恋之情。这不只是理性上的“不求回报”，理性上认识到应该“不求回报”完全没有用，非理性的排斥之情仍然会自然生长、自然流露甚至因压抑而强烈反弹，就像种族主义情感一样。必须要那种天然的失落感真的淡了或消失了，代之以另一种幽默而富有建设性的交流方式带来的乐趣。我想，那些反复告诉自己，自闭症孩子是“电脑”的家长，主要就是为了修炼武林内功，达到“客观”和“淡定”这些非自然的状态。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　但也需要提一句，教育者需要反复去评估和调整自己的行为。如果一个自闭症谱系孩子已经慢慢发展到能够部分理解他人情绪反应并为此修正自己的行为时，教育者就又要从自己修炼好的非自然状态里一点一点走出来，重新学会在孩子面前流露出自己正常的情感反应--这跟之前同样困难--有时候还得故意表达得夸张一点点，脸谱化一点点，并经常跟孩子解释是他的什么行为引起了自己的情感反应。如果还完全像机器人一样习惯性地克制自己的情感，也会让孩子错过一些好的学习机会。在这个领域里没有一劳永逸的方案和规则，时时需要个人的决断力和勇气。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　那么，成人跟自闭症孩子的社交能达到多大的深度呢？简单化地说，成人跟自闭症孩子的社交深度是不可限量的。但这种社交在大多数情况下比较像成人之间因某项工作或任务而产生的社交（project-based或problem-based），而不是那种为了社交而进行的社交，比如聊天、八卦、开party之类的活动。如世界知名动物学家葛兰汀（Temple Grandin）小时候是非常典型的自闭症孩子，医生建议直接送“机构”养了，可妈妈顶住专业权威和社会压力拒绝了。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　她在其自传里描述，高中是她一辈子最困难的时期（她是美国人），儿时一起着迷于做手工的好朋友都去谈恋爱、聊天和聚会了，整天议论男孩子的心理，她变成了完全孤立的异类。到了大学和工作后，她又开心了，因为这时候又可以因为一件件工作学习任务而进行人际交流。她学生时代就开始给人设计海报，慢慢学习如何成为一个“雇员”，后来成为一个畜牧业建筑器械的设计师（因为对这个专业的“不正常迷恋”），并改变了整个美国畜牧业饲养动物尤其是屠宰动物的方式，让它们变得更人道。拿她自己的话来说，她比较懂动物，因为她自己比较像动物——这也是一个信念和实践哲学范畴里的论断，而非事实论断。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　另外，不少个案记载都显示自闭症孩子学语言的一条可行路径是在做一个特定动作时反复听到描述那个动作的单音动词，比如“踢”、“哭”、“扔”、“盖”、“转”，这些往往是他们能真正理解和运用的第一批词。这种交流也是以某一项行动或任务为中心的。甚至连本来无意识、破坏性的“哭”、“丢”、“踢”这些行为，因为跟一个声音、一个概念联系在了一起，而变成了有意识的、执行命令的“丢”、“哭”或“踢”，从而成为一种技能，在此基础上能通过组合和变化而建筑更复杂的技能。这些破坏性行为的有意识再现，还有可能是他们学会的第一种人际互动游戏。当你命令他哭，他真的发出哭声，当你命令他踢，他真的踢起来，这就是理解力的质变了。可能出现这样的情况：当孩子情绪崩溃哭闹踢腿的时候，你发出指令，孩子开始根据指令轮流做出“踢”和“丢”的动作，忽然间你们两者就配合起来，进入了游戏状态。谁说这不是“情感”交流呢？谁说“情感”交流有任何固定的语言和肢体语言呢？跟孩子开心地做傻游戏，这交流的深度已经深不可测，无需任何拥抱、眼神、甜言蜜语。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　当你通过让孩子自己做的方式，教给自闭症孩子一切关于世界的微小知识和行动的微小技能，你可能会成为他极为信任的朋友和老师。而他对你信任的表现，就是愿意努力克服你无法想象的困难去练习你教他的东西，以及和你相处时的平静和快乐。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　“平静”这一点尤为重要，比“快乐”重要，说明教育者已经进入了那位自闭症孩子的世界，让孩子准备好吸收新的信息，这算是成功的一半了。当然，孩子的脾气经常会因为不知道的原因而出现反复，比如疲劳、环境的细微变化、吸收新技能的压力等等，不能求完美。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我想，那些嘴上经常说孩子像电脑的自闭症儿童家长，其实都能够真的是把孩子看成一个人。这并非想着“应该”把孩子看成一个人，而是“能够”把孩子看成一个人。能够其乐融融地陪伴孩子生活那么多年，不断挖掘孩子的潜力的家长，必定能深刻地理解孩子独特的情感表达方式，也对孩子建立了独特的情感表达方式。任何一种亲密关系，人单凭“道义感”是撑不下来的，是处不好的。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　许多自闭症谱系的孩子，哪怕言语障碍明显，认知发育有明显迟滞的，对照护他的父母仍有强烈的依恋之情。一位十五岁的高大自闭症孩子，见到妈妈那种忽然眼睛一亮的微笑，那种亲吻时的甜蜜，我相信自己绝不是在自作多情。只是如果教育者暗暗期待自己获得这种待遇，就很难做好教育者的本分。如果允许我越界说一句普遍性的话，我联想到如今普通幼儿园里年轻女老师时常像闺蜜那种样子很热情地对孩子说话，暗中期待孩子回报这样的热情，这其实对一些内向含蓄或“工作型”的孩子也不是太公平，更不用说自闭症谱系的孩子了。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我也比较担心“关爱自闭症”的志愿者活动，愿意来参加的应该不少是本来看到小猫小狗小婴儿就都想去摸摸的爱心女孩，临时要跟自闭症孩子相处半天，用平时自己那种热情对待可爱事物的态度，并不是一件很妥当的事情。可以先抱着搭把手搞搞后勤的心态去帮忙，至少要事先作过一些知识和规则的学习，才能谨慎地去接近和观察孩子。最好是鼓励固定的志愿者（尤其是教育、特教、医学和心理学专业的学生），持续提供阅读材料和现场指导，还得合理选择接触的对象。领导什么的就千万别凑热闹、秀姿态，去接见相对年幼的孩子和听孩子弹琴了。一些自闭症孩子在给自己开的生日party上，一听所有人对他唱起生日快乐歌就立马崩溃、大哭不止，更别说领导来时那大人怕犯错的紧张气氛了—自闭症孩子往往更能感受到气氛跟平时的微妙不同。领导同志应该关心的同样是“后勤打杂工作”，也就是特殊教育能不能得到经济和制度性支持的问题，比如调查特殊教育学校和干预机构有多大的需求量，缺口有多大，在普通公立幼儿园和学校能否制度化的配备特殊教育老师（这对所有学生都有好处，对鼓励特殊教育这个职业也有特殊意义），如何补贴有资质的私人特殊教育机构等等。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　从这些角度来看，那些认为自闭症孩子像“电脑”的对话还是有强烈的社会对话意义的。只是我们必须牢记，它需要被当作一首诗或一个暗喻来影响我们非理性的情感和行为模式，不能被当作一个事实来认知，不能将它作为一个根据来左右我们理性的判断。一旦看清这一点，已经感受到和想去感受自闭症孩子情感的爸爸妈妈们就不会疑问自己是否自作多情，不会因为对这句话的误解而感觉到一种永远的遗憾，旁人也不会因此而随意看低自闭症孩子的精神世界了。当我们真正要谈论事实的时候，我们会换一种更准确的说法：教导自闭症的孩子需要一种特殊的交流技艺，这种技艺是需要长期磨炼的，并且需要不断地发展、修正和传播。像手工艺一样，基于经验的学徒制更适合它的传授。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　（这种技艺也许对于普通孩子的教育也有好处，能让我们反思现在的学校文化和教师文化是不是过于鼓励会人际交流的孩子而非喜欢做事情的孩子。葛兰汀的又一句名言：I am what I do。其实蒙特梭利的探索也是从一些智障和自闭症孩子训练那里起步的，那时候自闭症儿童尚被笼统地归结为智障。她说孩子看过的听过的都容易忘，只有做过的难忘。她很讨厌老师上课“绘声绘色”和“聊天”。不过这段普遍性的议论我还是担心自己有点越界。）
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　我这些啰嗦的表述，心里最重要的说话对象是自闭症孩子的父母，旁人可以轻易忽略和忘记的媒体一句话，对他们来说可能是性命攸关、纠结一辈子的。另外，我仅仅是在探讨自闭症孩子是否有跟我们一样的“情感”，而并不愿因此浪漫化自闭症孩子家庭的生活。生活里99%以上必然是鸡零狗碎的，孩子一次又一次地发脾气，讨厌洗头还得一次又一次给他洗，一次又一次铁石心肠地执行立好的规则，一次又一次地收拾残局，在公共场合一次又一次的尴尬。只有意志坚强并且有道义感的父母才能感受到那1%的闪光。但这是个人的事，旁人只能帮他们解决后顾之忧。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　<strong>“特殊才能”与自闭症儿童的“社会化”</strong>
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　自闭症儿童的家长，也常会在孩子的特殊兴趣和孩子的“社会化”上陷入困境。有些家长会将自己所有的力气都放在孩子“社会化”上，而有些高功能自闭症儿童的家长会长时间逼迫孩子坐在钢琴前。有时前者会批评后者的家庭教育与我们这个时代的教育一样，过于“功利性”。但或许这种批评易于产生两种错误的印象：一是自闭症孩子钢琴弹得好或有其它特殊才能但自理能力差要归咎于父母的教育失当；二是自闭症孩子不应去花时间发展特长，而要将所有精力都花在纠正弱点（社交和日常自理）上。这两个印象都是没有经验根据的。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　自闭症患者千差万别，的确有许多人拥有特殊兴趣和特殊才能（有时候这个才能是一块很小的孤岛，看起来没什么实用功能，比如日历演算或听发动机声音知道车辆型号），但同时缺乏独立生活能力，需要父母长期陪伴照顾，而他们的父母并没有特别功利或忽略社交和自理的教育。记得那位画小孩怪脸的日本漫画家奈良美智就回忆他年轻时在欧洲跟自闭症艺术家合租房子，那位室友时常在水斗里小便。雨人原型“学者综合征”患者Kim Peek，记遍所读之书，特别喜欢图书馆，却仍需父亲终生陪伴左右。还有一位到现在都几乎不会说话，小时候被诊断为低功能自闭症的印度人Tito（Mind Tree一书的作者），妈妈却一直（看起来像是很功利甚至很疯狂的）对着他读英语和经典，发明一套特殊方法教他书面语言，教会了他写作。Tito虽然能写出惊人的诗句，日常生活还是一直离不开妈妈的照顾。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　将自闭症跟“天才”捆绑在一起，当然是个误区，并给大多数普通自闭症孩子的父母造成压力。反抗将自闭症儿童都看做“天才”的社会认识是好的，但不能将“天才”与特殊兴趣以及相伴的特殊才能混在一起丢弃掉。日本一位妈妈明石洋子，依靠邻居、社区和制度的支持，将从小对水和厕所有特殊兴趣的重度智障和自闭症儿子，培养为一个自食其力的公务员（在养老院擦洗浴缸、折毛巾、打扫卫生等），这是我见过的“社会化”的最好例子之一。她的方法，正是通过孩子的特殊兴趣因势利导进行社交训练的：这位孩子搬进新家后就闯入各邻居家去查看厕所。明石妈妈就一家家上门解释，使邻居能用幽默的方式接纳这位孩子的特殊兴趣并给予孩子善意指导，给了孩子一个更大的社交圈。即使是普通的孩子，我们也知道整天盯着他的弱点来教育和弥补，没法获得良好的效果；必定要通过运用孩子的长处来让孩子触类旁通。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　在我看来，针对“特殊兴趣”的交流是打开自闭症孩子心门、帮他们找到基本符合（合理）社会常规的快乐方式的最好法宝，虽然门不是一敲就开的。不论是小石头互相敲击的清脆声音，水流，肥皂泡，地上晃动的树叶影子，车轮的转动，秋千的摇晃，门和灯的开关，厕所，马桶，地图，美术，音乐，数字还是文字，都可以从中发展出有趣的人际互动游戏。这又回到了之前说过的一点，自闭症孩子最有可能接受的社交不是为了社交而社交，而是为了完成一件活动而产生的社交。国外的那些“社交训练班”（social group），都是以大动作或精细动作游戏材料为媒介的，有的还在水中一边戏耍一边进行。我听过一位小时候是典型自闭症的教育学博士Stephen Shaw的演讲，他一直很感激音乐帮助他理解常人的情感，现在还一直业余从事教授自闭症孩子演奏乐器的工作。跟普通孩子相比，自闭症孩子兴趣特长的发展与“社会化”绝不是矛盾的，反而特别需要放在一起看。如果人为把它们对立起来，恐怕会严重束缚自闭症孩子父母的创造力。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　再退一步说，一个弹琴没感觉的自闭症孩子，你不可能通过威逼利诱让他长久坐在琴前（对普通小孩还可能更容易一点，自闭症孩子会彻底崩溃的）；而一个对弹琴有感觉的自闭症孩子，的确有可能坐在琴前忘了时间。有时候一个自闭症孩子会观看地上的光影半个小时甚至更长，这是医生经常描述的“症状”——但正常人也会整天看网络电视剧或存一年钱去排队买个优惠LV而难以自拔呀！就算特殊兴趣或特殊才能没能为孩子赢得一份工作，只要孩子真的从兴趣里获得快乐，同时没有伤害任何人，又没花太多钱，父母只要注意帮孩子平衡日程表，做到张弛有度就可以了，没有一定要把孩子随时拖出来进行社交训练和自理训练的道理。
</p>
<p style="margin-top: 1em; margin-bottom: 1em; line-height: 1.5; font-family: 宋体; font-size: 10.5pt; white-space: normal;">
    　　往往压垮父母的最后一根稻草并不是养育中出现的实际问题，而是认为自己在养育中方法错误、不能挽回的内疚感。这种内疚感的最大源头是各类科学家或心理医生在撰写成果经验时有意无意给人的一种错觉，让人以为养育自闭症谱系的孩子（包括养育普通孩子）有一套行为指南（英语里的“recipe”），把可能出现的大小问题细节都包罗进去，从失眠到挑食到情绪爆发到性觉醒等等，仿佛它们都有按部就班的处理方法。事实上，养育每一个自闭症谱系的孩子就跟成人与成人相处一样，跟谈恋爱和婆媳相处一样，最终要靠发明原创的解决方案。先要相信没有现成的行为指南，然后才能实用主义地去尝试前人各种互相矛盾的成功经验，不成为某种教条的盲目信徒，不放弃做父母必要的自主裁断，有挫折时也能灵活调整，保持希望。
</p>
<p>
    <br/>
</p>