<ion-view view-title="博客正文" ng-init="getArticle()">
    <ion-nav-buttons>
        <a ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content style="background-color: #fff;" overflow-scroll="true">
        <div class="item item-body" style="padding: 24px 24px 24px 24px;" ng-include src="ArticleUrl">
        </div>
    </ion-content>
    <div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿——最聪明的留学</h3>
                    <img src="img/liunarLogo.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
    </div>
</ion-view>