<ion-view view-title="留哪儿" hide-nav-bar="{{shouldHide}}">
  <ion-nav-title>
      <h1 class="title">
          <img class="title-image" src="img/liunarLogo.png"  height="32"/> 留哪儿
      </h1>
  </ion-nav-title>
  <ion-content ng-init="getPosts()" on-scroll="headerBarControll()" scrollbar-y="false">
      <ion-slide-box style="height: 90px; min-height: 24vh" on-slide-change="slideChanged(index)" auto-play="true" slide-interval="4000" does-continue="true">
          <!--should using ng-repeat in the future-->
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideOne.jpg')">
                <a class="item homeSlideAnchor" ui-sref="app.liunarProductPush({typeId: 4})"></a>
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideTwo.jpg')">
                <a class="item homeSlideAnchor" ui-sref="app.liunarProductPush({typeId: 5})"></a>
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideThree.jpg')">
                <a class="item homeSlideAnchor" ui-sref="app.liunarProductPush({typeId: 6})"></a>
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideFour.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideFive.jpg')">
            </ion-slide>
            <ion-slide class="homeSlide" style="background-image: url('img/homeSlideSix.jpg')">
            </ion-slide>
      </ion-slide-box>
      <!--<div ng-include src="'templates/agencyCard.html'">
      </div>-->
      <div class="list card fullWidthCardMenu">
          <div class="row" style="">
              <a class="col homeMenuItem" ui-sref="app.estimate()">
                  <img src="img/lxpg.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">留学评估</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 3})">
                  <img src="img/dllx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">低龄留学</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 2})">
                  <img src="img/tsyx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">特色院校</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.liunarProduct({typeId: 1})">
                  <img src="img/zmdx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">知名大学</p>
              </a>
          </div>
          <div class="row" style="">
              <a class="col homeMenuItem" ui-sref="app.summerCamps()" nav-direction="forward">
                  <img src="img/hwyx.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">海外游学</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.gongLue()">
                  <img src="img/lntt.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">留哪头条</p>
              </a>
              <a class="col homeMenuItem" href="#/app/mainHome/QandA" nav-direction="forward">
                  <img src="img/zjdy.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">专家答疑</p>
              </a>
              <a class="col homeMenuItem" ui-sref="app.huMa()">
                  <img src="img/hmzj.png" style="width: 80%; max-width: 92px;"/>
                  <p style="font-size: 14px;">虎妈之家</p>
              </a>
          </div>
   	  </div>
      <!--成功案例-->
      <!--<div class="list card fullWidthCard" id="gongLue">
          <div class="item item-avater item-text-wrap" style="background-color: #fff; border: none">
              <h3><i class="icon ion-star"></i> 加国攻略</h3>
          </div>
          <div class="item item-text-wrap" style="background-color: #fff; border: none">
              <div class="row">
                  <a class="col col-67 imageContainer" style="background-image: url('http://mmbiz.qpic.cn/mmbiz/7PDoa5HnMEB9JYQpT4HcEN0pILBBkaia4zf05vYgKvhh9Pz42iaQtDSg1zuFnHiauseTp3Nd96jbVuwbGs6CqeBbA/640?wx_fmt=jpeg&wxfrom=5');" ui-sref="app.indexPostDetail({placeHolderId: 1})">
                      <div class="homeImageDescription">
                        <p>MIT妈妈孙红丹女士讲座全程实录-干货极多，值得收藏</p>
                      </div>
                  </a>
                  <a class="col col-33 imageContainer" style="background-image: url('http://i.china30s.com/uploads/2013/11/freda1-560x405.jpg');" ui-sref="app.indexPostDetail({placeHolderId: 2})">
                      <div class="homeImageDescription">
                        <p>三明治妈妈访谈：“偏执”妈妈Freda和三个儿子</p>
                      </div>
                  </a>
              </div>
              <div class="row">
                  <a class="col imageContainer" style="background-image: url('http://www.zmnedu.com/uploads/allimg/111118/33200-11111Q15P3103.jpg');" ui-sref="app.indexPostDetail({placeHolderId: 3})">
                      <div class="homeImageDescription">
                          <p>满分访谈：耶鲁妈妈畅谈教育心得</p>
                      </div>
                  </a>
                  <div class="col imageContainer" style="background-image: url({{base_url + postsPanel5[4][0].path}}); " ui-sref="app.indexPostDetail({placeHolderId: 4})">
                      <div class="homeImageDescription">
                          <p>自闭症儿童母亲手记：生活更多是鸡零狗碎</p>
                      </div>
                  </div>
                  <a class="col imageContainer" style="background-color: rgb(241,164,49); text-align: center;">
                      <div class="vCenterBlock">
                          <i class="icon ion-plus" style="font-size: 32px; color:#fff;"></i>
                          <p style="font-weight: 500; margin-top: 12px; padding-left: 3px; padding-right: 3px; color: #fff; font-size: 0.9em">加入虎妈学堂</p>
                      </div>
                  </a>
              </div>
          </div>
      </div>-->
      
      <!--<div class="list card fullWidthCard">
        <div class="list">
            <div class="homeInlineForm item item-input-inset" style="background-color: #52baba; border: none; padding: 20px 16px 20px 16px;">
                <label class="item-input-wrapper whiteBg">
                  <input type="text" ng-focus="e.preventdefault()" placeholder="留哪儿？学什么？" >
                </label>
                <a ui-sref="app.QandAForm()" class="button button-small" style="background-color: #4aa09d; color: #fff">
                    我要提问
                </a>
            </div>
            <div class="item row noBorder">
                <p style="font-size: 14px; color: #000; padding: 3px 16px 3px 16px;">有什么留学问题？快来这里长知识吧！</p>
            </div>
            <div class="item row noBorder" style="padding: 8px 16px 12px 16px;">
                <a class="col homeBadgeBtn-outline" ui-sref="app.QandADetail({questionId:443, order: 'create_time'})">
                        加拿大读研的准备
                </a>
                <a class="col homeBadgeBtn-outline" ui-sref="app.QandADetail({questionId:435, order: 'create_time'})">
                        留学加拿大的费用
                </a>
            </div>
            
            <div ng-repeat="newQuestion in questions">
                <div class="item" style="background-color: #fff; border: none">
                    <div class="row">
                        <div class="col questionDetail">
                            <h3>{{newQuestion.title}}</h3>
                            <p>{{newQuestion.description}}</p>
                            <p class="questionNote">
                                {{newQuestion.create_time * 1000 | date:'yyyy-MM-dd'}}</p>
                        </div>
                    </div>
                </div>

               
                <div class="item" ng-init="getQuestionDetail(newQuestion.id)" style="background-color: #fff; border: none">
                    <div class="row questionAnswer" ng-repeat="answer in qDetail.answers" ng-show="qDetail.answers !== null">
                        <div class="col answerDetail">
                            <span ng-bind-html="answer.content"></span>
                        </div>
                    </div>
                    <div class="row questionAnswer" ng-show="qDetail.answers === null">
                        <span><p>这个问题暂时还没有答案。。。</p></span>
                    </div>
                </div>
            </div>
        </div>
      </div>-->
      
      <div class="card fullWidthCard" ng-click="scrollTop()">
          <div class="item item-body noPadding" style="background-color: #fff; border: none">
              <a nav-direction="forward" ui-sref="app.liunarProductPush({typeId: 4})">
                <img class="full-image homeImage" src="img/1.jpg" />
              </a>
              <a nav-direction="forward" ui-sref="app.liunarProductPush({typeId: 5})">
                <img class="full-image homeImage" src="img/2.jpg" />
              </a>
              <a nav-direction="forward" ui-sref="app.liunarProductPush({typeId: 6})">
                <img class="full-image homeImage" src="img/3.jpg" />
              </a>
              <a nav-direction="forward" ui-sref="app.liunarProductPush({typeId: 7})">
                <img class="full-image homeImage" src="img/4.jpg" />
              </a>
              <a nav-direction="forward" ui-sref="app.liunarProductPush({typeId: 8})">
                <img class="full-image homeImage" src="img/5.jpg" />
              </a>
          </div>
      </div>
      
      <div class="card fullWidthCard">
          <div class="item item-avater" style="background-color: #fff; border: none">
              <h3><i style="font-size: 32px; vertical-align: middle; color: #52baba" class="icon ion-stats-bars"></i> 热门帖子</h3>
          </div>
          <div class="list" style="background-color: #fff; border: none">
              <a ng-if="post.id != 1" ng-repeat="post in posts" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: post.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
              <!-- ng-class="{'custom item-thumbnail-right': post.have_thumbnail == 1}" -->
                 <!--  padding-right: 10px; -->
                  <!--<img ng-if="post.have_thumbnail == 1" ng-src="http://www.liunar.net/articles/thumbnails/{{post.id}}.png">-->
                  <div style ="display:block; float:" >
                          <img ng-src="{{base_url+post.path}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                  </div> 
              
                 
                  <div style="margin-left: {{post.have_thumbnail == 1 ? '2px' : '2px'}};">
                      <h4 style="display: block; font-size: {{post.have_thumbnail == 1 ? '16px' : '18px'}}; overflow: visible; white-space: normal">{{post.title}}</h4>
                  
                      <p style="font-size: 14px" ng-bind-html="post.description"></p>
                
                      <p class="dateInfo">
                          <span style ="padding-right:30px;">
                              <i style="margin-right: 4px" class="icon ion-eye"></i>
                              {{post.view}}
                          </span>
                          <span ng-if="post.comment != 0">
                              <i style="margin-right:4px" class="icon ion-chatbox-working"></i>
                              {{post.comment}}
                          </span>
                          <br/>
                          <span>{{post.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                      </p>
                      <p style="color: #4689b2 ">{{tags[post.category]}}</p>
                  </div>
                </a>                
        </div>
        <!--<div class="list" style="text-align: center; margin-bottom: 8px;">
            <a href="http://www.miitbeian.gov.cn/" style="color: #888; font-size: 12px">
                备案号: 粤ICP备16013188号-2
            </a>
        </div>-->
      </div>
  </ion-content>
</ion-view>