<ion-view view-title="留哪发现">
  <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">

        <div class="list" style = "background-color: #fff; border:none">
           <a href="{{post.channel == '3' ? urlQuestion + post.id + '/from_stream' : urlPostDetail + post.id}}" ng-repeat="post in stream" nav-direction="forward" ng-class="{'item-thumbnail-left': post.thumbnail != ''}" class="item noBorder" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
                <div style ="display:block;" >
                    <img ng-if="post.thumbnail != ''" ng-src="http://www.liunar.net{{post.thumbnail}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;" check-image>
                </div> 
                <div style="margin-left: 0">
                    <h4 style="display: block; font-size: {{post.thumbnail != '' ? '16px' : '18px'}}; overflow: visible; white-space: normal">{{post.title}}</h4>
                    <p style="font-size: 16px" ng-bind-html="post.description"></p>
                    <!--<p class="dateInfo">
                        <span style ="padding-right:30px;"> 
                            <i style="margin-right:4px" class="icon ion-eye"></i>
                            {{post.view_count}}
                        </span>
                        <span ng-if="post.comment_count != 0">
                            <i style="margin-right:4px" class="icon ion-chatbox-working"></i>
                            {{post.comment_count}}
                        </span>
                    </p>-->
                    <p>
                        <span>{{post.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                    </p>
                    <p style="color: #4689b2 ">{{tags[post.category]}}</p>
                </div>
            </a>
            
        </div>

        <ion-infinite-scroll ng-if="haveMore == true" spinner="bubbles" on-infinite="getMoreStream()" distance="3%"></ion-infinite-scroll>
    </ion-content>
</ion-view>













    