<ion-view view-title="廖先生">
  <ion-nav-buttons>
        <a ui-sref="app.userClientList()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <div class="item">
            <h4>2014-06-15</h4>
            <p>客户已经购买</p>
        </div>
    </div>    
  </ion-content>
</ion-view>