html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
}

body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: #ebebeb;
    color: #272421;
    font-size: 1.1rem;
    line-height: 1.5;
    -webkit-overflow-scrolling: touch;
    font-family: "FZLTXHK--GBK1-0", "Lantinghei SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

body:before, body:after {
    content: "";
    display: table;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none
}

svg:not(:root) {
    overflow: hidden
}

a {
    background: 0 0;
    color: #272421;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent
}

a:active {
    outline: 0
}

a:active {
    color: #272421
}

b, strong {
    font-weight: 700
}

i {
    font-style: normal;
}

dfn {
    padding-right: 0.3em;
    font-style: normal;
    font-size: 0.8em;
}

sub, sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0;
    vertical-align: middle;
    max-width: 100%;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word
}

code, kbd, pre, samp {
    font-size: 1em;
    font-family: monospace, monospace
}

button, input, optgroup, select, textarea {
    margin: 0;
    color: inherit;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
}

button {
    overflow: visible;
    border: none;
    outline: none
}

button, select {
    text-transform: none;
    -webkit-appearance: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button
}

button[disabled], html input[disabled] {
    cursor: default
}

input {
    line-height: normal;
    border-radius: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: textfield;
    border: 0 none
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

input[type=text] {
    border: 0 none;
    font-size: 1.3rem
}

textarea {
    overflow: auto;
    resize: vertical;
    border: 0 none
}

input:focus, textarea:focus, div:focus {
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

button, html, input, select, textarea, dfn {
    font-family: "FZLTXHK--GBK1-0", "Lantinghei SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

blockquote, figure, form, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-family: "FZLTXHK--GBK1-0", "Lantinghei SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif
}

dd, dl, li, ol, ul {
    margin: 0;
    padding: 0
}

ol, ul {
    list-style: none outside none
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 2
}

h1 {
    font-size: 1.8rem;
    line-height: 2.2rem
}

h2 {
    font-size: 1.6rem;
    line-height: 2rem
}

h3 {
    font-size: 1.4rem;
    line-height: 1.8rem
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ccc;
    font-size: 12px;
}

em {
    font-style: normal
}

ins {
    text-decoration: none;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.fl {
    float: left
}

.fr {
    float: right
}

.pos-l {
    position: absolute;
    left: 0;
    top: 0
}

.pos-r {
    position: absolute;
    right: 0;
    top: 0
}

.pic img {
    width: 100%
}

.to-top {
    position: fixed;
    bottom: 15%;
    right: 20px;
    width: 4rem;
    height: 3.5rem;
    border-radius: 999px;
    background-color: rgba(131, 131, 131, .9);
    color: #fff;
    line-height: 1.5rem;
    padding-top: 0.5rem;
    font-size: 1.2rem;
    box-shadow: 0 0 5px rgba(225, 225, 225, .7);
    text-align: center;
}

.to-top i {
    display: block;
    font-size: 2rem;
}

.input-txt {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #eee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 35px
}

.more-normal {
    position: relative;
}

.more-normal::after {
    position: absolute;
    top: 50%;
    right: 10px;
    display: inline-block;
    -webkit-box-sizing: border-box;
    margin-top: -1px;
    width: 8px;
    height: 8px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    content: "";
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg);
    transform: rotate(45deg) translateY(-50%)
}

.fix-btn {
    position: fixed;
    bottom: 15%;
    right: 20px;
    width: 4rem;
    height: 4rem;
    border-radius: 999px;
    background-color: rgba(255, 118, 95, .9);
    color: #fff;
    line-height: 4rem;
    font-size: 1.3rem;
    box-shadow: 0 0 5px rgba(225, 225, 225, .7);
    text-align: center;
    z-index: 201
}

.arrow-normal {
    position: relative;
    padding-right: 2rem;
}

.arrow-normal::after {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-top: 2px solid #bbb;
    border-right: 2px solid #bbb;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -2px;
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* header + footer */
.pub-header {
    position: fixed;
    height: 3.84rem;
    z-index: 12;
    left: 0;
    right: 0;
    top: 0;
}

.header-inner {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 3.84rem;
    line-height: 3.84rem;
    z-index: 200;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.28rem;
    border-bottom: 1px solid #ebebeb;
}

.header-inner h1 {
    position: absolute;
    font-size: 1.28rem;
    right: 20%;
    left: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 3.84rem;
}

.pub-footer {
    position: fixed;
    z-index: 13;
    bottom: 0;
    left: 0;
    right: 0;
}

/* header + footer */

.pub-page {
    z-index: 11;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

/*通用按钮*/
.btn-normal {
    font-size: 1.5rem;
    color: #fff;
    width: 30%;
    text-align: center;
    background-color: #00c393;
    line-height: 3;
}

.btn-normal.disabled {
    background-color: #999;
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(359deg);
    }
}

/* added by sam */
.c-gray {
    color: #999;
}

.c-red {
    color: #ff5b5b;
}

.c-green {
    color: #6fc23d;
}

a.l-gray {
    color: #999;
}

a.l-gray:active {
    color: #999;
}

/*清除浮动*/
.cl-fix:after {
    visibility: hidden;
    display: block;
    content: ".";
    clear: both;
    font-size: 0;
    height: 0;
}

.cl-fix {
    zoom: 1;
}

.no-warp {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    word-break: keep-all;
}

/*遮挡avalon未加载完毕时的语法*/
[ms-controller], [ms-important] {
    display: none
}

/*蒙层*/
.pub-modal {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 200;
}

.pub-modal .pub-overlay-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .75);
    -webkit-backdrop-filter: blur(5px);
}

.pub-modal .pub-open-content {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 201;
    color: #fff;
    text-align: right;
}

.pub-modal .pub-open-content > img {
    width: 3.7rem;
    margin: 0.86rem 1.282rem;
}

.pub-modal .pub-open-content p {
    padding-left: 25%;
    text-align: left;
    font-size: 20px;
    line-height: 2;
}

.pub-modal .pub-open-content p i {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 1em;
    background-color: #fbe558;
    border-radius: 100px;
}

.pub-modal .pub-open-content .sharefont {
    text-align: center;
}

.pub-modal .pub-open-content .sharefont .tp {
    color: #fff;
    font-size: 1.5rem;
}

.pub-modal .pub-open-content .sharefont .kp {
    font-size: 1.5rem;
}

.pub-modal .pub-open-content .sharefont .b {
    color: #4ac6ff;
    margin: 0.8rem;
}

.pub-modal .pub-open-content .sharefont .ic {
    margin-left: 0.43rem;
    position: relative;
    top: -2px;
    width: 1.536rem;
}

/*.pub-modal .pub-open-content .sharefont>img{*/
/*width: 40%;*/
/*position: absolute;
left: 5.12rem;
top: 12.82rem;*/
/*}*/

.pub-footer {
    height: 4.27rem;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}

.nav-footer ul {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.nav-footer li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
}

.nav-footer li a {
    display: inline-block;
    position: relative;
    width: 4.2rem;
    padding-top: 2.5rem;
    color: #272421;
    font-size: 0.85rem;
    text-align: center;
}

.nav-footer a i {
    display: block;
    position: absolute;
    top: 0.4rem;
    left: 1.05rem;
    width: 2.1rem;
    height: 2.1rem;
    background-image: url("/statics/img/tab-icons.png");
    background-repeat: no-repeat;
    background-size: 200% 300%;
    -webkit-background-size: 4.2rem 6.3rem;
}

.nav-footer a span {
    line-height: 1.6rem;
}

.nav-footer li a.page-index i {
    background-position: 0 0;
}

.nav-footer li.active a.page-index i {
    background-position: -2.1rem 0;
}

.nav-footer li a.page-user-groupbuy i {
    background-position: 0 -2.1rem
}

.nav-footer li.active a.page-user-groupbuy i {
    background-position: -2.1rem -2.1rem;
}

.nav-footer li a.page-user i {
    background-position: 0 -4.2rem
}

.nav-footer li.active a.page-user i {
    background-position: -2.1rem -4.2rem;
}

.scroll-load {
    line-height: 3rem;
    color: #999;
    text-align: center;
}

.shareContent {
    justify-content: space-around;
    text-align: center;
}

.shareicon img {
    width: 5.12rem !important;
    height: 5.12rem !important;
    margin-bottom: 1.28rem !important;
}