            body{ font-size:1.3rem; }
                    .book-box { margin-bottom: 0.85rem; background-color: #fff; padding:0 1.28rem; }
                    .pub-page { padding-bottom: 8rem; }

                    .coupon.arrow-normal::after{ right: -0.2rem;}

                    .book-addr{ padding:0.64rem 1.28rem;}

                    .book-addr p{
                        line-height: 2rem; padding: 0.2rem;
                    }
                    .book-addr span.tag{
                        border:1px solid #fe9400;
                        color: #fe9400;
                        border-radius: 0.2rem;;
                        -wekit-border-radius: 0.2rem;
                        padding: 0 0.3rem;
                        font-size: 1rem;
                        margin-right: 0.5rem;
                    }
                    .book-addr .mobile{ font-size: 1.1rem; padding-left: 1rem;}
                    .book-addr .address{ font-size:1.1rem;}
                    .book-box.book-goods{ position: relative; padding: 1.28rem;}

                    .book-goods .thumb {
                        position: absolute;
                        width: 7.68rem;
                        left: 1.28rem; top:1.28rem;
                    }

                    .book-goods .thumb img{ width: 7.68rem; height: 7.68rem; }

                    .book-goods .desc {
                        height: 7.68rem;
                        position: relative;
                        vertical-align: middle;
                        padding-left: 8.96rem;;
                    }

                    .book-goods .desc .t {
                        max-height: 6rem;
                        line-height: 2rem;
                        overflow: hidden;
                        white-space: normal;
                        word-break: break-all;
                        word-wrap: break-word;
                        text-overflow: ellipsis;
                        text-indent: 0;
                    }

                    .book-goods .b {
                        position: absolute;
                        bottom: 0;
                        font-size: 1.1rem;
                        line-height: 2rem;
                        width: 100%;
                    }

                    .book-goods .b span{
                        display: block;
                        height: 2rem;
                        line-height: 2rem;
                    }

                    .book-goods .price em{ color: #ff5b5b;  font-size: 1.3rem;}
                    .book-title { margin: 0; padding: 0.2rem 0 0.4rem 0; padding-left:1.28rem; font-size: 1.1rem; color:#999; }

                    .book-box li { position: relative; padding: 0.85rem  0; text-align: right;color: #000; line-height: 2rem; }
                    .book-box li::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: -1.28rem;
                        right: 0;
                        width: 250%;
                        border-bottom: 1px solid #ebebeb;
                        -webkit-transform-origin: 0 0;
                        transform-origin: 0 0;
                        -webkit-transform: scale(0.5, 0.5);
                        transform: scale(0.5, 0.5);
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        z-index: 3;
                    }
                    .book-box li label { position: absolute; left: 0; top: 0.8rem; color: #52504d; font-size: 1.083; }
                    .book-box li label small { font-size: 1.204rem; color: #999; margin-left: 1.28rem;}
                    .book-box li:last-child::before { display: none }

                    .book-count .count i { display: inline-block; width: 1.7rem; height: 1.7rem;vertical-align: middle; }
                    .book-count .count .add { background:url(/statics/img/un-add.png?v=1); background-size: 200% 200%; background-position:  0 100%; }
                    .book-count .count .minus { background: url(/statics/img/un-add.png?v=1);background-size: 200% 200%; }
                    .book-count .count span { display: inline-block; width: 3.7em; height: 1.7rem; line-height: 1.7rem; font-size: 1.237rem; text-align: center; vertical-align: middle; color: #000; }
                    .book-count .count .add.active {background-position:  100% 100%;}
                    .book-count .count .minus.active {background-position:  100% 0;}

                    .book-box li.coupon { padding-right: 0.8rem; color: #ff5b5b; }
                    .book-box li.coupon i{ color: #999;}

                    .footer-box { position: fixed; left: 0; right: 0; bottom: 0;  line-height: 3rem;   z-index: 11;  color: #666; font-size: 0.9rem; text-align: right;-webkit-box-sizing: border-box; box-sizing: border-box; }
                    .footer-box span{ display: inline-block;}
                    .footer-box .inner{ padding:0.6rem; background-color: #fff; border-top: 1px solid #d3d3d3; }
                    .footer-box i { font-style: normal; }
                    .footer-box .txt { font-size: 1.1rem; color: #666; vertical-align: middle; }
                    .footer-box .footer-price { margin-right: 0.8rem; font-size: 1.92rem; color: #ffad0a;  vertical-align: middle; }
                    .footer-box .footer-price dfn{ font-size: 1.4rem; font-weight: normal;}
                    .footer-box .btn-buy { background-color: #ffe433; border:1px solid #cccccc; border-radius: 0.3rem; text-align: center; color: #272421; height: 3rem; width:8rem; overflow: hidden;font-size: 1.2rem; line-height: 3rem; vertical-align: middle; }
                    .footer-box .btn-buy.disabled { background-color: #999; }

                    .book-box .book-list label{ font-size: 1.3rem;}
                    .book-box .book-list label ins{ font-size: 1rem; color: #999; text-decoration: none; padding-left:0.5rem;}
                    .book-box .book-list .r{padding-left:8rem;}
                    .book-box .book-list .r input{ width:100%; color: #272421;}
                    .book-box .book-list li { background: none; padding-left:0; padding-right:0; }

                    .delivery-date span{color: #999; display: inline-block; line-height: 1.7rem; border: 1px solid #999; margin-left:0.6rem; width: 8rem; padding: 0.5rem 0; text-align: center; box-sizing: border-box; border-radius: 0.5rem; }

                    @media screen and (min-width: 350px) {
                        .delivery-date span{
                            width: 8rem;  padding: 0.5rem 0;
                        }
                    }

                    .delivery-date span.selected{ border-color: #2d9fe7; color: #2d9fe7;}

                    .footer-box .txt{ position: absolute; left: 1.28rem; top:1.5rem;  line-height: 1.28rem; height: 1.28rem; }
                    .footer-box .txt em{ color: #ff5b5b; padding-left: 0.5rem;}

                    .delivery_date span{ top:2rem;}

 
                    .book-box.book-options li { position: relative; padding: 0.85rem 2.5rem 0.85rem 0; background: url(/statics/img/icon-radio.png) no-repeat right center; background-size: auto 40%; text-align: right;color: #000; line-height: 2rem; }
                    .book-box.book-options li.active { background-image: url(/statics/img/icon-radio-active.png?v=1); } 
                    .book-box.book-options li.disabled { background: none; color: #999; }
                    .book-box.book-options li.disabled  label { color: #999; }
                    .book-box.book-options li:last-child::before { display: none }

                    .vip-equity span { color: #999; display: inline-block;  text-align: right; }

                    .discount-use-type { position: relative; padding: 0.85rem 1rem 0.85rem 2.5rem; background: url(/statics/img/icon-radio.png) no-repeat left center; background-size: auto 40%;}
                    .discount-use-type.active { background-image: url(/statics/img/icon-radio-active.png?v=1); }

                    .book-box li.discount-item.disabled { background: none; color: #999; }
                    .book-box li.discount-item.disabled label{color: #999; }



                    .book-box li.discount-use-type label{left:2.5rem;}

                    .vip-equity .vip-derate-txt{color: #ff5b5b;}
                            .vip-equity.discount-use-type .vip-derate-txt{color:#999; }
                            .vip-equity.discount-use-type.active .vip-derate-txt{color: #ff5b5b;}


                    .book-box.book-yanxishe{background:none; padding: 0;}
                    .book-yanxishe li:first-child{margin-top: 0;}
                    .book-yanxishe li{background-color: #fff; margin-top: .85rem; padding:1.28rem; text-align: left;}
                    .book-yanxishe textarea{resize: none;}

                    .book-yanxishe input,.book-yanxishe textarea{
                          width: 100%; height:100%; position: absolute; left:0; top:0; background: none; line-height: 1.7rem;
                    }
                    .book-box .field-wrap{ position: relative; width: 100%; height:auto; }
                    .book-box .field-wrap.self-contribution{height: 9rem;}
                    .book-box .field-wrap.self-brief{height: 3.4rem;}

                    .book-box .field-wrap ins{ color: #999; line-height: 1.7rem; display: block; padding-left: 2.5rem;}

                    .field-wrap ins i{display:block; position: absolute; top:0; left:0; vertical-align: middle; width:1.7rem; height:1.7rem; margin-right: .85rem;
                                background: url("/statics/img/edit-icon.png") center no-repeat;
                                background-size: 100% 100%;
                                -webkit-background-size: 100% 100%; }
                    input::-webkit-input-placeholder {
                        font-size: 1.2rem;
                    }

                    input::-moz-placeholder  {
                        font-size: 1.2rem;
                    }

                    input::-moz-placeholder {
                        font-size: 1.2rem;
                    }

                    input::-ms-input-placeholder{
                        font-size: 1.2rem;
                    }
                    .insure_tip{
                        color: #ef5b5b;
                        font-size: 1.0rem;
                        text-align: left;
                    }
                    .option_name{
                        float: left;
                        width: 80%;
                        text-align: left;
                        color:#52504d;
                    }
                    .option_price{
                        float: right;
                        width: 20%;
                        text-align: center;
                        position: absolute;
                        right: 1.8rem;
                        top: 50%;
                        height: 1.5rem;
                        margin-top: -0.75rem;
                        line-height: 2rem;
                    }
                    .option_price.special{
                        line-height: 1.5rem;
                        margin-top: -1.3rem;
                    }
                    .oldprice{
                        text-decoration: line-through !important;
                        font-size: 1rem !important;
                        color: #999 !important;
                    }
                    #vip-discount-amount{
                        color:#ff5b5b;
                    }
                    .rDialog-content{
                        font-size: 1.1rem;
                    }