<!DOCTYPE html>
<html ng-app="school"  ng-controller="schoolFliterList">

<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../d_partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js?v=2"></script>
    <style>
        div.card.radius-0{
            border-radius: 0rem;
        }
        h4.card-title{
            font-weight: bold;
            color: #666;
        }
        p.card-text{
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }
        .card-text.active{
            color: #3B5998;
            font-weight: bold;
        }

        .card-text.link{
            cursor: pointer;
        }
        div.card.image-left{
            min-height: 200px;
            max-height: 200px;
            overflow: hidden;
            padding-left: 200px;
        }

        div.card.image-left h4.card-title{
            font-size: 14px;
            letter-spacing: 0.05em;
            margin-bottom: 12px;
            height: 1em;
            line-height: 1em;
        }

        div.card.image-left p.card-text, div.card.image-left p.card-text-main{
            font-size: 12px;
            font-weight: normal;
            height: 3em;
            line-height: 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        div.card.image-left p.card-text-main::after{
            content: '...';
        }

        div.card.image-left > img{
            position: absolute;
            left: 0;
            top: 0;
            height: 80%;
            width: auto;
        }

        .custom-control-description{
            padding: 4px 12px;
            border-radius: 16px
        }
        .custom-control-input:checked~.custom-control-description {
            color: #fff !important;
            background-color: #3B5998 !important;
            font-weight: bold;
        }
        .custom-control-input:disabled~.custom-control-description {
            color: #292b2c;
            cursor: inherit;
        }
    </style>
</head>
<body style="background-color: #f2f2f2" window-bottom  method="getMoreSchool()">
    <% var active_nav="school" %>
    <% include ../d_partials/nav %>
    <div class="container mt-3" ng-init="cities=allCities['<%= province.toUpperCase() %>']; fliter.public='<%= isPublic %>';fliter.city='<%= city.toLowerCase() %>';fliter.type='<%= type %>'; fliter.province='<%= province.toUpperCase() %>';filterOn='<%= filterOn %>'; initSchool()">
        <div class="row">
            <div class="col-3 ">
                <div class="sticky-top card text-center radius-0" style="top:40px; border-top: 5px solid #3B5998">
                    <div class="card-block pt-0">
                        <h4 class="card-title" style="font-size: 18px; line-height: 3em; border-bottom: 1px solid #ddd;">院校排名</h4>
                        
                        <a href="http://www.liunar.com/schools/world/qs" class="d-block my-3 card-text link border-0 <%= type == 5 ? 'active':'' %>">世界大学排名</a>
                        <a href="http://www.liunar.com/schools/list/1" class="d-block my-3 card-text link border-0 <%= type == 1 ? 'active':'' %>">加拿大大学排名</a>
                        <a href="http://www.liunar.com/schools/list/2" class="d-block my-3 card-text link border-0 <%= type == 2 ? 'active':'' %>">加拿大特色院校</a>
                        <a href="http://www.liunar.com/schools/list/3/BC" class="d-block my-3 card-text link border-0 <%= type == 3 ? 'active':'' %>">加拿大中学排名</a>
                        <a href="http://www.liunar.com/schools/list/4/BC" class="d-block my-3 card-text link border-0 <%= type == 4 ? 'active':'' %>">加拿大小学排名</a>
                    </div>
                </div>
            </div>
            <% if(filterOn == 'false'){ %>
            <div class="col-9">
                <% for(var i = 0; i < schools.length; i++){ %>
                <a class="row p-3 bg-white <%= filterOn == 'false' ? 'mb-3':'mt-3' %>" href="http://www.liunar.com/schools/<%= schools[i].id %>" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;">
                    <% if(type == 1){ %>
                    <div class="col-2 text-center" style="border-right: 1px solid #ccc;">
                        <div class="middle">
                            <h1 style="font-size: 64px; color: #b1b1b1;">
                                <%= schools[i].national_rank %>
                            </h1>
                        </div>
                    </div>
                    <% } %>
                    <div class="col-3 text-center" style="overflow: hidden;">
                    
                        <img src="http://www.liunar.com/schools/<%= schools[i].id %>/1.png" style="max-height: 103px; width: auto;" check-image replacesrc="/img/school-default.png">

                    </div>
                    <div class="<%= type == 1 ? 'col-7' : 'col-9' %>">
                        <h3 style="font-size: 1.2em;">
                            <%= schools[i].en_name %>
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            <%= schools[i].ch_name %>

                            <button class="btn btn-outline-info btn-sm float-right" disabled style="cursor: inherit">
                                <%= schools[i].city %>
                            </button>
                            <% if (schools[i].school_category !== ""){ %> 
                            <button class="btn btn-outline-danger btn-sm float-right mx-2" disabled style="cursor: inherit">
                                <%= schools[i].school_category %>
                            </button>
                            <% } %>
                        </h5>
                        <p class="two-line-text" style="font-size: 0.9em;">
                            <%= schools[i].detail_info %>
                        </p>
                    </div>     
                </a>
                <% } %>
                <a class="row p-3 bg-white <%= filterOn == 'false' ? 'mb-3':'mt-3' %>" href="http://www.liunar.com/schools/{{school.id}}" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;" ng-if="schoolListsRank.length" ng-repeat="school in schoolListsRank">
                    <% if(type == 1){ %>
                    <div class="col-2 text-center" style="border-right: 1px solid #ccc;">
                        <div class="middle">
                            <h1 style="font-size: 56px; color: #b1b1b1;">
                                {{school.national_rank}}
                            </h1>
                        </div>
                    </div>
                    <% } %>
                    <div class="col-3 text-center" style="overflow: hidden;">
                        <img src="http://www.liunar.com/schools/{{school.id}}/1.png" style="height: auto; width: 100px;" check-image replacesrc="/img/school-default.png">
                    </div>
                    <div class="<%= type == 1 ? 'col-7' : 'col-9' %>">
                        <h3 style="font-size: 1.2em;">
                            {{school.en_name}}
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            {{school.ch_name}}

                            <button class="btn btn-outline-info btn-sm float-right" disabled style="cursor: inherit">
                                {{school.city}}
                            </button>
                            <button ng-if="school.school_category !== ''" class="btn btn-outline-danger btn-sm float-right mx-2" disabled style="cursor: inherit">
                                {{school.school_category}}
                            </button>
                        </h5>
                        <p class="two-line-text" style="font-size: 0.9em;">
                            {{schools[i].detail_info}}
                        </p>
                    </div>     
                </a>
            </div>
            <% } else { %>
            <div class="col-9">
                <div class="card radius-0 row" style="border-top: 5px solid #3B5998">
                    <div ng-cloak class="card-block py-0 bg-white col">
                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                            <div class="col-2">
                                所在省份：
                            </div>
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input type="radio" ng-model="fliter.province" value="BC" name="province" class="custom-control-input">
                                    <a href="http://www.liunar.com/schools/list/<%= type %>/BC" class="custom-control-description">卑诗省</a>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" ng-model="fliter.province" value="ON" name="province" class="custom-control-input">
                                    <a href="http://www.liunar.com/schools/list/<%= type %>/ON" class="custom-control-description">安大略省</a>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" ng-model="fliter.province" value="AB" name="province" class="custom-control-input">
                                    <a href="http://www.liunar.com/schools/list/<%= type %>/AB" class="custom-control-description">阿尔伯特省</a>
                                </label>
                            </div>
                        </div>
                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                            <div class="col-2">
                                学校类型：
                            </div>
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input type="radio" value="all" ng-click="search()" ng-model="fliter.public" name="isPublic" class="custom-control-input">
                                    <span class="custom-control-description">全部</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" value="1" ng-click="search()" ng-model="fliter.public" name="isPublic" class="custom-control-input">
                                    <span class="custom-control-description">公校</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" value="0" ng-click="search()" ng-model="fliter.public" name="isPublic" class="custom-control-input">
                                    <span class="custom-control-description">私校</span>
                                </label>
                            </div>
                        </div>
                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                            <div class="col-2">
                                所在城市：
                            </div>
                            <div class="col">
                                <label class="custom-control custom-radio">
                                    <input type="radio" ng-click="search()" value="all" ng-model="fliter.city" name="city" class="custom-control-input">
                                    <span class="custom-control-description">全部</span>
                                </label>
                                <label class="custom-control custom-radio" ng-repeat="(key, value) in cities">
                                    <input type="radio" ng-click="search()" name="city" ng-model="fliter.city" value="{{key.toLowerCase()}}" class="custom-control-input">
                                    <span class="custom-control-description">{{value}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>    
                <% for(var i = 0; i < schools.length; i++){ %>
                <a class="row p-3 bg-white <%= filterOn == 'false' ? 'mb-3':'mt-3' %>" href="http://www.liunar.com/schools/<%= schools[i].id %>" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;">
                    <div class="col-3 text-center" style="overflow: hidden;">

                        <img src="http://www.liunar.com/schools/<%= schools[i].id %>/1.png" style="max-height: 103px; width: auto;" check-image replacesrc="/img/school-default.png">

                    </div>
                    <div class="col-6">
                        <h3 style="font-size: 1.2em;">
                            <%= schools[i].en_name %>
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            <%= schools[i].ch_name %>
                        </h5>
                    </div>
                    <div class="col-3" style="border-left: 1px solid #ddd">
                        <p style="font-size: 0.8em;">最新排名：<%= schools[i].national_rank %></p>
                        <p style="font-size: 0.8em;">平均5年排名：<%= schools[i].five_year_rank %></p>
                        <button ng-cloak class="btn btn-outline-primary btn-sm" disabled style="cursor: inherit">
                            {{cities['<%= schools[i].city %>']}}
                        </button>
                        <button class="btn <%= schools[i].isPublic == 1 ? 'btn-outline-success' : 'btn-outline-danger' %> btn-sm mx-2" disabled style="cursor: inherit">
                            <%= schools[i].isPublic == 1 ? '公校' : '私校'%>
                        </button>
                    </div>     
                </a>
                <% } %>
                <a class="row p-3 bg-white <%= filterOn == 'false' ? 'mb-3':'mt-3' %>" href="http://www.liunar.com/schools/{{school.id}}" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;" ng-if="schoolListsRank.length > 1" ng-repeat="school in schoolListsRank">
                    <div class="col-3 text-center" style="overflow: hidden;">
                        <img src="http://www.liunar.com/schools/{{school.id}}/1.png" style="height: auto; width: 100px;" check-image replacesrc="/img/school-default.png">
                    </div>
                    <div class="col-6">
                        <h3 style="font-size: 1.2em;">
                            {{school.en_name}}
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            {{school.ch_name}}
                        </h5>
                    </div>
                    <div class="col-3" style="border-left: 1px solid #ddd">
                        <p style="font-size: 0.8em;">最新排名：{{school.national_rank}}</p>
                        <p style="font-size: 0.8em;">平均5年排名：{{school.five_year_rank}}</p>
                        <button ng-cloak class="btn btn-outline-primary btn-sm" disabled style="cursor: inherit">
                            {{cities[school.city]}}
                        </button>
                        <button class="btn {{school.isPublic == 1 ? 'btn-outline-success' : 'btn-outline-danger'}} btn-sm mx-2" disabled style="cursor: inherit">
                            {{school.isPublic == 1 ? '公校' : '私校'}}
                        </button>
                    </div>     
                </a>
            </div>
            <% } %>
        </div>
    </div>
    <% include ../d_partials/footer %>
    <% include ../partials/footScript %>            
</body>
</html>        