<!DOCTYPE html>
<html ng-app="school">
    <head>
        <title>留哪儿院校库</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Canbest">
        <link rel="stylesheet" href="/public/css/school.css" />
        <script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU"></script>
        <script src="/public/lib/Chart.js/Chart.js"></script>
        <% include ../d_partials/head %>
        <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="/public/js/school.js"></script>
        <style>
            .card-title-header{
                border-left: 6px solid #3b5998;
                color: #3b5998;
                height: 24px;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                padding-left: 0.5em;
                margin-bottom: 0.5em;
            }
        </style>
    </head>
    <body style="background-color: #f2f2f2" ng-controller="schoolDetail">
        <% var active_nav="school" %>
        <% include ../d_partials/nav %>
        <div class="row bg-white sticky-top">
            <div class="col">
                <div class="container p-3">
                    <div class="row" style="max-height: 135px;">
                        <div class="col-3 text-center" style="overflow:hidden">
                            <img src="http://www.liunar.com/schools/<%= school.id %>/1.png" style="max-height: 100px; width: auto;" check-image replacesrc="/img/school-default.png"/>
                        </div>
                        <div class="col-7">
                            <div class="middle">
                                <h4><%= school.en_name %></h4>
                                <h6><%= school.ch_name %></h6>
                                <% if(school.type == 1 || school.type ==2){ %>                               
                                <button class="btn btn-outline-primary btn-sm" disabled style="cursor: inherit">
                                    <%= school.city %>
                                </button>
                                <button class="btn btn-outline-warning btn-sm ml-2 mr-1" disabled style="cursor: inherit">
                                    学校排名：<%= school.national_rank %>
                                </button>
                                    <% if (school.school_category !== ""){ %> 
                                        <button class="btn btn-outline-danger btn-sm mx-1" disabled style="cursor: inherit">
                                            <%= school.school_category %>
                                        </button>
                                    <% } %>
                                    <% if (school.int_student_num !== ""){ %>
                                        <button class="btn btn-outline-info btn-sm mx-1" disabled style="cursor: inherit">
                                            国际学生：<%= school.int_student_num %>
                                        </button>
                                    <% } %> 
                                <% }else{ %>
                                <button class="btn btn-outline-primary btn-sm" disabled style="cursor: inherit">学校排名：<%= school.national_rank %></button>
                                <button class="btn btn-outline-danger btn-sm ml-2 mr-1" disabled style="cursor: inherit"><%= school.isPublic == 1 ? "公校" : "私校" %></button>
                                <button class="btn btn-outline-danger btn-sm ml-2 mr-1" disabled style="cursor: inherit"><%= school.city %></button>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-2">
                            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!--detail_body -->
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <% if(school.type == 1 || school.type == 2){ %>
                    <div class="card-title-header">
                        介绍
                    </div>
                    <div class="card mb-5" style="width: 100%;">
                        <img class="card-img-top" src="http://www.liunar.com/schools/<%= school.id %>/2.png" style="width: 100%;" check-image replacesrc="/img/school-default.png">
                        <div class="card-block">
                            <h4 class="card-title text-center" style="font-size: 20px;">院校简介</h4>
                            <p class="card-text">
                                <%= school.detail_info %>
                            </p>
                        </div>
                    </div>
                    <div class="card-title-header">
                        联系方式
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <%- school.contact %>
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="card-title-header">
                        信息
                    </div>
                    <div class="card mb-5" style="width: 100%;" ng-init="tableInit('<%= school.other %>')">
                        <img class="card-img-top" src="http://www.liunar.com/schools/<%= school.id %>/2.png" style="width: 100%;" check-image replacesrc="/img/school-default.png">
                        <div class="card-block">
                            <h4 class="card-title text-center" style="font-size: 20px;">学校信息</h4>
                            <div class="card-text row mt-3">
                                <div class="col">
                                    {{firstKey}}
                                </div>
                                <div class="col text-right">
                                    {{firstValue}}
                                </div>
                            </div>
                            <div class="card-text row mt-3">
                                <div class="col">
                                    英语非母语学生率(%)
                                </div>
                                <div class="col text-right">
                                    <%= school.esl %>
                                </div>
                            </div>
                            <div class="card-text row mt-3">
                                <div class="col">
                                    需特殊帮助学生率(%)
                                </div>
                                <div class="col text-right">
                                    <%= school.special_needs_percentage %>
                                </div>
                            </div>
                            <div class="card-text row mt-3">
                                <div class="col">
                                    法语浸入课程注册学生率(%)
                                </div>
                                <div class="col text-right">
                                    <%= school.french_percentage %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-title-header">
                        联系方式
                    </div>
                    <div class="card mb-5">
                        <div class="card-block">
                            <p class="card-text">电话号码：<%= school.contact %></p>
                            <p class="card-text">地址：<%= school.address %></p>
                            <p class="card-text">城市：<%= school.city %></p>
                        </div>
                    </div>
                    <div class="card-title-header">
                        地理位置
                    </div>
                    <div class="card">
                        <div class="card-block">
                            <div class="row m-0">
                                <div ng-click="select(option)" class="p-2 col text-center mapOption" ng-class="{'mapOptionActived': option == selected}" ng-repeat="option in mapModules" style="cursor: pointer">
                                    {{option.text}}
                                </div>
                            </div>
                            <map map-type="{{mapType}}" id="schoolMap" style="height: 240px; width:100%" address="<%= school.address %>"></map>
                        </div>
                    </div>
                    <% } %>
                </div>
                <div class="col" ng-init="getSchoolComment(<%= school.id %>)">
                    <% if(school.type == 1 || school.type == 2){ %>
                    <div class="card-title-header">
                        申请信息
                    </div>
                    <div class="card mb-5">
                        <div class="card-block">
                            <%- school.apply_info %>
                        </div>
                    </div>
                    <% }else{ %>
                    <div class="card-title-header">
                        学校概况
                    </div>
                    <div class="card mb-5">
                        <div class="card-block">
                            <table ng-cloak class="schoolInfoTable" style="width: 100%;" ng-init="tableInit('<%= school.other %>')">
                                <tr>
                                    <th class="text-center">学术表现</th>
                                    <th class="text-center">2011</th>
                                    <th class="text-center">2012</th>
                                    <th class="text-center">2013</th>
                                    <th class="text-center">2014</th>
                                    <th class="text-center">2015</th>
                                </tr>
                                <tr ng-repeat="(key, value) in table">
                                    <th style="text-align: left;">{{translate[key]}}</th>
                                    <td class="text-center" ng-repeat="value in value track by $index">{{value}}</td> 
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card-title-header">
                        5年评分趋势
                    </div>
                    <div class="card mb-5">
                        <div class="card-block" ng-init="initChart('<%= school.overall_rating %>')">
                            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride">
                            </canvas>
                        </div>
                    </div>
                    <% } %>
                    <div class="card-title-header">
                        学校点评
                    </div>
                    <div class="card mb-5"  ng-if="schoolComment.length > 0">
                        <ul class="list-group list-group-flush">
                            <li ng-cloak class="list-group-item" ng-repeat="comment in schoolComment">
                                <div class="row">
                                    <div class="col-2">
                                        <img class="rounded-circle" ng-src="{{comment.avatar}}" check-image replacesrc="/img/default_avatar.jpg" style="width: 100%"/>
                                    </div>
                                    <div class="col-10">
                                        <h5 style="font-size: 1em;">{{comment.nickname}}</h5>
                                        <p class="mb-1" style="font-size: 0.9em;">{{comment.content}}</p>
                                        <small class="text-muted">{{comment.create_time * 1000 | date: "yyyy-MM-dd"}}</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of detail_body -->
        <% include ../d_partials/footer %>
        <% include ../partials/footScript %>     
    </body>
 </html>   