<!DOCTYPE html>
<html ng-app="school">
<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css?vp=2" />
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js"></script>
</head>
<body>
    <div class="view-container" ng-controller="schoolCate">
        <div class="pane" style="background-color: #f2f2f2">
            <% var head_title="世界大学排名" %>
            <% include ../partials/headerBar %>
            <div class="content-container">
                <div class="content" style="padding: 0px 5px">
                    <div class="row wrapBox no-padding">
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/qs" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(0,229,128,0.5),rgba(0,229,128,0.5)), url('/img/school/w-university.png')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/global.png?v=1" style="border: 3.25px solid #fff;border-radius: 100%;"/>
                                <h1>QS 综合排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/times" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(0,229,128,0.5),rgba(0,229,128,0.5)), url('/img/school/w-university.png')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/global.png?v=1" style="border: 3.25px solid #fff;border-radius: 100%;"/>
                                <h1>TIMES 综合排名</h1>
                            </a>
                        </div>
                            <!--<div class="col col-100">
                                <a href="http://www.liunar.com/schools/world/usnews_global" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(0,229,128,0.5),rgba(0,229,128,0.5)), url('/img/school/w-university.png')">
                                        <img src="/img/school/university.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/global.png?v=1" style="border: 3.25px solid #fff;border-radius: 100%;"/>
                                    <h1>US NEWS 综合排名</h1>
                                </a>
                            </div>-->
                            <div class="col col-100">
                                <a href="http://www.liunar.com/schools/world/arwu" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(0,229,128,0.5),rgba(0,229,128,0.5)), url('/img/school/w-university.png')">
                                        <img src="/img/school/university.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/global.png?v=1" style="border: 3.25px solid #fff;border-radius: 100%;"/>
                                    <h1>ARWU 综合排名</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% pageActive = "school" %>
                <% include ../partials/tabs %>
                <% include ../partials/region_redirect %>

            </div>
        </div>
        <% include ../partials/footScript %>            
    </body>
    </html>        