<!DOCTYPE html>
<html ng-app="school">
    <head>
        <title>留哪儿院校库</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Canbest">
        <link rel="stylesheet" href="/public/css/school.css?vp=2" />
        <script src="/public/lib/Chart.js/Chart.js"></script>
        <% include ../partials/head %>
        <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
        <script src="/public/js/school.js"></script>
    </head>
    <body>
        <div class="view-container" ng-controller="schoolCate">

            <div class="pane" style="background-color: #f2f2f2">
                <% var head_title="留哪儿院校库" %>
                <% include ../partials/headerBar %>
                <div class="content-container">
                    <div class="content" style="padding: 0px 5px">
                        <div class="row wrapBox no-padding">
                            <div class="col col-100">
                                <a href="http://www.liunar.com/schools/global_cate" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(0,229,128,0.5),rgba(0,229,128,0.5)), url('/img/school/w-university.png')">
                                        <img src="/img/school/university.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/global.png?v=2" style="border: 3.25px solid #fff;border-radius: 100%;"/>
                                    <h1>世界 大学排名</h1>
                                </a>
                            </div>
                            <div class="col col-100">
                                <a href="http://www.liunar.com/schools/us_cate" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                        <img src="/img/school/university.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/us.png" />
                                    <h1>美国 大学排名</h1>
                                </a>
                            </div>
                            <div class="col col-50">
                                <a href="http://www.liunar.com/schools/list/1" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(240,111,111,0.8),rgba(240,111,111,0.8)), url('/img/school/ca-university.jpg')">
                                        <img src="/img/school/university.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>加拿大 大学排名</h1>
                                </a>
                            </div>
                            <div class="col col-50">
                                <a href="http://www.liunar.com/schools/list/2" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(61,198,216,0.8),rgba(61,198,216,0.8)), url('/img/school/ca-college.jpg')">
                                        <img src="/img/school/college.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>加拿大 特色院校排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/3/AB" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(236,149,55,0.8),rgba(236,149,55,0.8)), url('/img/school/ca-ab.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>阿尔伯特省<br/> 中学排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/3/BC" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(236,149,55,0.8),rgba(236,149,55,0.8)), url('/img/school/ca-bc.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>卑诗省<br/> 中学排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/3/ON" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(236,149,55,0.8),rgba(236,149,55,0.8)), url('/img/school/ca-on.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>安大略省<br/> 中学排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/4/AB" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(118,171,73,0.8), rgba(118,171,73,0.8)), url('/img/school/ca-ab.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>阿尔伯特省<br/> 小学排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/4/BC" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(118,171,73,0.8), rgba(118,171,73,0.8)), url('/img/school/ca-bc.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>卑诗省<br/> 小学排名</h1>
                                </a>
                            </div>
                            <div class="col col-33">
                                <a href="http://www.liunar.com/schools/list/4/ON" class="school_cty_btn">
                                    <div class="img_div" style="background: linear-gradient(rgba(118,171,73,0.8), rgba(118,171,73,0.8)), url('/img/school/ca-on.jpg')">
                                        <img src="/img/school/elementary.png">
                                    </div>
                                    <img class="cty_icon" src="/img/school/ca.png" />
                                    <h1>安大略省<br/> 小学排名</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <% pageActive = "school" %>
                <% include ../partials/tabs %>
                <% include ../partials/region_redirect %>

            </div>
        </div>
        <% include ../partials/footScript %>            
    </body>
</html>        