<!DOCTYPE html>
<html ng-app="school">

<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU"></script>
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js?v=5181"></script>
</head>
<body>
    <div class="view-container" ng-controller="schoolDetail">

        <div class="pane" style="background-color: #e9e9e9">
            <%# var head_title = school.title %>
            <%# include ../partials/headerBar %>
            <div class="content-container no-header" ng-init="initShare('<%= school.title %>', 'http://www.liunar.com/schools/<%= school.id %>/1.png', '<%= school.detail_info %>')">
                <div class="content">
                    <!-- school_head -->
                    <div class="px-24 py-12 item school-head fullscreen position-relative" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://www.liunar.com/schools/<%= school.id %>/2.png')">            
                        <div class="row">
                            <div class="col-28">
                                <img src="http://www.liunar.com/schools/<%= school.id %>/1.png"  check-image replacesrc="/img/school-default.png" class="full-image"/>
                            </div>
                            <div class="col no-padding-y pl-12">
                                <h3 class="no-margin-top no-margin-bottom">
                                    <%= school.en_name %>
                                </h3>
                                <p style="margin-top: 6px; font-size: 16px">
                                    <%= school.ch_name %>
                                </p>
                                <% if(school.type == 1 || school.type ==2){ %>
                                <div class="row wrapBox">
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        <%= school.city %>
                                    </button>
                                    <% if (school.school_category !== ""){ %> 
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        <%= school.school_category %>
                                    </button>
                                    <% } %>
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        学校排名：<%= school.national_rank %>
                                    </button>
                                    <% if (school.int_student_num !== ""){ %>
                                    <button class="col-40 rounded badge btn btn-outline mr-12">
                                        国际学生：<%= school.int_student_num %>
                                    </button>
                                    <% } %> 
                                </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <!--end school_head -->
                    <!--school_cards-->
                    <% if(school.type == 1 || school.type ==2){ %>
                    <div class="item fullscreen white-bg px-12 py-12">
                        <h4>学校详情：</h4>
                        <p><%= school.detail_info %></p>
                    </div>
                    <div class="item fullscreen mt-18 white-bg px-12 py-12">
                        <h4>申请信息：</h4>
                        <p><%- school.apply_info %></p>
                    </div>
                    <div class="item fullscreen mt-18 white-bg px-12 py-12">
                        <h4>联系方式：</h4>
                        <p><%- school.contact %></p>
                    </div>
                    <% }else{ %>
                    <div ng-cloak class="item fullscreen white-bg px-12 py-12" ng-init="tableInit('<%= school.other %>')">
                        <h4>学校信息：</h4>
                        <div class="list mt-12">
                            <div class="row">
                                <div class="col">
                                    {{firstKey}}
                                </div>
                                <div class="col t-a-r">
                                    {{firstKey}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    英语非母语学生率(%)
                                </div>
                                <div class="col t-a-r">
                                    <%= school.esl %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    需特殊帮助学生率(%)
                                </div>
                                <div class="col t-a-r">
                                    <%= school.special_needs_percentage %>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    法语浸入课程注册学生率(%)
                                </div>
                                <div class="col t-a-r">
                                    <%= school.french_percentage %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-cloak class="item fullscreen white-bg px-12 py-12 mt-18">
                        <h4>学校概况：</h4>
                        <table class="schoolInfoTable mt-18" style="width: 100%;" ng-init="tableInit('<%= school.other %>')">
                            <tr>
                                <th>学术表现</th>
                                <th>2011</th>
                                <th>2012</th>
                                <th>2013</th>
                                <th>2014</th>
                                <th>2015</th>
                            </tr>
                            <tr ng-repeat="(key, value) in table">
                                <th style="text-align: left;">{{translate[key]}}</th>
                                <td class="t-a-c" ng-repeat="value in value track by $index">{{value}}</td> 
                            </tr>
                        </table>
                    </div>
                    <div ng-cloak class="item fullscreen white-bg px-12 py-12 mt-18" ng-init="initChart('<%= school.overall_rating %>')">
                        <h4>学校5年评分趋势：</h4>
                        <div class="mt-18" >
                            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride">
                            </canvas>
                        </div> 
                    </div>
                    <div id="contactInfo" class="item fullscreen white-bg px-12 py-12 mt-18" style="margin-top: 24px; padding: 24px;">
                        <h4>联系方式：</h4>
                        <p class="mt-18">电话号码：<%= school.contact %></p>
                        <p>地址：<%= school.address %></p>
                        <p>城市：<%= school.city %></p>
                    </div>
                    <div ng-cloak class="item fullscreen white-bg px-12 py-12 mt-18" ng-init="initChart('<%= school.overall_rating %>')">
                        <h4>学校位置：</h4>
                        <div class="row no-padding mt-18">
                            <div ng-click="select(option)" class="col t-a-c mapOption" ng-class="{'mapOptionActived': option == selected}" ng-repeat="option in mapModules">{{option.text}}</div>
                        </div>
                        <map map-type="{{mapType}}" id="schoolMap" style="height: 200px; width:100%" address="<%= school.address %>"></map>
                    </div>
                    <% } %>    
                    <div ng-init="getSchoolComment(<%= school.id %>)" ng-if="schoolComment.length != 0" class="item fullscreen mt-18 white-bg px-12 py-12">
                        <h4>点评：</h4>
                        <div class="list">
                            <div ng-cloak ng-repeat="comment in schoolComment" class="item avatarItem" style="border: none">
                                <img ng-src="{{comment.avatar}}" check-image replacesrc="/img/default_avatar.jpg">
                                <h3>{{comment.nickname}}</h3>
                                <p>{{comment.content}}</p>
                                <p>{{comment.create_time * 1000 | date: "yyyy-MM-dd"}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end school_cards-->
            </div>
            <% pageActive = "school" %>
            <% include ../partials/tabs %>
            <% include ../partials/region_redirect %>

        </div>
    </div>
</body>