<!DOCTYPE html>
<html ng-app="school">

<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css?t=1" />
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js?v=5181"></script>
</head>
<body>
    <div class="view-container" ng-controller="schoolFliterList">

        <div class="pane" ng-init="cities=allCities['<%= province %>']; fliter.public='<%= isPublic %>';fliter.city='<%= city %>';fliter.type='<%= type %>'; fliter.province='<%= province %>';filterOn='<%= filterOn %>'; initSchool(); initShare('<%= sharetitle %>','http://www.liunar.com/img/schoolShareV2.jpg' , '')">
            <% var head_title=sharetitle %>
            <% include ../partials/headerBar %>
            <div class="content-container" at-bottom method="getMoreSchool()">
                <div class="content">
                    <% if(filterOn == 'true'){ %>
                    <div class="row">
                        <label class="col item item-input item-select noBorder no-margin">
                            <div class="input-label">类型</div>
                            <select style="padding-left: 6px; padding-right: 36px; width: 100%; direction: ltr" ng-model="fliter.public" ng-change="search()">
                                <option value="all">全部</option>
                                <option value="1">公校</option>
                                <option value="0">私校</option>
                            </select>
                        </label>
                        <label class="col item item-input item-select noBorder no-margin">
                            <div ng-cloak class="input-label" style="width: 75%;">
                                {{fliter.city == "all" ? "全部" : cities[fliter.city]}}
                            </div>
                            <select style="padding-left: 6px; padding-right: 36px; max-width: 0%; direction: ltr" ng-model="fliter.city" ng-change="search()">
                                <option value="all">全部</option>
                                <option value="{{key.toString()}}" ng-repeat="(key, value) in cities">{{value}}</option>
                            </select>
                        </label>
                    </div>
                    <% for(var i = 0; i < schools.length; i++){ %>
                    <a class="school-item-container" href="http://www.liunar.com/schools/<%= schools[i].id %>">
                        <div class="school item">
                            <img class="img" src="http://www.liunar.com/schools/<%= schools[i].id %>/1.png" check-image replacesrc="http://www.liunar.com/img/school-default.png"/>
                            <h4>
                                <%= schools[i].en_name %>
                            </h4>
                            <p>
                                <%= schools[i].ch_name %>
                            </p>
                        </div>
                        <div class="row">
                            <p>
                                <span>最新排名：<%= schools[i].national_rank %></span>
                                <span>城市：<%= schools[i].city %></span>

                            </p>
                        </div>
                        <div class="row">
                            <p>

                             <span>前五年平均：<%= schools[i].five_year_rank %></span>
                             <span>学校类型：<%= schools[i].isPublic == 1 ? '公校' : '私校' %></span>
                         </p>
                     </div>
                 </a>
                 <% } %>
                 <a class="school-item-container" ng-repeat="school in schoolListsRank" href="http://www.liunar.com/schools/{{school.id}}">
                    <div class="school item">
                        <img class="img" ng-src="http://www.liunar.com/schools/{{school.id}}/1.png" check-image replacesrc="http://www.liunar.com/img/school-default.png"/>
                        <h4>
                            {{school.en_name}} 
                        </h4>
                        <p>
                            {{school.ch_name}}
                        </p>
                    </div>
                    <div class="row">
                        <p>
                            <span>最新排名：{{school.national_rank}}</span>
                            <span>城市：{{school.city}}</span>
                        </p>
                    </div>
                    <div class="row">
                        <p>
                           <span>前五年平均：{{school.five_year_rank}}</span>
                           <span>学校类型：{{school.isPublic == 1 ? '公校' : '私校'}}</span>
                       </p>
                   </div>
               </a>
               <% }else { %>
               <% for(var i = 0; i < schools.length; i++){ %>
               <a class="item fullscreen px-24 py-12" style="border-bottom: 1px solid #d8d8d8;" href="http://www.liunar.com/schools/<%= schools[i].id %>">
                <div class="row">
                    <div class="col-28">
                        <img src="http://www.liunar.com/schools/<%= schools[i].id %>/1.png" class="full-image"/>
                    </div>
                    <div class="col no-padding-y pl-12 mr-12">
                        <h3 class="no-margin-top" style="margin-bottom: 6px;">
                            <%= schools[i].en_name %>
                        </h3>
                        <p class="no-margin-y">
                            <%= schools[i].ch_name %>
                        </p>
                        <p class="no-margin-bottom" style="overflow: hidden; margin-top: 6px; height: 3em; line-height: 1em;">
                            <%= schools[i].detail_info %>
                        </p>
                    </div>    
                </div>
                <div class="row pt-12">
                    <button class="rounded btn btn-outline mr-12" style="color: #bdd53d; border-color: #bdd53d">
                        <%= schools[i].city %>
                    </button>
                    <% if (schools[i].school_category !== ""){ %> 
                    <button class="rounded btn btn-outline" style="color: #FF7400; border-color: #FF7400">
                        <%= schools[i].school_category %>
                    </button>
                    <% } %>
                </div>
            </a>
            <% } %>
            <a class="item fullscreen px-24 py-12" style="border-bottom: 1px solid #d8d8d8;"  ng-repeat="school in schoolListsRank" href="http://www.liunar.com/schools/{{school.id}}">
                <div class="row">
                    <div class="col-28">
                        <img src="http://www.liunar.com/schools/{{school.id}}/1.png" class="full-image"/>
                    </div>
                    <div class="col no-padding-y pl-12 mr-12">
                        <h3 class="no-margin-top" style="margin-bottom: 6px;">
                            {{school.en_name}}
                        </h3>
                        <p class="no-margin-y">
                            {{school.ch_name}}
                        </p>
                        <p class="no-margin-bottom" style="overflow: hidden; margin-top: 6px; height: 3em; line-height: 1em;">
                            {{school.detail_info}}
                        </p>
                    </div>    
                </div>
                <div class="row pt-12">
                    <button class="rounded btn btn-outline mr-12" style="color: #bdd53d; border-color: #bdd53d">
                        {{school.city}}
                    </button>
                    <button ng-if="school.school_category != ''" class="rounded btn btn-outline" style="color: #FF7400; border-color: #FF7400">
                        {{school.school_category}}
                    </button>
                </div>
            </a>
            <% } %>  
        </div>      
    </div>
</div>
<% pageActive = "school" %>
<% include ../partials/tabs %>
<% include ../partials/region_redirect %>

</div>
</div>
<% include ../partials/footScript %>            
</body>
</html>        