<!DOCTYPE html>
<html ng-app="school">
<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css?vp=2" />
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/js/school.js"></script>
</head>
<body>
    <div class="view-container" ng-controller="schoolCate">

        <div class="pane" style="background-color: #f2f2f2">
            <% var head_title="美国大学排名" %>
            <% include ../partials/headerBar %>
            <div class="content-container">
                <div class="content" style="padding: 0px 5px">
                    <div class="row wrapBox no-padding">
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 大学榜</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_medical_research" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 研究医学院排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_medical_primary_care" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 临床医学院排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_engineering" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 工程学院排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_business" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 商学院排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_law" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 法律学院排名</h1>
                            </a>
                        </div>
                        <div class="col col-100">
                            <a href="http://www.liunar.com/schools/world/usnews_school_fine_arts" class="school_cty_btn">
                                <div class="img_div" style="background: linear-gradient(rgba(87,144,226,0.8),rgba(87,144,226,0.8)), url('/img/school/us-university.jpg')">
                                    <img src="/img/school/university.png">
                                </div>
                                <img class="cty_icon" src="/img/school/us.png" />
                                <h1>美国 US News 艺术学院排名</h1>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <% pageActive = "school" %>
            <% include ../partials/tabs %>
            <% include ../partials/region_redirect %>

        </div>
    </div>
    <% include ../partials/footScript %>            
</body>
</html>        