<div class="footerBar">
    <div class="input-inset">
        <label class="input-inset-wrapper">
            <input placeholder="评论..." ng-model="commentObj.content"/>
        </label>
        <button class="botButt" ng-click="postComm()" ng-disabled="disable">
            评论
        </button>
    </div>
</div>