<div class="headerBar mission t-a-c">
    <div class="row">
        <a href="http://yun.liunar.com/CustomerManage/CustomerEdit" class="col">
            <p class="mb-12 no-margin-top">
                <i class="fa fa-pencil-square-o fa-2x"></i>
            </p>
            客户录入
        </a>
        <a href="http://yun.liunar.com/CustomerManage/Customers" class="col">
            <p class="mb-12 no-margin-top">
                <i class="fa fa-comments-o fa-2x"></i>
            </p>
            线索跟踪
        </a>
        <a href="http://yun.liunar.com/Shop/Products" class="col">
            <p class="mb-12 no-margin-top">
                <i class="fa fa-tag fa-2x"></i>
            </p>
            我的精选
        </a>
        <a href="http://www.liunar.com/mobile/#/app/userRecommend" class="col">
            <p class="mb-12 no-margin-top">
                <i class="fa fa-user-plus fa-2x"></i>
            </p>
            邀请达人
        </a>
    </div>
</div>