<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta name="robots" content="index, nofollow" />
<meta name="googlebot" content="index, nofollow" />
<meta name="baiduspider" content="index, nofollow, noarchive" />
<link rel="icon" href="/img/favicon.png?c=1" type="image/x-icon">
<link href="/public/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="/public/css/global.css?ga=3" rel="stylesheet"/>
<script src="/public/lib/angular/angular.min.js"></script>
<script src="/public/lib/angular-cookies.js"></script>
<script src="/public/lib/angular-qr/lib/qrcode.js"></script>
<script src="/public/lib/angular-qr/src/angular-qr.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" defer></script>
<script src="/public/js/app.js?af=ab"></script>
<script src="/public/js/directives.js?vg=2"></script>
<script src="/public/js/factories.js?bs=1"></script>
<script src="/public/js/preventOverScroll.js?la=cd"></script>
<script src="/public/js/baidu.js"></script>