<div class="headerBar t-a-c" style="background-color: #fff; box-shadow:none; padding-top: 4px;">
    <h1 class="title">
        <div class="bdsharebuttonbox" style="top: 5px; left: 42px; right: 42px; position: absolute">
            <a class="bds_more" href="#" data-cmd="more"></a>
            <a title="分享到一键分享" class="bds_mshare" href="#" data-cmd="mshare"></a>
            <a title="分享到新浪微博" class="bds_tsina" href="#" data-cmd="tsina"></a>
            <!--<a title="分享到微信" class="bds_weixin" href="#" data-cmd="weixin"></a>-->
            <a title="分享到QQ空间" class="bds_qzone" href="#" data-cmd="qzone"></a>
            <a title="分享到腾讯微博" class="bds_tqq" href="#" data-cmd="tqq"></a>
            <a title="分享到人人网" class="bds_renren" href="#" data-cmd="renren"></a>
            <a title="分享到百度贴吧" class="bds_tieba" href="#" data-cmd="tieba"></a>
            <a title="分享到天涯社区" class="bds_ty" href="#" data-cmd="ty"></a>
            <a title="分享到Facebook" class="bds_fbook" href="#" data-cmd="fbook"></a>
            <a title="分享到Twitter" class="bds_twi" href="#" data-cmd="twi"></a>
            <!--<a title="分享到linkedin" class="bds_linkedin" href="#" data-cmd="linkedin"></a>-->
        </div>
    </h1>
    <script>
        window._bd_share_config = {
            "common": {
                "bdSnsKey": {},
                "bdText": "",
                "bdMini": "1",
                "bdMiniList": [
                    "mshare",
                    "qzone",
                    "tsina",
                    "weixin",
                    "renren",
                    "tqq",
                    "tieba",
                    "bdhome",
                    "sqq",
                    "mail",
                    "ty",
                    "fbook",
                    "twi",
                    "copy"
                ],
                "bdPic": "",
                "bdStyle": "1",
                "bdSize": "24"
            },
            "share": {},
            "image": {
                "viewList": ["mshare", "tsina", "weixin", "qzone", "tqq", "renren", "tieba", "ty", "fbook", "twi",
                ],
                "viewText": "分享到：",
                "viewSize": "24"
            },
            "selectShare": {
                "bdContainerClass": null,
                "bdSelectMiniList": [
                    "mshare",
                    "tsina",
                    "weixin",
                    "qzone",
                    "tqq",
                    "renren",
                    "tieba",
                    "ty",
                    "fbook",
                    "twi"
                ]
            }
        };
        with(document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
    </script>
</div>