<style>
    .tabs-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: horizontal;
        -moz-flex-direction: horizontal;
        -ms-flex-direction: horizontal;
        flex-direction: horizontal;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        border-color: #b2b2b2;
        background-color: #f8f8f8;
        background-image: linear-gradient(0deg,#b2b2b2,#b2b2b2 50%,transparent 50%);
        color: #444;
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 49px;
        border-style: solid;
        border-top-width: 1px;
        background-size: 0;
        line-height: 49px;
        border: none;
    }

    @media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx){
        .tabs-container {
            padding-top: 2px;
            border-top: none!important;
            border-bottom: none;
            background-position: top;
            background-size: 100% 1px;
            background-repeat: no-repeat;
        }
    }

    .tab-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        overflow: hidden;
        max-width: 150px;
        height: 100%;
        color: inherit;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
        font-size: 14px;
        font-family: "-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
        opacity: .7;
    }

    .tabs-icon-top.tabs-container {
        line-height: 18px;
    }

    .tabs-icon-top.tabs-container > .tab-item {
        font-size: 10px;
    }

    .tab-item .icon {
        display: block;
        margin: 0 auto;
        height: 28px;
        font-size: 28px;
    }

    .tab-item-active, .tab-item-active > .icon, .tab-item-active > span {
        color: #29498D !important;
    }

</style>
<div class="tabs-icon-top tabs-container">
    <a class="tab-item <%= pageActive == 'home' ? 'tab-item-active' : ''%>" href="http://www.liunar.com">
        <i class="icon fa fa-home"></i>
        <span>首页</span>
    </a>
    <a class="tab-item <%= pageActive == 'school' ? 'tab-item-active' : ''%>"  href="http://www.liunar.com/schools">
        <i class="icon fa fa-graduation-cap"></i>
        <span>院校排名</span>
    </a>
    <a class="tab-item <%= pageActive == 'shop' ? 'tab-item-active' : ''%>" href="http://shop.liunar.com">
        <i class="icon fa fa-coffee"></i>
        <span>精选</span>
    </a>
    <a class="tab-item <%= pageActive == 'user' ? 'tab-item-active' : ''%>" href="http://www.liunar.com/usercenter">
        <i class="icon fa fa-user"></i>
        <span>个人中心</span>
    </a>
</div>