<!DOCTYPE html>
<html>
<head>
    <title>支付结果</title>
    <% include ../partials/head %>  
    <script src="/public/js/pay.js?dc=s1"></script>
    <style>
    .weui-btn {
        position: relative;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 14px;
        padding-right: 14px;
        box-sizing: border-box;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 2.55555556;
        border-radius: 5px;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        border: none;
    }

    .weui-btn_primary {
        background-color: #1AAD19;
    }

    .weui_primary{
        color: #1AAD19
    }
</style>
</head>
<body ng-app="pay">
    <div class="view-container" ng-controller="payController">
        <div class="pane" style="background-color: #F2F3F8">
            <div class="content-container no-footer no-header p-b-0">
                <div class="content t-a-c">
                    <h3 class="t-a-c">
                        <i class="fa fa-check-circle-o weui_primary" aria-hidden="true"></i>
                    </h3>
                    <p class="t-a-c">支付成功 </p> 
                    <button class="weui-btn weui-btn_primary">
                        <a href="http://shop.liunar.com">
                            回到首页
                        </a>
                    </button>
                    <button>
                        <a href="http://shop.liunar.com/gaopin/share/<%= order%>">
                            查看团购
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>