<!doctype html>
<html>
<head>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
	<script>
		window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxca0568e7f29d0e45&redirect_uri=https%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpayproduct%3Ftype%3D<%= type %>%26fromGaoPin%3D<%=fromGaoPin%>%26fromPayRedirect%3Dtrue%26o_id%3D<%= o_id %>%26p_id%3D<%= p_id %>%26pay%3D<%= pay %>&response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect"; 
	</script>
</body>
</html>