<!DOCTYPE html>
<html>
    <head>
        <title>支付 <%= message.title %></title>
        <% include ../partials/head %>  
        <script src="/public/js/pay.js?dc=s1"></script>
        <style>
            .weui-btn {
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-left: 14px;
                padding-right: 14px;
                box-sizing: border-box;
                font-size: 18px;
                text-align: center;
                text-decoration: none;
                color: #FFFFFF;
                line-height: 2.55555556;
                border-radius: 5px;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                overflow: hidden;
                border: none;
            }

            .weui-btn_primary {
                background-color: #1AAD19;
            }

            .priceNum{
                color: orange;
            }
    </style>
    </head>
    <body ng-app="pay">
        <div class="view-container" ng-controller="payController">
            <div class="pane" style="background-color: #F2F3F8">
                <div class="content-container no-footer no-header p-b-0">
                    <div class="content">
                        <%= message.title %>
                        <br/>
                        <%= message.body %>
                        <% if(getArgs == 'success'){ %>
                            <p>价格：<span class="priceNum"><i class="fa fa-jpy"></i><%= price %></span></p>
                            <button class="weui-btn weui-btn_primary" ng-click="pay(<%= timestamp %>, '<%= nonceStr %>', '<%= package %>', '<%= signType %>', '<%= paySign %>','http://www.liunar.com/testpay/paycallback?o_id=<%= o_id%>')">
                                支付
                            </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
