<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body style="text-align: center;">
    <h1><%=title %><h1>
    <p style="color: #1AAD19"><%= msg %></p>
    <button><a href="http://www.liunar.com">返回首页</a></button>
</body>
</html>