<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <style>
        .weui-btn {
            position: relative;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 14px;
            padding-right: 14px;
            box-sizing: border-box;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            color: #FFFFFF;
            line-height: 2.55555556;
            border-radius: 5px;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            overflow: hidden;
        }

        .weui-btn_primary {
            background-color: #1AAD19;
        }
    </style>
    <script>

    $(document).ready(function(){

        function initSign(callback){
            $.ajax({
                url: "http://www.liunar.com/api/" + "wechatSign",
                type: "post",
                data:{
                    url: window.location.href,
                },
                dataType: "json",
                success: function(res){
                    callback(res);
                },
                error: function(err){
                    callback(err);
                }
            })
        };

        initSign(function(res){
            var cfg = {
                debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                appId: res.appId, // 必填，公众号的唯一标识
                timestamp: res.timestamp, // 必填，生成签名的时间戳
                nonceStr: res.nonceStr, // 必填，生成签名的随机串
                signature: res.signature,// 必填，签名，见附录1
                jsApiList: ['checkJsApi', 'chooseWXPay']
            };
            console.log(cfg);
            window.wx.config(cfg);
            window.wx.checkJsApi({
                jsApiList: ['chooseWXPay'], // 需要检测的JS接口列表，所有JS接口列表见附录2,
                success: function(res) {
                    alert(JSON.parse(res));
                    // 以键值对的形式返回，可用的api值true，不可用为false
                    // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                }
            });
            $("#pay").click(
                function(){
                    alert("触发支付");
                    <% if(getArgs === "success"){ %>
                        wx.chooseWXPay({
                            timestamp: <%= timestamp %>, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
                            nonceStr: '<%= nonceStr %>', // 支付签名随机串，不长于 32 位
                            package: '<%= package %>', // 统一支付接口返回的prepay_id参数值，提交格式如：prepay_id=***）
                            signType: '<%= signType %>', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
                            paySign: '<%= paySign %>', // 支付签名
                            success: function (res) {
                                console.log(res);
                                alert(res);
                                window.location.href = "http://www.liunar.com/testpay/paycallback";
                            },
                            cancel: function(e){
                                alert(e);
                                alert("您取消了付款");
                            },
                            fail: function(err){
                                alert(err);
                            }
                        });
                    <% }else{ %>
                        alert("生成参数出错!");
                    <% } %>
                }
            );
        });

        // function onBridgeReady(){
        //     WeixinJSBridge.invoke(
        //         'getBrandWCPayRequest', {
        //             "appId":"wx2421b1c4370ec43b",     //公众号名称，由商户传入     
        //             "timeStamp":"1395712654",         //时间戳，自1970年以来的秒数     
        //             "nonceStr":"e61463f8efa94090b1f366cccfbbb444", //随机串     
        //             "package":"prepay_id=u802345jgfjsdfgsdg888",     
        //             "signType":"MD5",         //微信签名方式：     
        //             "paySign":"70EA570631E4BB79628FBCA90534C63FF7FADD89" //微信签名 
        //         },
        //         function(res){     
        //             if(res.err_msg == "get_brand_wcpay_request:ok" ) {}     // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。 
        //         }
        //     ); 
        // }
        
        // console.log(WeixinJSBridge);

        // if (typeof WeixinJSBridge == "undefined"){
        //     if( document.addEventListener ){
        //         document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
        //     }else if (document.attachEvent){
        //         document.attachEvent('WeixinJSBridgeReady', onBridgeReady); 
        //         document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
        //     }
        // }else{
        //     onBridgeReady();
        // }

    });
                
    </script>
</head>
<body>
    <button id="pay" class="weui-btn weui-btn_primary">微信支付</button>
    <br/>
    <%= data %>
</body>
</html>