<!doctype html>
<html>
<head>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0933bfa899eedcaf&redirect_uri=http%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpay&response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect";
    </script>
</body>
</html>