<!DOCTYPE html>
<html ng-app="article">
    <head>
        <title>留哪儿头条 — 放眼看世界</title>
        <meta name="description" content="留哪儿头条是全球教育内容平台，关心孩子教育的家长们在这里可以获得最全最新的教育资讯，教育观点，海外留学游学的信息，从而开始规划孩子的教育。通过达人号的机制，帮助教育行业的商家和个人建立自己的内容营销阵地，帮助内容创作者更好的分发优质内容，获得收益。">
        <meta name="keywords" content="留学资讯,海外求学,海外生活,教育观点,留学规划,内容营销">
        <link href="/public/css/article.css?v=3" rel="stylesheet"/>
        <script src="/public/lib/jquery-3.1.1.js"></script>
        <% include ../partials/head %>
        <script src="/public/js/article.js?v=1"></script>  
    </head>
    <body ng-controller="articleListCtrl">
        <div class="view-container">
            <div class="pane">
                <% var head_title = "留哪儿热点" %>
                <% include ../partials/headerBar %>
                <div class="content-container no-footer p-b-0" at-bottom method="getMore()">
                    <div class="content" >
                        <% for(var i=0; i < articles.length; i++) { %>
                            <a toutiao-url uid="<%= articles[i].uid %>" site="<%= articles[i].site %>" aid="<%= articles[i].id %>" class="article item" ng-class="{'thumbnailItem': <%= articles[i].have_thumbnail !== 0%> }" ng-cloak >
                            <% if(articles[i].have_thumbnail == 1){ %>
                                <img ng-src="http://www.liunar.com/<%= articles[i].thumbnail %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } else if(articles[i].site !== 1 && articles[i].have_thumbnail == 2){ %>   
                                <img ng-src="http://cms.liunar.com/uploadimage/articles/<%= articles[i].promo_thumb %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } else if(articles[i].site == 1 && articles[i].have_thumbnail == 2){ %>
                                <img ng-src="http://yun.liunar.com/uploadimage/articles/<%= articles[i].thumbnail %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } %>    
                                <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                                    <%= articles[i].title %>
                                </h4>
                                <p>
                                    <span>
                                        <i class="fa fa-eye"></i>
                                        <%= articles[i].view_count %>
                                    </span>
                                    <span>
                                        {{<%= articles[i].create_time * 1000 %> | date:'yyyy-MM-dd'}}
                                    </span>
                                </p>
                            </a>  
                        <% } %>
                        <a class="article item" ng-repeat="article in articles" ng-class="{'thumbnailItem': article.have_thumbnail != 0 }" toutiao-url uid="{{article.uid}}" site="{{article.site}}" aid="{{article.id}}" ng-cloak>
                            <img ng-if="article.have_thumbnail == 1" ng-src="http://www.liunar.com{{article.thumbnail}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <img ng-if="article.have_thumbnail == 2 && article.site != 1" ng-src="http://cms.liunar.com/uploadimage/articles/{{article.promo_thumb}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <img ng-if="article.have_thumbnail == 2 && article.site == 1" ng-src="http://yun.liunar.com/uploadimage/articles/{{article.promo_thumb}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                                    {{article.title}}
                            </h4>
                            <p>
                                <span>
                                    <i class="fa fa-eye"></i>
                                    {{article.view_count}}
                                </span>
                                <span>
                                    {{article.create_time * 1000 | date:'yyyy-MM-dd'}}
                                </span>
                            </p>
                        </a>
                    </div>    
                </div>
            </div>
        </div>
        <% include ../partials/footScript %>
    </body>
</html>