<!DOCTYPE html>
<html>
    <head>
        <title><%=title %></title>
        <meta name="description" content="<%=desc %>">
        <meta name="keywords" content="<%=tags %>留哪儿">
        <link href="/public/css/article.css?v=3" rel="stylesheet"/>
        <% include ../partials/head %>
        <script src="http://www.liunar.com/public/js/article.js?v=190"></script>
        <script>
            window.onload = function(){
                document.body.addEventListener('touchmove', function (ev) {
                    var target = ev.target
                    //alert(ev.target);
                    //alert(ev.target.classList);
                    if(ev.target.classList.contains("headerBar") || ev.target.classList.contains("title") || ev.target.classList.contains("footerBar") || ev.target.classList.contains("input-inset") || ev.target.classList.contains("input-inset-wrapper") || ev.target.classList.contains("botButt") || ev.target.classList.contains("ng-empty") || ev.target.classList.contains("ng-not-empty") || ev.target.classList.contains("tab-item") || ev.target.classList.contains("fa") ||ev.target.classList.contains("icon")){
                        //alert("head or foot");    
                        ev.preventDefault();
                    }
                }, false);
                    
                var content = document.querySelector('.content-container');
                    
                //alert(content);

                var startY;
                    
                content.addEventListener('touchstart', function (e) {
                    startY = e.touches[0].clientY;
                    console.log(startY);
                }, false);

                content.addEventListener('touchmove', function (e) {

                    var status = '11';
                    var ele = this;

                    var currentY = e.touches[0].clientY;
                        
                    console.log(currentY, ele.scrollTop);

                    if (ele.scrollTop === 0) {
                        status = ele.offsetHeight >= ele.scrollHeight ? '00' : '01';
                    } else if (ele.scrollTop + ele.offsetHeight >= ele.scrollHeight) {
                        status = '10';
                    } 
                    if (status != '11') {
                        var direction = currentY - startY > 0 ? '10' : '01';
                        console.log(status, direction);
                        if (!(parseInt(status, 2) & parseInt(direction, 2))) {
                            alert("no more scroll");
                            e.preventDefault();
                        }
                    }
                }, false);
            }
        </script>  
    </head>
    <body ng-app="article">
        <!--<iframe style="display:none" src="http://www.liunar.com"></iframe>-->
        <div class="view-container" ng-controller="articleCtrl">
            <div class="pane">
                <% include ../partials/shareHeader %>
                <div class="content-container no-footer p-b-0">
                    
                    <div ng-cloak class="topicHeader" ng-if="showTagHeader == true">
                        <a href="http://www.liunar.com/#/app/mainhome/topicresultlist/{{tagId}}">
                            <h3 style="color: #52baba; margin-top:0; margin-bottom: 6px; font-size: 18px;">
                                {{topicTag}}
                            </h3>
                        </a>
                        <save-tag targetid="{{tagId}}"></save-tag>
                    </div>
                    <div class="content">
                        
                        <h1 class="article-head">
                            <%=title %>
                        </h1>
                        <p class="article-head-note">
                            <span ng-cloak>{{'<%=date %>' * 1000 | date:'yyyy-MM-dd'}}</span>
                            <a href="/<%= refercode%>" style="color: #3E606F"><%=source %></a>
                        </p>
                        <p>
                            <img src="/img/article_head.png" width="100%"/>
                        </p>
                        <div class="article-detail" style="overflow: auto; max-height: auto">
                            <%- data %>
                        </div>
                        <div class="avatarItem" ng-repeat="comment in comments">
                            <img ng-src="{{comment.avatar}}"/>
                            <h3>{{comment.nickname}}</h3>
                            <p>{{comment.content}}</p>
                            <p>{{comment.create_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                            <like-btn module="1" rowid="{{comment.id}}"></like-btn>
                        </div>
                        <div ng-if="showRelative == true" style="margin-top: 24px;">
                            <hr style="margin-top: 24px" />
                            <h3 style="margin-bottom: 12px;">
                                <i class="fa fa-bookmark" style="margin-right: 6px; color: rgb(246, 83, 74)"></i>
                                相关阅读:
                            </h3>
                            <a ng-if="result.id != <%=id %>" class="item" ng-class="{'thumbnailItem': result.has_thumb != 0}" ng-repeat="result in lists" href="http://www.liunar.com/web/article/<%= refercode%>/{{result.id}}/">
                                <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}">
                                <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}">
                                <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
                                    {{result.title}}
                                </h4>
                            </a>
                        </div>
                        <hr style="margin-top: 24px" />
                        <div class="item fullscreen">
                            <img src="/img/qr3.jpg" width="100%"/>
                        </div>
                        <p class="article-foot-note">
                            <span class="link">
                                <a href="http://www.liunar.com">回到首页</a>
                            </span>
                            <span>
                                阅读 <%=views %>
                            </span>
                            <span>
                                <like-btn module="4" rowid="<%=id %>"></like-btn>
                            </span>
                        </p>
                        <div class="write-comment-footer">
                            <a class="write-comment-button" href="/article_comment/<%= refercode %>/<%= id%>">
                                写留言
                                <i class="fa fa-pencil"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <p id="articleId" style="display: none;"><%=id %></p>
                <p id="articleTitle" style="display: none;"><%=title %></p>
                <p id="articleDesc" style="display: none;"><%=desc %></p>
                <p id="articleThumb" style="display: none;"><%=img %></p>
                <p id="taskId" style="display: none;"><%=taskid %></p>
                <p id="tags" style="display: none;"><%=tags %></p>
                
            </div>
        </div>
        <img src="/img/pv.jpg?from=/app/mainhome/postdetail/<%= id %>" style="display:none"/>
        <img ng-src="{{anaImg}}" style="display:none"/>
    </body>
</html>
