<!DOCTYPE html>
<html>
<head>
  <title><%=title %></title>
  <meta name="description" content="<%=desc %>">
  <meta name="keywords" content="<%=tags %>留哪儿">
  <link href="/public/css/article.css?bb=46" rel="stylesheet"/>
  <% include ../partials/head %>
  <script src="http://www.liunar.com/public/js/article.js?a=c1"></script>
  <style type="text/css">


    /*ribbon css */
    .ribbon{
      /* IE10 Consumer Preview */ 
      background-image: -ms-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
      /* Mozilla Firefox */ 
      background-image: -moz-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
      /* Opera */ 
      background-image: -o-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
      /* Webkit (Safari/Chrome 10) */ 
      background-image: -webkit-gradient(radial, center top, 0, center top, 487, color-stop(0, #FF0000), color-stop(1, #990000));
      /* Webkit (Chrome 11+) */ 
      background-image: -webkit-radial-gradient(center top, circle farthest-side, #FF0000 0%, #990000 100%);
      /* W3C Markup, IE10 Release Preview */ 
      background-image: radial-gradient(circle farthest-side at center top, #FF0000 0%, #990000 100%);
      width: 2.5em;
      height: 1.5em;
      position: relative;
      margin-left: 20px;
      font-family: 'Kite One', sans-serif;
      text-align:center;
      line-height:3em;
      color:#b7b7b7;
      z-index:99999999999;
    }

    .ribbon i{
      width: 90%;
      height: 120%;
      display: block;
      margin: auto;
      z-index: 100;
      position: relative;
      overflow: hidden;
    }
    i span{
      color: #FFF;
      display: block;
      text-align: center;
      top: 50%;
      margin-top: -2em;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      position: relative;
      text-shadow: 0.0625em 0.0625em 0.0625em #333;
      font-style: normal;
      font-weight: bold;
    }
    s{
      width: 0.625em;
      height: 0.625em;
      background: #333;
      top: 50%;
      margin-top: -0.3125em;
      -webkit-transform:rotate(45deg);
      -moz-transform:rotate(45deg);
      display: block;
      position: absolute;
      opacity: .5;
    }

    s:nth-of-type(1){
      margin-left: -1.25em;
      left: 0;
    }
    s:nth-of-type(2){
      right: 0;
      margin-right: -1.25em;
    }
    .ribbon:before{
      content: "";
      position: absolute;
      bottom: -2.4em;
      left: 0;
      width: 0;
      height: 0;
      border-top: 2.5em solid #990000;
      border-right: 2.5em solid transparent;
      z-index:-99;
    }
    .ribbon:after{
      content: "";
      position: absolute;
      bottom: -2.4em;
      right: 0;
      width: 0;
      height: 0;
      border-top: 2.5em solid #990000;
      border-left: 2.5em solid transparent;
      z-index:-99;
    }
    .individualRecommendImgContainer{
      background-size: cover;          
      background-position: center center;
      background-repeat: no-repeat;
      width:100%;
      min-height:175px;
      margin: 0 auto;
    }
    .individualRecommendTextContainer{
      width:100%;
      margin: 0 auto;
      padding:1em 1em 0 1em;
      background-color: #ecebeb;
    }
    .masterContainer{
      width: 100%;
      background-color: #f9f5f5;
      padding-bottom: 1em;
    }
    .masterContainer > .row{
      padding-top:1em;
      padding-bottom: 1em;
    }
    #aRec{
      color: #568dd4;
    }
    .center{
      text-align:center;
      margin-top: 1em;
    }
    .individualRecommendContainer{
      width:90%; 
      margin:.9em auto;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 1em 0;
      padding: 0;
    }
    .individualRecommendTextContainer > .row1{
      font-size: 1.5em;
    }
    .card-text {
      margin-top: 3px;
      color: #8f8f8f;
      font-size: 1.05em;
    }
    p {
      text-align: justify;
    }
  </style>
</head>
<body ng-app="article">
  <!--<iframe style="display:none" src="http://www.liunar.com"></iframe>-->
  <div class="view-container" ng-controller="articleCtrl">
    <div class="pane">
      <div class="content-container no-header no-footer p-b-0">
        <div ng-cloak class="topicHeader" ng-if="showTagHeader == true">
          <a href="http://www.liunar.com/#/app/mainhome/topicresultlist/{{tagId}}">
            <h3 style="color: #52baba; margin-top:0; margin-bottom: 6px; font-size: 18px;">
              {{topicTag}}
            </h3>
          </a>
          <save-tag targetid="{{tagId}}"></save-tag>
        </div>
        <div class="content">
          <h1 class="article-head">
            <%=title %>
          </h1>
          <p class="article-head-note">
            <span ng-cloak>{{<%=date %> * 1000 | date:'yyyy-MM-dd'}}</span>
            <a href="/<%= refercode%>" style="color: #3E606F"><%=source %></a>
          </p>
          <% if(showBaidu == 'true') { %>
          <% include ../partials/baiduShare %>
          <% } %>

          <div class="article-detail" style="overflow: auto; max-height: auto">
            <%- data %>
          </div>

          <div class="avatarItem" ng-cloak ng-if="comments.length>0" ng-repeat="comment in comments">
            <img ng-src="{{comment.avatar}}"/>
            <h3>{{comment.nickname}}</h3>
            <p>{{comment.content}}</p>
            <p>{{comment.create_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            <like-btn module="1" rowid="{{comment.id}}"></like-btn>
          </div>

         <% include ./recommend_article %>


         <div ng-if="showRelative == true" ng-cloak style="margin-top: 13px;">
          <hr style="margin-top: 2px" />
          <h3 style="margin-bottom: 12px;">
            <i class="fa fa-bookmark" style="margin-right: 6px; color: rgb(246, 83, 74)"></i>
            相关留哪儿热点
          </h3>
          <a ng-if="result.id != <%=id %>" style="border-bottom: 1px solid #eee" class="item" ng-class="{'thumbnailItem': result.has_thumb != 0}" ng-repeat="result in lists" href="http://www.liunar.com/web/article/<%= refercode%>/{{result.id}}/">
            <img ng-if="result.has_thumb == 1" ng-src="http://www.liunar.com{{result.thumb}}">
            <img ng-if="result.has_thumb == 2" ng-src="http://cms.liunar.com/uploadimage/articles/{{result.promo_thumb}}">
            <h4 style="display: block; font-size: 16px; overflow: visible; white-space: normal">
              {{result.title}}
            </h4>
          </a>
        </div>
      </div>

      <div class="item fullscreen">
        <img src="/img/qr3.jpg" width="100%"/>
      </div>
      <p class="article-foot-note">
        <span class="link">
          <a href="http://www.liunar.com">回到首页</a>
        </span>
        <span>
          阅读 <%=views %>
        </span>
        <span>
          <like-btn module="4" rowid="<%=id %>"></like-btn>
        </span>
      </p>
      <div class="write-comment-footer">
        <a class="write-comment-button" href="/article_comment/<%= refercode %>/<%= id%>">
          写留言
          <i class="fa fa-pencil"></i>
        </a>
      </div>
    </div>
  </div>
  <p id="articleId" style="display: none;"><%=id %></p>
  <p id="articleTitle" style="display: none;"><%=title %></p>
  <p id="articleDesc" style="display: none;"><%=desc %></p>
  <p id="articleThumb" style="display: none;"><%=img %></p>
  <p id="taskId" style="display: none;"><%=taskid %></p>
  <p id="tags" style="display: none;"><%=tags %></p>

</div>
</div>
<img src="/img/pv.jpg?from=/app/mainhome/postdetail/<%= id %>" style="display:none"/>
<img ng-src="{{anaImg}}" style="display:none"/>
<% include ../partials/footScript %>
<script>
  window.onload = function(){
    document.getElementById('recommend').href += window.location.search;
  }
</script>
</body>
</html>
