<!DOCTYPE html>
<html>
    <head>
        <title><%=title %></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link href="/public/css/article.css?v=3" rel="stylesheet"/>
        <% include ../partials/head %>
        <script src="/public/js/article.js?v=4"></script>  
    </head>
    <body ng-app="article">
        <div class="view-container" ng-controller="articleCommCtrl">
            <div class="pane" style="background-color: #F2F3F8">
                <div class="content-container no-footer no-header p-b-0">
                    <div class="content">
                        <p class="subtitle"><%= title%></p>
                        <div class="item fullscreen">
                            <textarea rows="6" placeholder="请输入您的评论..." ng-model="comment_text"></textarea>
                        </div>
                        <div class="item">
                            <button class="we-ui-btn we-ui-btn-primary" ng-click="comment(<%=id %>, comment_text, <%= refercode %>)">
                                提交
                            </button>
                        </div>
                        <a href="/<%= refercode %>/<%= id%>" class="write-comment-button">回到文章</a>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partials/footScript %>
    </body>
</html>