<!DOCTYPE html>
<html ng-app="article" ng-controller="articleListCtrl">
    <head>
        <title>留哪儿头条 — 放眼看世界</title>
        <meta name="description" content="留哪儿头条是全球教育内容平台，关心孩子教育的家长们在这里可以获得最全最新的教育资讯，教育观点，海外留学游学的信息，从而开始规划孩子的教育。通过达人号的机制，帮助教育行业的商家和个人建立自己的内容营销阵地，帮助内容创作者更好的分发优质内容，获得收益。">
        <meta name="keywords" content="留学资讯,海外求学,海外生活,教育观点,留学规划,内容营销">
        <meta name="author" content="Canbest">
        <link href="/public/css/article.css?v=3" rel="stylesheet"/>
        <link rel="stylesheet" href="/public/lib/slick/slick.css" />
        <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
        <% include ../d_partials/head %>
        <script src="/public/lib/slick/slick.min.js"></script>
        <script src="/public/lib/slick/angular-slick.js"></script>
        <script src="/public/js/article.js"></script>
    </head>
    <body window-bottom method="getMore()">
        <% var active_nav="toutiao" %>
        <% include ../d_partials/nav %>
        <div class="container">
            <% for(var i=0; i < articles.length; i++) { %>
                    <a class="row py-3 list-top-border" toutiao-url uid="<%= articles[i].uid %>" site="<%= articles[i].site %>" aid="<%= articles[i].id %>">
                    <% if(articles[i].have_thumbnail !== 0){ %>
                        <div class="col-2 pl-0">
                            <% if(articles[i].have_thumbnail == 1){ %>
                                <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-src="http://www.liunar.com/<%= articles[i].thumbnail %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } else if(articles[i].site !== 1 && articles[i].have_thumbnail == 2){ %>   
                                <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-src="http://cms.liunar.com/uploadimage/articles/<%= articles[i].promo_thumb %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } else if(articles[i].site == 1 && articles[i].have_thumbnail == 2){ %>
                                <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-src="http://yun.liunar.com/uploadimage/articles/<%= articles[i].thumbnail %>" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                            <% } %>
                        </div>
                    <% } %>    
                        <div class="col">
                            <div class="middle">      
                                <h4 style="font-weight: bold; font-size: 20px; white-space: normal">
                                    <%= articles[i].title %>
                                </h4>
                                <p class="clearfix" style="color: #999; font-size: 12px; margin-top: 10px;">
                                    <span class="float-left mr-5">
                                        <i class="fa fa-eye"></i>
                                        <%= articles[i].view_count %>
                                    </span>
                                    <span class="float-left" ng-cloak>
                                        {{<%= articles[i].create_time * 1000 %> | date:'yyyy-MM-dd'}}
                                    </span>
                                </p>
                            </div>    
                        </div>
                    </a>
                <% } %>    
            <a class="row py-3 list-top-border" ng-repeat="article in articles" toutiao-url uid="{{article.uid}}" site="{{article.site}}" aid="{{article.id}}">
                <div class="col-2 pl-0" ng-if="article.have_thumbnail != 0">
                    <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-if="article.have_thumbnail == 1" ng-src="http://www.liunar.com/{{article.thumbnail}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">  
                    <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-if="article.have_thumbnail == 2 && article.site != 1" ng-src="http://cms.liunar.com/uploadimage/articles/{{article.promo_thumb}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                    <img style="width: 100%; max-height: 120px; min-height: 120px;" ng-if="article.have_thumbnail == 2 && article.site == 1" ng-src="http://yun.liunar.com/uploadimage/articles/{{article.promo_thumb}}" check-image replacesrc="http://yun.liunar.com/imgs/defaultBG.jpg">
                </div>
                <div class="col">
                    <div class="middle">      
                        <h4 style="font-weight: bold; font-size: 20px; white-space: normal">
                            {{article.title}}
                        </h4>
                        <p class="clearfix" style="color: #999; font-size: 12px; margin-top: 10px;">
                            <span class="float-left mr-5">
                                <i class="fa fa-eye"></i>
                                {{article.view_count}}
                            </span>
                            <span class="float-left" ng-cloak>
                                {{article.create_time * 1000 | date:'yyyy-MM-dd'}}
                            </span>
                        </p>
                    </div>    
                </div>
            </a>
        </div>
        <% include ../d_partials/footer %>
    </body>
</html>    