        <% if(haveRecommend){ %>
        <div class="masterContainer">
          <div class="row">
            <div class="col" style="border-bottom:solid 1px #b2b2b2; position:relative; top:-7px;margin-left:20%; margin-right: 3%;" ></div>
            <div class="col40" style="font-size:1.2em;color:#8c8383;"><i class="fa fa-shopping-cart" style="margin-right:0.5em;"></i>留哪儿推荐</div>
            <div class="col" style="border-bottom:solid 1px #b2b2b2; position:relative; top:-7px; margin-right:20%;margin-left: 3%;"></div>
          </div>
        <% for(var x in promoPrdList){%>
          <div class="individualRecommendContainer" style="background-image: url(<%= promoPrdList[x].absPathCover %>);background-size: cover;background-position: center center;background-repeat: no-repeat;width:100%;min-height:175px;margin: 0 auto;">
           <a id="recommend" href="<%= promoPrdList[x].url %>" >
            <div class="individualRecommendImgContainer">
              <div class="ribbon">
                精选
              </div>
            </div>
            <div  class="individualRecommendTextContainer">
              <div class="row1 row">
                <%- promoPrdList[x].title %>
              </div>
                            <% if( haveRecommend == 'prd'){ %>
              <div class="row2 row card-text"> 
                <div class="col-60 no-margin" style=" position:relative; top:0.6em;">
                 <% if(promoPrdList[x].age_min){ %>
                 <i class="fa fa-map-marker" style="margin-right: 2px; color: #52baba;"></i>
                 <span> <%= promoPrdList[x].country %></span>
                 <% } %>
                 <% if(promoPrdList[x].age_min){ %>
                 <i class="fa fa-user" style="margin-left: 1.0em; color: #52baba;"></i>
                 <span> <%= promoPrdList[x].age_min %>-<%= promoPrdList[x].age_max %>岁</span>
                 <% } %>
               </div>
               <div class="col">
                 <% if(promoPrdList[x].msrp){ %>
                 <p class="card-text no-margin" style=" text-align: right;">
                  <i class="fa fa-dollar"></i>
                  <span style="font-size: 1.6em; color: #fe532f;">
                   <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
                   <%- promoPrdList[x].msrp %></span><%= cur_map[promoPrdList[x].currency] %>
                 </p>
                 <% }else{ %>
                 <p class="card-text no-margin" style=" text-align: right;">
                   产品价格:请致电咨询！
                   <% } %>
                 </div>
               </div>
               <% } %>
             </div>
          </a>
        </div>
        <% } %>
        <div class="center ">
         <a id="aRec" href="http://shop.liunar.com">查看更多留哪精选 ></a>
       </div>
     </div>
     <% } %>