<!DOCTYPE html>
<html>
<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU"></script>
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../../d_partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/js/school.js"></script>
    <script src="/public/lib/masonry.min.js"></script>


    <style type="text/css">

        body p{
            font-size: 16px;
        }
        .us_school_detail_content_box{
            font-family:'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
            word-wrap: break-word;
            width: 46%; /* leave 2% for masonry gutter*/
            margin: 0 2%;
            text-align: center;
        }
        .grid {
            width: 60%;
            margin: 0 auto;
        }
        #cover{
            width:100%;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .content-container{
            background-color: #f2f2f2;
        }
        .contentTitle{
            text-align: center;
            margin-bottom: 50px;
            font-size: 50px;
        }
        .text-title{
            padding: 0 0 0 9px;
            margin-bottom: 8px;
            text-align: left;
            font-size: 18px;
            font-weight: bold;
            color: #3b5998;
            border-left: 6px #3b5998 solid; 
        }
        .text-content{
            background-color: white;
            padding:0 30px;
            white-space:pre-line;
            margin-bottom: 20px;
            border-radius: 3px;
            border: 1px #e6e6e6 solid;

        }
        .middle{
            text-align: center;
        }
        .text-right{
            text-align: right;
        }

    </style>
    <script>
        $(document).ready(function($){
            $('.grid').masonry({
              itemSelector: '.us_school_detail_content_box',
              percentPosition: true
          });
        });
    </script>
</head>
<body>
    <% var active_nav="school" %>
    <% include ../../d_partials/nav %>
    <div class="row bg-white sticky-top">
        <div class="col">
            <div class="container p-3">
                <div class="row" style="max-height: 135px;">
                    <div class="col-3 text-right" style="overflow:hidden">
                        <img src="http://www.liunar.com/schools/usPostSecondary/pics/<%= tag %>-logo.jpg"" style="max-height: 100px; width: auto;" check-image replacesrc="/img/school-default.png"/>
                    </div>
                    <div class="col-7">
                        <h4><%= school.en_name %></h4>
                        <h6><%= school.ch_name %></h6>                             
                        <button class="btn btn-outline-warning btn-sm" disabled style="cursor: inherit">
                            学校排名：<%= school.rank %>
                        </button>
                    </div>
                    <div class="col-2">

                    </div>
                </div> 
            </div>
        </div>
    </div>
    <iframe style="display:none" src="http://www.liunar.com"></iframe>
    <div class="view-container">
        <div class="pane">
            <div class="content-container no-header no-footer" style=" padding-top:40px;">
                <% if (!err) { %>
                <div class="box">

                    <div class="grid">
                     <div class="us_school_detail_content_box">
                       <div class="text-title">介绍</div>
                       <img id="cover" src="http://www.liunar.com/schools/usPostSecondary/pics/<%= tag %>-cover.jpg">

                       <div class="text-content">
                           <p> <%- description %> </p> 
                       </div>
                   </div>
                   <% if (json_content){ %> 
                   <% for(var i=0; i<json_content.length; i++) { %>
                   <div class="us_school_detail_content_box">
                       <div class="text-title">
                           <%= Object.keys(json_content[i])[0] %>
                       </div>
                       <div class="text-content">
                           <% for(var k in json_content[i]) { %>
                           <%if (json_content[i][k] != '') { %>
                           <p><%- json_content[i][k] %> </p>
                           <% }else{ %>
                           <p class="noneMsg">抱歉！暂无数据</p>
                           <% } %>
                           <% } %>
                       </div>
                   </div>
                   <% } %>
                   <% } %>
                   <div>
                   </div>
               </div>

               <% } %>
           </div>
       </div>
   </div>

   <% include ../../d_partials/footer %>
   <% include ../../partials/footScript %>     
</body>

<script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?744edc12315468ba7f6a9ce159e6d177";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>
