<!DOCTYPE html>
<html ng-app="school"  ng-controller="USListController">

<head>
    <title>留哪儿院校库</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/css/school.css" />
    <script src="/public/lib/Chart.js/Chart.js"></script>
    <% include ../../d_partials/head %>
    <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/js/school.js?v=2"></script>
    <style>
        div.card.radius-0{
            border-radius: 0rem;
        }
        h4.card-title{
            font-weight: bold;
            color: #666;
        }
        p.card-text{
            font-size: 14px;
            color: #666;
            font-weight: bold;
        }
        .card-text.active{
            color: #3B5998;
            font-weight: bold;
        }

        .card-text.link{
            cursor: pointer;
        }
        div.card.image-left{
            min-height: 200px;
            max-height: 200px;
            overflow: hidden;
            padding-left: 200px;
        }

        div.card.image-left h4.card-title{
            font-size: 14px;
            letter-spacing: 0.05em;
            margin-bottom: 12px;
            height: 1em;
            line-height: 1em;
        }

        div.card.image-left p.card-text, div.card.image-left p.card-text-main{
            font-size: 12px;
            font-weight: normal;
            height: 3em;
            line-height: 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal;
        }

        div.card.image-left p.card-text-main::after{
            content: '...';
        }

        div.card.image-left > img{
            position: absolute;
            left: 0;
            top: 0;
            height: 80%;
            width: auto;
        }

        .middle {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
        }

        .middle::before {
            content: '';
            width: 0;
            font-size: 0;
            height: 100%;
            visibility: hidden;
            display: inline-block;
            vertical-align: middle;
        }
        
        .floater {
            /*float: left;*/
            height: 50%;
            margin-bottom: -120px;
        }

        .content {
            clear: both;
            height: 240px;
            position: relative;
        }

        .custom-control-description{
            padding: 4px 12px;
            border-radius: 16px
        }
        .custom-control-input:checked~.custom-control-description {
            color: #fff !important;
            background-color: #3B5998 !important;
            font-weight: bold;
        }
        .custom-control-input:disabled~.custom-control-description {
            color: #292b2c;
            cursor: inherit;
        }
    </style>
</head>
<body style="background-color: #f2f2f2" window-bottom method="getMoreSchool()">
    <% var active_nav="school" %>
    <% include ../../d_partials/nav %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-3 ">
                <div class="sticky-top card text-center radius-0" style="top: 40px; border-top: 5px solid #3B5998">
                    <div class="card-block pt-0">
                        <h4 class="card-title" style="font-size: 18px; line-height: 3em; border-bottom: 1px solid #ddd;">院校排名</h4>
                        <%  var type = 5 %>
                        <a href="http://www.liunar.com/schools/uk/list" class="d-block my-3 card-text link border-0 <%= type == 6 ? 'active':'' %>"> 英国大学排名</a>
                        <a href="http://www.liunar.com/schools/us/list" class="d-block my-3 card-text link border-0 <%= type == 5 ? 'active':'' %>">美国大学排名</a>
                        <a href="http://www.liunar.com/schools/list/1" class="d-block my-3 card-text link border-0 <%= type == 1 ? 'active':'' %>">加拿大大学排名</a>
                        <a href="http://www.liunar.com/schools/list/2" class="d-block my-3 card-text link border-0 <%= type == 2 ? 'active':'' %>">加拿大特色院校</a>
                        <a href="http://www.liunar.com/schools/list/3/BC" class="d-block my-3 card-text link border-0 <%= type == 3 ? 'active':'' %>">加拿大中学排名</a>
                        <a href="http://www.liunar.com/schools/list/4/BC" class="d-block my-3 card-text link border-0 <%= type == 4 ? 'active':'' %>">加拿大小学排名</a>
                    </div>
                </div>
            </div>

            <div class="col-9">
                <% for(var i = 0; i < schools.length; i++){ %>
                <a class="row p-3 bg-white mb-3" href="http://www.liunar.com/schools/us/<%= schools[i].id %>" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;">

                    <div class="col-2 text-center" style="border-right: 1px solid #ccc;">
                        <div class="middle">
                            <h1 style="font-size: 64px; color: #b1b1b1;">
                                <%= schools[i].rank %>
                            </h1>
                        </div>
                    </div>

                    <div class="col-3 text-center" style="overflow: hidden;">
                        <img src="http://www.liunar.com/schools/usPostSecondary/pics/<%= schools[i].tag %>-logo.jpg" style="max-height: 103px; width: auto;" check-image replacesrc="/img/school-default.png">
                    </div>
                    <div class="col-7">
                        <h3 style="font-size: 1.2em;">
                            <%= schools[i].en_name %>
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            <%= schools[i].ch_name %>

                        </h5>
                        <p class="two-line-text" style="font-size: 0.9em;">
                            <%= schools[i].description %>
                        </p>
                    </div>     
                </a>
                <% } %>
                <a class="row p-3 bg-white mb-3 mt-3 %>" href="http://www.liunar.com/schools/us/{{school.id}}" style="max-height: 135px; border: 1px solid #d8d8d8; min-height: 135px; overflow: hidden;" ng-if="USList.length" ng-repeat="school in USList">

                    <div class="col-2 text-center" style="border-right: 1px solid #ccc;">
                        <div class="middle">
                            <h1 style="font-size: 56px; color: #b1b1b1;">
                                {{school.rank}}
                            </h1>
                        </div>
                    </div>

                    <div class="col-3 text-center" style="overflow: hidden;">
                        <img src="http://www.liunar.com/schools/usPostSecondary/pics/{{school.tag}}-logo.jpg" style="max-height: 103px; width: auto;" check-image replacesrc="/img/school-default.png">
                    </div>
                    <div class="col-7">
                        <h3 style="font-size: 1.2em;">
                            {{school.en_name}}
                        </h3>
                        <h5 style="font-size: 1em;" class="mb-2 clearfix">
                            {{school.ch_name}}
                        </h5>
                        <p class="two-line-text" style="font-size: 0.9em;">
                            {{school.description}}
                        </p>
                    </div>     
                </a>
            </div>

        </div>
    </div>
    <% include ../../d_partials/footer %>
    <% include ../../partials/footScript %>            
</body>
</html>        