<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <% include ../../partials/head %>  
  <script src="/public/lib/jquery-3.1.1.js"></script>
  <link href="/webAssets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/webAssets/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css" rel="stylesheet" />
  <script src="/webAssets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/public/lib/Chart.js/Chart.js"></script>
  <script src="/public/lib/angular-chart.js/dist/angular-chart.min.js"></script>
  <script src="/public/lib/jquery-3.1.1.js"></script>
  <script src="/public/js/school.js?v=1.2"></script>
  <style type="text/css">
    .us_school_detail_content_box{
      white-space:pre-line;
      font-family:'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
      word-wrap: break-word;
      margin-bottom:9px;
      padding:15px;
      width:100%;
      border:1px solid pink;
      background-color: white;
      margin-bottom:20px;
      text-align: center;

    }

    .box {
      width: 90%;
      margin: 0 auto;
    }

    #cover{
      width:100%;
      padding-bottom:30px;
    }

    .content-container{
      background-color: #EAE8EB;
    }
  </style>
</head>
<body ng-app="school" ng-controller="USOneController">
 <iframe style="display:none" src="http://www.liunar.com"></iframe>
 <div class="view-container" ng-init="initShare('<%= title %>', 'http://www.liunar.com/schools/usPostSecondary/pics/<%= tag %>-cover.jpg', '<%= title %>')" >
  <div class="pane">
    <div class="content-container no-header">
      <% if (!err) { %>
      <div class="box">
        <div>
         <h1 class="contentTitle">
          <%= title %>
        </h1>
        <div class="us_school_detail_content_box">
         <h2 style=" color: green;">介绍</h2>
         <img id="cover" src="http://www.liunar.com/schools/usPostSecondary/pics/<%= tag %>-cover.jpg">
         <%- description %> 
       </div>
       <% if (json_content){ %> 
       <% for(var i=0; i<json_content.length; i++) { %>
       <div class="us_school_detail_content_box">
        <% for(var k in json_content[i]) { %>
        <h2 style=" color: green;"><%= k %> </h2>
        <%if (json_content[i][k] != '') { %>
        <p><%- json_content[i][k] %> </p>
        <% }else{ %>
        <p class="noneMsg">抱歉！暂无数据</p>
        <% } %>
        <% } %>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>
<% } %>
</div>
</div>
<% pageActive = "school" %>
<% include ../../partials/tabs %>
<% include ../../partials/region_redirect %>
</div>

</body>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?744edc12315468ba7f6a9ce159e6d177";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>
