*{
    font-family: Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}

.hide{
    display: none !important;
}

.radio-icon{
    color: #52baba;
}

.radio.item-radio > input[type=radio]:checked ~ .item-content {
  background-color: red;
}

.scroll {
  -webkit-user-select: auto !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: auto !important;
}

.bar.bar-calm, .button.button-calm{
    /* background-color: #d51f26 !important;*/*/
    border-color: #52baba !important; 
    background-color: #52baba !important;
    color: #fff;
}

.bar-header {
   box-shadow: 0px 3px 15px rgba(125, 125, 125, 0.3);
   transition: transparent 0s ease;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > i,
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > span{
    /*color: #d51f26 !important;*/
     color: #4aa09d !important;
}

.title-image {
    vertical-align:middle;
    height: 27px;
    margin-top: -4px;
}

ion-content{
    background-color: #F8F8F8;
}

.whiteBg {
    background-color: #fff !important;
}

.homeSlide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blackMatt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.vCenterBlock{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.spanNoteCenter{
    font-size: 12px;
    color: #777;
    text-align: center;
    margin-bottom: 15px;
}

.textCenter,.textCenter > *{
    text-align: center;
}

.noBorder{
    border: none;
}

.noPadding{
    padding: 0 0 0 0 !important;
}

.centerMargin{
    margin-right: auto !important;
    margin-left: auto !important;
}

.noMargin{
    margin: 0 0 0 0 !important;
}

.angular-google-map-container{
    height: 26vh;
}

a{
    text-decoration: none;
    color: inherit;
}



.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #888;
}

div.popup-buttons > button.button-positive{
    background-color: #C0272D;
}

div.popup-buttons > button.button-positive:active{
    background-color: #C0272D;
}

.homeImageContainer{
    width: 100%;
    height: 160px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.subHeader{
    height: 48px;
    width: 100%;
    box-shadow: none;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    background-color: gainsboro;
}

.card.subHeader > h3{
    color: #fff;
    line-height: 48px;
    font-size: 18px;
    margin-left: 15px;
}

.fullWidthCardMenu{
    /*box-shadow: none;*/
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 32px;
}

.fullWidthCard{
    /*box-shadow: none;*/
    width: 100%;
    margin-left: 0;
    margin-right: 0;  
    margin-top: 32px;
    margin-bottom: 32px;
}

.homeMenuItem{
    text-align: center;
}

.homeMenuItem > i{
    font-size: 36px;
}

.item-thumbnail-left > img{
    max-width: 120px !important;
}

p.dateInfo > span{
    margin-right: 8px;
}

div.item.introduction{
    color: #999;
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
    border-top: 0.5px solid #999;
    border-bottom: 0.5px solid #999;
    border-left: none;
    border-right: none;
}

.homeImageDescription{
    width: 100%;
    overflow: hidden;
    position:absolute;
    padding: 5px;
    bottom:0px; /* position will be on bottom */  
    left: 0;  
    background-color: rgba(0,0,0,0.3); 
    background-clip: content-box;
}

.homeImageDescription > h1{
    font-size: 20px;
    margin-top: 20%;
    opacity: 1.0;
    filter:alpha(opacity=100);
    color: #fff;
}

.homeImageDescription > p{
    padding: 4px;
    font-size:12px;
    opacity: 1.0;
    filter:alpha(opacity=100);
    color: #fff;
}

.imageContainer{
    min-height: 20vh;
    height: 120px; 
    overflow:hidden; 
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}


.col.col-75 {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
/*-----------------------------------------------*/


.schoolProductImg {
    position: relative;
    width:100%;
    margin:0;
    height:200px;
    opacity: 0.6;
    -webkit-filter: brightness(100%);

}
.schoolProductP {
    text-align: center;
    position: absolute;
    top:45px;
    width: 100%;
    font: bold 17px/45px Helvetica, Sans-Serif;
}
.listMargin {
    margin-bottom: 5px;
}
.schoolBody1 {
    padding-left: 35px;
}
.applyButton {
    left: 10px;
    border-color: gray;
    width: 90px;
}






.estimateBody {
    background-color: #e6e6e6;
    width:100%;
}
.estimateCard {
    text-align: center;
    position: relative;
    
    height:250px;

}
.estimateItem {
   position: relative;
   text-align: center;


}
.estimateItem img {
    position: absolute;
    text-align: center;
    width: 60%;
    padding-bottom:100px;
    left: 20%;
    opacity: 0.1;
}

.estimateItem p {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    left: 0;
    color:black;
    font-weight: 500;
    font-size: 2rem;

}

.estimateList {
    margin-top: 0;
    width:90%;
    margin-left:5%;
}

.estimateList li{
    margin: 5px;
    text-align: center;
    font-size: 1.2rem;
}

.estimateList li.answerActive{
    background-color: red;
    color: #fff;
}



.articleDetail > p{
    font-size: 16px;
}

.articleDetail img{
    width: 240px !important;
}






























/*------------------------------------------------*/
.liunarProductCards{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 24px;
}

.liunarProductCards:first-child {
    margin-top: 0 !important;
}

.liunarProductCards > .item:last-child {
    background-color: #d51f26;
    color: #fff;
    text-align: center;
}

.liunarProductCards > .item:first-child {
    margin-top: 0 !important;
    position: relative;
    background-color: #fff;
    background-size: cover;
    height: 240px;
}

.liunarProductCards > .item:first-child > div{
    padding: 12px;
    font-size: 18px;
    position: absolute;
    background-color: #52baba;
    color: #fff;
    bottom: 0;
    left: 0;
}

.productCards{
    border-radius: 0;
    width: 84%;
    margin-left: 8%;
    padding: 15px 15px 15px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: #C0272D solid 1px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;   
}


.productCards > p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
}

.productCards > .item.item-text-wrap{
    border: none;
    height: 160px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

.productCards > .item.item-divider{
    border: none;
    background-color: rgba(0,0,0,0);
    margin-top: 0;
}

.productCards > .item.item-divider > p{
    text-align: center;
    color: grey;
}

.productCards > .item.item-divider > p.anchorText{
    text-decoration: none;
    color: #ea545f;
    font-size: 14px;
    text-align: right;
}

.schoolButtonFull{
    color: #fff !important;
    font-weight: 300;
    height: 160px;
    min-height: 26vh;
    font-size: 18px;
    text-align: center;
    padding: 24px 24px 24px 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: 26px;
}

.schoolButtonFull > div > img {
    width: 15%;
    max-width: 80px;
}

.schoolButton-left{
    margin-left: 8px;
    margin-right: 4px;
}

.schoolButton-right{
    margin-left: 4px;
    margin-right: 8px;
}

.schoolButton{
    width: 100%;
    height: 160px;
    min-height: 26vh;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 24px 24px 24px 24px;  
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.schoolButton > div > p {
    color: #ffffff;
    opacity: 1 !important; 
}

.schoolButton > div > img {
    width: 30%;
    max-width: 160px;
}

.schoolStandardCard{
    height: 200px; 
    padding: 6px 6px 6px 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.schoolNavBtn.active{
    color: #d51f26;
}

.mapOption{
    color: #52baba;
}

.mapOptionActived{
    background-color: #52baba;
    color: #fff;
}

.profileItem{
    margin-top: 30px;
}

.profileItem > h2{
    color: dimgray;
    font-weight: 200;
    font-size: 20px;
}

.profileItem > p{
    color: gray;
    font-size: 15px;
}

.profileItem:first-child{
    margin-top: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.profileItem > .profileAvater{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.questionHeader > h2:first-child{
    float: left;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.questionHeader > h2{
    float: right;
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

.questionHeader > h2 > i{
    color: #888;
    margin-left: 6px;
}

.questionItem > .questionTitle > *{
    font-size: 16px;
    font-weight: 300;
    overflow: visible;
    white-space: normal;
}

.questionItem > .questionContent > *{
    font-size: 14px;
}

.questionItem > .questionAuthor > p:first-child{
    color: #d51f26;
    float: left;
}

.questionItem > .questionAuthor > p:first-child > span{
    color: #666;
    margin-left: 6px;
}

.questionItem > .questionAuthor > p{
    float: right;
}

.questionItem > .questionAuthor > p > a > span:first-child{
    color: #666;
}

.questionItem > .questionAuthor > p > a > span:first-child > i{
    color: #888;
}

.questionItem > .questionAuthor > p > a > span{
    font-size: 16px;
    color: #d51f26;
    margin-left: 12px;
}

.questionItem > .questionAuthor > p > a > span > i{
    margin-right: 6px;
}

.questionDetail > p{
    margin-top: 14px;
    overflow: visible;
    white-space: normal;
}

.questionDetail > h3{
    overflow: visible;
    white-space: normal;
}

.questionDetail > p.questionNote{
    text-align: right;
}

.questionDetail > p.questionNote > span > i{
    margin-right: 6px;
}

.questionAnswer > div.answerDetail > span > *{
    overflow: visible;
    white-space: normal;  
}

.questionAnswer > div.answerDetail > p.commentButt{
    margin-top: 14px;
    color: #d51f26;
    font-size: 24px;
    text-align: right;
}

.commentPerson{
   margin-right: 6px; 
}

.answerPostBtn{
    background-color: #d51f26;
    color: #fff;
    font-weight: 500 !important;
}

.answerPostBtn:hover{
    color: #fff !important;
}

.QALikes{
    color: #d51f26;
}

.QALikes > i{
    margin-right: 6px;
}

.badgeBtn{
    color: #fff;
    border: none;
    border-radius: 12px;
    line-height: 8px;
    height: 16px;
}

.badgeBtn-outline{
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: 2px solid;
    border-radius: 12px;
    line-height: 12px;
    height: 24px;
}


