<footer style="background-color: #3B5998; color: #fff" class="px-5 py-2 mt-3">
    <div class="container">
        <table class="table">
            <tr>
                <td class="w-50 align-middle text-center border-0">
                    <div class="text-left d-inline-block" style="font-size: 24px;">
                        官方咨询热线<br/>4008-099-039
                    </div>
                </td>
                <td class="w-50 align-middle text-center border-0">
                    <div class="d-inline-block p-3">
                        <img src="/img/desktop/slice6.png" style="max-width: 120px" alt="留哪儿官方微信" title="留哪儿官方微信"/>
                        <h6 class="mt-4 text-center">
                            留哪儿官方微信
                        </h6>
                        <p class="text-center" style="font-size: 0.75rem">
                            关注官方微信<br/>获取最新留学动态
                        </p>
                    </div>
                    <div class="d-inline-block p-3">
                        <img src="/img/desktop/slice7.png" style="max-width: 120px" alt="手机版留哪儿" title="手机版留哪儿"/>
                        <h6 class="mt-4 text-center">
                            访问手机版留哪儿
                        </h6>
                        <p class="text-center" style="font-size: 0.75rem">
                            收藏手机版留哪儿<br/>随身交流海外求学经验
                        </p>
                    </div>    
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col text-center" style="font-size: 14px;">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                2016 深圳市肯博思特网络科技有限公司<br/>             
                <a href="http://www.miitbeian.gov.cn/" style="color:#fff; font-size: 12px;">
                    备案号: 粤ICP备16013188号-2
                </a>
            </div>
        </div>
    </div>        
</footer>

<script src="/public/js/baidu.js"></script>