<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="robots" content="index, nofollow" />
<meta name="googlebot" content="index, nofollow" />
<meta name="baiduspider" content="index, nofollow, noarchive" />
<link rel="icon" href="/img/favicon.png?c=1" type="image/x-icon">
<link href="/public/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
<link href="/public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/public/lib/tether/dist/css/tether.min.css" rel="stylesheet"/>
<link href="/public/css/d_global.css?v=1" rel="stylesheet"/>
<script src="/public/lib/jquery-3.1.1.js"></script>
<script src="/public/lib/tether/dist/js/tether.min.js"></script>
<script src="/public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" defer></script>
<script src="/public/lib/angular/angular.min.js"></script>
<script src="/public/lib/angular-cookies.js"></script>
<script src="/public/lib/angular-qr/lib/qrcode.js"></script>
<script src="/public/lib/angular-qr/src/angular-qr.js"></script>
<script src="/public/js/app.js?ac=a"></script>
<script src="/public/js/directives.js?vg=2"></script>
<script src="/public/js/factories.js?v=car231"></script>
<style>
    .container{
        max-width: 1100px;
    }
</style>