<style>
.navbar {
    min-height: 40px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 40px;
    height: 40px;
    padding-top: 0;
}
.navbar-toggler {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    background: 0 0;
    border: none;
    border-radius: .25rem;
}

.navbar-inverse .navbar-nav .active>.nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open>.nav-link {
    color: #fff;
    background-color: #29498D;
}

.bg-white{
    background-color: #fff;
}

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}

.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255,0.8);
}

a.nav-link.vr{
    width: 100%;
    text-align: center;
}

a.nav-link.vr::after{
    display: inline-block;
    font-family: "FontAwesome";
    content: "|";
    font-size: 18px;
    float: right;
    margin-right: -1.65rem;
    font-weight: bolder;
}
</style>
<div class="row bg-white">
    <div class="col">
        <div class="container my-0 clearfix hidden-md-down" style="height: 80px; line-height: 80px;">
           <div class="float-left">
                <img src="/img/desktop/jiazhangshangxueyuan.png?v=3" width=500px; alt="全球家长商学院" title="全球家长商学院"/>
            </div>
            <!--
             <div class="float-left">
                <img src="/img/desktop/slice1.png?v=3" alt="留哪儿商标" title="留哪儿商标"/>
            </div>
             <div class="float-left">
                <img src="/img/desktop/ivy_prep_logo.png?v=3" alt="春藤工学" height=80px title="春藤工学"/>
            </div>
            -->
             <div class="float-right">
                <img src="/img/desktop/slice2.png?v=3" alt="留哪儿联系电话" title="留哪儿联系电话"/>
            </div>
             
        </div>
    </div>
</div>
    <nav class="navbar navbar-toggleable-md navbar-light navbar-inverse sticky-top" style="padding: 0; background-color: #3B5998">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item <%= active_nav== 'home' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com">首页</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'shop' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://shop.liunar.com">精选</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'school' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/schools">院校排名</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'toutiao' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://toutiao.liunar.com">热点</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'staffs' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/staffs">留学导师</a>
                    </li>
                    <li class="nav-item ">
                        <a class="px-4 nav-link vr" href="http://yun.liunar.com">云招宝</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'feedback' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/feedback">学生感言</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'about' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/about">关于我们</a>
                    </li>
                    <li class="nav-item <%= active_nav== 'about_en' ? 'active' : '' %>">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/about_en">About Us</a>
                    </li>
                    <!--<li class="nav-item">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/mobile/#/app/events">活动</a>
                    </li>-->
                    <!--<li class="nav-item">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/mobile/#/app/mainhome/QandA">问答</a>
                    </li>-->
                    
                    <!--<li class="nav-item">
                        <a class="px-4 nav-link vr" href="http://www.liunar.com/mobile/#/tagsquare">知识库</a>
                    </li>-->
                </ul>
        </div>
    </nav>