<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
 <%- include('nav'); %>
 <a href="/product/new" style="float:right">添加产品</a>
 <table id="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>标题</td>
      <td>描述</td>
      <td>价格</td>
      <td>推荐产品</td>
    </tr>
  </thead>
  <tbody>
   <% for(var i=0; i<list.length; i++) {%>
   <tr>
     <td> <%=list[i].id%> </td>
     <td> <%=list[i].title%> <a href="/product/<%=list[i].id%>">编辑</a> </td>
     <td><%=list[i].description%></td>
     <td><%=list[i].price%></td>
     <td>
       <%if (list[i].recommended > 0) { %>
       是
       <% } else{ %>
       不是
        <% }%>
     </td>
   </tr>
   <% } %>
 </tbody>
</table>

<script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>

<script type="text/javascript" src="/datatables/datatables.min.js"></script>
<script type="text/javascript">

  $(jQuery(document).ready(function($) {
    $('#table').DataTable({
      "order": [[ 4, "desc" ]]
    });
  }));

</script>
</body>
</html>
