<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
  <%- include('nav'); %>
  <a href="/question/new" style="float:right">建新问题</a>
  <table id="table">
    <thead>
      <tr>
        <td>ID</td>
        <td>标题</td>
        <td>上次更新</td>

      </tr>
    </thead>
    <tbody>
     <% for(var i=0; i<list.length; i++) {%>
     <tr>
       <td> <%=list[i].id%> </td>
       <td> <%=list[i].title%>  </td>
       <td><%=list[i].create_time%></td>
     </tr>
     <% } %>
   </tbody>
 </table>

 <script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

 <link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>

 <script type="text/javascript" src="/datatables/datatables.min.js"></script>
 <script type="text/javascript">

  $(jQuery(document).ready(function($) {
    $('#table').DataTable({
      "order": [[ 0, "desc" ]]
    });
  }));

</script>
</body>
</html>
