<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>School Form</title>
<!-- 	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
	<style type="text/css">
		input, textarea, select, button {
			width : 100%;
		}
		body {
			background-color: #52baba;
			width:100%;
		}
		.centerT {
			text-align: center;
		}
		.totalWidth {
			width: 100%;
		}
		.centerF {
			float:none;
			margin: 0 auto;
		}
	</style>
</head>
<body>
	<%- include('nav'); %>
	<form class="centerT container" id="schoolForm">
		<div class=" centerF col-lg-6 col-sm-12 col-md-6" >

			<label>中文名字</label> <input class="form-control" type="text" name="ch_name" id="ch_name"> <br>

			<label>英文名字</label><input class="form-control" type="text" name="en_name" id="en_name"><br>

			<label>种类</label><select class="form-control selectpicker" name="type" id="type" >
			<option value = "1">大学</option>
			<option value = "2">特色院校</option>
			<option value = "3">中学</option>
			<option value = "4">小学</option>
		</select><br>

		<label>学校种类</label><input class="form-control" type="text" name="school_category" id="school_category"><br>

		<label>城市</label><input class="form-control" type="text" name="city" id="city"><br>

		<label>学校类型(公立／私立)</label><select class="form-control form-control" name="isPublic" id="isPublic">
		<option value = "1">公立</option>
		<option value = "2">私立</option>
	</select><br>

	<label>老师数量</label><input class="form-control" type="number" name="teacher_num" id="teacher_num" value="0"><br>

	<label>学生数量</label><input class="form-control" type="number" name="student_num" id="student_num" value="0"><br>

	<label>国际学生数量</label><input class="form-control" type="number" name="int_student_num" id="int_student_num" value="0"><br>

	<label>排名</label><input class="form-control" type="number" name="national_rank" id="national_rank" value="0"><br>

	<label>网址</label><input class="form-control" type="text" name="website" id="website"><br>

	<label>标题</label><input class="form-control" type="text" name="title" id="title"><br>

	<label>学费</label><input class="form-control" type="text" name="tuition" id="tuition"><br>

	<label>申请费</label><input class="form-control" type="text" name="apply_fee" id="apply_fee"><br>

	<label>申请信息
		<script id="apply_info" name="apply_info" id="apply_info"type="text/plain">
			你的初始化内容
		</script>
	</label>

	<label>详细信息</label><textarea class="form-control" rows="3" name = "detail_info" id ="detail_info"></textarea><br>

	<label>主要课程</label><textarea class="form-control" rows="3" name = "core_courses" id ="core_course"></textarea><br>

	<label>特别课程</label><textarea class="form-control" rows="3" name = "specialty_courses" id ="specialty_course"></textarea><br>

	<label>项目</label><textarea class="form-control" rows="3" name = "programs" id ="programs"></textarea><br>

	<label>预科(AP/IB)</label><select class="form-control form-control" name="ap_ib" id="ap_ib">
	<option value = "0">不包含</option>
	<option value = "1">有IB</option>
	<option value = "2">有AP</option>
	<option value = "3">都包含</option>
</select><br>

<label>ESL</label><select class="form-control form-control" name="esl" id="esl">
<option value = "0">不包含</option>
<option value = "1">包含</option>
</select><br>

<label>联系</label><textarea class="form-control" rows="3" name = "contact" id ="contact"></textarea><br>

<label>地址</label><textarea class="form-control" rows="3" name = "address" id ="address"></textarea><br>

</div>
<button type="submit" class="btn btn-primary">提交</button>

</form>
<a href="/school/list">返回列表页面</a>

<script type="text/javascript" src="/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor.all.js"></script>
<script type="text/javascript" src="/jquery-3.0.0.min.js"></script>
<script type="text/javascript">

	$(jQuery(document).ready(function($) {
		var data;
           //init ueditor
           var apply_info = UE.getEditor('apply_info');

           function autofillObjectData(){
           	data = <%- school %>;
           	var keys = Object.keys(data);
           	for(var i= 0; i <keys.length ; i++){
           		$('#'+keys[i]).val(data[keys[i]]);
           	}
           	apply_info.ready(function() {
           		apply_info.setContent(data.apply_info);
           	});
           }

           if(<%- school %> != 1){
           	autofillObjectData();
           	postURL = '/school<%-id%>';
           }else{

           	postURL = '/school/new';

           }
           console.log(postURL);
           $("#schoolForm").submit(function(e){
           	var form = $(this);
           	$.ajax({
           		url   : postURL,
           		type  : "POST",
           		data  : form.serialize(),
           		success: function(response){
           			window.location.href = "/school/"+response;
           		}
           	});
           	return false;
           });
       }));
// guidelines: do not leave necessary fields empty; only type and id are required.
</script>
</body>
</html>
