<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name = "format-detection" content = "telephone=no">
    <title></title>
    <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
    <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">

    <link rel="icon" href="img/favicon.png?v=3" type="image/x-icon">

    <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
    <script src="lib/jquery-3.1.1.js"></script>
    <script src="lib/slick/slick.js"></script>
    <!--	<base href="/">-->
<!--
    <script src="lib/ionic/js/ionic.bundle.min.js?v=4"></script>
    <link href="lib/ionic/css/ionic.min.css?v=4" rel="stylesheet">
-->
<script src="lib/ionic-v1.3.2/js/ionic.bundle.min.js"></script>
<link rel="stylesheet" href="lib/ionic-v1.3.2/css/ionic.min.css" />
<link rel="stylesheet" href="lib/slick/slick.css" />
<link rel="stylesheet" href="lib/slick/slick-theme.css" />
<link href="lib/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet">
<link href="css/font-awesome-ionic-tabs.css" rel="stylesheet">
<link href="css/style.css?v=9" rel="stylesheet">
<script src="lib/slick/angular-slick.js" defer></script>
<script src="lib/angular-cookies.js" defer></script>
<script src="lib/angulartics/src/angulartics.js" defer></script>
<script src="lib/angulartics/src/angulartics-baidu.js" defer></script>
<script src="lib/Chart.js/Chart.js" defer></script>
<script src="lib/angular-chart.js/dist/angular-chart.min.js" defer></script>
<script src="lib/ng-file-upload-bower-12.0.4/ng-file-upload-shim.min.js" defer></script>
<script src="lib/ng-file-upload-bower-12.0.4/ng-file-upload.min.js" defer></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js" defer></script>
<script src="http://maps.google.cn/maps/api/js?key=AIzaSyCcF8MYDs2bdIVK_-QyGyRRIA99yq0GbNU" defer async></script>

<title></title>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
-->
<!-- ionic/angularjs js -->
<!--<script src="lib/angular-md5/angular-md5.js"></script>-->

<!-- cordova script (this will be a 404 during development) -->
<!--<script src="cordova.js"></script>-->

<!-- your app's js -->
<script src="js/server_api.js?v=123"></script>
<script src="js/liunar.min.js?v=133"></script>




    <!--<script src="js/app.js?v=48"></script>
    <script src="js/services.js?v=48"></script>
    <script src="js/en_ch.js?v=48"></script>
    <script src="js/controllers/homeController.js?v=48"></script>
    <script src="js/controllers/eventController.js?v=48"></script>
    <script src="js/controllers/estimateController.js?v=48"></script>
    <script src="js/controllers/liunarProductController.js?v=48"></script>
    <script src="js/controllers/applyController.js?v=48"></script>
    <script src="js/controllers/userController.js?v=48"></script>
    <script src="js/controllers/agencyController.js?v=48"></script>
    <script src="js/controllers/detailController.js?v=48"></script>
    <script src="js/controllers/articleListController.js?v=48"></script>
    <script src="js/controllers/qandAController.js?v=48"></script>
    <script src="js/controllers/qandADetailController.js?v=48"></script>
    <script src="js/controllers/schoolController.js?v=48"></script>
    <script src="js/controllers/schoolDetailController.js?v=48"></script>
    <script src="js/controllers/searchController.js?v=48"></script>
    <script src="js/controllers/msgController.js"></script>-->
</head>

<body ng-app="canbest">
    <ion-nav-bar prevent-scroll class="nav-title-slide-ios7 bar-calm" style="height: 35px;">
    </ion-nav-bar>
    <ion-nav-view>
    </ion-nav-view>
<!--
        <div class="floatingButton" ng-click="$root.call()" ng-if="$root.showCallBtn == true">
            咨询
        </div>
    -->
<!--
        <script>
            //alert(navigator.appVersion);
            //alert(navigator.userAgent);
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?744edc12315468ba7f6a9ce159e6d177";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    -->
    <script>
        window.onmessage = function(e) {
            // if (e.origin !== "http://domain.com") {
            //     return;
            // }
            var payload = JSON.parse(e.data);
            switch(payload.method) {
                case 'set':
                localStorage.setItem(payload.key, JSON.stringify(payload.data));
                break;
                case 'get':
                var parent = window.parent;
                var data = localStorage.getItem(payload.key);
                parent.postMessage(data, "*");
                break;
                case 'remove':
                localStorage.removeItem(payload.key);
                break;
            }
        };
    </script>
</body>
</html>
