<!DOCTYPE html>
<html ng-app="home">
<head>
    <title>留哪儿-匠心，良心，教育初心！</title>
    <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
    <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/lib/slick/slick.css" />
    <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
    <link rel="stylesheet" href="/public/css/d_home.css" />
    <% include ../d_partials/head %>
    <script src="/public/lib/slick/slick.min.js"></script>
    <script src="/public/lib/slick/angular-slick.js"></script>
    <script src="/public/js/home.js"></script>
    <style>

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #3B5998;
        background-color: #fff;
        border-bottom: 4px solid #3B5998;
        border-color: rgba(0,0,0,0) rgba(0,0,0,0) #3B5998;
    }
    .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        color: #3B5998;
        background-color: #fff;
        border-bottom: 4px solid #3B5998;
        border-color: rgba(0,0,0,0) rgba(0,0,0,0) #3B5998;
    }

    .nav-tabs .nav-link {
        border-bottom: 4px solid transparent;
        border-top-right-radius: 0rem;
        border-top-left-radius: 0rem;
        color: #777;
        cursor: pointer;
    }

    .nav-tabs .nav-item {
        margin-bottom: -4px; 
    }

    .nav-tabs {
        border-bottom: 4px solid #ddd;
    }

    a.item{
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }

    a.item > img{
        width: 100%;
        height: auto;
    }

    a.item > h3{
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 12px;
        font-size: 16px;
    }

    a.item > p{
        padding-left: 12px;
        padding-right: 12px;
        margin-top: 6px;
        font-size: 0.75em;
        line-height: 1.5em;
        height: 3em;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .col > img {
        width: 100%;
    }

    .card-img-top{
        width: 100%;
        height: 180px;
    }

    .color-0{
     background-color: #56bad4 !important;
 }   

 .color-1{
    background-color: #edac38 !important;

}

.color-2{
    background-color: #ee7f74 !important;

}

.color-3{
    background-color: #8bc145 !important;

}

.color-4{
    background-color: #a667cf !important;

}

.card-text > small > i {
    color: #3B5998;
}

.card-text > small {
    color: #777;
}
.ivy_prep_qr{
    position: absolute;
    right:5%;
    top:37%;
    z-index: 999999999999;
}

</style>  
</head>
<body ng-controller="homeCtrl" ng-cloak>
    <% var active_nav="home" %>
    <% include ../d_partials/nav %>
    <div class="ivy_prep_qr">
        <img src="/img/desktop/ivy_prep_qr.jpg" width=130px; height=130px;>
    </div>
    <slick settings="slickConfig">
            <!--<a href="http://shop.liunar.com/37">
                <img src="/img/desktop/美国研究生-B.jpg">
            </a>
            <a href="http://shop.liunar.com/49">
                <img src="/img/desktop/IO-B.jpg">
            </a>
            <a href="http://shop.liunar.com/6">
                <img src="/img/desktop/北美百强保录-B.jpg">
            </a>-->
            <a href="http://toutiao.liunar.com/0/38229">
                <img src="/img/desktop/pab.jpg">
            </a>     
           
            <a href="http://toutiao.liunar.com/0/38228">
                <img src="/img/desktop/program.jpg">
            </a>
            <a href="http://shop.liunar.com/30">    
                <img src="/img/desktop/skiing.jpg">
            </a>
<!--                         <a href="http://shop.liunar.com/37">
                <img src="/img/desktop/美国研究生-B.jpg">
            </a>    -->         
            <!--<a href="http://shop.liunar.com/72">
                <img src="/img/desktop/纽约军校夏令营-B.jpg">
            </a>-->
            
<!--             <a href="http://www.liunar.com/feedback">
                <img src="/img/desktop/学生感言-B.jpg">
            </a> -->
<!--             <a href="http://shop.liunar.com/22">    
                <img src="/img/desktop/童军-B.jpg">
            </a> -->
            
            <a href="http://toutiao.liunar.com/0/38219">    
                <img src="/img/desktop/jl_academy.jpg">
            </a>

        </slick>
        <!--<div class="row bg-faded">
            <div class="container p-5">
                    <div class="row w-75 mx-auto">
                        <div class="col">
                            <button onclick="window.location.href='http://www.liunar.com/mobile/#/app/estimate'" type="button" class="btn btn-red btn-lg btn-block py-1" style="cursor: pointer">
                                免费评估
                            </button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-red btn-lg btn-block py-1">
                                定制方案
                            </button>
                        </div>
                        <div class="col">
                            <button onclick="window.location.href='http://toutiao.liunar.com/0/34677'" type="button" class="btn btn-red btn-lg btn-block py-1" style="cursor: pointer">
                                领取攻略
                            </button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>-->
        <!--<div class="container mt-40">
            <h3 class="font-weight-bold text-center">-留哪儿活动-</h3>
            <p class="font-weight-normal text-muted text-center">最新活动，最新优惠</p>
            <div class="row mt-4">
                <% if(activities.length > 0){ %>
                    <% var t = activities.length > 2 ? activities.length - 2 : activities.length%>
                    <% for(var i = 0; i < t; i++){ %>
                        <a class="col activities_div mx-2" style="background-image: url(http://cms.liunar.com/uploadimage/articles/<%= activities[i].promo_thumb%>)" href="http://toutiao.liunar.com/0/<%= activities[i].id%>">
                            <div class="caption">
                                <%= activities[i].title%>
                            </div>
                            <div class="time">
                                {{<%= activities[i].effective_time %> * 1000 | date:'yyyy-MM-dd'}} ~ {{<%= activities[i].expire_time %> * 1000 | date: 'yyyy-MM-dd'}}
                            </div>
                        </a>
                        <a class="col activities_div mx-2"></a>
                    <% } %>
                <% } %>
                <% if(activities.length > 2){ %>
                    <div class="col mx-2" style="position: relative">
                        <% for(var i = 2; i < activities.length; i++){ %>
                            <a class="row activities_div second" style="background-image: url(http://cms.liunar.com/uploadimage/articles/<%= activities[i].promo_thumb%>)" href="http://toutiao.liunar.com/0/<%= activities[i].id%>">
                                <div class="caption">
                                    <%= activities[i].title%>
                                </div>
                                <div class="time">
                                    {{<%= activities[i].effective_time %> * 1000 | date:'yyyy-MM-dd'}} ~ {{<%= activities[i].expire_time %> * 1000 | date: 'yyyy-MM-dd'}}
                                </div>
                            </a>
                        <% } %>    
                    </div>    
                <% } %>    
                </div>
                <div class="row mt-3">
                    <a class="text-center col mx-2 py-2 normal-a" href="http://www.liunar.com/mobile/#/app/events" style="background-color: #e5e5e5; color: #259dde">
                        查看更多活动 <i class="fa fa-chevron-right"></i>
                    </a>  
                </div> 
            </div>
        </div>-->
        <div class="container mt-40">
            <div class="row">
<!--                 <a class="mx-2 col color-4" href="http://shop.liunar.com/list/4">
                    <img src="/img/desktop/slice12.png"/>
                </a>
                <a class="mx-2 col color-2" href="http://shop.liunar.com/list/2">
                    <img src="/img/desktop/slice10.png"/>
                </a>
                <a class="mx-2 col color-0" href="http://shop.liunar.com/list/0">
                    <img src="/img/desktop/slice8.png"/>
                </a>
                <a class="mx-2 col color-1" href="http://shop.liunar.com/list/1">
                    <img src="/img/desktop/slice9.png"/>
                </a>
                <a class="mx-2 col color-3" href="http://shop.liunar.com/list/3">
                    <img src="/img/desktop/slice11.png"/>
                </a> -->
                <img src="/img/desktop/ivy_teachers.jpg" width="100%" />

            </div>
        </div>
        <div class="container mt-80">
            <h3 class="font-weight-bold text-center">-留哪儿热点- </h3>
            <p class="font-weight-normal text-muted text-center">留学，游学，移民，最新热点</p>
            <div class="row mt-4">
                <% for(var i = 0; i < articles.length; i++){ %>
                <a class="card col mx-2 p-0 normal-a" href="http://toutiao.liunar.com/0/<%= articles[i].id %>">
                    <img class="card-img-top" src="http://cms.liunar.com/uploadimage/articles/<%= articles[i].promo_thumb %>" alt="留哪儿头条：<%= articles[i].title%>">
                    <div class="card-block">
                        <h3 class="card-title"><%= articles[i].title %></h3>
                        <p class="card-text two-line-text"><%= articles[i].description %></p>
                    </div>
                </a>
                <% } %>    
            </div>
            <div class="row mt-3">
                <a class="text-center col mx-2 py-2 normal-a" href="http://toutiao.liunar.com" style="background-color: #e5e5e5; color: #259dde">
                    查看更多攻略 <i class="fa fa-chevron-right"></i>
                </a>  
            </div>    
        </div>
        <div class="container mt-80">
            <h3 class="font-weight-bold text-center">-游学项目精选-</h3>
            <p class="font-weight-normal text-muted text-center">萃取全球优质营地和经典课程</p>
            <div class="row mt-4">
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/99">
                    <img class="card-img-top" src="/img/desktop/游学1.jpg" alt="2017温哥华“全能成长训练”海岛探险夏令营">
                    <div class="card-block">
                        <h3 class="card-title">2017温哥华“全能成长训练”海岛探险夏令营</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                加拿大
                            </small>
                            <small class="float-right">
                                2017-07-14 开始
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                7-15岁
                            </small>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                5,600 加币起
                            </small>
                        </p>
                    </div>
                </a>
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/84">
                    <img class="card-img-top" src="/img/desktop/游学2.jpg" alt="2017美国乐高科技实验夏令营">
                    <div class="card-block">
                        <h3 class="card-title">2017美国乐高科技实验夏令营</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                美国
                            </small>
                            <small class="float-right">
                                2017年随时出团
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                6-17岁
                            </small>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                9,000 美元起
                            </small>
                        </p>
                    </div>
                </a>
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/66">
                    <img class="card-img-top" src="/img/desktop/游学3.jpg" alt="中小学生也能国际交换啦！——全加拿大唯一一个教育厅授权交换生项目">
                    <div class="card-block">
                        <h3 class="card-title">中小学生也能国际交换啦！——全加拿大唯一一个教育厅授权交换生项目</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                加拿大
                            </small>
                            <small class="float-right">
                                为期4个月
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                6-18岁
                            </small>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                30,000 加币起
                            </small>
                        </p>
                    </div>
                </a>
            </div>
            <div class="row mt-3">
                <a class="text-center col mx-2 py-2 normal-a" href="http://shop.liunar.com/list/0" style="background-color: #e5e5e5; color: #259dde">
                    查看更多游学项目 <i class="fa fa-chevron-right"></i>
                </a>  
            </div> 
        </div>
        <div class="container mt-80">
            <h3 class="font-weight-bold text-center">-留学项目精选-</h3>
            <p class="font-weight-normal text-muted text-center">萃取全球顶级教育和就业移民方案</p>
            <div class="row mt-4">
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/34">
                    <img class="card-img-top" src="/img/desktop/留学1.jpg" alt="美国中学申请服务">
                    <div class="card-block">
                        <h3 class="card-title">美国中学申请服务</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                美国
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                7-18岁
                            </small>
                            <% if(1==2){ %>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                8,000 加币起
                            </small>
                            <% } %>
                        </p>
                    </div>
                </a>
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/2">
                    <img class="card-img-top" src="/img/desktop/留学2.jpg" alt="加拿大特色专业重点推荐之酒店管理 | 门槛低、专业好、能移民">
                    <div class="card-block">
                        <h3 class="card-title">加拿大特色专业重点推荐之酒店管理 | 门槛低、专业好、能移民</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                加拿大
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                18-35岁
                            </small>
                            <% if(1==2){ %>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                4,000 加币起
                            </small>
                            <% } %>
                        </p>
                    </div>
                </a>
                <a class="card col mx-2 p-0 normal-a" href="http://shop.liunar.com/37">
                    <img class="card-img-top" src="/img/desktop/留学3.jpg" alt="美国研究生申请服务">
                    <div class="card-block">
                        <h3 class="card-title">美国研究生申请服务</h3>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-map-marker"></i>
                                美国
                            </small>
                        </p>
                        <p class="card-text clearfix mb-1">
                            <small class="float-left">
                                <i class="fa fa-user"></i>
                                18-35岁
                            </small>
                            <% if(1==2){ %>
                            <small class="float-right">
                                <i class="fa fa-usd"></i>
                                10,500 加币起
                            </small>
                            <% } %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="row mt-3">
                <a class="text-center col mx-2 py-2 normal-a" href="http://shop.liunar.com/list/2" style="background-color: #e5e5e5; color: #259dde">
                    查看更多留学项目 <i class="fa fa-chevron-right"></i>
                </a>  
            </div> 
        </div>
        <!--<div class="container mt-80">
            <h3 class="font-weight-bold text-center">-留哪儿问答-</h3>
            <p class="font-weight-normal text-muted text-center">留学，游学，移民，有问必答</p>
            <div class="row mt-4">
                <%- qandA %>
            </div>
            <div class="row mt-3">
                <a class="text-center col mx-2 py-2 normal-a" href="http://www.liunar.com/mobile/#/app/mainhome/QandA/QandAForm" style="background-color: #e5e5e5; color: #259dde">
                    我要提问 <i class="fa fa-chevron-right"></i>
                </a>  
            </div> 
        </div>-->



        <div class="container mt-80">
            <h3 class="font-weight-bold text-center">-留哪儿知识库-</h3>
            <p class="font-weight-normal text-muted text-center">留学知识一网打尽，常看长知识</p>
            <div class="card border-0 mt-4">
                <div class="card-header p-0 bg-white border-0">
                    <ul class="nav nav-tabs justify-content-center p-0 border-top-0 border-left-0 border-right-0">
                        <li class="nav-item" ng-repeat="tag in tags">
                            <a class="nav-link" ng-class="{active: $index == selected}" href="" ng-click="search($index, tag.kw)">
                                {{tag.kw}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="card-block bg-faded p-2 row mt-4">

                    <a class="col-md-4 px-2 py-2 normal-a" ng-repeat="list in lists" href="{{(list.type == 1) ? 'http://toutiao.liunar.com/0/' + list.id : (list.type == 2) ? '/mobile/#/app/mainhome/QandA/QandAList/QandADetail/' + list.id + '/search' : (list.type == 3) ? '/mobile/#/app/shopProductDetail/' + list.id + '/' : ''}}">
                        <div class="searchCard bg-white p-3">
                            <div class="outline-badge" ng-class="{question: list.type == 2, article: list.type == 1, product: list.type == 3}">
                                {{(list.type == 1) ? "攻略" : (list.type == 2) ? "问答" : (list.type == 3) ? "产品" : ""}}
                            </div>
                            {{list.title}}
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <% include ../d_partials/footer %>
        <script>
            window.onmessage = function(e) {
                    // if (e.origin !== "http://domain.com") {
                    //     return;
                    // }
                    var payload = JSON.parse(e.data);
                    switch(payload.method) {
                        case 'set':
                        localStorage.setItem(payload.key, JSON.stringify(payload.data));
                        break;
                        case 'get':
                        var parent = window.parent;
                        var data = localStorage.getItem(payload.key);
                        parent.postMessage(data, "*");
                        break;
                        case 'remove':
                        localStorage.removeItem(payload.key);
                        break;
                    }
                };
            </script>
        </body>
        </html>