﻿<!DOCTYPE html>
<html>
<head>
    <title>留哪儿 -- 让孩子选择世界</title>
    <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
    <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/lib/slick/slick.css" />
    <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
    <link rel="stylesheet" href="/public/css/home.css" />
    <% include ../partials/head %>
    <script src="/public/lib/slick/slick.min.js"></script>
    <script src="/public/lib/slick/angular-slick.js"></script>
    <script src="/public/js/home.js"></script>
    <style>
    ul.slick-dots {
        bottom: 0px;
    }

    ul.slick-dots li button:before {
        font-size: 10px;
    }
    
    ul.slick-dots li {
        margin: 0 0 0 0;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0px;
    }
    .p-title{
        overflow: hidden;
        line-height: 1.5em;
        height: 3em;
    }
    .image-100{
        width: 100%;
    }
</style>  
</head>
<body ng-app="home">
    <script>
     document.cookie = "region=<%= region %>; expires=Thu, 18 Dec 2099 12:00:00 UTC; path=/";
 </script>

 <div class="view-container" ng-controller="homeCtrl">
    <div class="pane" style="background-color: #e9e9e9">
        <%# include ../partials/headerBar_home %>
        <div class="content-container no-header">
            <div class="content">
                <div class="item fullscreen">
                    <slick settings="slickConfig">
                                <!--<a href="http://shop.liunar.com/37">
                                <img src="/img/desktop/美国研究生-S.jpg">
                            </a>
                                <a href="http://shop.liunar.com/49">
                                    <img src="/img/desktop/IO-S.jpg">
                                </a>
                                <a href="http://shop.liunar.com/6">
                                    <img src="/img/desktop/北美百强保录-S.jpg">
                                </a>-->
<!--                                 <a href="http://shop.liunar.com/37">
                                    <img src="/img/desktop/美国研究生-S.jpg">
                                </a>    -->     
                                <a href="http://toutiao.liunar.com/0/38229">
                                    <img src="/img/desktop/pab_m.jpg">
                                </a>         
<!--  -->  
                                <!--<a href="http://shop.liunar.com/72">
                                <img src="/img/desktop/纽约军校夏令营-S.jpg">
                            </a>-->
                            <a href="http://toutiao.liunar.com/0/38228"> 
                                <img src="/img/desktop/program-s.jpg">
                            </a>
                            <a href="http://shop.liunar.com/30">    
                                <img src="/img/desktop/skiing_m.jpg">
                            </a>

<!--                             <a href="http://www.liunar.com/feedback">
                                <img src="/img/desktop/学生感言-S.jpg">
                            </a> -->
<!--                             <a href="http://shop.liunar.com/22">    
                                <img src="/img/desktop/童军-S.jpg">
                            </a> -->

                            <a href="http://toutiao.liunar.com/0/38219">    
                                <img src="/img/desktop/jl_academy_m.jpg">
                            </a>
                            <a href="http://www.liunar.com/about">
                                <img src="/img/desktop/关于我们-S.jpg">
                            </a>  
                        </slick>
                    </div>
                    <div class="item fullscreen white-bg">
                        <div class="row">
                            <a href="http://shop.liunar.com/list/0" class="col" align="center">
                                <img src="/img/slice2.png" class="image-100">
                                冬夏令营
                            </a>
                            <a href="http://shop.liunar.com/list/1" class="col" align="center">
                                <img src="/img/slice3.png" class="image-100">
                                背景提升
                            </a>
                            <a href="http://shop.liunar.com/list/2" class="col" align="center" >
                                <img src="/img/slice4.png" class="image-100">
                                中小学
                            </a>
                            <a href="http://shop.liunar.com/list/3" class="col" align="center">
                                <img src="/img/slice5.png" class="image-100" >
                                特色院校
                            </a>
                            <a href="http://shop.liunar.com/list/4" class="col" align="center">
                                <img src="/img/slice6.png" class="image-100" >
                                知名大学
                            </a>
                        </div>
                        <div class="row">
                            <a class="col" align="center" href="http://www.liunar.com/mobile/#/app/estimate">
                                <i class="custom-icon" style="background-image: url('/img/s1.png')"></i>
                                <span>免费评估</span>
                            </a>
                            <div class="col" align="center">
                                <i class="custom-icon" style="background-image: url('/img/s2.png')"></i>
                                <span>定制方案</span>
                            </div>
                            <a class="col" align="center" href="http://toutiao.liunar.com/0/34677">
                                <i class="custom-icon" style="background-image: url('/img/s3.png')"></i>
                                <span>领取攻略</span>
                            </a>
                        </div>
                    </div>

                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="fa fa-clock-o" style="color: rgb(211, 65, 41)"></i>
                                留哪儿活动
                            </span>
                            <% if(activities.length > 0 ){ %>
                            <a href="http://www.liunar.com/mobile/#/app/events" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                            <% }%>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <div class="item">
                            <% if(activities.length > 0 ){ %>
                            <% for(var i=0; i < activities.length; i++) { %>
                            <% if(activities[i].expire_time * 1000 > new Date().getTime()){ %>
                            <a class="item no-margin-y" href="http://toutiao.liunar.com/0/<%= activities[i].id%>">
                                <div class="row">
                                    <div class="col col-25 no-padding-left">
                                        <img src="http://cms.liunar.com/uploadimage/articles/<%= activities[i].promo_thumb%>" class="image-100"/>
                                    </div>
                                    <div class="col">
                                        <p class="no-margin" style="font-size: 16px; font-weight: normal">
                                            <%= activities[i].title %>
                                        </p>
                                    </div>
                                </div>
                                <div class="row" style="color: steelblue; display: inline-block; font-weight: normal;">
                                    <span class="fa fa-calendar" style="vertical-align: middle" aria-hidden="true"></span>
                                    <span style="margin-left: 8px; vertical-align: middle" class="ng-binding" ng-cloak>
                                        {{<%= activities[i].effective_time %> * 1000 | date:'yyyy-MM-dd'}} ~ {{<%= activities[i].expire_time %> * 1000 | date: 'yyyy-MM-dd'}}
                                    </span>
                                </div>
                            </a>
                            <% } %>    
                            <% } %>
                            <%} else{%>
                            <p class="no-margin" style="font-size: 16px; text-align: center">抱歉！目前没有活动！</p>
                            <%}%>

                        </div>
                    </div>


                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="custom-icon" style="background-image: url('/img/s_lngl.png')"></i>
                                留哪儿热点
                            </span>
                            <a href="http://toutiao.liunar.com" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <div class="row wrapBox">
                            <% for(var i=0; i < articles.length; i++) { %>
                            <div class="col col-50 fourSquareCol">
                                <a class="item no-margin-y" href="http://toutiao.liunar.com/0/<%= articles[i].id%>">
                                    <img src="http://cms.liunar.com/uploadimage/articles/<%= articles[i].promo_thumb %>" class="col-image">
                                    <h3><%= articles[i].title %></h3>
                                    <p><%= articles[i].description %></p>
                                </a>
                            </div>
                            <% } %>
                        </div>    
                    </div>
                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="custom-icon" style="background-image: url('/img/slice2.png')"></i>
                                冬夏令营
                            </span>
                            <a href="http://shop.liunar.com/list/0" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <div class="row wrapBox">
                            <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
                            <% for(var i=0; i < products[1].length; i++) { %>
                            <div class="col col-50 fourSquareCol">
                                <a class="item no-margin-y" href="http://shop.liunar.com/<%= products[1][i].id%>">
                                    <img src="http://cms.liunar.com/uploadimage/products/<%= products[1][i].promo_thumb %>" class="col-image">
                                    <h3 class="p-title"><%= products[1][i].title %></h3>
                                    <p class="row no-padding" style="color: #333;">
                                        <span class="col no-padding">
                                            <i style="padding-right: 2px; color: #3b5998;" class="fa fa-map-marker"></i>
                                            <%= products[1][i].country %>
                                        </span>
                                        <% if(products[1][i].age_min){ %>
                                        <span class="col no-padding" style="text-align: right">
                                            <i style="padding-right: 2px; color: #3b5998;" class="fa fa-user"></i>
                                            <%= products[1][i].age_min %> - <%= products[1][i].age_max %>岁
                                        </span>
                                        <% } %>
                                    </p>
                                    <p class="row no-padding" style="color: #333; margin-top: 6px;">
                                        <span class="col no-padding">
                                            <i style="color: #3b5998;" class="fa fa-dollar"></i>
                                            <%= products[1][i].msrp %> <%= cur_map[products[1][i].currency] %>起
                                        </span>
                                    </p>
                                </a>
                            </div>
                            <% } %>
                        </div>    
                    </div>
                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="custom-icon" style="background-image: url('/img/slice3.png')"></i>
                                低龄留学
                            </span>
                            <a href="http://shop.liunar.com/list/1" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <div class="row wrapBox">
                            <% for(var i=0; i < products[0].length; i++) { %>
                            <div class="col col-50 fourSquareCol">
                                <a class="item no-margin-y" href="http://shop.liunar.com/<%= products[0][i].id%>">
                                    <img src="http://cms.liunar.com/uploadimage/products/<%= products[0][i].promo_thumb %>" class="col-image">
                                    <h3 class="p-title"><%= products[0][i].title %></h3>
                                    <p class="row no-padding" style="color: #333;">
                                        <span class="col no-padding">
                                            <i style="padding-right: 2px; color: #3b5998;" class="fa fa-map-marker"></i>
                                            <%= products[0][i].country %>
                                        </span>
                                        <% if(products[0][i].age_min){ %>
                                        <span class="col no-padding" style="text-align: right">
                                            <i style="padding-right: 2px; color: #3b5998;" class="fa fa-user"></i>
                                            <%= products[0][i].age_min %> - <%= products[0][i].age_max %>岁
                                        </span>
                                        <% } %>
                                    </p>
                                </a>
                            </div>
                            <% } %>
                        </div>    
                    </div>

                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="custom-icon" style="background-image: url('/img/zjdy.png')"></i>
                                留哪儿问答
                            </span>
                            <a href="http://www.liunar.com/mobile/#/app/mainhome/QandA" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多大家关注的问题
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <%- qandA%>
                    </div>
                    <div class="item white-bg fullscreen" style="margin-top: 18px">
                        <div class="item-divider white-bg">
                            <span style="vertical-align: middle;  margin-left: 8px; font-size: 15px">
                                <i class="custom-icon" style="background-image: url('/img/zjdy.png')"></i>
                                留哪儿知识库
                            </span>
                            <a href="http://www.liunar.com/mobile/#/tagsquare" style="font-size: 12px; display:inline-block; position: absolute; right: 24px">
                                更多
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                        <hr style="margin-top: 0; margin-bottom:0; width: 88%; border: 1px solid #e5e5e5;">
                        <h4 style="margin: 12px 0px; padding: 0px 12px; font-size: 16px">留学知识一网打尽，常看长知识</h4>
                        <div class="wrapBox" style="padding: 0px 0px 12px 0px">
                            <div class="row" style="padding: 6px 12px;">
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E7%95%99%E5%AD%A6%E8%A7%84%E5%88%92">
                                    留学规划
                                </a>
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E7%95%99%E5%AD%A6%E7%94%9F%E6%B4%BB">
                                    留学生活
                                </a>
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E8%A7%82%E7%82%B9">
                                    观点
                                </a>
                            </div>
                            <div class="row" style="margin:0; padding: 6px 12px;">
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E4%B8%AD%E5%B0%8F%E5%AD%A6%E7%95%99%E5%AD%A6">
                                    中小学留学
                                </a>
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E5%B8%B8%E9%9D%92%E8%97%A4">
                                    常青藤
                                </a>
                                <a class="col homeBadgeBtn-outline" style="margin: 0px 4px;" href="http://www.liunar.com/mobile/#/tagsearch/%E7%83%AD%E9%97%A8%E4%B8%93%E4%B8%9A">
                                    热门专业
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% pageActive = "home" %>
            <% include ../partials/tabs %>
            <% include ../partials/region_redirect %>
        </div>
    </div>
    <% include ../partials/footScript %>
</body>
</html>