<!DOCTYPE html>
<html>
<head>
    <title>留哪儿 -- 让孩子选择世界</title>
    <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
    <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">
    <meta name="author" content="Canbest">

</style>
</head>
<body >
    <h1>test opening files in webview:little app</h1>
    <li><a href="/public/test/test.docx">.docx file</a></li>
    <li><a href="/public/test/test.doc">.doc file</a></li>
    <li><a href="/public/test/test.xls">.xls file</a></li>
    <li><a href="/public/test/test.ppt">.ppt file</a></li>
    <li><a href="/public/test/test.pdf">.pdf file</a></li>
    <li><a href="/public/test/test.ppt">.ppt file</a></li>
    <li><a href="/public/test/test.xlsx">.xlsx file</a></li>
    <li><a href="/public/test/test.pptx">.pptx file</a></li>
    <li><a href="/public/test/test.txt">.txt file</a></li>
</body>
</html>