@font-face {
    font-family: 'FontAwesome';
    src:url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.eot');
    src:url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'FontAwesome', Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}

.keyboard-up{
    background-color: rgba(0,0,0,0) !important;
}
.hide{
    display: none !important;
}

.estimate.radio > div.radio-content > .radio-icon{
    display: none;
}

.radio-content .item-content{
    color: rgb(53,76,76);
    font-size: 18px;
    white-space: normal;
}

.estimate.radio.item-radio input:checked + .radio-content .item-content {
    background:  rgb(58,110,111);
    color: #fff;
}

.scroll {
  -webkit-user-select: auto !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: auto !important;
}

.bar.bar-calm, .button.button-calm{
    /* background-color: #d51f26 !important;*/*/
    border-color: #52baba !important; 
    background-color: #52baba !important;
    color: #fff;
}

.bar-header {
   box-shadow: 0px 3px 15px rgba(125, 125, 125, 0.3);
   transition: transparent 0s ease;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > i,
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > span{
    /*color: #d51f26 !important;*/
     color: #4aa09d !important;
}

.homeInlineForm.item.item-input-inset > label, .homeInlineForm.item.item-input-inset > button {
    height: 36px !important;
    min-height: 16px !important;
}

.homeInlineForm.item.item-input-inset > label > input{
    font-size: 16px !important;
}

.homeInlineForm.item.item-input-inset > button {
    font-size: 16px;
    line-height: 12px !important;
}

.title-image {
    vertical-align:middle;
    height: 27px;
    margin-top: -4px;
}

.homeImage{
    margin-bottom: 12px;
}

ion-content{
    background-color: #F8F8F8;
}

.whiteBg {
    background-color: #fff !important;
}

.homeSlide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


.homeSlide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.homeSlideAnchor{
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}

.blackMatt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.vCenterBlock{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.spanNoteCenter{
    font-size: 12px;
    color: #777;
    text-align: center;
    margin-bottom: 15px;
}

.textCenter,.textCenter > *{
    text-align: center;
}

.noBorder{
    border: none;
}

.noPadding{
    padding: 0 0 0 0 !important;
}

.centerMargin{
    margin-right: auto !important;
    margin-left: auto !important;
}

.noMargin{
    margin: 0 0 0 0 !important;
}

a{
    text-decoration: none;
    color: inherit;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #888;
}

div.popup-buttons > button.button-positive{
    background-color: #C0272D;
}

div.popup-buttons > button.button-positive:active{
    background-color: #C0272D;
}

.homeImageContainer{
    width: 100%;
    height: 160px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

.card.subHeader{
    height: 48px;
    width: 100%;
    box-shadow: none;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    background-color: gainsboro;
}

.card.subHeader > h3{
    color: #fff;
    line-height: 48px;
    font-size: 18px;
    margin-left: 15px;
}

.fullWidthCardMenu{
    /*box-shadow: none;*/
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.fullWidthCard{
    /*box-shadow: none;*/
    width: 100%;
    margin-left: 0;
    margin-right: 0;  
    margin-top: 0px;
    margin-bottom: 0px;
}

.homeMenuItem{
    text-align: center;
}

.homeMenuItem > i{
    font-size: 36px;
}

.custom.item-thumbnail-left{
    padding-left: 25%;
    min-height: 90px;
    height: 110px;
}

.custom.item-thumbnail-left > img{
    top: 0;
    left: 0;
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto;
    clip: rect(0px,120px,200px,0px);
}

.custom.item-thumbnail-left > div > h4{
    font-size: 16px;
}

p.dateInfo > span{
    font-size: px;
    margin-right: 8px;
}

div.item.introduction{
    color: #999;
    width: 80%;
    margin-left: 10%;
    margin-top: 24px;
    border-top: 0.5px solid #999;
    border-bottom: 0.5px solid #999;
    border-left: none;
    border-right: none;
}

.homeImageDescription{
    width: 100%;
    overflow: hidden;
    position:absolute;
    padding: 5px;
    bottom:0px; /* position will be on bottom */  
    left: 0;  
    background-color: rgba(0,0,0,0.3); 
    background-clip: content-box;
}

.homeImageDescription > h1{
    font-size: 20px;
    margin-top: 20%;
    opacity: 1.0;
    filter:alpha(opacity=100);
    color: #fff;
}

.homeImageDescription > p{
    padding: 4px;
    font-size:12px;
    opacity: 1.0;
    filter:alpha(opacity=100);
    color: #fff;
}

.imageContainer{
    min-height: 20vh;
    height: 120px; 
    overflow:hidden; 
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}


.col.col-75 {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
/*-----------------------------------------------*/
.campDetail img{
    width: 100%;
}

.schoolProductImg {
    position: relative;
    width:100%;
    margin:0;
    height:200px;
    opacity: 0.6;
    -webkit-filter: brightness(100%);

}
.schoolProductP {
    text-align: center;
    position: absolute;
    top:45px;
    width: 100%;
    font: bold 17px/45px Helvetica, Sans-Serif;
}
.listMargin {
    margin-bottom: 5px;
}
.schoolBody1 {
    padding-left: 35px;
}
.applyButton {
    left: 10px;
    border-color: gray;
    width: 90px;
}






.estimateBody {
    background-color: #ffffff;;
    width:100%;
    padding: 0;
}

.estimateBtn{
    color: rgb(53,76,76);
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(53,76,76);
    font-size: 18px;
    width: 60%;
    margin-left: 20%;
    margin-top: 24px;
    border-radius: 0;
}
.estimateCard {
    margin: 0;
    line-height: 60px;
    text-align: center;
    position: relative;
    height:120px;
    background-color: rgb(58,110,111);
}

.estimateCard > p{
    color: #fff;
    margin-top: 36px;
    font-size: 28px;
}

.estimateItem {
   background-color: rgb(58,110,111);
   position: relative;
   text-align: center;
}

.estimateItem p {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    left: 0;
    color:black;
    font-weight: 500;
    font-size: 2rem;
}

.estimateList {
    margin-top: 36px;
    width: 75%;
    margin-left:12.5%;
    padding: 24px; 
    border: 1px solid rgb(58,110,111); 
    background-color: #fff;
}

.articleHeader > h1{
    padding: 17px 17px;
    font-size: 40px;
}

.articleHeader > .item.item-avatar > img{
    left: 17px;
}

.articleDetail{
    padding: 0 17px;
}

.articleDetail, .articleDetail > p{
    font-size: 18px;
    color: #444;
    line-height: 180% !important;
    font-weight: normal !important;
}

.articleDetail  p{
    margin-bottom: 15px;
}

.articleDetail img{
    width: 100% !important;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
}






























/*------------------------------------------------*/
.productDetail{
    padding: 24px; 
    color: #444;
    font-size: 1em;
}

.productDetail img{
    width: 100%;
}

.productDetail strong{
    font-weight: bold;
    font-size: 1.1em;
    color: #FFC200;
}

.productDetail section, .productDetail section > p{
    margin-top: 32px;
}

.productDetail section > strong, .productDetail section > p > strong{
    color: #52baba;
    font-weight: bolder;
    font-size: 1.3em;
}

.productDetail section > strong::before, .productDetail section > p > strong::before{
    font-family: "Ionicons";
    content: "\f10a"  "  ";
}

.liunarProductCards{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 24px;
}

.liunarProductCards:first-child {
    margin-top: 0 !important;
}

.liunarProductCards > .item:last-child {
    background-color: #52baba;
    color: #fff;
    text-align: center;
}

.liunarProductCards > .item:first-child {
    margin-top: 0 !important;
    position: relative;
    background-color: #fff;
    background-size: cover;
    height: 240px;
}

.liunarProductCards > .item:first-child > div{
    padding: 12px;
    font-size: 18px;
    position: absolute;
    background-color: #52baba;
    color: #fff;
    bottom: 0;
    left: 0;
}

.productCards{
    border-radius: 0;
    width: 84%;
    margin-left: 8%;
    padding: 15px 15px 15px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: #C0272D solid 1px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;   
}


.productCards > p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
}

.productCards > .item.item-text-wrap{
    border: none;
    height: 160px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

.productCards > .item.item-divider{
    border: none;
    background-color: rgba(0,0,0,0);
    margin-top: 0;
}

.productCards > .item.item-divider > p{
    text-align: center;
    color: grey;
}

.productCards > .item.item-divider > p.anchorText{
    text-decoration: none;
    color: #ea545f;
    font-size: 14px;
    text-align: right;
}

.schoolButtonFull{
    color: #fff !important;
    font-weight: 300;
    height: 160px;
    min-height: 26vh;
    font-size: 18px;
    text-align: center;
    padding: 24px 24px 24px 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: 26px;
}

.schoolButtonFull > div > img {
    width: 15%;
    max-width: 80px;
}

.schoolButton-left{
    margin-left: 8px;
    margin-right: 4px;
}

.schoolButton-right{
    margin-left: 4px;
    margin-right: 8px;
}

.schoolButton{
    width: 100%;
    height: 160px;
    min-height: 26vh;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 24px 24px 24px 24px;  
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.schoolButton > div > p {
    color: #ffffff;
    opacity: 1 !important; 
}

.schoolButton > div > img {
    width: 30%;
    max-width: 160px;
}

.schoolStandardCard{
    height: 200px; 
    padding: 6px 6px 6px 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.schoolNavBtn.active{
    color: #d51f26;
}

.mapOption{
    color: #52baba;
}

.mapOptionActived{
    background-color: #52baba;
    color: #fff;
}

.profileItem{
    margin-top: 14px;
    margin-bottom: 0 !important;
}


.profileItem > .item:nth-child(2){
    border-top: 0.5px solid #d3d3d3;
}

.profileItem > *{
    color: #444 !important;
    border: none;
}

.profileItem > h2{
    color: dimgray;
    font-weight: 200;
    font-size: 16px;
}

.profileItem > p{
    color: gray;
    font-size: 15px;
}

.profileItem:first-child{
    margin-top: 0;
    text-align: center;
}

.profileItem > .profileAvater{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.questionHeader > h2:first-child{
    float: left;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.questionHeader > h2{
    float: right;
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

.questionHeader > h2 > i{
    color: #888;
    margin-left: 6px;
}

.questionItem > .questionTitle > *{
    font-size: 16px;
    font-weight: 300;
    overflow: visible;
    white-space: normal;
}

.questionItem > .questionContent > *{
    font-size: 14px;
}

.questionItem > .questionAuthor > p:first-child{
    color: #d51f26;
    float: left;
}

.questionItem > .questionAuthor > p:first-child > span{
    color: #666;
    margin-left: 6px;
}

.questionItem > .questionAuthor > p{
    float: right;
}

.questionItem > .questionAuthor > p > a > span:first-child{
    color: #666;
}

.questionItem > .questionAuthor > p > a > span:first-child > i{
    color: #888;
}

.questionItem > .questionAuthor > p > a > span{
    font-size: 16px;
    color: #d51f26;
    margin-left: 12px;
}

.questionItem > .questionAuthor > p > a > span > i{
    margin-right: 6px;
}

.questionDetail > p{
    margin-top: 14px;
    overflow: visible;
    white-space: normal;
}

.questionDetail > h3{
    overflow: visible;
    white-space: normal;
}

.questionDetail > p.questionNote{
    text-align: right;
}

.questionDetail > p.questionNote > span > i{
    margin-right: 6px;
}

.questionAnswer > div.answerDetail > span > *{
    overflow: visible;
    white-space: normal;  
}

.questionAnswer > div.answerDetail > p.commentButt{
    margin-top: 14px;
    color: #d51f26;
    font-size: 24px;
    text-align: right;
}

.commentPerson{
   margin-right: 6px; 
}

.answerPostBtn{
    background-color: #d51f26;
    color: #fff;
    font-weight: 500 !important;
}

.answerPostBtn:hover{
    color: #fff !important;
}

.QALikes{
    color: #d51f26;
}

.QALikes > i{
    margin-right: 6px;
}

.badgeBtn{
    color: #fff;
    border: none;
    border-radius: 12px;
    line-height: 8px;
    height: 16px;
}

.badgeBtn-outline{
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: 2px solid;
    border-radius: 12px;
    line-height: 12px;
    height: 24px;
}

.homeBadgeBtn-outline{
    background-color: rgba(0,0,0,0);
    color: #4c9cbf;
    border: 1px solid; 
    border-color: #4C9CBF;
    border-radius: 12px;
    font-size: 14px;
    line-height: 12px;
    height: 24px;
    width: auto;
    margin-left: 3.5px;
    margin-right: 3.5px;
    text-align: center;
}
/*-----shop---*/
.row.shopRow{
   padding-top: 0;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 0;
}

.row > .shopNav{
    margin-left: -1px;
    padding: 12px;
    color: rgb(67,180,247);
    text-align: center;
    border: 1px solid rgb(232,232,232);
}

.row > .shopNav > i{
    font-size: 20px;
    margin-bottom: 6px;
}


