<!DOCTYPE html>
<html>
    <head>
        <title><%= name %>的个人中心</title>
        <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
        <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">
        <meta name="author" content="Canbest">
        <link rel="stylesheet" href="/public/lib/themifyIcons/themify-icons.css"/>
        <link rel="stylesheet" href="/public/lib/slick/slick.css" />
        <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
        <link rel="stylesheet" href="/public/css/user_center.css?nc=b" />
        <script src="/public/lib/jquery-3.1.1.js"></script>
        <script src="/public/icons/userCenter/iconfont.js"></script>
        <% include ../partials/head %>
        <style>      
            .icon {
                /* 通过设置 font-size 来改变图标大小 */
                width: 1em; height: 1em;
                /* 图标和文字相邻时，垂直对齐 */
                vertical-align: -0.15em;
                /* 通过设置 color 来改变 SVG 的颜色/fill */
                fill: currentColor;
                /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
                    normalize.css 中也包含这行 */
                overflow: hidden;
            }
        </style>
    </head>
    <body>
        <div class="view-container">
            <div class="pane" style="background-color: #e9e9e9">
                <div class="content-container no-header no-footer">
                    <div class="content">
                        <!-- User Header -->
                        <div class="user-header fullscreen-margin t-a-c">
                            <p>
                                当前推广费(元)：
                            </p>
                            <h1><%= currentCredit %></h1>
                            <p>
                                已提现推广费(元)：<%= withdrew %>
                            </p>
                        </div>
                        <!-- End of User Header -->
                        <!-- 朋友邀请 -->
                        <a class="user-menu-container" href="http://www.liunar.com/mobile/#/app/userRecommend">
                            <div class="item-divider only">
                                <span class="divider-text left">
                                    <i class="fa fa-user-plus"></i>
                                    <p>邀请朋友</p>
                                </span>
                                <span class="divider-text right color-666">
                                    <p>邀请好友拿奖励</p>
                                    <i class="ti-angle-right"></i>
                                </span>
                            </div>
                        </a>
                        <!-- End of 朋友邀请 -->
                        <a class="user-menu-container mt-1" href="http://www.liunar.com">
                            <div class="item-divider only">
                                <span class="divider-text left">
                                    <i class="ti-power-off" style="color: red"></i>
                                    <p>退出登录</p>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <% pageActive = "user" %>
                <% include ../partials/tabs %>
            </div>
        </div>
        <% include ../partials/footScript %>
    </body>
</html>