<!DOCTYPE html>
<html>
<head>
    <title><%= name %>的个人中心</title>
    <meta name="description" content="留哪儿是Canbest教育集团旗下的国际教育平台，精选海外优秀留学，游学产品，帮助中国孩子更简单透明地选择世界优质教育资源。我们的愿景是：‘让孩子选择世界’。">
    <meta name="keywords" content="国际教育, 出国留学, 海外游学, 背景提升, 特色院校">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/lib/themifyIcons/themify-icons.css"/>
    <link rel="stylesheet" href="/public/lib/slick/slick.css" />
    <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
    <link rel="stylesheet" href="/public/css/user_center.css?bc=b" />
    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/icons/userCenter/iconfont.js"></script>
    <% include ../partials/head %>
    <style>      
        .icon {
            /* 通过设置 font-size 来改变图标大小 */
            width: 1em; height: 1em;
            /* 图标和文字相邻时，垂直对齐 */
            vertical-align: -0.15em;
            /* 通过设置 color 来改变 SVG 的颜色/fill */
            fill: currentColor;

                /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
                normalize.css 中也包含这行 */
                overflow: hidden;
            }
            #code{
                -webkit-touch-callout: default;
                -moz-touch-callout: default;
                -ms-touch-callout: default;
                touch-callout: default;
                -webkit-user-select: all;  /* Chrome 49+ */
                -moz-user-select: all;     /* Firefox 43+ */
                -ms-user-select: all;      /* No support yet */
                user-select: all;
            }
            .coverDim{
                position: fixed;
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                background-color: rgba(0,0,0,0.75);
                z-index: 999999999;
            }
            .selectPannel p{
                -webkit-touch-callout: default;
                -moz-touch-callout: default;
                -ms-touch-callout: default;
                touch-callout: default;
                -webkit-user-select: all;  /* Chrome 49+ */
                -moz-user-select: all;     /* Firefox 43+ */
                -ms-user-select: all;      /* No support yet */
                user-select: all;
            }
            .selectPannel{
                
                position: fixed; 
                left: 24px; 
                top: 24px; 
                right: 24px; 
                background-color: #fff; 
                color: #000;
                min-height: 50px;
                font-size: 24px;
                text-align: center;
                padding: 14px;
            }
            .selectPannel h4{
                margin-top: 0;
            }
            .selectPannel button{
                font-size: 14px;
                background-color: #FF6E00; 
                color: #fff; 
                border-radius: 12px;
                border: none;
                padding: 8px 16px;
            }
        </style>
        <script>
            function selectElement(element) {
                var selected;
                if (window.getSelection) {
                    var sel = window.getSelection();
                    sel.removeAllRanges();
                    var range = document.createRange();
                    selected = range;
                    range.selectNodeContents(element);
                    sel.addRange(range);
                } else if (document.selection) {
                    var textRange = document.body.createTextRange();
                    textRange.moveToElementText(element);
                    textRange.select();
                    selected = textRange.select();
                }
                //createSelectPannel(selected);
                //alert("成功复制");
                document.execCommand('copy') ? alert("成功复制") : createSelectPannel(selected);
            };

            function createSelectPannel(text) {
                var template = "<div class='coverDim'><div class='selectPannel'><h4>长按下面推荐码复制：</h4><p>" + text + "</p><button onclick='hide(this)'>关闭</button></div></div>";
                $("body").append(template);
            };

            $(function(){
                var logout = function(){
                    document.cookie = "user=; domain=.liunar.com; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/"; //remove cookie
                    document.cookie = "user=; domain=www.liunar.com; expires=Thu, 01 Jan 1970 00:00:01 GMT; path=/"; //remove cookie
                    window.location.href = "http://www.liunar.com/logout";
                };

                $("#logout").click(
                    function(e){
                        logout();
                    }); 

                var yunId = '<%= yunId %>';
                $.get( "http://yun.liunar.com/Agent/liunarGetReferCode?yunId="+yunId, function( data ) {
                    if(!data.err){
                        $('#code').html(data.refcode);
                    }
                });

                $("#selCode").click(
                    function(){
                        selectElement($("#code").get(0));
                    }
                );

            });
            var hide = function(e){
                console.log(e);
                $(".coverDim").hide();
            }
        </script>
    </head>
    <body>
        <div class="view-container">
            <div class="pane" style="background-color: #e9e9e9">
                <div class="content-container no-header">
                    <div class="content">
                        <!-- User Header -->
                        <div class="user-header fullscreen-margin t-a-c">
                            <img src="<%= avatar %>" class="user-avatar" style="border: 2px solid #fff">
                            <p>
                                当前推广费(元)：
                            </p>
                            <h1><%= currentCredit %></h1>
                            <p>
                                已提现推广费(元)：<%= Math.abs(withdrew) %>
                            </p>
                        </div>
                        <!-- End of User Header -->
                        <!-- 财富菜单 -->
                        <div class="user-menu-container no-margin-top">
                            <div class="item-divider">
                                <span class="divider-text">
                                    <i class="ti-wallet"></i>
                                    <p>我的财富</p>
                                </span>
                            </div>
                            <div class="row">
                                <a class="col" href="http://yun.liunar.com/Channel/MyPoints">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">财富</h3>
                                            <p class="no-margin color-666">收益更清晰</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hongbao"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a class="col" href="http://yun.liunar.com/Channel/MyIndiAgents">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">好友</h3>
                                            <p class="no-margin color-666">好友福利享</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-TicketPurchase"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End of 财富菜单 -->
                        <!-- 客户菜单 -->
                        <div class="user-menu-container">
                            <div class="item-divider">
                                <span class="divider-text">
                                    <i class="ti-notepad"></i>
                                    <p>我的客户</p>
                                </span>
                            </div>
                            <div class="row">
                                <a class="col" href="http://yun.liunar.com/CustomerManage/myCustomers">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">客户</h3>
                                            <p class="no-margin color-666">客户随时管</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon_yonghuguanli"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a class="col" href="http://yun.liunar.com/Channel/MyOrders">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">订单</h3>
                                            <p class="no-margin color-666">订单好管理</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon_zujinjihuabiao"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- End of 客户菜单 -->
                        <!-- 机构菜单 -->
                        <% if(isAdmin.admin === true){ %>
                        <div class="user-menu-container">
                            <div class="item-divider">
                                <span class="divider-text">
                                    <i class="fa fa-building-o"></i>
                                    <p style="font-weight: bolder"><%= isAdmin.AgencyName %></p>
                                </span>
                            </div>
                            <div class="row wrapBox">
                                <a class="col col-50" href="http://yun.liunar.com/CustomerManage/Customers/">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">客户</h3>
                                            <p class="no-margin color-666">查询机构客户</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-kehuCRM"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a class="col col-50" href="http://yun.liunar.com/Channel/AgencyOrders/">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">订单</h3>
                                            <p class="no-margin color-666">查看机构订单</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-icon_zujinjihuabiao"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <a class="col col-50" href="http://yun.liunar.com/Channel/IndiAgents/">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">达人</h3>
                                            <p class="no-margin color-666">查看机构达人</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-huangjinhuiyuan"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>
                                <!--<a class="col col-50">
                                    <div class="user-menu-button">
                                        <div class="menu-text">
                                            <h3 class="no-margin">成交</h3>
                                            <p class="no-margin color-666">查看机构成交</p>
                                        </div>
                                        <div class="icon-vertical-align">
                                            <svg class="icon" aria-hidden="true">
                                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hezuohuoban"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </a>-->
                            </div>
                        </div>
                        <% } %>
                        <!-- End of 机构菜单 -->
                        <!-- 推荐码 -->
                        <% if(ref_code !== false){ %>
                        <div class="user-menu-container">
                            <div class="item-divider only">
                                <span class="divider-text left">
                                    <i class="fa fa-barcode"></i>
                                    <p>我的推荐码：</p>
                                </span>
                                <span id="selCode" class="divider-text left" style="background-color: #FF6E00; color: #fff; border-radius: 12px; font-size: 12px;">
                                    选中推荐码
                                </span>
                                <span class="divider-text right" style="color: #FF6E00" >
                                    <p id="code"><%= ref_code %></p>
                                </span>
                            </div>
                        </div>
                        <!-- End of 推荐码 -->
                        <!-- 朋友邀请 -->
                        <a class="user-menu-container mt-1" href="http://www.liunar.com/userrecommend">
                            <div class="item-divider only">
                                <span class="divider-text left">
                                    <i class="fa fa-user-plus"></i>
                                    <p>邀请朋友</p>
                                </span>
                                <span class="divider-text right color-666">
                                    <p>邀请好友拿奖励</p>
                                    <i class="ti-angle-right right"></i>
                                </span>
                            </div>
                        </a>
                        <% } %>
                        <!-- End of 朋友邀请 -->
                        <div class="user-menu-container mt-1" id="logout">
                            <div class="item-divider only">
                                <span class="divider-text left">
                                    <i class="ti-power-off" style="color: red"></i>
                                    <p>退出登录</p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <% pageActive = "user" %>
                <% include ../partials/tabs %>
            </div>
        </div>

        <% include ../partials/footScript %>
    </body>
    </html>