<!DOCTYPE html>
<html>
<head>
    <title>留哪儿-匠心，良心，教育初心！</title>
    <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
    <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
    <meta name="author" content="Canbest">
    <% include ../../d_partials/head %>
    <script src="/public/js/user.js?v=3"></script>
    <style type="text/css">
    .scroll{
        width:90%;
        margin: 0 auto;
    }
    </style>
</head>
<body ng-app="user" ng-controller= "userRecommend">
    <div class="scroll">
        <div style="text-align:center" class="item item-body">
            <img style="width: 40%; max-width: 240px; margin-left: auto; margin-right: auto;" src="img/icon.png">
           <p class="recommend-bold recommend" style="text-align: left; margin-top: 32px;">
                推荐好友成为留哪儿达人！
            </p >
            <p class="recommend-bold recommend" style="text-align: left; margin-top: 32px;">
                我的推荐码：
                <span style="color: red;" id="ref_code" ><%- ref_code %></span>
                <input style=" display: none;" id="uid" value="<%- uid %>" >
                <input style=" display: none;" id="fullname" value="<%- fullname %>" >
            </p >
            <p class="recommend-light recommend" style="text-align: left; margin-top: 32px;">
                推荐好友成为留哪儿达人，您可以扩大客户获取能力，当达人好友获得销售佣金时，您可以获得额外的5%销售佣金，这部分奖励来自留哪儿平台，并不会影响达人好友的销售佣金收入。
            </p >
            <p class="recommend-share recommend" style="text-align: left; margin-top: 32px; color:#52baba">
                请点击右上角微信分享，把此页面分享给朋友
            </p >
        </div>
    </div>
</body>

</html>

