<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
 <%- include('nav'); %>
 <a href="/goodnews/new" style="float:right">添加捷报</a>
 <table id="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>学生名字</td>
      <td>亮点</td>
      <td>学校类别</td>
      <td>特殊信息</td>
    </tr>
  </thead>
  <tbody>
   <% for(var i=0; i<list.length; i++) {%>
   <tr>
     <td> <%=list[i].id%> </td>
     <td> <%=list[i].name%> <a href="/goodnews/<%=list[i].id%>">编辑</a> </td>
     <td><%=list[i].highlight%></td>
     <td><%=list[i].type%></td>
     <td><%=list[i].extra_info%></td>
   </tr>
   <% } %>
 </tbody>
</table>

<script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>

<script type="text/javascript" src="/datatables/datatables.min.js"></script>
<script type="text/javascript">

  $(jQuery(document).ready(function($) {
    $('#table').DataTable({
      "order": [[ 4, "desc" ]]
    });
  }));

</script>
</body>
</html>
