<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <%- include('cms_styles'); %>
</head>
<body>
    <%- include('nav'); %>

    <form>
        <label>产品名字
            <input type="text" name="title" id="title" value="">
        </label>
        <label>价格
            <input type="text" name="price" id="price" value="">
        </label>
        <label>内容
            <textarea name="description" id="description"></textarea>
        </label>
        <label>详情页面
            <script id="details" name="details" type="text/plain">

            </script>
        </label>
        <label>推荐此产品
            <select name="recommended" id="recommended">
                <option value=0>不推荐</option>
                <option value=1>推荐</option>
            </select>
        </label>
        <button type="submit">Save</button>
    </form>

    <a href="/product/list">返回列表页面</a>

    <script type="text/javascript" src="/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor.all.js"></script>
    <script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

    <script type="text/javascript">



        $(jQuery(document).ready(function($) {
         var data;
           //init ueditor
           var details = UE.getEditor('details');

           function autofillObjectData(){
              data = <%- product %>;
              var keys = Object.keys(data);
              for(var i= 0; i <keys.length ; i++){
                $('#'+keys[i]).val(data[keys[i]]);
            }
            details.ready(function() {
                details.setContent(data.details);
            });
        }

        if(<%- product %> != 1){
            autofillObjectData();
            postURL = '/product<%-id%>';
        }else{
            postURL = '/product/new';
        }
        console.log(postURL)
        $("form").submit(function(e){
            var form = $(this);
            $.ajax({
                url   : postURL,
                type  : "POST",
                data  : form.serialize(),
                success: function(response){
                    window.location.href = "/product/"+response;
                }
            });
            return false;
        });
    }));

</script>
</body>
</html>