<ion-view view-title="学校类别">
  <ion-content scroll="true" style="background-image: url()">
    <div class="row" style="margin-top: 36px">
        <a nav-direction="forward" style="background-color: rgba(200, 219, 100, 1)" ui-sref="app.schoolRank({cateID: 1})" class="col schoolButton noBorder schoolButton-left">
            <div class="vCenterBlock">
                <img src="img/daXueIcon.png"/>
                <p style="margin-top: 12px;">加拿大大学排名</p>
            </div>
        </a>
        <a nav-direction="forward" style="background-color: rgba(81, 133, 153, 1)" ui-sref="app.schoolRank({cateID: 2})" class="col schoolButton noBorder schoolButton-right">
            <div class="vCenterBlock">
                <img src="img/teSeXueYuanIcon.png"/>
                <p style="margin-top: 12px;">加拿大特色院校</p>
            </div>
        </a>
    </div>
    <div class="row">
        <a nav-direction="forward" style="background-color: rgba(15, 156, 133, 1)" ui-sref="app.schoolRank({cateID: 3})" class="col schoolButton noBorder schoolButton-left">
            <div class="vCenterBlock">
                <img src="img/zhongXueIcon.png"/>
                <p style="margin-top: 12px;">加拿大中学排名</p>
            </div>
        </a>
        <a nav-direction="forward" style="background-color: rgba(244, 107, 89, 1)" ui-sref="app.schoolRank({cateID: 4})" class="col schoolButton noBorder schoolButton-right">
            <div class="vCenterBlock">
                <img src="img/xiaoXueIcon.png"/>
                <p style="margin-top: 12px;">加拿大小学排名</p>
            </div>
        </a>
    </div>
  </ion-content>
</ion-view>
