<ion-view view-title="客户管理">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <a class="item item-avatar noBorder" ui-sref="app.userClientDetail()" nav-direction="forward">
            <img ng-src="{{userInfo.headimgurl}}" style="" class="profileAvater"/>
            <h2>廖先生</h2>
            <p>13923457891</p>
        </a>
    </div>
  </ion-content>
</ion-view>