<ion-view view-title="用户登录">
  <ion-nav-buttons side="primary">
      <a ui-sref="app.mainHome()" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
      </a>
  </ion-nav-buttons>
  <ion-content scroll="true" overflow-scroll="true">
        <div class="item profileItem">
            <a href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx0933bfa899eedcaf&redirect_uri=http%3A%2F%2Fwww.liunar.net%2F%23%2Fapp%2FuserCenter&response_type=code&scope=snsapi_userinfo#wechat_redirect">
                <img src="img/wechatIcon.png" width="50px"/>
                <h3>
                    微信登录
                </h3>
            </a>
        </div>
        <!--<div id="wechatLogin" class="item" style="text-align: center"></div>-->
  </ion-content>
</ion-view>