<ion-view view-title="现金兑换">
  <ion-nav-buttons>
        <a ui-sref="app.userCenter()" nav-direction="back">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content scroll="true" style="background-color: #f8f8f8">
    <div class="list">
        <div class="item noBorder range range-calm" style="padding-top: 36px;">
            <input type="range" name="volume" min="0" max="100">
        </div>
        <div class="item noBorder">
            <div class="row">
                <div class="col">
                    <p>兑换人民币: <span>1000元</span></p>
                    <p>所需积分: <span>10000分</span></p>
                </div>
                <div class="col" style="text-align: right;">
                    <p>当前积分: <span> 13200分</span></p>
                    <p>兑换后积分: <span> 3200分</span></p>
                </div>
            </div>
            <button class="button button-block button-calm">立即兑换</button>
        </div>
    </div>
    <div class="list">
        <div class="item noBorder">
            <h2>
                兑换历史：
            </h2>
            <div class="item noBorder">
                <table style="width: 100%; border: 0.5px solid #d8d8d8;">
                    <tr style="font-size: 15px; font-weight: bold; background-color: #d8d8d8">
                        <th>兑换积分</th>
                        <th>剩余积分</th>
                        <th>日期</th>
                    </tr>
                    <!--ng repeat-->
                    <tr style="text-align: center; font-size: 12px; color: #777;">
                        <td style="padding: 8px;">-2000</td>
                        <td>8000</td>
                        <td>2014-06-19</td>
                    </tr>
                    <tr style="text-align: center; font-size: 12px; color: #777">
                        <td style="padding: 8px;">-2000</td>
                        <td>6000</td>
                        <td>2014-06-20</td>
                    </tr> 
                </table>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>