<ion-view view-title="一键申请">
    <ion-nav-buttons>
        <a href="{{'#' + from}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content class="whiteBg">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label">姓名</span>
            <input type="text" ng-model="applyObj.name">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">电话</span>
            <input type="number" ng-model="applyObj.number">
          </label>
        </div>
        <div class="">
            <button class="button button-full button-calm centerMargin" style="width: 65%; margin-left: 17.5%" ng-click="apply()">立刻申请</button>
        </div>
    </ion-content>
</ion-view>