<ion-view view-title="留哪头条">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" ng-init="getArticleList()">
        <div class="list" style="background-color: #fff; border: none">
              <a ng-repeat="post in articles" nav-direction="forward" class="item noBorder " ui-sref="app.postDetail({postId: post.id})" style="padding:20px 0px 13px 0px; margin:0px 20px 0px 20px; border-bottom:1px solid #edeff0;">
              <!-- ng-class="{'custom item-thumbnail-right': post.have_thumbnail == 1}" -->
                 <!--  padding-right: 10px; -->
                  <!--<img ng-if="post.have_thumbnail == 1" ng-src="http://www.liunar.net/articles/thumbnails/{{post.id}}.png">-->
                  <div style ="display:block; float:" >
                          <img ng-if="post.have_thumbnail == 1" ng-src="http://www.liunar.net{{post.thumbnail}}" width="140" height="90" style="float: right; margin: 0 0 10px 10px;">
                  </div> 
              
                 
                  <div style="margin-left: 0">
                      <h4 style="display: block; font-size: {{post.have_thumbnail == 1 ? '16px' : '18px'}}; overflow: visible; white-space: normal">{{post.title}}</h4>
                  
                      <!--<p style="font-size: 14px" ng-bind-html="post.description"></p>-->
                
                      <p class="dateInfo">
                          <span style ="padding-right:30px;">
                              <i style="margin-right: 4px" class="icon ion-eye"></i>
                              {{post.view_count}}
                          </span>
                          <span>{{post.update_time * 1000 | date:'yyyy-MM-dd'}}</span>
                         
                          <span ng-if="post.comment_count != 0">
                              <i style="margin-right:4px" class="icon ion-chatbox-working"></i>
                              {{post.comment_count}}
                          </span>
                      </p>
                      <p style="color: #4689b2 ">{{tags[post.category]}}</p>

                  </div>
                </a>
                
        </div>
        <ion-infinite-scroll spinner="bubbles" on-infinite="getMoreArticles()" distance="3%"></ion-infinite-scroll>
    </ion-content>
</ion-view>