<h1 class="fwb" style="margin: 0px; padding: 0px; font-size: 22px; line-height: 58px; height: 58px; clear: both;">
    满分访谈：耶鲁妈妈畅谈教育心得
</h1>
<p>
    <span style="display: inline-block; float: left; font-size: 14px; color: rgb(114, 113, 113); margin-right: 15px;">2011-11-18</span><span style="display: inline-block; float: left; font-size: 14px; color: rgb(114, 113, 113); margin-right: 15px;">来源：啄木鸟教育</span><span style="display: inline-block; float: left; font-size: 14px; color: rgb(114, 113, 113); margin-right: 15px;">浏览量：60</span>
</p>

<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <strong>　　【<strong>1</strong>】</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <strong>　　</strong>有人说，每个成功男人背后都有一个不平凡的女人。这句话同样可以这么说，每个优秀孩子的背后都有一个伟大的妈妈。天下的父母都望子成龙，望女成凤，可以说教育是每个家庭的头等大事，直接关系着孩子的未来。这一期做客啄木鸟教育的是两位妈妈，她们的孩子，一个获<a href="http://www.zmnedu.com/yxk/40.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">斯坦福大学</a>录取，一个获<a href="http://www.zmnedu.com/yxk/38.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">耶鲁大学</a>全奖录取。孩子们如此优秀的背后自然离不开良好的家庭教育，我们一起来听听妈妈们分享的教育心得。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    &nbsp;
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　【<strong>2</strong>】
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　九岁听懂英文版《哈利·波特》，十岁在《北京晨报》上发表文章《春节三色冰激凌》，高二获得全国数学联赛一等奖、保送清华、被耶鲁等美国一流大学录取。他是李文。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　擅长中英文写作，担任《21世纪中学生英文报》英文作者，《中华小记者》特约专栏“金色年华”专栏作家。14岁出版英文小说《宇宙之谜》，获2007年中国少年作家杯全国一等奖，卖书所得版税捐赠给汶川灾区。她是susu。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　获得offer的这个日子——4月1日成为两个家庭的重要节日。李文和susu是小学同学，两位妈妈也是好友。耶鲁妈妈和斯坦福妈妈同属于“妈友”圈子，这是斯坦福妈妈取的雅号。圈子里的妈妈们经常聚在一起分享交流教育孩子的心得。斯坦福妈妈说这个圈子对教育帮助很大。有了伙伴，互相监督，共同学习，一起进步。举个例子，耶鲁妈妈自创了一套教儿子学英文的方法——“听”英语，这个法子分享给斯坦福妈妈，于是susu也开始听《新概念英语》，取得很好的效果，两个孩子的英语都非常好。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　【<strong>3】</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　耶鲁妈妈在书中《牵着蜗牛慢慢走》以对儿子的培养为例，分享了成功的家庭教育经验。教育是细水长流，是润物细无声，是牵着蜗牛慢慢走。对儿子的教育，耶鲁妈妈用“爱”和“耐心”书写。教育不是一件急于求成的事，留学也是。耶鲁妈妈说“留学是系统工程，儿子能申请到<a href="http://www.zmnedu.com/yxk/38.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">耶鲁大学</a>最后也是水到渠成的。”
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　耶鲁妈妈很早就开始了对儿子的教育，尤其是对英语的教育。3岁就开始听诸如《小红帽》之类的英文小故事，将单词制作成卡片，并通过小孩子喜欢的玩游戏方式来儿子记住。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　<span style="color: rgb(255, 0, 0);">　<span style="font-family: tahoma, geneva, sans-serif;">“孩子很小的时候，为了让他有兴趣，在学习认读单词时要想办法让孩子觉得有意思。比加在学习monkey时，我告诉他把其中的ey去掉时，猴子就变成了和尚或者道士monk，把k去掉就变成了钱money，把mon去掉就是钥匙key，孩子觉得英语单词很神奇。如果能再选一款《轻轻松松背单词》等背单词软件，把这些“碰到的”单词及时输入到软件里孩子的“专属词汇库”中(有些背单词软件甚至还有制作卡片的功能)，再通过软件中饶有兴趣的“打炮”、“钓鱼”等游戏，来帮助巩固和记忆这些英语单词，这样一来，这些基础性的单词就牢牢地掌握了。</span></span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;">　　“那些年，我不放过一点零碎时间，每天睡觉前，等候公共汽车时……我就拿出两三张卡片来让儿子学习和复习，方法自然也和学习汉字卡片一样，力求像是在和孩子做游戏。”</span></span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);"><span style="font-family: tahoma, geneva, sans-serif;">　　“这是一项很耗费家长精力的事情，无论是陪孩子一起‘过’课文，还是做卡片复习课文、单词，每一项都要家长耐心地、任劳任怨地、几年如一日地在背后亲力亲为。所以有些家长并不是不相信我的教学方法，而是在按照我的方法教孩子英语时，自己就因为怕麻烦而打退堂鼓了，所以下面两个字对家长来说才是最最重要的：坚持!”</span></span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　在儿子读小学时，耶鲁妈妈独创新的英文学习方法——“听”英语。有了小时候的听故事的基础，耶鲁妈妈开始让儿子听《新概念英语》，听懂听熟，然后背诵。这样每天一点点累积，靠“听”，李文读完了美国历史，并且在AP考试中选择了“美国历史”科目。而他的大学入学申请作文题目便是《用耳朵去阅读》，详见附文。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　在有的孩子看《China Daily》学习英文时，耶鲁妈妈是让儿子跟着《参考消息》学原汁原味的英文。《中国日报》多为中国人所写，其中的用词、语法都是中国思维。为了让儿子学习纯正的英文，耶鲁妈妈一般是去找《参考消息》中儿子可能感兴趣的话题的原文作为儿子的阅读材料。所以，学好英文应该摒弃中式英文。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　<strong>　【4】</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　<strong>　</strong>前面说到留学是系统工程，申请<a href="http://www.zmnedu.com/yxk/40.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">斯坦福大学</a>、<a href="http://www.zmnedu.com/yxk/38.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">耶鲁大学</a>如此一类的世界顶级名校，英语水平及分数相当高自然还不够，李文和susu课外的精彩活动也是成功的亮点。这些活动不是刻意而为，而是出自内心的热爱。当所有的材料将“你”这个“人”鲜活丰满地展示给招生官，获得录取也只是水到渠成的事。下面节选耶鲁妈妈博客上的文章：
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);">　　</span>在《立志要趁早》首发式上，有一位家长问了一个很多家长共同关心的问题，儿子做了很详尽的回答，通过这个回答，也许就能看出，什么是真正有意义的课外活动。(以下是录音整理稿)
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);">　<span style="font-family: &#39;times new roman&#39;, times, serif;"><em>　</em></span></span><span style="color: rgb(255, 0, 0);"><span style="font-family: &#39;times new roman&#39;, times, serif;"></span><span style="font-family: &#39;times new roman&#39;, times, serif;">提问：“我的孩子今年初三，我在想，非常优秀的孩子才有可能报美国的名校，这样的孩子都有一个相同的优点，就是大家常提到的你是班长，他也是班长，他是学生会主席，人人脑袋上都会有许多光环。什么样的才能或成就才会成为申请过程当中的亮点?我们还要做哪些努力?”</span></span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);"><span style="font-family: &#39;times new roman&#39;, times, serif;">　　儿子：“首先那些光环我没有，我不是班长，我是一名宣传委员，在后面画板报、拎水桶那种。我也没有参加过学生会，模拟联合国大会我参加过很多年，但我一直没有当上主席。大家一说名校，一提被录取的人他们的光环，会想到特定那几个，随后就会刻意模仿，试着给自己也戴上类似的光环。但是，我对此不敢苟同，比如我今年已经见过很多同一届的被美国大学录取的同学，他们有很多独一无二的经历，而不是大家都能想到的。我觉得正是那些独特的而不是大家都能想到的经历让他们申请到自己心仪的学校。</span></span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <span style="color: rgb(255, 0, 0);"><span style="font-family: &#39;times new roman&#39;, times, serif;">　　比如我自己最成功的几个经历，其中一个是拍英语剧，高二的时候我们全班拿DV，同学们自己拍、自己导、自己演，跃跃欲试要参加一个校际英语电影节。因为我们班是人大附中的实验一班，同学们课内学习成绩非常好，他们对学习很专注，专注到我一说拍英语剧吧，大家看看我之后又继续学习了。我特别喜欢电影，李老师知道我喜欢电影，也知道我英语还行，就让我包揽了这个项目。</span><span style="font-family: &#39;times new roman&#39;, times, serif;">我自己当导演，自己当编剧，后期自己剪辑，整个就是拼搏的过程。这个经历让我从众多申请人中脱颖而出，因为不是所有人都有这种经历的。</span></span><span style="font-family: &#39;times new roman&#39;, times, serif;"><span style="color: rgb(255, 0, 0);">为了把全班同学的激情调动起来，我给他们做了演讲：‘你们是希望多学习一些解题技巧，还是希望留下一段影像看看自己当时多无知?’我们的班主任听了也很激动。我花了很长时间做这个，最后拍成电影《美丽新班级》。这是一段很难忘的经历。因为我喜欢这件事，所以在写申请文件的时候才能够把我的热情放进去</span>。</span>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　【<strong>5】</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　访谈中，我们可以感受到妈妈们的心情，为儿女们自豪和欣慰的神情，这是普天下母亲的通性。在此说到一个问题，耶鲁妈妈的书中也有提到，很多家长会以“爱”的名义批评孩子，甚至指责孩子“笨”，比不上xxx，这实际上是大大挫伤孩子的自信心。别忘了，教育孩子的同时千万要呵护孩子的心灵，保护好那小小的自信心，像耶鲁妈妈那样多鼓励鼓励孩子，因为好孩子都是“夸”出来的。留学是系统工程，不是你分数高了，或者某个活动参加了，就能获得录取，这之前是长期的沉淀和积累，这之间的过程也是“蜗牛慢慢爬”的，但每天坚持进步一点点，每天成功一点点，获得offer终究水到渠成。最后，啄木鸟教育祝愿在<a href="http://www.zmnedu.com/yxk/38.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">耶鲁大学</a>、<a href="http://www.zmnedu.com/yxk/40.html" target="_blank" class="infotextkey" style="color: rgb(0, 0, 0); text-decoration: none;">斯坦福大学</a>就读的李文和susu开心学习，快乐生活。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <img alt="" width="100%" src="http://www.zmnedu.com/uploads/allimg/111118/33200-11111Q15F64H.jpg" style="border: 0px;"/>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <strong>孩<strong>子</strong>们亲昵依偎在妈妈们身边，注意左上角的亮点</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <img alt="" src="http://www.zmnedu.com/uploads/allimg/111118/33200-11111Q15I5O0.jpg" style="border: 0px;" width="100%"/>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <strong>李文和赖声川导演合影</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <img alt="" src="http://www.zmnedu.com/uploads/allimg/111118/33200-11111Q15P3103.jpg" style="border: 0px;" width="100%"/>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    <strong>李文和周有光老先生合影</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    <strong>　　附 李文《用耳朵阅读》：</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px; text-align: center;">
    　　<strong>Reading with Ears</strong>
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　　I am the kind of person who uses the same pair of shoes for jogging，soccer and basketball，but when it comes to updating my MP3 player，I am always as meticulous as my savings allow me to be. The reason is simple: I keep my MP3 memory filled to the brim— with audio books in English.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　我是那种无论打篮球、慢跑、还是踢足球都永远只有一双鞋穿的人，但如果是用来给我的MP3升级换代，那本人对于钱包的管制就要宽松得多。原因也很简单：我的MP3当中永远塞满了英文有声书。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　I began learning English at the early age of three; as I grew older，I started reading in both English and Chinese，establishing a lasting friendship with the written word. I would spend days reading inside the house，going out to play only when ordered to by my parents. So imagine my bitterness when school and homework deprived me of ever increasing periods of free time，allowing the bookshelf to gather a thin layer of dust as days went by.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　早在三岁的时候，我就接触到了英文，随着年龄的增长，我逐渐尝试着涉猎中文和英文两种语言的书籍，而开始与文字结缘。一连几天，我都可以把自己锁在家里与书为伴，只有被爸妈逼着才会出门玩耍。可想而知，当学校和作业把我越来越多的时间据为己有、让我久违的书架沾染灰尘之时，我心中的悲恸该有多么深厚。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Salvation presented itself in the form of a present. During my fourth year in grade school，my aunt returned from the US，bringing with her a seven-cassette audio book，Harry Potter and the Chamber of Secrets，narrated by Jim Dale. I received the present with trembling hands，feeling just as Harry would have felt when he found himself on the threshold of an entire new world filled with golden possibilities.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　一个突如其来的礼物救赎了我嗷嗷待哺的心灵。小学四年级时，我的舅妈从美国返乡，还特地给我带了一套七盘磁带装的有声书：《哈利波特与密室》，由Jim Dale朗读。我用一双颤抖的手接过礼物，突然感觉自己和哈利一样，正在一个崭新世界的当口面对无数精彩的可能性而叹为观止。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Audio books，the perfect，almost obvious solution; even if my eyes had been taken hostage by the sad excuse of a grade school education，my ears could still roam free above all the relentless humdrum of daily obligations.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　有声书，对“悲惨”的小学生活来说简直是最完美、近乎显而易见的出路。哪怕我的双眼被课本和纸笔所蒙塞，我的双耳依旧可以在每日兢兢业业的苦力活之外自由翱翔。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Audio books，unlike printed ones，can be attended to almost anywhere，anytime. Bumpy rides and clamoring restaurants used to be my worst nightmare，but as soon as I grabbed a headphone set，the world became my very own desk.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　有声书和印刷书籍不同，可以在几乎任何时间、地点给“读者”带来愉悦。颠簸的车程和喧闹的餐厅曾几何时是我这书虫的天敌，而如今只要一对耳机挂在耳畔，那整个世界就顿时成了我的私人书桌。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Consequently every place I have been and every step I have taken has acquired its unique significance through a piece of literature. I went to school with J.D Salinger，watching Holden Caulfield play the catcher in the rye; I came back home to Fitzgerald，joining Gatsby in his party at night; I sat in Pizza Hut with the Corleone gang，listening to Vito reason with his sons; I stood on the subway with Forrest Gump，babbling away about the wonders of late. This is where Jane first met Rochester; this is where Elizabeth rejected Darcy&#39;s offer; this is where Heathcliff started his revenge anew; this is where David Copperfield hit Uriah. The mundane locations of my daily routines had been transformed into windows through which I could glance upon a thousand worlds.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　拜有声书所赐，我的每一个去处每一段路，都被某篇文学作品涂上了浓墨重彩。我和塞林格(《麦田守望者》的作者)并肩上学，睥睨霍尔顿考菲尔德(《麦田守望者》的主人公)守望在悬崖之上。我和菲茨杰罗德(美国二十世纪最杰出的作家之一)一同归家，在夜色掩护下潜入盖茨比的派对(Fitzgerald笔下《了不起的盖茨比》的男主人公)。我与(《教父》中的角色)考利昂家族同坐披萨店餐桌，听Vito在诸子前循循善诱。我和 Forrest Gump一起搭乘地铁，信口开河回顾已往之奇观……这边是 Jane与 Rochester初遇之所，这厢，Elizabeth刚刚回绝Darcy的追求，这里是Heathcliff复仇伊始，那里是 David Copperfield痛打 Uriah的大快人心……我日复一日的百无聊赖被打开了一扇窗，透过它，大千世界之曼妙风采尽收眼底。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Naturally，audio books involve only the narrator and myself，yet the long hours spent in solitude never alienated me from other people or the outside world. A good speaker may attract any number of audiences，but as it turns out，a good listener can keep any number of friends. Fortunately，years of experience have made me a master at the art of listening. People trust me with their thoughts because when they talk，I really listen，instead of what most people do everyday: wait for their turn to speak.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　尽管有声书是我和朗诵者之间区区两人的交流，但长时间的独处并没有让我与世隔绝。一个能说会道的人也许能吸来诸多听众，但懂得倾听之士才容易结交朋友。深得此幸，多年的经验让我在聆听他人之道上早已轻车熟路;许多朋友喜欢把心事对我说，因为他们明白自己说出来的话我会用心倾听，而不是像如今大多数人一般：等待自己开口的时机。
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　Over the past decade，audio books have proved far more than a means to an end，or a hobby for spare time. In fact，they have become my way of life. As duties urge me to keep up in this raging world and the ever more demanding tasks it offers， I have created for myself a safe haven of knowledge and inspiration. Surrounded by whispers of wisdom，I walk through school，work and play，through life.
</p>
<p style="margin-top: 0px; margin-bottom: 0px; padding: 0px 0px 12px; font-size: 14px; color: rgb(62, 58, 57); line-height: 28px;">
    　　在过去的十年里，有声书之于我早已不再是敲门砖之功用，也不仅仅停留在闲暇娱乐的层面—它已然成为了一种生活方式。在这个车水马龙的世界里，总有做不完的事和负不尽的责督促我大步向前，但有声书为我搭建了一个知识和灵感源源不断的桃花仙境。智慧的低语在身边萦绕，陪伴着我学习、工作、玩乐，陪伴着我享受人生。（文中均用化名）
</p>
<p>
    <br/>
</p>