<ion-view view-title="{{productTitle}}">
    <ion-nav-title>
      <h1 class="title">
        产品细节
      </h1>
    </ion-nav-title>
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome()">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content style="background-color: #fff;">
        <h4 style="text-align: center; margin-top: 24px; font-size: 18px;">价格：{{productPrice}}</h4>
        <div class="productDetail" ng-bind-html="productDetail" style="padding-top: 0"></div>
    </ion-content>
</ion-view>