<ion-view view-title="{{postDetail.title}}">
    <ion-nav-title>
      <h1 class="title">

      </h1>
    </ion-nav-title>
    <ion-nav-buttons>
        <a href="{{'#' + from}}" nav-direction="back">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
      <wechat-share></wechat-share>
    </ion-nav-buttons>
    <ion-content style="background-color: #fff;" overflow-scroll="true">
        <div class="articleHeader" style="border: none">
            <h1 style="font-size: 24px; line-height: 135%;">{{postDetail.title}}</h1>
            <div class="item item-avatar" style="border: none">
                <img src="http://canbest.org/Public/images/default_avatar_64_64.jpg">
                <h4>{{postDetail.username}}</h4>
                <p>发表于 {{postDetail.update_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
            </div>
            <!--<div class="item introduction">
                <p style="text-align: center; font-size: 15px;" ng-bind-html="description"></p>
            </div>-->
            <br/>
            <div style="border: none;">
                <div class="articleDetail" ng-bind-html="postDetailContent" style="overflow: visible; white-space: normal;"></div>
            </div>
        </div>
        <div class="item item-text-wrap" style="border: none" ng-init="getPostComments()">
            <div class="item" style="border: none">
                <h2>评论:</h2>
            </div>
            <div class="list" ng-repeat="comment in comments">
                <div class="item item-avatar" style="border: none">
                  <img src="http://canbest.org/Public/images/default_avatar_64_64.jpg">
                  <h4>{{comment.username}}</h4>
                  <p>{{comment.content}}</p>
                  <p>{{comment.create_time * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                </div>
            </div>
        </div>
        <!--<div class="item item-text-wrap" style="border: none;">
            <div class="row">
                <div class="col">
                    <textarea style="height: 62px; border: 0.5px solid #888; resize: none; width: 100%" placeholder="我有意见" ng-model="commentObj.content"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col col-33 col-offset-67">
                    <button class="button button-small" style="margin-top: 16px; font-size: 18px; width: 100%; background-color: #000; color: #fff;" ng-click="postNewsComment();">发布</button>
                </div>
            </div>
        </div>-->
        <div ng-if="fromShare == true" class="item item-text-wrap" style="border: none">
            <div class="row">
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">留哪儿——最聪明的留学</h3>
                    <img src="img/liunarLogo.png" width="80%" />
                </div>
                <div class="col" style="text-align: center">
                    <h3 style="margin-bottom: 12px;">长按二维码关注我们</h3>
                    <img src="img/qrCode.png" width="80%" />
                </div>
            </div>
        </div>
    </ion-content>
    <!--<ion-footer-bar class="noPadding">
        <div class="item item-input-inset" style="background-color: #52baba; border: none; padding: 11px 8px 11px 8px; width: 100%;">
            <label class="item-input-wrapper whiteBg">
                <input type="text" placeholder="评论" ng-focus="preventDefault()" ng-model="commentObj.content">
            </label>
            <button class="button button-small" style="background-color: #4aa09d; color: #fff" ng-click="postNewsComment();">
              发布
            </button>
        </div>
    </ion-footer-bar>-->
</ion-view>