<ion-view view-title="我要提问">
    <ion-nav-buttons side="primary">
        <a ui-sref="app.QandA">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="preventdefault(); submitQ()" style="font-size: 16px;">提问</button>
    </ion-nav-buttons>
    
    <ion-content scroll="true">
          <div class="list">
              <label class="item item-input">
                  <input ng-model="questionObj.title" type="text" placeholder="问题："/>
              </label>
          </div>
          <div class="list">
              <label class="item item-input">
                  <textarea ng-model="questionObj.description" style="height: 20vh; resize: none;" placeholder="问题描述："></textarea>
              </label>
          </div>
        
        <div class="list">
            <a ui-sref="app.QandADetail({questionId: question.id, order: 'most-answered'})" class="item questionItem" ng-repeat="question in hotQuestions">
                <h2>{{question.title}}</h2>
                <p class="questionContent" ng-bind-html="question.description"></p>
                <p style="color: #000000">
                    {{question.user.nickname}}  
                    <span style="color: #666">{{question.create_time * 1000 | date:'yyyy-MM-dd'}}</span>
                </p>
            </a>
        </div>
          <!--<div class="list">
              <label class="item item-input">
                <input ng-model="question.name" type="text" placeholder="提问人：">
              </label>
              <label class="item item-input">
                <input ng-model="question.phoneNumber" type="tel" placeholder="电话号码：">
              </label>
              <label class="item item-input">
                <input ng-model="question.email" type="email" placeholder="邮箱：">
              </label>
          </div>-->

          <!-- Adding Tags to the question
          <div class="item" style="padding-left: 16px;">
                <div class="row noPadding">
                    <div class="col noPadding">标签：</div>
                    <div class="col noPadding" ng-repeat="tag in tags" style="text-align: center;">
                        <button class="badgeBtn" ng-click="removeTags(tag)">{{tag}} X</button>
                    </div>
                </div>
          </div>
          <div class="list">
              <label class="item item-input item-select">
                <div class="input-label">
                  添加标签：
                </div>
                <select ng-model="tagValue" ng-change="addTags(tagValue); tagValue = null">
                  <option value="移民">移民</option>
                  <option value="寄宿家庭">寄宿家庭</option>
                  <option value="学校申请">学校申请</option>
                </select>
              </label>
          </div>-->

    </ion-content>
</ion-view>