<ion-view view-title="{{title}}">
  <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.school">
            <button class="button button-clear">
                <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
  </ion-nav-buttons>
  <ion-content scroll="true" overflow-scroll="true" ng-cloak>
        <div ng-controller="schoolController">
            <a nav-direction="forward" class="item" ui-sref="app.schoolStandard({schoolId: list.id})" ng-repeat="list in schoolListsRank" style="background-color: #fff; padding:2px;">
                <div class="row">
                    <div class="col col-25" style="text-align: center; position: relative">
                        <div ng-if="list.national_rank != 999" style="position: absolute; top:0; left:0; background-color: #d51f26; color:#fff; width: 24px;">{{list.national_rank}}</div>
                        <img class="full-image" ng-src="http://www.liunar.net/schools/{{list.id}}/1.png" style="margin-top: 20px; margin-bottom: 5px;  margin-left: 13px; max-height: 100px; display:block" check-image/>
                    </div>
                    <div class="col col-67 col-offset-10" style="text-overflow: ellipsis; width: 100%;">
                        <div class="list">
                            <h2 style="overflow: visible; white-space: normal; width:100%;">{{list.en_name}}</h2>
                            <p>{{list.ch_name}}</p>
                            <p style="display: block; height: 36px; white-space: pre-line; font-size: 12px">{{list.detail_info}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: center">
                        <button class="badgeBtn-outline"  style="color: #bdd53d; border-color: #bdd53d;">{{list.city == null ? '温哥华' : list.city}}</button>
                    </div>

                    <div class="col" style="text-align: center">
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic == 0"
                                style="color: #888; border-color: #999">
                            暂无资料
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="(list.type == 3 || list.type == 4 )&& list.isPublic != 0"
                                style="color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}; border-color: {{list.isPublic == 1?'#f26c5d':'#1e9b85'}}">
                        {{list.isPublic == 1?'公校':'私校'}}
                        </button>
                        <button class="badgeBtn-outline" 
                                ng-if="list.type == 1"
                                style=" padding:0; color: #f26c5d; border-color: #f26c5d">
                        {{list.school_category == ''? '综合类':list.school_category}}
                        </button>
                         <button class="badgeBtn-outline" 
                                ng-if="list.type == 2"
                                style=" color: #888; border-color: #999">
                            移民
                        </button> 

                    </div>

                    <div class="col" style="text-align: center">
                      <button class="badgeBtn-outline" ng-if="list.type == 4"  style="color: #0a556c; border-color: #a556c">ESL</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != null && list.ap_ib != 3 && list.ap_ib != 0"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 1?'有AP':'有IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib != 1 && list.ap_ib != 2 && list.ap_ib != null"  style="color: #0a556c; border-color: #0a556c">{{list.ap_ib == 0?'无AP/IB':'有AP/IB'}}</button>
                        <button class="badgeBtn-outline" ng-if="list.type == 3 && list.ap_ib == null"  style="color: #0a556c; border-color: #0a556c">有AP/IB</button>
                         <button class="badgeBtn-outline" 
                              ng-if="list.type == 1"
                                style=" padding:0; color: #0a556c; border-color: #0a556c">
                           教育部认证
                        </button>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>