<ion-view view-title="留哪商城">
    <ion-nav-buttons side="primary">
        <a nav-direction="back" ui-sref="app.mainHome">
            <button class="button button-clear">
                <i  style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
            </button>
        </a>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" scrollbar-y="false">
        <div class="item noPadding noBorder">
            <div class="row shopRow">
                <a class="col" ui-sref="app.shopDetail({productId: 12})">
                    <img src="img/banner.jpg" width="100%"/>
                </a>
            </div>
            <div class="row shopRow">
                <a class="col col-33" ui-sref="app.shopDetail({productId: 15})">
                    <img src="img/lowAgeOne.jpg" width="100%">
                </a>
                <a class="col col-33" ui-sref="app.shopDetail({productId: 9})">
                    <img src="img/lowAgeTwo.jpg" width="100%">
                </a>
                <a class="col col-33" ui-sref="app.shopDetail({productId: 30})">
                    <img src="img/summerCampOne.jpg" width="100%">
                </a>
            </div>
            <div class="row shopRow">
                <a class="col" ui-sref="app.shopDetail({productId: 13})">
                    <img src="img/collegeOne.jpg" width="100%"> 
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 14})">
                    <img src="img/universityOne.jpg" width="100%">
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 16})">
                    <img src="img/IMOne.jpg" width="100%">
                </a>
            </div>
        </div>
        
        <p style="text-align: center; color: rgb(67,180,247); margin-top: 32px;">
            <i class="fa fa-send"></i>
            服务产品
        </p>
        
        <div class="item noBorder noPadding" style="margin-top: 12px">
            <div class="row noPadding noMargin">
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 22})">
                    <i class="fa fa-envelope-o"></i><br/>
                    签证
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 23})">
                    <i class="fa fa-clipboard"></i><br/>
                    文书
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 24})">
                    <i class="fa fa-home"></i><br/>
                    安家
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 25})">
                    <i class="fa fa-users"></i><br/>
                    辅导
                </a>
            </div>
            <div class="row noPadding noMargin">
                <a class="col shopNav" style="border-top: none;" ui-sref="app.shopDetail({productId: 26})">
                    <i class="fa fa-graduation-cap"></i><br/>
                    申转学
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 27})" style="border-top: none;">
                    <i class="fa fa-hand-stop-o"></i><br/>
                    救援
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 28})" style="border-top: none;">
                    <i class="fa fa-briefcase"></i><br/>
                    就业
                </a>
                <a class="col shopNav" ui-sref="app.shopDetail({productId: 29})" style="border-top: none;">
                    <i class="fa fa-fighter-jet"></i><br/>
                    移民
                </a>
            </div>
        </div>
        
        <p style="text-align: center; color: rgb(128,61,210); margin-top: 32px;">
            <i class="fa fa-send"></i>
            院校产品
        </p>
        
        <div class="item noPadding noBorder" style="margin-top: 12px">
            <br/>
            <div class="row shopRow">
                <a class="col col-33" ui-sref="app.shopDetail({productId: 8})">
                    <img src="img/collegeTwo.jpg" width="100%">
                </a>
                <a class="col col-33" ui-sref="app.shopDetail({productId: 20})">
                    <img src="img/collegeThree.jpg" width="100%">
                </a>
                <a class="col col-33" ui-sref="app.shopDetail({productId: 7})">
                    <img src="img/collegeFour.jpg" width="100%">
                </a>
            </div>
            <div class="row shopRow">
                <a class="col" ui-sref="app.shopDetail({productId: 21})">
                    <img src="img/collegeFive.jpg" width="100%"> 
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 18})">
                    <img src="img/collegeSix.jpg" width="100%">
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 11})">
                    <img src="img/collegeSeven.jpg" width="100%">
                </a>
            </div>
            <div class="row shopRow">
                <a class="col" ui-sref="app.shopDetail({productId: 32})">
                    <img src="img/summerCampTwo.jpg" width="100%"> 
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 33})">
                    <img src="img/summerCampThree.jpg" width="100%">
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 31})">
                    <img src="img/summerCampFour.jpg" width="100%">
                </a>
            </div>
            <div class="row shopRow">
                <a class="col" ui-sref="app.shopDetail({productId: 30})">
                    <img src="img/summerCampOne.jpg" width="100%"> 
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 34})">
                    <img src="img/collegeEight.jpg" width="100%">
                </a>
                <a class="col" ui-sref="app.shopDetail({productId: 35})">
                    <img src="img/collegeNine.jpg" width="100%">
                </a>
            </div>
        </div>
        
    </ion-content>
</ion-view>













    