<ion-tabs class="tabs-icon-top tabs-stable">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" ui-sref="app.mainHome()">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="院校排名" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" ui-sref="app.school()">
    <ion-nav-view name="tab-school"></ion-nav-view>
  </ion-tab>
    
  <ion-tab title="发现" icon-on="ion-ios-eye" icon-off="ion-ios-eye-outline" ui-sref="app.stream()">
      <ion-nav-view name="tab-stream"></ion-nav-view>
  </ion-tab>

  <!--<ion-tab title="圈子" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>-->
    
  <ion-tab title="个人中心" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="app.userCenter()">
    <ion-nav-view name="tab-user"></ion-nav-view>
  </ion-tab>

</ion-tabs>