<ion-view view-title="用户中心">
  <ion-content scroll="true" style="background-color: #f8f8f8">
    <div class="item  profileItem">
        <img ng-src="{{userInfo.headimgurl}}" class="profileAvater"/>
        <h2>{{userInfo.nickname}}</h2>
    </div>
    <div class="list profileItem">
        <div class="item">
            @我
            <span class="badge badge-assertive">2</span>
        </div>
        <div class="item">
            我的服务
        </div>
    </div>
    <div class="list profileItem">
        <div class="item item-icon-left">
            <i class="icon ion-ios-person" style="color: #0099ff"></i>
            达人类型 
            <span style="margin-left: 24px; font-size: 14px; color:#888;">{{agentType}}</span>
        </div>
        <a class="item item-icon-left" ui-sref="app.userPoints()" nav-direction="forward">
            <i class="icon ion-ios-pulse" style="color: #0099ff"></i>
            达人积分
            <span style="margin-left: 24px; font-size: 14px; color:#888;">{{totalPoints | number:0}}</span>
        </a>
    </div>

    <div class="list profileItem">
        <a class="item item-icon-left" ui-sref="app.userCash()" nav-direction="forward">
            <i class="icon ion-card" style="color: #ffd11a"></i>
            现金兑换
        </a>
    </div>

    <div class="list profileItem">
        <a class="item item-icon-left" ui-sref="app.userClientList()" nav-direction="forward">
            <i class="icon ion-ios-people" style="color: #e65c00"></i>
            客户管理
        </a>
    </div>
      
    <div class="list profileItem">
        <div class="item item-icon-left" ng-click="logout()" nav-direction="forward">
            <i class="icon ion-android-exit" style="color: #a8a8a8"></i>
            注销
        </div>
    </div>
  </ion-content>
</ion-view>