﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
	<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>
<body>
<script>
 wx.config({
        debug: false,
        appId: '<%=signPackage.appId%>',
        timestamp:<%=signPackage.timestamp%>,
        nonceStr: '<%=signPackage.nonceStr%>',
        signature: '<%=signPackage.signature%>',
        jsApiList: [
            'checkJsApi',
            'onMenuShareTimeline',
            'onMenuShareAppMessage'
        ]
    });
    wx.ready(function () {
        wx.checkJsApi({
            jsApiList: [
                'getNetworkType',
                'previewImage'
            ],
            success: function (res) {
                //alert(JSON.stringify(res));
            }
        });
 
        var shareObj = {
            title: '<%=shapeObje.title%>',
            desc: '<%=shapeObje.desc%>',
            link: '<%=shapeObje.link%>',
            imgUrl: '<%=shapeObje.imgUrl%>',
            trigger: function (res) {
                alert('用户点击发送给朋友');
            },
            success: function (res) {
                alert('已分享');
            },
            cancel: function (res) {
                alert('已取消');
            },
            fail: function (res) {
                alert(JSON.stringify(res));
            }
        };
        //分享朋友
        wx.onMenuShareAppMessage(shareObj);
        //分享朋友圈
        wx.onMenuShareTimeline(shareObj);
    });
    wx.error(function(res){
        var str = res.errMsg;
        var reg = /invalid signature$/;
        var r = str.match(reg);
        //当提示签名有误时就AJAX方式更新ticket后再刷新当前页
		alert(res);
    });
</script>

    <h1>本页面用于测试留哪儿合伙达人机制</h1>

    创建一个新用户
    <form action="/web/agents/createNew" method="POST">
        推荐人Id<br />
        <input type="text" name="agent"><br>
        新用户姓名
        <input type="text" name="name"><br>
        <input type="submit" value="Submit">
    </form>

    增加新积分
    <form action="/web/agents/insertNewPoint" method="POST">
        合伙人Id<br />
        <input type="text" name="uid"><br>
        消费者Id
        <input type="text" name="clientId"><br>
        积分
        <input type="text" name="points"><br>
        积分类型
        <input type="text" name="pointType"><br>

        <input type="submit" value="Submit">
    </form>


    <%=title%>
    <table>
        <th>
        <tr>
            <td>id</td>
            <td>nickname</td>
            <td>loginPoints</td>
            <td>userIntroPoints</td>
            <td>salePoints</td>
            <td>sharePoints</td>
            <td>agentType</td>
            <td>introducer</td>
        </tr>
        </th>
        <%for(var i = 0; i < list.length; i++){%>
        <tr>
            <td><%=list[i].id%></td>
            <td><%=list[i].nickname%></td>
            <td><%=list[i].loginPoints%></td>
            <td><%=list[i].userIntroPoints%></td>
            <td><%=list[i].salePoints%></td>
            <td><%=list[i].sharePoints%></td>
            <td><%=list[i].agentType%></td>
            <td><%=list[i].introducer%></td>
        </tr>
        <%}%>
    </table>
    查看目前用户

    推荐一个用户


</body>
</html>