<html>
  <head>
    <meta charset="utf8">
    <title>Liunar Poster</title>
    <style>
/*
		*{
			border: 1px solid #fff;
		}	
*/
    	html, body {
			margin: 0;
			padding: 0;
			font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
			background-image: url("<%= background%>");
			background-size: cover;
			background-position: center center;
/*			-webkit-print-color-adjust: exact;*/
			box-sizing: border-box;
			text-align: center;
			width: 700px;
			height: 1200px;
    	}
    	.page {
			position: relative;
			display: block;
/*			background: #52baba;*/
			page-break-after: auto;
			margin: 0;
			padding: 50px;  
			overflow: hidden;
			color: #fff;
			text-align: center;
    	}
		.avatar {
			margin-top: 18px;
			max-width: 140px;
			max-height: 140px;
			width: 160px;
			height: auto;
			border-radius: 50%;
		}
		
		.title{
			margin-top: 140px;
			margin-bottom: 0px;
			font-size: 42px;
			font-weight: normal;
			color: #000;
		}
		
		hr{
			border: 4px solid <%= color%>;
		}
		
		.author{
			font-size: 24px;
			font-weight: normal;
			color: #666;
		}
		
		.content-container{
			background-image: url("http://api.liunar.com/posterGernate/assets/imgs/quot.png");
			background-size: 100% 100%;
			border: 0px solid #000;
			padding: 24px;
		}
		
		.content{
			color: #000;
			text-align: left;
			width: 100%;
			padding: 12px;
			border: 0px solid #000;
			font-size: 30px;
			font-weight: normal;
			min-height:	120px;
			min-width: 240px;
		}
		
		.foot-note{
			font-size: 24px;
			color: #666;
			font-weight: normal;
		}
		
		.footer{
			text-align: center;
			margin-top: 60px;
		}
		
		.qrcode {
    		display: inline-block;
    		margin-left: 14px;
    		margin-right: 14px;
    		height: 200px; 
		}
		
    </style>
  </head>
  <body>
    <div class="page">
		<div class="header">
			<h5 class="title"><%= title%></h5>	
			<img src="<%= avatar%>" class="avatar"/>
			<h2 class="author">来自<%= author%></h2>
			<hr width="120px">
			<p class="foot-note">有效时间至<%= expire%></p>	
		</div>
		<div class="body">
			<div class="content-container">
				<p class="content"><%= body%></p>
			</div>
<!--			<img src="<%= qrcode%>" width="300px"/>	-->
		</div>
		<div class="footer">
			<img class="qrcode" src="<%= qrcode%>" />
			<img class="qrcode" src="http://api.liunar.com/posterGernate/assets/imgs/fingerp.png" />
		</div>	
    </div>
<!--
    <div class="page">
      <img class="logo" src="{{image}}">
      <div class="bottom">
          <div class="line center">8045 zürich</div>
      </div>
    </div>
-->
  </body>
</html>