<!DOCTYPE html>
<html>
<head>
    <title>留哪儿-匠心，良心，教育初心！</title>
    <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
    <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
    <meta name="author" content="Canbest">
    <% include ../d_partials/head %>
    <style>
        .card-group .card+.card {
            border-left: 1px solid rgba(0,0,0,.125);;
        }
        .card, .card p{
            font-size: 95%;
        }

        .card h4{
            font-size: 125%;
            font-weight: bold;
        }

        .bg-grey{
            background-color: #f2f2f2;
        }
        .card-title.nav-card{
            color: #666666;
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 0px; 
            line-height: 3em;
            border-bottom: 1px solid #ddd;
        }

        .card-title.nav-card.active{
            color: #29498D;
            font-weight: bold;
        }

        .card-title.main-text{
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 12px;
            color: #29498D;
        }

        .card-text.main-text{
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 12px;
            color: #666666;
        }

        p.card-text.main-text + ul li.card-text.main-text{
            margin-left: 0px;
            font-size: 14px;
            list-style: disc;
            font-weight: normal;
            margin-bottom: 0em;
            color: #666666;
        }

        li.card-text.main-text{
            margin-left: -40px;
            list-style: none;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 0em;
            color: #666666;
        }
    </style>
</head>
<body class="bg-grey">
    <% var active_nav="about_en" %>
    <% include ../d_partials/nav %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-9 mt-3 mt-md-0">
                <div class="card">
                    <div class="card-block">
                        <h1 class="card-title main-text">What We Do</h1>
                        <p class="card-text main-text">
                          Liunar is committed to bringing transparency and student-centric preparation to China's rapidly group international education market. Liunar has created a cloud-based platform that enables parents and students to take control of and manage the high school and university planning, preparation, and application process. 
                      </p>
                      <p class="card-text main-text">
                        For decades, China's international education market has been clouded by information scarcity and imbalance, tremendous academic competition, and a fragmented pool of education agents. The result: families spending huge sums for overseas education experiences that often fall short of dreams and expectations. Now, Liunar provides parents and students with straightforward knowledge and resources to make the right decisions. 
                    </p>
                    <p class="card-text main-text">
                      Working with education partners from around the world, Liunar provides internationally-focused students with an unrivaled choice of online courses, summer programs, international academic competitions and admissions consultants. Liunar's online and mobile platform enable students and parents to explore and select the best-fit academic and extracurricular resources to help them achieve their overseas study dreams. Liunar uses detailed student and family profiles within its cloud-based student management platform to proactive match students to new activities, programs, camps, competitions, and preparation tools.
                  </p>
                  <h1 class="card-title main-text">Our Story</h1>
                  <ul>
                    <li class="card-text main-text">1998 – JL Can Academy, K-12 admissions consulting and tutorial business established in Vancouver</li>
                    <li class="card-text main-text">2005 – International education services division launched</li>
                    <li class="card-text main-text">2011 – Expand to offer admissions services for US and Canada selective schools, quickly grow to serve over 500 students with 10% acceptance at Ivy League, MIT, and Stanford and 70% acceptance at Top 30 universities. </li>
                    <li class="card-text main-text">2015 – Liunar platform launched in China, creating a one-stop resource center for K-12 supplementary online education courses, extracurricular programs, summer camps, tutorial resources, international academic competitions and awards, admissions consultants, academic and admissions planning know-how.</li>
                    <li class="card-text main-text">2016 – Liunar introduces its cloud-based admissions and student management system</li>
                </ul>
                <h1 class="card-title main-text">Who We Are</h1>
                <p class="card-text main-text">
                 Liunar is operated by the CanBest Education Group and brings together an international team of educators, technologists, and admissions experts with track records of success in empowering consumers at Alibaba, Baidu, and some of Asia’s top international admissions service providers. 
             </p>

             <h1 class="card-title main-text">How We Work with Partners</h1>
             <p class="card-text main-text">
                Liunar works with educational content and assessment developers, summer camps, extracurricular programs, academic competitions, and distance learning providers to localize, market, distribute and deliver their education products, content, and experiences to Chinese students and families. Examples of our partnership solutions include:
            </p>
            <ul>
                <li class="card-text main-text"><b>Marketing and recruiting students for international summer camp and extracurricular programs.</li>
                <li class="card-text main-text"><b>Localizing distance learning and online course content to distribute in Greater China.</li>
                <li class="card-text main-text"><b>Organizing China-based participants in international academic competitions</li>
                <li class="card-text main-text"><b>Licensing, marketing, and executing China editions of international academic competitions </li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
<% include ../d_partials/footer %>
</body>
</html>    