<!DOCTYPE html>
<html>
    <head>
        <title>留哪儿-匠心，良心，教育初心！</title>
        <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
        <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
        <meta name="author" content="Canbest">
        <% include ../d_partials/head %>
        <style>
            .card-group .card+.card {
                border-left: 1px solid rgba(0,0,0,.125);;
            }
            .card, .card p{
                font-size: 95%;
            }

            .card h4{
                font-size: 125%;
                font-weight: bold;
            }

            .bg-grey{
                background-color: #DDE0DF
            }
        </style>
    </head>
    <body class="bg-grey">
        <% var active_nav="staffs" %>
        <% include ../d_partials/nav %>
        <div class="container">
            <div class="card-group mt-40">
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/ping.png?v=1"/>
                        </p>
                        <h4 class="card-title">Ping 翟小萍</h4>
                        <p class="card-text">留哪儿CEO 兼 首席顾问</p>
                        <p class="card-text text-left">曾获GMAT 780高分，美国威斯康星-麦迪逊大学（University of Wisconsin–Madison）MBA全奖。在美国生活四年，周游美国20多个州并参观走访学校，帮学生准备和批改的文书新颖独特，广受好评，已帮助多名同学获得美国哈佛，MIT，斯坦福，杜克，芝加哥大学等顶级名校的录取。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/winson.png"/>
                        </p>
                        <h4 class="card-title">Winson 黄生</h4>
                        <p class="card-text">留学总监</p>
                        <p class="card-text text-left">毕业于新西兰奥克兰大学（University of Auckland)，获得多个学位。国外学习生活十七年，多年国外专业会计师和软件工程师工作经验。对美国和英国商科和计算机专业申请有独到的见解，能根据学生的实际情况擅长书写有感染力和激情的文书，在准备文书和教授沟通信函时就像为自己在申请般尽心负责。已帮助多名学生拿到哈佛，MIT，斯坦福，杜克，芝加哥大学等顶级名校的录取。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/nina.png"/>
                        </p>
                        <h4 class="card-title">Nina 林佩璇</h4>
                        <p class="card-text">留哪儿英澳留学顾问</p>
                        <p class="card-text text-left">毕业于英国东安格利亚大学（UEA）法学硕士。担任留学顾问2年有余，曾帮学生申请到英国G5、澳洲八大，重视学生的未来规划，让留学不仅仅只是留学，而是学有所成，学以致用。</p>
                    </div>
                </div>
            </div>
            <div class="card-group my-2">
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/simon.png"/>
                        </p>
                        <h4 class="card-title">Simon 沈旻</h4>
                        <p class="card-text">金牌留学顾问</p>
                        <p class="card-text text-left">芝加哥大学JD法律博士,俄亥俄州立大学MBA，GMAT 780，LSAT 175。已帮助多名学生进入西北大学，加州大学-伯克利, 杜克，纽约大学等名校。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/linda.png"/>
                        </p>
                        <h4 class="card-title">Linda Mann</h4>
                        <p class="card-text">语言强化导师</p>
                        <p class="card-text text-left">从事教育顾问超过25年，专业ESL导师，拥有商务英语写作及托福雅思备考教师的资格认证。她独有纯正北美教学方式深受各年龄段学生的喜爱。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/victor.png"/>
                        </p>
                        <h4 class="card-title">Victor Zhuo</h4>
                        <p class="card-text">成长规划导师</p>
                        <p class="card-text text-left">青少年成长规划咨询师，具有多年加拿大本地教育服务经验，主导开发多项互联网教育产品。</p>
                    </div>
                </div>
            </div>
            <div class="card-group my-2">
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/wendell.png"/>
                        </p>
                        <h4 class="card-title">Wendell Mac Cormack</h4>
                        <p class="card-text">低龄留学导师</p>
                        <p class="card-text text-left">现任天主教圣心小学国际留学生顾问，曾任小学、中学校长，拥有37年教育经验。 16次以国际教育专家身份受邀出访亚洲，包括韩国、中国等地，参加当地国际教育展、举办教育讲座。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/james.png"/>
                        </p>
                        <h4 class="card-title">James Sim</h4>
                        <p class="card-text">升学援助导师</p>
                        <p class="card-text text-left">韩国教育专家，毕业于世界名校UBC，20余年执教经验，JL学院创始人，曾帮助过600名学生成功申请入读北美TOP100名校。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/brandon.png"/>
                        </p>
                        <h4 class="card-title">Brandon McAlister</h4>
                        <p class="card-text">学业提升导师</p>
                        <p class="card-text text-left">毕业于加拿大名校SFU，BC省认证教师，英语能力评估师，专精课后补习，5年以上教育经历。</p>
                    </div>
                </div>
            </div>
            <div class="card-group my-2">
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/ada.png"/>
                        </p>
                        <h4 class="card-title">Ada Lin 林竹丹</h4>
                        <p class="card-text">移民安家导师</p>
                        <p class="card-text text-left">加拿大注册移民顾问，北美青少年教育学会(NAYEA)副会长，从事留学规划、移民安家服务近20年， 具有丰富的加拿大学校申请和签证经验。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/kristi.png"/>
                        </p>
                        <h4 class="card-title">Kristi Richards</h4>
                        <p class="card-text">人格培养专家</p>
                        <p class="card-text text-left">世界滑雪冠军，北美青少年体能测试与提高专家，专注于青少年的身心成长和独立人格培养，CanBest教育集团特约顾问。</p>
                    </div>
                </div>
                <div class="card mx-1">
                    <div class="card-block text-center">
                        <p class="card-text">
                            <img src="/img/staffs/weizhang.png"/>
                        </p>
                        <h4 class="card-title">李维章</h4>
                        <p class="card-text">职业开拓导师</p>
                        <p class="card-text text-left">加拿大环宇国际学院的校长，北美教育专家。专注热门移民专业的选择与职业规划。</p>
                    </div>
                </div>
            </div>       
        </div>
        <% include ../d_partials/footer %>
    </body>
</html>    