<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>微信SDK demo</title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>
        <h3>微信SDK demo</h3>
        <div class="panel">
          <h5>1.判断是否支持特定JS-API</h5>
          <button id="checkJsApi">checkJsApi</button><br><br>
          <h5>2.分享接口</h5>
          <button id="onMenuShareAppMessage">发送给朋友</button><br><br>
          <h5>3.图像接口</h5>
          <button id="chooseImage">选择图片</button><br>
          <button id="previewImage">预览图片</button><br><br>
          <h5>4.位置接口</h5>
          <button id="getLocation">获取位置</button><br><br>
          <h5>5.微信扫一扫</h5><br>
          <button id="scanQRCode0">扫一扫</button><br>
          <button id="refresh">刷新当前页面</button>
        </div>
        <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script type="text/javascript">
          var signature = '<%=signature%>';
          var nonceStr = '<%=noncestr%>';
          var timestamp = '<%=timestamp%>';
          var appId = '<%=appId%>';
          var jsapi_ticket = '<%=jsapi_ticket%>';
        </script>
    </body>
</html>
