<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <%- include('cms_styles'); %>
</head>
<body>
<%- include('nav'); %>
 <form>
    <label>类别
        <select name="category">
            <option value="1">海外规划</option>
            <option value="2">留学申请</option>
            <option value="3">校园内外</option>
            <option value="4">本地生活</option>
            <option value="5">实习就业</option>
            <option value="6">职业移民</option>
        </select>
    </label>
    <label>频道
        <select name="channel">
            <option value="1">虎妈之家</option>
            <option value="2">留哪头条</option>
        </select>
    </label>
    <label>标题
        <input type="text" name="title" id="title" value="">
    </label>
    <input type="hidden" name="uid" id="uid" value="999">
    <input type="hidden" name="source_url" id="source_url" value="cms">
    <input type="hidden" name="status" id="status" value=1>
    <label>描述
        <textarea name="description" id="description"></textarea>
    </label>
    <label>内容
        <script id="content_html" name="content_html" type="text/plain">
            你的初始化内容
        </script>
        <input type="hidden" name="content_text" id="content_text">


    </label>
    <button type="submit">Save</button>
</form>

<a href="/article/list">返回列表页面</a>

<script type="text/javascript" src="/ueditor.config.js"></script>
<script type="text/javascript" src="/ueditor.all.js"></script>
<script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

<script type="text/javascript">



    $(jQuery(document).ready(function($) {
     var data;
           //init ueditor
           var content_html = UE.getEditor('content_html');

           function autofillObjectData(){
              data = <%- article %>;
              var keys = Object.keys(data);
              for(var i= 0; i <keys.length ; i++){
                $('#'+keys[i]).val(data[keys[i]]);
            }
            content_html.ready(function() {
                content_html.setContent(data.content_html);
            });
        }

        if(<%- article %> != 1){
            autofillObjectData();
            postURL = '/article<%-id%>';
        }else{

            postURL = '/article/new';

        }
        console.log(postURL)
        $("form").submit(function(e){
            var form = $(this);
            $.ajax({
                url   : postURL,
                type  : "POST",
                data  : form.serialize(),
                success: function(response){
                    window.location.href = "/article/"+response;
                }
            });
            return false;
        });
    }));

</script>
</body>
</html>