<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <%- include('cms_styles'); %>
</head>
<body>
    <%- include('nav'); %>

    <form>
        <label>学生名字
            <input type="text" name="name" id="name" value="">
        </label>
        <label>亮点
            <textarea name="highlight" id="highlight"></textarea>
        </label>
        <label>种类
            <select name="type" id="type" >
                <option value = "1">知名大学</option>
                <option value = "2">特色院校</option>
                <option value = "3">低龄留学</option>
            </select>
        </label>
        <label> 详情
            <script id="extra_info" name="extra_info" type="text/plain">
            </script>
        </label>
        <button type="submit">Save</button>
    </form>

    <a href="/goodnews/list">返回列表页面</a>

    <script type="text/javascript" src="/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor.all.js"></script>
    <script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

    <script type="text/javascript">



        $(jQuery(document).ready(function($) {
         var data;
           //init ueditor
           var extra_info = UE.getEditor('extra_info');

           function autofillObjectData(){
              data = <%- goodnews %>;
              var keys = Object.keys(data);
              for(var i= 0; i <keys.length ; i++){
                $('#'+keys[i]).val(data[keys[i]]);
            }
            extra_info.ready(function() {
                extra_info.setContent(data.extra_info);
            });
        }

        if(<%- goodnews %> != 1){
            autofillObjectData();
            postURL = '/goodnews<%-id%>';
        }else{
            postURL = '/goodnews/new';
        }
        console.log(postURL)
        $("form").submit(function(e){
            var form = $(this);
            $.ajax({
                url   : postURL,
                type  : "POST",
                data  : form.serialize(),
                success: function(response){
                    window.location.href = "/goodnews/"+response;
                }
            });
            return false;
        });
    }));

</script>
</body>
</html>