<!DOCTYPE html>
<html>
<head>
    <title>CMS</title>
</head>
<body>
<h1>登陆</h1>
    <form action="/" method="post">
        <label>用户名<input type="username" name="username"></label> <br>
        <label>密码<input type="password" name="password"></label><br>
        <input type="submit" name=""><br>
    </form>
    <%-msg%>
</body>
</html>