    <nav>
       <a href="/article/list">文章</a> |
        <a href="/school/list">院校</a> |
        <a href="/product/list">产品</a> |
        <a href="/question/list">问答</a> |
        <a href="/goodnews/list">捷报</a>
    </nav>
    <h1><%- title %></h1>