<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <%- include('cms_styles'); %>
</head>
<body>
    <%- include('nav'); %>

    <form>
        <label>类别
            <select name="category">
                <option value="1">海外规划</option>
                <option value="2">留学申请</option>
                <option value="3">校园内外</option>
                <option value="4">本地生活</option>
                <option value="5">实习就业</option>
                <option value="6">职业移民</option>
            </select>
        </label>
        <label>标题
            <input type="text" name="title" id="title" value="">
        </label>
        <input type="hidden" name="uid" id="uid" value="999">
        <input type="hidden" name="question_id" id="question_id" value="">
        <input type="hidden" name="status" id="status" value=1>
        <label>描述
            <textarea name="description" id="description"></textarea>
        </label>
        <label>回答
            <script id="content" name="content" type="text/plain">
                你的初始化内容
            </script>
        </label>
        <button type="submit">Save</button>
    </form>

    <a href="/question/list">返回列表页面</a>
    <!-- 配置文件 -->
    <script type="text/javascript" src="/ueditor.config.js"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" src="/ueditor.all.js"></script>
    <script type="text/javascript" src="/jquery-3.0.0.min.js"></script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">



        $(jQuery(document).ready(function($) {
           var data;
           //init ueditor
           var content = UE.getEditor('content');

           $("form").submit(function(e){
            var form = $(this);
            $.ajax({
                url   : "/question/new",
                type  : "POST",
                data  : form.serialize(),
                success: function(response){
                    window.location.href = "/question/list";
                }
            });
            return false;
        });
       }));

   </script>
</body>
</html>