<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
 <%- include('nav'); %>
 <a href="/school/new" style="float:right">新建院校</a>
 <table id="table">
  <thead>
    <tr>
      <td>ID</td>
      <td>名字</td>
      <td>种类</td>
      <td>排名</td>
    </tr>
  </thead>
  <tbody>
   <% for(var i=0; i<list.length; i++) {%>
   <tr>
     <td> <%=list[i].id%> </td>
     <td> <%=list[i].ch_name%> | <%=list[i].en_name%> <a href="/school/<%=list[i].id%>">编辑</a> </td>
     <td>
       <%if (list[i].type == 1) { %>
       大学
       <% } %>
       <%if (list[i].type == 2) { %>
       特色院校
       <% } %>
       <%if (list[i].type == 3) { %>
       中学
       <% } %>
       <%if (list[i].type == 4) { %>
       小学
       <% } %>
     </td>
     <td><%=list[i].national_rank%></td>
   </tr>
   <% } %>
 </tbody>
</table>
<p style="text-align: center">**种类 【1： 大学， 2：特色院校， 3：中学， 4：小学】**</p>

<script type="text/javascript" src="/jquery-3.0.0.min.js"></script>

<link rel="stylesheet" type="text/css" href="/datatables/datatables.min.css"/>

<script type="text/javascript" src="/datatables/datatables.min.js"></script>
<script type="text/javascript">

  $(jQuery(document).ready(function($) {
    $('#table').DataTable({
      "order": [[ 3, "asc" ]]
    });
  }));

</script>
</body>
</html>
