    
    
    
    
    .topicHeader {
        height: 82px;
        display: block;
        border-bottom: 1px solid #e8e8e8;
        text-align: left;
        padding: 17px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .article-head {
        line-height: 32px;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .article-head-note {
        font-size: 17px;
        color: #8c8c8c;
        margin-bottom: 18px;
    }

    .article-foot-note {
        color: #8c8c8c;
        display: inline-block;
    }

    .article-foot-note > span{
        vertical-align: middle;
        margin-right: 8px;
    }

    .article-foot-note > span:last-child{
        margin-right: 0px;
    }

    .article-foot-note > .link {
        color: #3E606F;
    }

    .article-detail > *:first-child{
        margin-top: 0px !important;
    }

    .article-detail strong{
        font-weight: bold !important;
    }

	.article-detail > *,
	.article-detail > * > *,
	.article-detail > p, 
	.article-detail p span *, 
	.article-detail > span, 
	.article-detail > p > span {
        font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
        /*display: block;*/
        text-size-adjust: 100% !important;
        line-height: 24px !important;
        margin-top: 12px !important;
        margin-bottom: 0px !important;
        word-wrap: break-word;
        /*text-indent: 0em !important;*/
    }
    
    .content img {
        width: 100%;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .article.thumbnailItem{
        padding-left: 145px;
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: 100px;
    }

    .article.item {
        padding-top: 8px;
        padding-bottom: 8px;
        min-height: 100px;
    }

    .article.thumbnailItem > img {
        top: 11px;
    }

    .article.thumbnailItem > h4, .article.item > h4{
        font-weight: normal;
    }

    .article.thumbnailItem > p, .article.item > p{
        position: relative;
    }

    .article.thumbnailItem > p > span, .article.item > p > span{
        font-weight: normal;
        position: absolute;
        right: 0px;
    }

    .article.thumbnailItem > p > span:first-child, .article.item > p > span:first-child{
        left: 0px;
    }

    .list-top-border{
        border-top: 1px solid #e8e8e8;
    }

    .list-top-border:first-child{
        border-top: none;
    }

    .middle{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .middle::before{
        content: '';
        width: 0;
        font-size: 0;
        height: 100%;
        visibility: hidden;
        display: inline-block;
        vertical-align: middle;
    }