*{
  font-family: "FontAwesome","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",Arial,sans-serif !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

body {
  overflow: scroll;
  overflow-x: hidden;
}

.btn-orange {
  color: #fff;
  background-color: #E27264;
  border-color: #E27264;
}

.btn-orange:hover {
  color: #fff;
  background-color: #E27264;
  border-color: #E27264;
}

.btn-orange:focus,
.btn-orange.focus {
  color: #fff;
  background-color: #E27264;
  border-color: #E27264;
}

.btn-orange:active,
.btn-orange.active,
.open>.btn-orange.dropdown-toggle {
  color: #fff;
  background-color: #E27264;
  border-color: #E27264;
  background-image: none;
}

.btn-red {
  color: #fff;
  background-color: #FA3E3E;
  border-color: #FA3E3E;
}

.btn-red:hover {
  color: #fff;
  background-color: #FA3E3E;
  border-color: #FA3E3E;
}

.btn-red:focus,
.btn-red.focus {
  color: #fff;
  background-color: #FA3E3E;
  border-color: #FA3E3E;
}

.btn-red:active,
.btn-red.active,
.open>.btn-red.dropdown-toggle {
  color: #fff;
  background-color: #FA3E3E;
  border-color: #FA3E3E;
  background-image: none;
}

.two-line-text {
  font-size: 0.9em;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul.slick-dots {
  bottom: 0px;
}

ul.slick-dots li button:before {
  font-size: 10px;
}

ul.slick-dots li {
  margin: 0 0 0 0;
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}

.w-1100px {
  max-width: 1100px;
}

.normal-a,
.normal-a:hover,
.normal-a:visited {
  text-decoration: none;
  color: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

.mt-80 {
  margin-top: 80px;
}

.mt-40 {
  margin-top: 40px;
}

.middle {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.middle::before {
    content: '';
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
}
