.activities_div{
    position: relative;
    height: 350px;
    width: 350px;
    background-position: center center;
    background-size: cover;
}

.activities_div.second{
    position: absolute;
    width: 350px;
    height: 165px;
    background-position: center center;
    background-size: cover;
}

.activities_div.second:first-child{
    top: 0px;
}

.activities_div.second:last-child{
    bottom: 0px;
}

.activities_div > .time, .activities_div.second > .time{
    position: absolute;
    top: 3px;
    right: 0px;
    background-color: #52baba;
    color: #fff; 
    padding: 4px 8px;
    font-size: 0.95rem;
    font-weight: lighter;
}

.activities_div > .caption, .activities_div.second > .caption{
    position: absolute;
    width: 100%;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.7);
    color: #fff; 
}

h3.card-title{
    font-size: 16px;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
}
p.card-text.two-line-text{
    margin-top: 6px;
    font-size: 0.75em;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchCard{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.outline-badge{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
    margin-right: 1rem;
}

.outline-badge.question{
    color: #FF6D1F;
    border-color: #FF6D1F;
}

.outline-badge.product{
    color: #6D34FF;
    border-color: #6D34FF;
}

.outline-badge.article{
    color: #52baba;
    border-color: #52baba;
}
