﻿* {
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    overflow: hidden;
    height: 100%;
}

body {
    -webkit-touch-callout: default;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(70, 130, 180, 0.75);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: #000;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 20px;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
    font-family: 'FontAwesome', Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif !important;
}

.position-relative {
    position: relative;
}

.white-bg {
    background-color: #FFFFFF !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-top {
    margin-top: 0px !important;
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

.no-margin-y {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-x {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-padding-y {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.px-24 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.px-12 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

.py-12 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-24 {
    padding: 24px 0px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.mt-1{
    margin-top: 1px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.my-12 {
    margin: 12px 0px !important;
}

.mx-12 {
    margin: 0px 12px !important;
}

.mx-6 {
    margin: 0px 6px !important;
}

.my-6 {
    margin: 6px 0px !important;
}

.mt-18 {
    margin-top: 18px !important;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    width: 100%;
}

.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    padding: 5px;
    width: 100%;
}

.col-100{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.col-25 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-33 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.33%;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-40 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 40%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 40%;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}

.col-28 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 28%;
    -ms-flex: 0 0 28%;
    flex: 0 0 28%;
    max-width: 28%;
}

.col-50 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.view-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}

.pane {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
}

.content-container {
    position: absolute;
    top: 44px;
    right: 0;
    bottom: 49px;
    left: 0;
    overflow: auto;
    overflow-x: hidden;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    width: auto;
    height: auto;
    padding-bottom: 1px;
}

.content {
    padding: 0px 17px;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.mission-header{
    top: 88px !important;
}

.no-header {
    top: 0px !important;
}

.no-footer {
    bottom: 0px !important;
}

.p-b-0 {
    padding-bottom: 0px !important;
}

.t-a-c {
    text-align: center !important;
}

.t-a-r {
    text-align: right !important;
}

.headerBar {
    position: absolute;
    background-color: #3B5998;
    color: #fff;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: 44px;
    border-color: #3B5998 !important;
    border-bottom-width: 1px;
    box-shadow: 0px 3px 35px rgba(125, 125, 125, 0.7);
}

.headerBar.mission{
    height: 88px;
    box-shadow: none;
}

.headerBar > .title {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 43px;
}

.title-image {
    vertical-align: middle;
}

.footerBar {
    position: absolute;
    background-color: #3B5998;
    color: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 8px;
    width: 100%;
    height: 44px;
}

.footerBar.shop{
    height: 50px;
}

i.custom-icon {
    background-position: center center;
    background-size: cover;
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

i.custom-icon+span {
    vertical-align: middle;
}

.input-inset {
    background-color: #3B5998;
    border: none;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: #444;
    margin: -1px;
    font-size: 16px;
}

.input-inset-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0;
    -moz-box-flex: 1;
    -moz-flex: 1 0;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 12px;
    background-color: #fff !important;
}

.input-inset .input-inset-wrapper input {
    padding-left: 4px;
    height: 29px;
    background: 0 0;
    line-height: 18px;
    border: none;
    width: 95%;
    font-size: 14px;
}

.input-inset button {
    border-color: transparent;
    background-color: #29498D;
    color: #fff;
    z-index: 1;
    padding: 0 8px;
    min-width: initial;
    min-height: 30px;
    height: 30px;
    font-weight: 400;
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin: 0px 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}

.item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 6px 0 5px 16px;
}

.item-select {
    position: relative;
}

.input-label {
    display: table;
    padding: 7px 10px 7px 0;
    max-width: 200px;
    width: 35%;
    color: #444;
    font-size: 16px;
}

.item-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0 48px 0 16px;
    max-width: 65%;
    border: none;
    background: #fff;
    color: #333;
    text-indent: .01px;
    text-overflow: '';
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
    direction: rtl;
}

.item-select:after {
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    color: #999;
    content: "";
    pointer-events: none;
}

.navButton {
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    border: none;
    height: 100%;
    font-weight: 300;
    padding: 0;
}

.item {
    display: block;
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #f5f5f5;
    color: #222;
    font-weight: 500;
    position: relative;
}

.item>h3,
.item>h4 {
    margin: 0;
    font-size: 18px;
}

.avatarItem {
    position: relative;
    display: block;
    padding-left: 68px;
    padding-top: 16px;
    min-height: 72px;
}

.avatarItem h3 {
    margin: 0;
    font-size: 14px;
}

.avatarItem p {
    line-height: 140%;
    margin-top: 14px;
    font-size: 14px;
    color: #666;
}

.avatarItem img {
    position: absolute;
    top: 16px;
    left: 0px;
    max-width: 55px;
    max-height: 55px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.thumbnailItem {
    min-height: 95px;
    position: relative;
    display: block;
    padding-left: 132px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.thumbnailItem>h3,
.thumbnailItem>h4 {
    margin: 0;
    font-size: 18px;
    display: block;
    overflow: visible;
    white-space: normal
}

.thumbnailItem>img {
    position: absolute;
    top: 5px;
    left: 5px;
    max-width: 120px;
    max-height: 85px;
    width: 100%;
    height: auto;
}

.write-comment-footer {
    text-align: right;
    height: 56px;
    margin: 0px -17px;
    background-color: #F2F3F8;
    bottom: 0px;
    line-height: 56px;
    padding-right: 17px;
}

a.write-comment-button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
    vertical-align: middle;
    color: #3E606F;
    display: inline-block;
}

textarea {
    border: none;
    resize: none;
    width: 100%;
    font-size: 14px;
    padding: 12px 17px;
}

.fullscreen-margin {
    margin: 0px -17px;
}

.fullscreen {
    margin: 0px -17px;
    padding: 0;
}

.we-ui-btn {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
    border: none;
}

.we-ui-btn-primary {
    background-color: #1AAD19;
}

.wrapBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.full-image {
    width: 100%;
}

.slick-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.btn {
    padding: 0.25em 1.1em;
    font-size: 1.1em;
}

.btn-outline {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #000;
}

button.rounded {
    border-radius: 24px;
}

.middle {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.middle::before {
    content: '';
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
}

.color-666{
    color: #666 !important;
}

.d-block{
    display: block !important;
}

.instruction.hide{
    display: none;
}

.instruction{
    display: table;
    padding: 36px;
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 99999999;
    color: #fff;
}

.instruction_content{
    display: table-cell;
    vertical-align: middle;
}