/*.fourSquareCol:nth-child(odd){
    padding: 12px 6px 12px 12px;
}

.fourSquareCol:nth-child(even){
    padding: 12px 12px 12px 6px;
}*/

.image-100{
    width: 100%;
}

.col-image{
    min-height: 120px;
    max-height: 120px;
    width: 100%;
}

.fourSquareCol > a > p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}

.fourSquareCol > a > h3{
    font-size: 13px;
    white-space: normal;
    margin-bottom: 4px;
}

.fourSquareCol-image {
    padding: 12px 12px 12px 0px;
}

.fourSquareCol-image:nth-child(odd) {
    border-right: 1px solid #e5e5e5;
}

.fourSquareCol-image:nth-child(even) {
    padding-left: 12px;
}

.fourSquareCol-image:nth-child(1), .fourSquareCol-image:nth-child(2){
    border-bottom: 1px solid #e5e5e5;
}

.fourSquareCol-image > a{
    height: 80px;
    position: relative;
}

.fourSquareCol-image > a > img {
    width: 54px; 
    height: 54px; 
    position: absolute; 
    right: 0px; 
    bottom: 0px;
}

.fourSquareCol-image > a > h3 {
    font-size: 12px;
    font-weight: bold;
    width: 58%;
    white-space: normal;
    height: 50%;
    line-height: 160%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fourSquareCol-image > a > p {
    font-size: 12px;
    width: 58%;
    height: 55%;
    margin: 6px 0px 0px 0px;
    /*line-height: 120%;*/
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    color: #444;
}

.homeBadgeBtn-outline {
    background-color: rgba(0,0,0,0);
    color: #4c9cbf;
    border: 1px solid;
    border-color: #4C9CBF;
    border-radius: 12px;
    font-size: 14px;
    line-height: 12px;
    height: 24px;
    width: auto;
    margin-left: 3.5px;
    margin-right: 3.5px;
    text-align: center;
}
