.section-header{
    vertical-align: middle; 
    font-size: 15px
}

.section-header i {
    color: #48cdfa;
    margin-right: 8px;
}

.section-header i.mission-icon {
    color: #FFBC47;
}

.divider-line{
    margin-top: 0; 
    margin-bottom:0; 
    width: 100%; 
    height: 1px;
    display: block;
    overflow: hidden;
    border: none;
    background-color: #F5E3CD;
}

.msg-title{
    font-weight: normal;
    color: #727272;
    margin-bottom: 8px;
}

.msg-time{
    font-weight: normal;
    color: #757575;
    text-align: right;
    margin-top: 8px;
}

.content-divider-line{
    margin-top: 0; 
    margin-bottom:0; 
    width: 100%; 
    height: 1px;
    display: block;
    overflow: hidden;
    border: none;
    background-color: #eee;
}

.mission-item{
    width: 100%;
    padding: 14px 0px 12px 0px;
}

.mission-item img{
    min-height: 101px;
    max-height: 101px;
}

.mission-title{
    color: #727272;
    text-align: left;
    margin-top: 0;
    vertical-align: top;
    font-size: 16px;
}

.mission-addition{
    font-size: 16px;
    color: #FE8853;
    text-align: right;
    vertical-align: bottom;
}

.mission-title, .mission-addition{
    padding-left: 12px;
}

.mission-addition .price{
    font-size: 24px;
    color: #FE8853;
}

.credit{
    color: #FE8853;
}