.text-content {
    border-bottom: 20px #f0f0f0 solid;
    padding: 10px 20px 10px 20px;
}

.text-content img {
    width: 100%;
}

.text-content ul {
    max-width: 100%;
}

.fa {
    font-size: 2em;
    color: #52baba;
    margin-right: 15px;
}

.header {
    font-size: 1.3em;
}

.border-bottom {
    border-bottom: 1px #dadada solid;
    padding-bottom: 10px;
}

.tab {
    color: #bde2e2;
    font-size: 1.4em;
    padding-bottom: 10px;
}

.tab.active {
    color: #52baba;
}

.boxes {
    display: inline-block;
    border: 2px #DADAda solid;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
    margin: 0px 6px 0px 6px;
    width: 60%;
    max-width: 240px;
}

.boxes.active {
    border: 5px #dadada solid;
}

p > img {
    width: 100%;
}

span > img {
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

html,
body {
    height: 100%;
}

.overlay {
    position: absolute;
    display: none;

    /* color with alpha transparency */
    background-color: rgba(0, 0, 0, .4);

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
}

.popup {
    display: none;
    position: fixed;
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    width: 75%;
    /* just for example presentation */
    top: 17em;
    background-color: white;
    border-radius: 5px;
    z-index: 100000;
    text-align: center;
}

#popup-text {
    font-size: 1.5em;
    font-weight: bold;
}

.item > input {
    font-size: 16px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    border: 1px solid #bababa;
}

.avatar {
    width: 15%;
    border: 2px solid #b2b2b2;
}

.avatar0 {
    border: 2px solid orange;
    width: 25%;
}

.group-card {
    padding: 20px;
    border-bottom: 20px #f0f0f0 solid;
}

.top-avatar {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 13px;
    left: 50%;
    margin-left: -22px;
}
.avatar-list-item{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    display: inline-block;
    padding: 3px;
}
.applyuser.cl-fix {
    border-bottom: grey 1px dotted;
}