.school_cty_btn {
    background: white;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    display: block;
    text-align: center;
}

.school_cty_btn h1 {
    font-weight: 400;
    color: #333;
    margin: 0;
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    padding-top: 0px;
}

.school_cty_btn > .img_div {
    width: 100%;
    height: 100px;
    background-size: cover !important;
    background-position: center center !important;
    padding: 35px 0px;
}

.school_cty_btn > .img_div img {
    height: 35px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.school_cty_btn > .cty_icon {
    width: 45px;
    margin-top: -22.5px;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    width: 100%;
    height: 300px;
    background-size: auto;
    background-position: center;
}

.img-container div {
    width: 100%;
    height: 300px;
}

.img-container div img {
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    display: block;
}

.contry-icon-container {
    margin-top: -30px;
    z-index: 2;
}

.contry-icon-container img {
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.school.item {
    position: relative;
    padding: 18px 18px 0px 34%;
    border-top: 1px solid #c8c8c8;
    min-height: 80px;
    max-height: 80px;
    margin-bottom: 0px;
}

.school-item-container:nth-child(2)>.school.item {
    margin-top: 0px;
    border-top: 0px solid #e8e8e8;
}

.school.item>p {
    margin-top: 6px;
    text-align: right;
}

.school.item+.row,
.school.item+.row+.row {
    margin-top: 4px;
    padding: 0;
}

.school.item+.row>p,
.school.item+.row+.row>p {
    margin: 2px;
    position: relative;
    width: 100%;
    font-size: 16px;
}

.school.item+.row>p>span:last-child,
.school.item+.row+.row>p>span:last-child {
    position: absolute;
    right: 0px;
}

.school.item>h4 {
    font-size: 20px;
    text-align: right;
}

.school.item >.img {
    position: absolute;
    top: 18px;
    left: 0px;
    width: 30%;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.school-head {
    background-position: center center !important;
    background-size: cover !important;
    color: #fff;
    min-height: 200px;
}

.black-matt {
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.badge {
    margin: 0.25em 0;
    padding: 0.2em 0.2em !important;
    font-size: 0.85em !important;
    color: #fff;
    border-color: #fff !important;
}

table.schoolInfoTable {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 12px;
}

.schoolInfoTable>tbody>tr {
    color: #3B5998;
}

.schoolInfoTable>tbody>tr>th {
    font-weight: bolder;
}

.schoolInfoTable>tbody>tr,
td,
th {
    border: 1px solid #444;
    padding: 2px;
}

.mapOption {
    color: #3B5998;
    font-size: 16px;
}

.mapOptionActived {
    background-color: #3B5998;
    color: #fff;
}

.schoolInfoTable>tbody>tr:nth-child(even) {
    background-color: #3B5998;
    color: #fff;
}