.user-header{
    background-image: url("/img/userCenter/userBackground.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    font-weight: bold;
    padding: 48px 12px 12px 12px;
}

.user-menu-container:first-child{
    margin: 0px -17px 0px -17px !important;
}

.user-menu-container{
    display: block;
    margin: 12px -17px 0px -17px;
    padding: 0;
    background-color: #FFFFFF;
}

.user-menu-container .item-divider{
    background-color: #ffffff !important;
}

.user-menu-container .item-divider.only{
    padding-top: 15px;
    padding-bottom: 15px;
}

.user-menu-container .item-divider > .divider-text{
    padding: 0px 10px; 
    font-size: 15px
}

.user-menu-container .item-divider > .divider-text i{
    margin-right: 6px; 
    vertical-align: middle; 
    font-size: 20px; 
    color:rgb(69,152,252)
}

.user-menu-container .item-divider > .divider-text i.right{
    margin-right: 0px; 
}

.user-menu-container .item-divider > .divider-text p{
    margin: 0; 
    display: inline-block; 
    vertical-align: middle;
}

.user-menu-button{
    background-color: #f8f8f8; 
    position: relative;
    padding: 12px 12px;
}

.user-menu-container .item-divider.only::after, .user-menu-button::after{
    display: block;            
    content: "";
    clear: both;
}

.user-menu-container .item-divider.only > .divider-text.right{
    float: right;
}

.user-menu-button .menu-text, .user-menu-container .item-divider.only > .divider-text.left{
    float: left;
}

.user-menu-button .icon-vertical-align{
    float: right; 
    font-size: 38px;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

img.user-avatar{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 18px;
    left: 18px;
}