﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>

    <link href="/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <script src="https://maps.googleapis.com/maps/api/js?"></script>
    <!--<script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>-->
    <!--<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=3331782818" type="text/javascript" charset="utf-8"></script>-->
    <!-- ionic/angularjs js -->
    <script src="/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- your app's js -->
    <script src="/js/app.js"></script>
    <!--<script src="js/controllers.js"></script>-->
    <script src="/js/controllers/estimateController.js"></script>
    <script src="/js/services.js"></script>

</head>
<body ng-app="canbest">
    <div ng-controller="estimateController" ng-init="test()">

    </div>
    <h1>{{title}}</h1>
    <img style="width: 0%; max-width: 0px" src="http://52.38.73.105/schools/{{schoolId}}/2.jpg" />

    <ion-view view-title="{{school.en_name}}" ng-init="getProductDetail()">
        <ion-nav-buttons>
            <a ui-sref="app.schoolRank({cateID: school.type})" nav-direction="back">
                <button class="button button-clear">
                    <i style="font-size: 18px;" class="icon ion-ios-arrow-back">Back</i>
                </button>
            </a>
        </ion-nav-buttons>
        <ion-content scrollbar-y="false" overflow-scroll="true" delegate-handle="schoolStandard">
            <div class="item schoolStandardCard" style="background-image: url('http://52.38.73.105/schools/{{schoolId}}/2.jpg'), url('http://52.38.73.105/schools/{{schoolId}}/2.png'), url('http://52.38.73.105/schools/{{schoolId}}/2.gif');">
                <div class="blackMatt"></div>
                <div class="row noBorder" style="vertical-align: middle">
                    <div class="col col-33" style="text-align: center; position: relative">
                        <img style="width: 80%; max-width: 98px" ng-src="http://52.38.73.105/schools/{{schoolId}}/1.jpg" check-image />
                        <img style="width: 80%; max-width: 98px" ng-src="http://52.38.73.105/schools/{{schoolId}}/1.png" check-image />
                        <img style="width: 80%; max-width: 98px" ng-src="http://52.38.73.105/schools/{{schoolId}}/1.gif" check-image />
                    </div>
                    <div class="col col-offset-5">
                        <div class="list" style="">
                            <h2 style="oveflow: visible; white-space: normal; color: #fff; font-size: 18px;">{{school.en_name}}</h2>
                            <p style="color: #fff; font-size: 16px; margin-bottom: 6px">{{school.ch_name}}</p>
                            <p style="color: #fff; float: left;">
                                <i style="color: #d51f26" class="icon ion-information-circled"></i>
                                学校详情
                            </p>
                            <a style="color: #fff; float: right;" ui-sref="app.schoolMoreOne({schoolId: school.id})" nav-direction="forward">
                                更多
                                <i style="color: #d51f26" class="icon ion-ios-arrow-forward"></i>
                            </a>
                            <p style="margin-top: 36px; oveflow: visible; white-space: normal; clear: both">
                                <button style="font-size: 12px; background-color: rgba(255, 255, 255, 0.45)" class="badgeBtn">{{school.school_category}}</button>
                                <button style="font-size: 12px; background-color: rgba(255, 255, 255, 0.45)" class="badgeBtn">教师数量: {{school.teacher_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255, 255, 255, 0.45)" class="badgeBtn">学生数量: {{school.student_num}}</button>
                                <button style="font-size: 12px; background-color: rgba(255, 255, 255, 0.45)" class="badgeBtn">国际学生数量: {{school.int_student_num}}</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item row noBorder" ng-init="actived = 'a'">
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'a'" ng-class="{'active': actived === 'a'}" el-scroll="apInfo" delegate="schoolStandard" animate="true">信息</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'b'" ng-class="{'active': actived === 'b'}" el-scroll="contactInfo" delegate="schoolStandard" animate="true">联系</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'c'" ng-class="{'active': actived === 'c'}" el-scroll="mapInfo" delegate="schoolStandard" animate="true">地图</a>
                <a class="col textCenter schoolNavBtn" ng-click="actived = 'd'" ng-class="{'active': actived === 'd'}" el-scroll="review" delegate="schoolStandard" animate="true">点评</a>
                <a class="col textCenter schoolNavBtn" style="background-color: #d51f26; color: #fff;">分享</a>
            </div>

            <div id="apInfo" class="item item-body" style="border-top: none; padding: 24px;">
                <h2>申请信息：</h2>
                <p>{{school.apply_info}}</p>
            </div>

            <div id="contactInfo" class="item item-body" style="margin-top: 24px; padding: 24px;">
                <h2>联系方式：</h2>
                <!--<div class="list">
                    <div class="item item-icon-left noBorder" style="font-size: 14px;">
                        <i style="font-size: 24px;" class="icon ion-ios-telephone"></i>
                        001-604-379-3123
                    </div>
                    <div class="item item-icon-left noBorder" style="font-size: 14px;">
                        <i style="font-size: 24px;" class="icon ion-ios-printer"></i>
                        001-604-379-3123
                    </div>
                    <div class="item item-icon-left noBorder" style="font-size: 14px; overflow: visible; white-space: normal;">
                        <i style="font-size: 24px;" class="icon ion-ios-location"></i>
                        {{school.contact_method}}
                    </div>
                </div>-->
                <p>{{school.contact}}</p>
            </div>

            <div id="mapInfo" class="item" style="margin-top: 24px; padding: 24px;">
                <h2>位置：</h2>
                <br />
                <!--<div class="row">
                    <div class="col textCenter">街道地图</div>
                    <div class="col textCenter">实景街图</div>
                    <div class="col textCenter">鸟瞰地图</div>
                </div>-->
                <map id="schoolMap" style="height: 200px; width: 100%" address="2140 w 41st Vancouver, BC"></map>
            </div>

            <div id="review" class="item item-text-wrap" style="border: none; margin-top: 24px;">
                <div class="item" style="border: none">
                    <h2>点评：</h2>
                </div>
                <div class="list">
                    <div class="item item-avatar" style="border: none">
                        <img src="http://canbest.org/Public/images/default_avatar_64_64.jpg">
                        <h2>admin</h2>
                        <p>不错不错不错。。。</p>
                        <p>2016-04－15</p>
                    </div>
                    <div class="item item-avatar" style="border: none">
                        <img src="http://canbest.org/Public/images/default_avatar_64_64.jpg">
                        <h2>admin</h2>
                        <p>不错不错不错。。。</p>
                        <p>2016-04－15</p>
                    </div>
                    <div class="item item-avatar" style="border: none">
                        <img src="http://canbest.org/Public/images/default_avatar_64_64.jpg">
                        <h2>admin</h2>
                        <p>不错不错不错。。。</p>
                        <p>2016-04－15</p>
                    </div>
                </div>
            </div>

        </ion-content>
        <ion-footer-bar style="background-color: #d51f26;">
            <p class="vCenterBlock centerMargin" style="color: #fff; font-size: 18px;">一键申请</p>
        </ion-footer-bar>
    </ion-view>

</body>
</html>