                                    <% if(category == '0'){ %>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                国家
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[0]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['国家']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[0]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                营地主题
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[1]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['营地主题']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[1]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                年龄
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[2]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['年龄']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[2]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div> 
                                    <% }else if(category == '1'){ %>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                国家
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[0]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['国家']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[0]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                类别
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[1]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['类别']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[1]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    <% }else if(category == '2'){ %>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                国家
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[0]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['国家']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[0]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                类别
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[1]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['学校类别']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[1]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    <% }else if(category == '3'){ %>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                国家
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[0]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['国家']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[0]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                专业
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[1]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['专业']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[1]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    <% }else if(category == '4'){ %>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                国家
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[0]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['国家']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[0]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                类别
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[1]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['学历']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[1]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row m-3" style="border-bottom: 1px dashed #777;">
                                            <div class="col-2">
                                                专业
                                            </div>
                                            <div class="col">
                                                <label class="custom-control custom-radio" >
                                                    <input ng-model="selected[2]" type="radio" class="custom-control-input" value="" ng-change="select('<%= categoryStr %>')">
                                                    <span class="custom-control-description">不限</span>
                                                </label>
                                                <label  class="custom-control custom-radio" ng-repeat="tag in tags['专业']">
                                                    <input type="radio" ng-repeat="(key, value) in tag" class="custom-control-input" ng-model="selected[2]" value="{{value}}" ng-change="select('<%= categoryStr %>')">
                                                    <span ng-repeat="(key, value) in tag" class="custom-control-description">{{key}}</span>
                                                </label>
                                            </div>
                                        </div>
                                    <% } %>