<!DOCTYPE html>
<html ng-app="product">
    <head>
        <title><%= prd.title %></title>
        <meta name="description" content="<%= prd.description %>">
        <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
        <meta name="author" content="Canbest">
        <% include ../d_partials/head %>
        <script src="/public/lib/slick/slick.min.js"></script>
        <script src="/public/lib/slick/angular-slick.js"></script>
        <script src="/public/js/product.js?v=1"></script>
        <style>
            .card-title-header{
                border-left: 6px solid #3b5998;
                color: #3b5998;
                height: 24px;
                font-size: 18px;
                line-height: 24px;
                font-weight: bold;
                padding-left: 0.5em;
                margin-bottom: 0.5em;
            }

            .title-border{
                border-bottom: 3px solid #3b5998;
                padding-bottom: 0.5em;
            }

            .hide-overflow{
                overflow: hidden;
            }
            select:not(:-internal-list-box) {
                overflow: hidden !important;
            }
            .custom-select {
                font-size: 95%;
                display: inline-block;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .custom-row > p:before{
                font-family: "FontAwesome";
                content: "\f111";
                margin-right: 0.5em;
                font-size: 50%;
                display: inline;
                vertical-align: middle;
            }
            .custom-row > p {
                    -webkit-box-flex: 0;
                    -webkit-flex: 0 0 50%;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 0 1.125rem;
                    margin-bottom: 0.15rem;
                    margin-top: 0.15rem;
            }
            .bg-f2{
                background-color: #f2f2f2;
            }
            .order-div{
                border-left: 2px dashed #d8d8d8;
            }
            .nav-tabs {
                border-bottom: 3px solid #3b5998;
                background-color: #f2f2f2;
            }

            .nav-tabs .nav-link {
                color: #444;
                border: none;
                border-top-right-radius: 0rem;
                border-top-left-radius: 0rem;
            }

            .nav-tabs .nav-item.show .nav-link, 
            .nav-tabs .nav-link:focus, 
            .nav-tabs .nav-link:hover {
                color: #444;
                border: none;
            }
            .nav-tabs .nav-item {
                margin-bottom: 0px; 
            }
            .nav-tabs .nav-link.active{
                background-color: #3b5998;
                color: #fff;
            }
            .optionItem{
                margin-top: 2em;
                border-radius: 12px;
                border: 3px solid #d8d8d8;
                width: 180px;
                padding-top: 2em;
            }
            .optionItem > p{
                margin-bottom: 0.5em;
            }

            #orderForm .modal-content{
                height: 580px !important;
                overflow: scroll;
                overflow-x: hidden;
            }

            #orderForm .modal-content > .modal-header{
                padding: 32px 15px;
            }

            #orderForm .modal-content > .modal-footer{
                margin-top: 14px;
                margin-bottom: 14px;
                padding-top: 32px;
            }
            .tab-pane{
                padding: 48px 24px;
            }
            .tab-pane img{
                width: 400px;
                height: auto;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body ng-controller="desktopCamp">
        <% var active_nav="shop" %>
        <% include ../d_partials/nav %>
        <div class="container" ng-init="info.ProductName = '<%= prd.title %>'; info.ProductId = '<%= prd.id %>';">
            <div class="mt-4 row">
                <div class="col">
                    <h5 class="title-border"><%= prd.title %></h5>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="row">
                        <div class="col">
                            <div style="width: 100%; height: 250px;" class="hide-overflow">
                                <img src="<%= img %>" style="margin-left: -25%;"/>
                            </div>
                        </div>
                    </div>    
                    <div class="row mt-4">
                        <div class="col">
                            <% if(prd.pastcase != null) {%>
                            
                            <div class="px-4 py-3 bg-f2">
                                <div class="card-title-header">
                                    往期回顾
                                </div>
                                <% for(var i=0; i<prd.pastcase.length; i++) {%>
                                    <a class="card" href="<%= 'http://toutiao.liunar.com/'+ 0 +'/'+ prd.pastcase[i].id%>">
                                        <img class="card-img-top" src="http://cms.liunar.com/uploadimage/articles/<%= prd.pastcase[i].promo_thumb %>" style="width: 100%" alt="<%= prd.pastcase[i].title %>">
                                        <div class="card-block">
                                            <p class="card-text"><%= prd.pastcase[i].title %></p>
                                        </div>
                                    </a>
                                <% } %>
                            </div>    
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="row mb-1">
                        <div class="col-5">
                            <p class="m-0">营地位置：<%= prd.country %></p>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-4">
                                    适合年龄：
                                </div>
                                <div class="col pl-0">
                                    <% if(prd.age_min || prd.age_max){ %>
                                        <span class="text-warning"><%= prd.age_min %> - <%= prd.age_max %></span> 岁
                                    <% } else { %>
                                        <span class="text-warning">任何年龄</span>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            <p class="m-0">营地类型：<%= prd.type %></p>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-4">
                                    是否亲子：
                                </div>
                                <div class="col pl-0">
                                    <%if (prd.parents_allowed == 0) { %>
                                        单飞  
                                    <% }else if(prd.parents_allowed == 1){ %>
                                        亲子
                                    <% }else{ %>
                                        亲子单飞均可
                                    <% } %>
                                </div>
                            </div>             
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-5">
                            <p class="m-0">
                                <span>营地主题：</span>
                                <%= prd.theme %>
                               <!--  <% var tags = prd.tags.split(",").splice(0,3); %>
                                <% for(var i = 0; i < tags.length; i++){ %>
                                    <% if(tags[i] !== ""){ %>
                                        <u class="text-warning"><%= tags[i] %></u>
                                    <% } %>
                                <% } %> -->
                            </p>
                        </div>
                        <div class="col-7">
                            <div class="row">
                                <div class="col-4">出发日期：</div>
                                <% if(options.length !== 0){ %>
                                    <select class="custom-select col" ng-model="order.time">
                                    <% for(var a = 0; a < options.length; a++){   %>                                  
                                        <option value="<%= a %>"><%- options[a] %></option>       
                                    <% } %>
                                    </select>
                                <% } %>
                            </div>        
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <div class="card bg-f2">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="row">
                                                <div class="col">
                                                    <h4 class="card-title" style="font-size: 16px;">行程亮点：</h4>
                                                </div>
                                            </div>
                                            <div class="row custom-row">
                                                <%- prd.pre_tab %>
                                            </div>
                                        </div>
                                        <div class="col-4 order-div text-center">
                                            <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %> 
                                            <% if(prd.msrp){%>
                                            <p>
                                                <span style="color:#e5611a; font-size: 1.7em;">
                                                    $<%= prd.msrp %>
                                                </span>
                                                <%= cur_map[prd.currency] %>起
                                            </p> 
                                            <% } %>
                                            <button ng-click="openForm()" class="btn btn-lg btn-block" style="color:#fff; background-color: #3b5998">
                                                免费预订
                                            </button>
                                        </div>    
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <ul class="nav nav-tabs sticky-top" role="tablist" style="top: 40px;">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#introduction" role="tab">营地介绍</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#schedules" role="tab">行程与住宿</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#caution" role="tab">注意事项</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="introduction" role="tabpanel">
                                    <%- prd.body_tab1 %>
                                </div>
                                <div class="tab-pane" id="schedules" role="tabpanel">
                                    <% for(var i=0; i < schedules.length; i++) {%>
                                        <div ng-if="order.time == <%= i %>" ><%- schedules[i] ? schedules[i] : schedules[0]  %></div>
                                    <% } %>
                                </div>
                                <div class="tab-pane" id="caution" role="tabpanel">
                                    <%- prd.body_tab3 %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="modal fade" id="orderForm" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" style="font-size: 16px;"><%= prd.title %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: 14px;"><%= prd.description %></p>
                        <div class="text-center">
                            <h6>你选择的时间：</h6>
                            <% for(var c = 0; c < options.length; c++) {%>
                                <div class="optionItem mx-auto" ng-if="order.time == <%= c %>">
                                    <%- options[c] %>
                                </div>
                            <% } %>
                        </div>
                        <div class="mt-3 p-3">
                            <div class="form-group row" ng-class="{'has-danger': nameFail == true}">
                                <label class="col-3 col-form-label">姓名：</label>
                                <div class="col">
                                    <input ng-model="info.chineseName" type="text" class="form-control"  ng-class="{'form-control-danger': nameFail == true}" placeholder="（必填）">
                                    <div class="form-control-feedback" ng-if="nameFail == true">{{errName}}</div>
                                </div>
                            </div>
                            <div class="form-group row" ng-class="{'has-danger': phoneFail == true}">
                                <label class="col-3 col-form-label ">电话：</label>
                                <div class="col">
                                    <input ng-model="info.mobile" ng-class="{'form-control-danger': phoneFail == true}" type="text" class="form-control" placeholder="（必填）">
                                    <div class="form-control-feedback" ng-if="phoneFail == true">{{errPhone}}</div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label">微信：</label>
                                <div class="col">
                                    <input type="text" class="form-control">
                                    <small class="form-text text-muted text-warning">
                                        请填入您的微信如果您希望我们透过微信联系您
                                    </small>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="orderProduct()">免费预订</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="selectTime">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger text-center">请选择出发时间</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="successMsg">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeSuccess()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-success text-center">恭喜您，成功预定！</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="errMsg">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeErr()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="text-danger text-center">出错了，请重试！</p>
                    </div>
                </div>
            </div>
        </div>
        <% include ../d_partials/footer %>
        <style>
    .bdshare-slide-bottom {
        display: none;
        line-height: 25px;
        font-size: 12px;
        text-align: right;
        clear: both;
        height: 30px;
    }

    .bdshare-slide-style-l6 .bdshare-slide-button {
        /* background: url(../img/share/l6.gif?v=8759da8b.gif) no-repeat 0 0; */
        background: #3B5998;
        /* width: 230px; */
        color: #fff;
        right: -48px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    .bdshare-slide-style-l6 .bdshare-slide-button:after{
        display: inline;
        vertical-align: middle;
        content: "分享"; 
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;

    }
    .bdshare-slide-button-box .bdshare-slide-button {
        width: 48px;
        height: 88px;
        line-height: 42px;
        display: block;
        position: absolute;
        top: 58px;
    }
</style>
<script>
    window._bd_share_config = { 
        "common": { 
            "bdSnsKey": {}, 
            "bdText": "", 
            "bdMini": "1", 
            "bdMiniList": [
                "mshare", 
                "qzone", 
                "tsina", 
                "weixin", 
                "renren", 
                "tqq", 
                "tieba", 
                "bdhome", 
                "sqq", 
                "mail", 
                "ty", 
                "fbook", 
                "twi", 
                //"linkedin", 
                "copy"
            ], 
            "bdPic": "", 
            "bdStyle": "1", 
            "bdSize": "24" 
        }, 
        "slide": { 
            "type": "slide", 
            "bdImg": "6", 
            "bdPos": "left", 
            "bdTop": "130" 
        }, 
        /*"image": { 
            "viewList": [
                "mshare", 
                "tsina", 
                "weixin", 
                "qzone", 
                "tqq", 
                "renren", 
                "tieba", 
                "ty", 
                "fbook", 
                "twi"
            ], 
            "viewText": "分享到：", 
            "viewSize": "24" 
        },*/ 
        "selectShare": { 
            "bdContainerClass": null, 
            "bdSelectMiniList": [
                "mshare", 
                "tsina", 
                "weixin", 
                "qzone", 
                "tqq", 
                "renren",
                "tieba", 
                "ty", 
                "fbook", 
                "twi"
            ] 
        } 
    }; 
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
    </body>
</html>    