<!DOCTYPE html>
<html ng-app="product" ng-controller="desktopList">
<head>
    <title>留哪儿精选——精选全球最优教育资源</title>
    <meta name="description" content="留哪儿精选是Canbest集团旗下的海外教育类垂直电商平台，留哪儿精选将全球最优质的留学、游学资源，一站式提供给中国学子，让他们能更直接、更高效地选择世界。">
    <meta name="keywords" content="留学, 游学, 夏令营, 背景提升,美国留学, 加拿大留学">
    <meta name="author" content="Canbest">
    <link rel="stylesheet" href="/public/lib/slick/slick.css" />
    <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
    <link rel="stylesheet" href="/public/css/d_home.css" />
    <% include ../d_partials/head %>
    <script src="/public/lib/slick/slick.min.js"></script>
    <script src="/public/lib/slick/angular-slick.js"></script>
    <script src="/public/js/product.js?cd=rr"></script>
    <script type="text/javascript">
        $(function(){
         $.each( $('a'), function( key, value ) {
            this.href+=location.search;      
        });
         window.onmessage = function(e) {
          var payload = JSON.parse(e.data);
          switch(payload.method) {
            case 'set':
            localStorage.setItem(JSON.stringify(payload.key), JSON.stringify(payload.data));
            alert(payload.key);
            alert(JSON.stringify(payload.data));
            alert(231);

            break;
            case 'get':
            var parent = window.parent;
            var data = localStorage.getItem(payload.key);
            parent.postMessage(data, "*");
            break;
            case 'remove':
            localStorage.removeItem(payload.key);
            break;
        }
    };


});
        
</script>
<style>
div.card.radius-0{
    border-radius: 0rem;
}
h4.card-title{
    font-weight: bold;
    color: #666;
}
p.card-text{
    font-size: 14px;
    color: #666;
    font-weight: bold;
}
.tag-section > td{
    border-top: 1.5px dashed #bbb;
}

.tag-section > td > span{
    font-size: 14px;
}

.tag-section > td > span.active{
    color: #3B5998;
    font-weight: bold;
}

.tag-section > td:first-child{
    vertical-align: middle;
    font-size: 14px;
    color: #787878;
}

.tag-section:first-child > td{
    border-top: 0px dashed #888;
}

.w-15{
    width: 15% !important; 
}

.w-85{
    width: 85% !important; 
}

div.card.image-left{
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
    padding-left: 200px;
}

div.card.image-left h4.card-title{
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 12px;
    height: 1em;
    line-height: 1em;
}

div.card.image-left p.card-text, div.card.image-left p.card-text-main{
    font-size: 12px;
    font-weight: normal;
    height: 3em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

div.card.image-left p.card-text-main::after{
    content: '...';
}

div.card.image-left > img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: auto;
    clip: rect(0px, 200px, 200px, 0px);
    /*max-width: 200px;*/
}

.card-text.active{
    color: #3B5998;
    font-weight: bold;
}

.card-text.link{
    cursor: pointer;
}
.custom-control-description{
    padding: 4px 12px;
    border-radius: 16px
}
.custom-control-input:checked~.custom-control-description {
    color: #fff !important;
    background-color: #3B5998 !important;
    font-weight: bold;
}
.custom-control-input:disabled~.custom-control-description {
    color: #292b2c;
    cursor: inherit;
}
</style>
</head>
<body>
    <% var active_nav="shop" %>
    <% include ../d_partials/nav %>
    <slick settings="slickConfig">
        <a href="http://shop.liunar.com/49">
            <img src="/img/desktop/IO-B.jpg">
        </a>
        <a href="http://shop.liunar.com/6">
            <img src="/img/desktop/北美百强保录-B.jpg">
        </a>
        <a href="http://toutiao.liunar.com/0/36787">    
            <img src="/img/desktop/夏令营节-B.jpg">
        </a>
            <!--<a href="http://shop.liunar.com/37">
                <img src="/img/desktop/美国研究生-B.jpg">
            </a>-->
            <a href="http://shop.liunar.com/72">
                <img src="/img/desktop/纽约军校夏令营-B.jpg">
            </a>
            <!--<a href="http://www.liunar.com/about">
                <img src="/img/desktop/关于我们-B.jpg">
            </a>
            <a href="http://www.liunar.com/feedback">
                <img src="/img/desktop/学生感言-B.jpg">
            </a>
            <a href="http://shop.liunar.com/22">    
                <img src="/img/desktop/童军-B.jpg">
            </a>
            <a href="http://toutiao.liunar.com/0/34677">    
                <img src="/img/desktop/送书-B.jpg">
            </a>-->    
        </slick>
        <div class="container mt-5">
            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <div class="col">
                            <div class="card text-center radius-0" style="border-top: 5px solid #3B5998">
                                <div class="card-block pt-0">
                                    <h4 class="card-title" style="font-size: 18px; line-height: 3em; border-bottom: 1px solid #ddd;">商品类型</h4>
                                    <a href="http://shop.liunar.com/list/0" class="my-1 card-text link border-0 <%= category == 0 ? 'active':'' %>">冬夏令营</a>
                                    <a href="http://shop.liunar.com/list/1" class="d-block my-2 card-text link border-0 <%= category == 1 ? 'active':'' %>">背景提升</a>
                                    <a href="http://shop.liunar.com/list/2" class="d-block my-2 card-text link border-0 <%= category == 2 ? 'active':'' %>">中小学</a>
                                    <a href="http://shop.liunar.com/list/3" class="d-block my-2 card-text link border-0 <%= category == 3 ? 'active':'' %>">特色学院</a>
                                    <a href="http://shop.liunar.com/list/4" class="d-block my-2 card-text link border-0 <%= category == 4 ? 'active':'' %>">知名大学</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9" ng-init="initSchool('<%= categoryStr %>')">
                    <div class="row">
                        <div class="col">
                            <div class="card radius-0" style="border-top: 5px solid #3B5998">
                                <div ng-cloak class="card-block py-0" ng-init="initTag(<%= category %>)">
                                    <div class="row m-3" style="border-bottom: 1px dashed #777;" ng-repeat="(key, value) in ajaxTags">
                                        <div class="col-2">
                                            {{key}}
                                        </div>
                                        <div class="col">
                                            <label class="custom-control custom-radio" ng-repeat="tag in value">
                                                <input type="radio" class="custom-control-input" value="{{tag.tagid == 0 ? '' : tag.tagid}}" ng-model="selected[indexs.indexOf(key)]" ng-click="select('<%= categoryStr %>')">
                                                <span class="custom-control-description">{{tag.tagString}}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <% for(var i = 0; i < products.length; i++){ %>
                    <a class="row mt-3" href="http://shop.liunar.com/<%= products[i].id %>" ng-if="filter == false">
                        <div class="col">
                            <div class="card image-left">
                                <img src="http://cms.liunar.com/uploadimage/products/<%= products[i].promo_thumb %>">
                                <div class="card-block">
                                    <h4 class="card-title">
                                        <%= products[i].title %>
                                    </h4>
                                    <p class="card-text-main">
                                        <%= products[i].description %>
                                    </p>
                                    <p class="card-text">
                                        <span>
                                            <i class="fa fa-clock-o mr-1" style="color: #3B5998"></i>
                                            <%= products[i].duration %>
                                        </span>
                                        <br/>
                                        <span>
                                            <i class="fa fa-map-marker mr-1" style="font-size: 1.5em; color: #3B5998;"></i>
                                            <%= products[i].country %> 夏令营
                                        </span>
                                    </p>
                                    <button class="btn btn-outline-info btn-sm" disabled style="cursor: inherit">
                                        <%= products[i].age_min %>-<%= products[i].age_max %>岁
                                    </button>
                                    <% var tags = products[i].tags.split(",").slice(0,4) %>
                                    <% for(var c = 0; c < tags.length; c++){ %>
                                    <% if(tags[c] != ""){ %>
                                    <button class="btn btn-outline-success btn-sm" disabled style="cursor: inherit">
                                        <%= tags[c] %>
                                    </button>
                                    <% } %>
                                    <% } %>       
                                </div>
                            </div>
                        </div>
                    </a>
                    <% } %>
                    <a class="row mt-3" ng-repeat="product in products" href="http://shop.liunar.com/{{product.id}}">
                        <div class="col">
                            <div class="card image-left">
                                <img ng-src="http://cms.liunar.com/uploadimage/products/{{product.promo_thumb}}">
                                <div class="card-block">
                                    <h4 class="card-title">
                                        {{product.title}}
                                    </h4>
                                    <p class="card-text-main">
                                        {{product.description}}
                                    </p>
                                    <p class="card-text">
                                        <span>
                                            <i class="fa fa-clock-o mr-1" style="color: #3B5998"></i>
                                            {{product.duration}}
                                        </span>
                                        <br/>
                                        <span>
                                            <i class="fa fa-map-marker mr-1" style="font-size: 1.5em; color: #3B5998;"></i>
                                            {{product.country}}
                                        </span>
                                    </p>
                                    <button class="btn btn-outline-info btn-sm" disabled style="cursor: inherit">
                                        {{product.age_min}}-{{product.age_max}}岁
                                    </button> 
                                    <button ng-repeat="tag in product.tags.split(',').slice(0,4)" ng-if="tag != ''"class="btn btn-outline-success btn-sm mx-1" disabled style="cursor: inherit">
                                        {{tag}}
                                    </button>  
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>    
        </div>
        <% include ../d_partials/footer %>
    </body>
    </html>        