<!DOCTYPE html>
<html ng-app='product'>
<head>
  <title><%= prd.title %></title>
  <meta name="description" content="<%= prd.description %>">
  <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
  <meta name="author" content="Canbest">
  <% include ../d_partials/head %>
  <script src="/public/lib/slick/slick.min.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <script src="/public/js/product.js?v=1"></script>
  <style>
    .title-border{
      border-bottom: 3px solid #3b5998;
      padding-bottom: 0.5em;
    }

    .hide-overflow{
      overflow: hidden;
    }
/*    .posi{
      position:fixed;
      margin-top: 0 !important;
      top:0;
    }*/
    .custom-row > p:before{
      font-family: "FontAwesome";
      content: "\f111";
      margin-right: 0.5em;
      font-size: 50%;
      display: inline;
      vertical-align: middle;
    }
    .custom-row > p {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.125rem;
      margin-bottom: 0.15rem;
      margin-top: 0.15rem;
    }
    .tab {
      display: block;
      padding: .5em 1em;
      border: none;
      border-top-right-radius: 0rem;
      border-top-left-radius: 0rem;
    }
    .tab.active{
      background-color: #3b5998;
      color: #fff;
    }
    .text-content img{
      width: 400px;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .emphasize{
      color: #003300;
      font-weight: bold;
    }

  </style>
  <script>
    function openTab(name, tab_index) {
      var x = document.getElementsByClassName("tab-content");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      var y = document.getElementsByClassName("tab");
      for (i = 0; i < y.length; i++) {
        y[i].className = "tab col-2";
      }
      document.getElementById(name).style.display = "block";
      document.getElementById(tab_index).className += " active";
    }

    $(function(){
     openTab('box-static-0', 'tab1');
     var position = $('#fixed-after-scroll').offset().top;
   });

 </script>
</head>
<body ng-controller='desktopOverseas'>
  <% var active_nav="shop" %>
  <% include ../d_partials/nav %>
  <div class="container" ng-init="info.ProductName = '<%= prd.title %>'; info.ProductId = '<%= prd.id %>';">

    <div class="mt-4 row">
      <div class="col">
        <h5 class="title-border"><%= prd.title %></h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <div class="row">
          <div class="col">
            <div style="width: 100%; height: 250px;" class="hide-overflow">
              <img src="<%= img %>" style="margin-left: -25%;"/>
            </div>
          </div>
        </div>    
        <div class="row mt-4">
          <div class="col">
            <% if(prd.pastcase != null) {%>

            <div class="px-4 py-3 bg-f2">
              <div class="card-title-header">
                往期回顾
              </div>
              <% for(var i=0; i<prd.pastcase.length; i++) {%>
              <a class="card" href="<%= 'http://toutiao.liunar.com/'+ 0 +'/'+ prd.pastcase[i].id%>">
                <img class="card-img-top" src="http://cms.liunar.com/uploadimage/articles/<%= prd.pastcase[i].promo_thumb %>" style="width: 100%" alt="<%= prd.pastcase[i].title %>">
                <div class="card-block">
                  <p class="card-text"><%= prd.pastcase[i].title %></p>
                </div>
              </a>
              <% } %>
            </div>    
            <% } %>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="row">
          <div class="col-5">
            <p class="m-0"> <span class="emphasize">留学地点</span> : <%= prd.country %></p>
            <%if (prd.duration) { %>
            <span class="emphasize">留学时长</span>：
            <span ><%= prd.duration %></span>
            <% }　%>
            <p class="m-0">
              <span class="emphasize">留学特色：</span>
              <% var tags = prd.tags.split(",").splice(0,3); %>
              <% for(var i = 0; i < tags.length; i++){ %>
              <% if(tags[i] !== ""){ %>
              <span class="text-warning"><%= tags[i] %></span>
              <% } %>
              <% } %>
            </p>
          </div>
          <div class="col-7">
          <div class="row">
              <span class="emphasize">申请要求</span> : <%=prd.age_min %> - <%=prd.age_max %> 岁<br>
               <span style="padding-left: 30px;"><%- prd.first_tab %></span>
              <div class="col pl-0">
                <% if(prd.period){ %>
                <span><%= prd.period %></span>
                <% } %>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row" style="background-color:#e9e9e9; margin-left:0px; margin-top: 10px; ; padding-top:10px;  border:1px #dadada solid;">
          <div class="col-8">
            <div class="row custom-row" style=" border-right: 2px dashed #d8d8d8 ;margin-bottom: 10px;">
              <h4 style="min-width: 100%;margin-left: 20px;">项目特色</h4>
              <%- prd.pre_tab %>
            </div>
          </div>
          <div class="col-4">
            <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
            <% if(prd.msrp){%>
            <p>
              <span style="color:#e5611a; font-size: 1.7em;">
                $<%= prd.msrp %>
              </span>
              <%= cur_map[prd.currency] %>起
            </p>      
            <% } %>
            <button ng-click="openForm()" class="btn btn-lg btn-block" style="color:#fff; background-color: #3b5998">
              免费预订
            </button>

          </div>
        </div>

        <div class="text-content">
          <div class="row sticky-top" style="margin: 0;padding:0; margin-bottom:10px; margin-top:20px; background-color:#e9e9e9; border-bottom: 2px #3b5998 solid; top:40px;">
            <div style="text-align: center" class="tab col-2 text-center" id="tab1" onclick="openTab('box-static-0',this.id)">项目介绍</div>
            <div style="text-align: center" class="tab col-2 text-center" id="tab2" onclick="openTab('box-static-1',this.id)">材料清单</div>
            <!--             <div style="text-align: center" class="tab col-2 text-center" id="tab3" onclick="openTab('box-static-2',this.id)">申请流程</div> -->
          </div>
          <div id="box-static-0" class="tab-content">
            <% if(prd.body_tab1 != null) {%>
            <%- prd.body_tab1 %>
            <% } else{ %>
            <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
            <% } %>
          </div>
          <div id="box-static-1" style="display: none;" class="tab-content">
            <% if(prd.body_tab2) {%>
            <%- prd.body_tab2 %>
            <% } else{ %>
            <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
            <% } %>
          </div>
         <!--  <div id="box-static-2" style="display: none;" class="tab-content">
            <% if(prd.body_tab3 != null) {%>
            <%- prd.body_tab3 %>
            <% } else{ %>
            <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
            <% } %>
          </div> -->
        </div>

      </div>
    </div>   
  </div>
  <div class="modal fade" id="orderForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="font-size: 16px;"><%= prd.title %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="font-size: 14px;"><%= prd.description %></p>
          <div class="text-center">

          </div>
          <div class="mt-3 p-3">
            <div class="form-group row" ng-class="{'has-danger': nameFail == true}">
              <label class="col-3 col-form-label">姓名：</label>
              <div class="col">
                <input ng-model="info.chineseName" type="text" class="form-control"  ng-class="{'form-control-danger': nameFail == true}" placeholder="（必填）">
                <div class="form-control-feedback" ng-if="nameFail == true">{{errName}}</div>
              </div>
            </div>
            <div class="form-group row" ng-class="{'has-danger': phoneFail == true}">
              <label class="col-3 col-form-label ">电话：</label>
              <div class="col">
                <input ng-model="info.mobile" ng-class="{'form-control-danger': phoneFail == true}" type="text" class="form-control" placeholder="（必填）">
                <div class="form-control-feedback" ng-if="phoneFail == true">{{errPhone}}</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-3 col-form-label">微信：</label>
              <div class="col">
                <input type="text" class="form-control">
                <small class="form-text text-muted text-warning">
                  请填入您的微信如果您希望我们透过微信联系您
                </small>
              </div>
            </div>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" ng-click="orderProduct()">免费预订</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="successMsg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeSuccess()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-success text-center">恭喜您，成功预定！</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="errMsg">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeErr()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-danger text-center">出错了，请重试！</p>
        </div>
      </div>
    </div>
  </div>
  <% include ../d_partials/footer %>
  <style>
    .bdshare-slide-bottom {
      display: none;
      line-height: 25px;
      font-size: 12px;
      text-align: right;
      clear: both;
      height: 30px;
    }

    .bdshare-slide-style-l6 .bdshare-slide-button {
      /* background: url(../img/share/l6.gif?v=8759da8b.gif) no-repeat 0 0; */
      background: #3B5998;
      /* width: 230px; */
      color: #fff;
      right: -48px;
      text-align: center;
      display: inline-block;
      vertical-align: middle;
    }

    .bdshare-slide-style-l6 .bdshare-slide-button:after{
      display: inline;
      vertical-align: middle;
      content: "分享"; 
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;

    }
    .bdshare-slide-button-box .bdshare-slide-button {
      width: 48px;
      height: 88px;
      line-height: 42px;
      display: block;
      position: absolute;
      top: 58px;
    }
  </style>
  <script>
    window._bd_share_config = { 
      "common": { 
        "bdSnsKey": {}, 
        "bdText": "", 
        "bdMini": "1", 
        "bdMiniList": [
        "mshare", 
        "qzone", 
        "tsina", 
        "weixin", 
        "renren", 
        "tqq", 
        "tieba", 
        "bdhome", 
        "sqq", 
        "mail", 
        "ty", 
        "fbook", 
        "twi", 
                //"linkedin", 
                "copy"
                ], 
                "bdPic": "", 
                "bdStyle": "1", 
                "bdSize": "24" 
              }, 
              "slide": { 
                "type": "slide", 
                "bdImg": "6", 
                "bdPos": "left", 
                "bdTop": "130" 
              }, 
        /*"image": { 
            "viewList": [
                "mshare", 
                "tsina", 
                "weixin", 
                "qzone", 
                "tqq", 
                "renren", 
                "tieba", 
                "ty", 
                "fbook", 
                "twi"
            ], 
            "viewText": "分享到：", 
            "viewSize": "24" 
          },*/ 
          "selectShare": { 
            "bdContainerClass": null, 
            "bdSelectMiniList": [
            "mshare", 
            "tsina", 
            "weixin", 
            "qzone", 
            "tqq", 
            "renren",
            "tieba", 
            "ty", 
            "fbook", 
            "twi"
            ] 
          } 
        }; 
        with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];
      </script>
    </body>
    </html>    