<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/lib/dripicons/webfont.css">
  <link rel="stylesheet" href="/public/css/product.css?t=<%= Math.random() %>">
  <link rel="stylesheet" href="/public/css/user_center.css?bc=b"/>
  <link rel="stylesheet" href="/public/css/global.css?bc=b"/>
  <link rel="stylesheet" href="/public/css/article.css?bc=b"/>

  <% include ../partials/head %>
  <script src="/public/lib/sweet-alert2.min.js"></script>
  <link rel="stylesheet" href="/public/lib/sweet-alert2.min.css">
  <script src="/public/lib/slick/slick.min.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <script src="/public/js/product.js?v=1a2"></script>
  <style type="text/css">
    .right {
      float: right;
      width: 100%;
      text-align: right;
    }
    .left {
      float: left;
      width: 100%;
      text-align: left;
    }
    img {
      width: 100%;
    }
    .title {
      display: block;
      font-size: 1.2em;
      line-height: 1.6em;
    }
    .bottom {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .avatar{
      border-radius: 50%;
      width: 25%;
    }
    .box{
      text-align: center;
      padding: 2%;
      border-bottom: 20px #f0f0f0 solid;
    }
    .head p{
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .thumb_left{
      width: 40%;
      height: auto;
    }
    .content_right{
      text-align: left;
      padding:0 0 0 3%;
      position: relative;
      width: 90%;
    }
    .name,.title,.buyCount{
      font-size: 1.3em;
      font-weight: 500;
    }
    .number{
      color: #777777;
      font-size: 1.1em;
      font-weight: 600;
    }
    .small-text{
      line-height: 28px;
      font-size: 14px;
    }
  </style>
  <script type="text/javascript">

    var data = {};
    if(window.referUId){
      data.liunarUId = window.referUId;
    }
    var test = function (joiningGroup){

      swal({
        title: '请输入电话号码',
        html:
        '<div class="form-group"><input id="number"  placeholder="13882331928" class="swal2-input">' + '<button id="getText" class="btn btn-xs">短信验证</button></div>'+
        '<div class="form-group"><input placeholder="32512" id="confirmcode" class="swal2-input">'+ '<button id="confirmText" class="btn btn-xs">验证码认证</button></div>' +
        '<p class="sendCallbackMsg"></p>',
        focusConfirm: false,
        showCancelButton: true,
        showConfirmButton: false
      }).then(function (result) {
        swal(JSON.stringify(result))
      }).catch(swal.noop);

      $('#getText').click(function(){
        var number = $('#number').val();
        if(isNaN(parseInt(number))){
          $('.sendCallbackMsg').html('请确认电话格式正确');
        }else{
          $('.sendCallbackMsg').html('验证码已发送到您的手机，请查看并认证');
          data.Mobile = number;
          var url = "/web/product/saveOrder/<%= prd.id %>/"+data.Mobile;
          if (joiningGroup) {
            url += "&joiningGroup=<%= prd.group_id %>";
          }
          $.get( url , function( data ) {
            console.log('o_id:', data);
            $.get("http://139.199.208.178/sms/"+data.success, function(data){
              console.log('confirmation:', res);

            })
          });
        }
      });
      $('#confirmcode').click(function(){
        res.success = 1;
        //check db; if code == input
           //upon confirmation
           if(res.success = 1){
            swal('success');
            window.location.href = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxca0568e7f29d0e45&redirect_uri=http%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpayproduct%3Ftype%3DDP%26o_id%3D" + data.success + "%26p_id%3D<%= prd.id %>&response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect";
          }else{
            $('.sendCallbackMsg').html('验证码错误, 请重新输入');
          }       
        })
    }

  </script>

</head>
<body ng-app="product" ng-controller="gaopinController">
  <input type="text" id="coverSrc" value="http://cms.liunar.com/uploadimage/products/<%= prd.promo_thumb %>" style="display: none">
  <span id="productTitle" style="display: none"><%= prd.title %></span> 
  <p id="description" style="display: none"><%= prd.description %></p>
  <div class="view-container">
    <div class="pane">
     <div class="box head">
      <img src="<%= jointUsers[0].avatar %>" class="avatar" style="border: 2px solid #fff; margin-top:15px; ">
      <p class="name">
       团长: <%= jointUsers[0].fullname || jointUsers[0].nickname %>
     </p>
     <p class="number">
      <% if(prd.spaces_left > 0 ){ %>
      <%= prd.currentCount %>人已经参团，仅剩<%= prd.spaces_left %>位, 赶快来一起吧!
      <% }else{ %>
      此团已满，请另开团!
      <% } %>
    </p>
  </div>
  <div class="box">
    <div class="row">
     <div class="thumb_left">
       <img src="http://cms.liunar.com/uploadimage/products/<%= prd.promo_thumb %>">
     </div>
     <div class="content_right">
       <span class="title">
         <%= prd.title %>
       </span>
       <div class="row bottom">
        <div class="left" style="color: #f40000;">￥<%= prd.msrp %> &nbsp <span style="color:#777777;"><%= prd.group_size %>人团 </span></div> 

        <div class="right " style="color:#777777;"><%= jointUsers[0].totalbought %>已购买!</div>
      </div>

    </div>
  </div>
  <div class="row" style="border-top: 1px #cfcfcf dashed; position: relative;">
    <div class="left buyCount">
      <% for(var i=0; i< jointUsers.length; i++) {%>
      <img src="<%= jointUsers[i].avatar%>" class="avatar" style="border: 2px solid #fff">
      <% } %>
    </div>
    <div class="right buyCount" style="line-height: 300%;font-size: 1.13em;color: #777777;"><%= prd.currentCount %>人已经参团</div>
  </div>
</div>


<div class="box">
  <p class="title">最新参团</p>

  <% for(var i=0; i< jointUsers.length; i++) {%>
  <div class="row" style="border-top: 1px #cfcfcf dashed;">
    <img src="<%= jointUsers[i].avatar%>" class="avatar-list-item" style="border: 2px solid #fff">
    <div class="name small-text" style="width: 50%; text-align: left;"> <%= jointUsers[i].fullname %></div>
    <% if(i == 0){ %>
    <div class="small-text" style="text-align: right; width: 100%;">开团: <%= jointUsers[i].created_time.toLocaleDateString() + ' : ' + jointUsers[i].created_time.toLocaleTimeString() %></div>
    <% }else{ %>
    <div class="small-text" style="text-align: right;width: 100%;">加团: <%= jointUsers[i].created_time.toLocaleDateString() + ' : ' + jointUsers[i].created_time.toLocaleTimeString() %></div>
    <% } %>
  </div>
  <% } %>
</div>


</div>
<div class="footerBar shop row" style="border-top: 2px #f0f0f0 solid; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px; background-color: #fff;">
  <div class="col">
    <div class="row no-padding">
      <a class="col no-padding color-666 t-a-c" href="http://shop.liunar.com">
        <i class="dripicons-home d-block" style="font-size: 1.2rem;"></i>
        <span class="d-block" style="font-size: 0.85rem;">首页</span>
      </a>
      <a onclick="test()"; class="col no-padding color-666 t-a-c">
        <i onclick="test()"; class="dripicons-conversation d-block" style="font-size: 1.2rem;"></i>
        <span onclick="test()"; class="d-block font-85" style="font-size: 0.85rem;">开个新团</span>
      </a>
    </div>
    :::
    2
  </div>
  <% if(prd.spaces_left > 0 ){ %>
  <div id="order" onclick="test(true)"; class="col nongroup" style="font-size: 1.2rem; text-align: center;line-height: 50px; background-color: #ff6f21; padding: 0px 0px 0px 0px;color: white;">立刻参团</div>
</div>
<% } %>
</div>

</body>
</html>

