<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>  
  <link rel="stylesheet" href="/public/lib/dripicons/webfont.css">
  <script src="/public/lib/sweet-alert2.min.js"></script>
  <link rel="stylesheet" href="/public/lib/sweet-alert2.min.css">
  <script src="/public/lib/slick/slick.min.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <script src="/public/js/product.js?v=1a2"></script>

  <script>

    var data = {};
    if(window.referUId){
      data.liunarUId = window.referUId;
    }
    var test = function (ifGroup = false){

      swal({
        title: '请输入电话号码',
        html:
        '<div class="form-group"><input id="number"  placeholder="13882331928" class="swal2-input">' + '<button id="getText" class="btn btn-xs">短信验证</button></div>'+
        '<div class="form-group"><input placeholder="32512" id="confirmcode" class="swal2-input">'+ '<button id="confirmText" class="btn btn-xs">验证码认证</button></div>' +
        '<p class="sendCallbackMsg"></p>',
        focusConfirm: false,
        showCancelButton: true,
        showConfirmButton: false
      }).then(function (result) {
        swal(JSON.stringify(result))
      }).catch(swal.noop);

      $('#getText').click(function(){
        var number = $('#number').val();

        if(isNaN(parseInt(number))){
          $('.sendCallbackMsg').html('请确认电话格式正确');
        }else{
          data.Mobile = number;
          var url = "/saveOrder/<%= group_product.productId %>/"+data.Mobile; 
          if(ifGroup){
            url+= '?isGP=true';
          }
          $.get( url, function( result ) { //saveOrder writes into MemberOrder, then writes into verification_order, then requests text msg
            console.log(result);
            var sendResult = JSON.parse(result.msg);
            data.verificationId = result.v_id;
            data.mo_id = result.mo_id;
            console.log(sendResult, data);
            if(sendResult.state == 0){
             $('.sendCallbackMsg').html('验证码已发送到您的手机，请查看并认证');
           }else{
            $('.sendCallbackMsg').html('发送失败：'+sendResult.message);
          }
        });
        }
      });

      $('#confirmText').click(function(){
        var code = $('#confirmcode').val(); //user input code
        var url = "/textConfirm/"+code+'/'+data.verificationId;

        $.get( url, function( result ) {
          result.success = 1;
          if(result.success == 1){
            swal('认证成功！');
            var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxca0568e7f29d0e45&redirect_uri=http%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpayproduct%3Ftype%3DDP%26o_id%3D" + data.mo_id + "%26p_id%3D<%= group_product.productId %>&fromGaoPin=true&response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect";
            window.location.href = url;
          }else{
            swal(
              '验证码错误',
              result.message,
              'error'
              );
          }
        });  
      })
    }

  </script>
  <style type="text/css">
  .form-group{
    text-align: left;
  }
  .btn{
    padding:2%;
    margin: 2%;
  }
  .box{
    text-align: center;
    padding: 2%;
    border-bottom: 20px #f0f0f0 solid;
  }
  .right {
    float: right;
    width: 100%;
    text-align: right;
  }
  .left {
    float: left;
    width: 100%;
    text-align: left;
    text-overflow: visible;
  }
  .title {
    display: block;
    font-size: 1.3em;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5px; 
  }
  .description,.date{
    color: #777777;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .progress-bar{
    background-color: #777777;
  }
  .progress{
   background-color: blue;
 }
 .border-dashed{
  margin-top: 13px;
  border-top: 1px #cfcfcf dashed;
}
.avatar{
  border-radius: 50%;
  width: 15%;
}
.col-25{
  padding:5px;
}
</style>
</head>
<body ng-app="product" ng-controller="gaopinController">
  <input type="text" id="coverSrc" value="http://cms.liunar.com/uploadimage/products/<%= group_product.promo_thumb %>" style="display: none">
  <span id="productTitle" style="display: none"><%= group_product.title %></span> 
  <p id="description" style="display: none"><%= group_product.description %></p>

  <div class="view-container">
   <div class="pane">
     <img  style="width: 100%; height: auto;" src="http://cms.liunar.com/uploadimage/products/<%= group_product.promo_thumb %> ">
     <div class="box">
      <div class="title" style="text-align: left;">
        <%= group_product.title %>
      </div>
      <div class="description" style="text-align: left;">
        <%= group_product.description %>
      </div>
      <div class="row" >
        <span style="color: #f40000;font-size:1.3em;">￥<%= group_product.msrp %> &nbsp</span> <span style="color:#777777;">&nbsp起</span>
        <% var from=new Date(group_product.start_date); %>
        <% var to=new Date(group_product.end_date); %>
        <span class="right date"> <i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp <%= (from.getMonth()+1)+'月'+(from.getDate()+1)+'日' %>&nbsp-&nbsp<%= (to.getMonth()+1)+'月'+(to.getDate()+1)+'日' %> </span>
      </div>
      <div style="text-align: left; color:">团购进度</div>
      <div class="progress-bar ">
        <% var progress= (new Date()-from)*100/(to -from)  %>
        <div class="progress" style="height:24px;width:<%= progress %>%;"></div>
      </div>
      <div class="border-dashed"></div>
      <div class="row">
        <div class="left" style="width: 100%;">
          <% for(var i=0; i< group_product.avatars.length; i++) {%>
          <img src="<%= group_product.avatars[i].avatar%>" class="avatar" style="border: 2px solid #fff">
          <% } %>
        </div>
        <div class="right" style="line-height: 200%;width:50%;font-size: 1.1em;color: #777777;"><%= group_product.totalbought %>人已经购买</div>
      </div>
    </div>

    <div class="footerBar shop row" style="border-top: 2px #f0f0f0 solid; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px; background-color: #fff;">
      <div class="col no-padding">
        <div class="row no-padding">
          <a class="col-25 color-666 t-a-c" href="http://shop.liunar.com">
            <i class="dripicons-home d-block" style="font-size: 1.2rem;"></i>
            <span class="d-block" style="font-size: 0.85rem;">首页</span>
          </a>
          <a onclick="test()" class="col-25  color-666 t-a-c" href="http://shop.liunar.com">
            <span onclick="test()" class="d-block" style="font-size: 0.85rem; color:#f40000;">￥<%= group_product.msrp %></span>
            <span onclick="test()" class="d-block" style="font-size: 0.85rem; color:#f40000;">单独购</span>
          </a>
          <a onclick="test(true)";  class="col color-666 t-a-c" style="background-color: #ff7800; line-height: 50px;">
            <span onclick="test(true)"; class="d-block font-85" style="font-size: 1rem; line-height: 250%;">3人团购 ￥<%= group_product.msrp %></span>
          </a>
        </div>
      </div>
    </div>


<!-- 
<footer class="cl-fix highfooter">
    <a href="/" class="smallbtncontainer tbtncontainer_gift">
        <div class="btn"><span class="backtohome">首页</span></div>
    </a>
    <div class="tbtncontainer tbtncontainer_gift">
        <div  onclick="test()"; class="btn simplebuybtn">
            <div onclick="test()"; class="price">￥<%= group_product.msrp %></div>
            <div onclick="test()"; class="desc">单独购</div>
        </div>
    </div>
    <div class="tbtncontainer tbtncontainer_gift">
        <div onclick="test(true)"; class="btn tuanbuybtn">
            <div class="price" onclick="test(true)";>￥<%= group_product.msrp %></div>
            <div class="desc" onclick="test(true)";>3人团</div>
        </div>
    </div>
</footer>
</div>
</div>
-->
<div class="pub-loading" style="display: none;"><div class="pic-normal-loading"></div></div><div class="pub-loading-mask" style="display: none;">
</div>
</body>
</html>