<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/public/lib/dripicons/webfont.css">
    <link rel="stylesheet" href="/public/css/product.css?t=<%= Math.random() %>">
    <link rel="stylesheet" href="/public/css/user_center.css?bc=b"/>
    <link rel="stylesheet" href="/public/css/global.css?bc=b"/>
    <link rel="stylesheet" href="/public/css/article.css?bc=b"/>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <% include ../partials/head %>
    <script src="/public/js/pay.js?dc=s1"></script>
    <style type="text/css">

    .right {
        float: right;
        width: 100%;
        text-align: right;
    }
    .left {
        float: left;
        width: 100%;
        text-align: left;
    }
    img {
        width: 100%;
    }
    .title {
        display: block;
        font-size: 1.2em;
        line-height: 1.6em;
    }
    .bottom {
        position: absolute;
        bottom: 50px;
    }
    .avatar{
        border-radius: 50%;
        width: 25%;
    }
    .box{
        text-align: center;
        padding: 2%;
        border-bottom: 20px #f0f0f0 solid;
    }
    .head p{
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .thumb_left{
        width: 40%;
        height: auto;
    }
    .content_right{
        text-align: left;
        padding:0 3%;
        position: relative;
        width: 90%;
    }
    .name,.title,.buyCount{
        font-size: 1.3em;
        font-weight: 500;
    }
    .number{
        color: #777777;
        font-size: 1.1em;
        font-weight: 600;
    }
</style>


</head>
<body ng-app="pay">
    <div class="view-container" ng-controller="payController">
        <div class="pane">
            <div class="box head">
                <img src="<%= prd.avatar %>" class="avatar" style="border: 2px solid #fff; margin-top:15px; ">
                <p class="name">
                    联系人: <%= prd.fullname || prd.nickname %> 
                </p>
                <p class="number">
                    手机号： <%= prd.phone %>
                </p>
            </div>

            <div class="box">
                <div class="row">
                   <div class="thumb_left">
                     <img src="http://cms.liunar.com/uploadimage/products/<%= prd.promo_thumb %>">
                 </div>
                 <div class="content_right">
                     <span class="title">
                         <%= prd.title %>
                     </span>
                     <span style="position:absolute;bottom:5px;margin-right: 10px; font-size:1.1em; ">
                        <span style="color: #f40000;">￥<%= prd.msrp %> &nbsp  </span> 
                        <span style="color:#777777;"><%= prd.group_size %>人团</span>
                    </span>
                </div>
            </div>
            <div class="row" style="border-top: 1px #cfcfcf dashed; position: relative;">
                <p class="left buyCount">购买数量</p>
                <p class="right buyCount">1</p>
            </div>
        </div>

        <div class="pub-loading" style="display: none;">
            <div class="pic-normal-loading"></div>
        </div>

        <div class="footerBar shop row"
        style="border-top: 2px #f0f0f0 solid; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px; background-color: #fff;">
        <div id="order" class="col nongroup" ng-click="pay(<%= timestamp %>, '<%= nonceStr %>', '<%= package %>', '<%= signType %>', '<%= paySign %>','http://www.liunar.com/testpay/paycallback?o_id=<%= o_id%>')" style="font-size: 1.2rem; font-weight: bolder; text-align: center;line-height: 50px; background-color: #36b136; padding: 0px 0px 0px 0px;color: white;">
            确认支付: ￥<%= prd.msrp %>
        </div>
    </div>

</div>
</body>
</html>