<html>
<head>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <script src="/public/lib/angular/angular.min.js"></script>
  <script src="/public/lib/angular-cookies.js"></script>
  <%- include ../partials/ahaschool.ejs %>

  <script src="/public/lib/jquery-3.1.1.js"></script>
  <script src="/public/js/timer.js"></script>

  <script src="/public/js/app.js?ac=a"></script>
  <script src="/public/js/directives.js?vg=2"></script>
  <script src="/public/js/factories.js?v=car19g23"></script>
  <script src="/public/lib/angular-qr/lib/qrcode.js"></script>
  <script src="/public/lib/angular-qr/src/angular-qr.js"></script>
  <script src="/public/js/pay.js?dc=1pa2sq2s"></script>
  <link href="/public/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

  <avalon ms-skip="1" class="avalonHide">


   <style id="avalonStyle">.avalonHide{ display: none!important }</style>
   <img ms-if="pageData.data.post_user.avatar==null || !pageData.data.post_user.avatar" src="/statics/img/default_avatar.png" class="avatar">
   <div class="tips" ms-if="pageData.data.category==1"><img class="hot" src="/statics/img/groupbuy/hot.png">这个活动超级棒！推荐给你</div>
   <div class="count" ms-if="product.data.category==1">
    <span>起始价：</span><span class="high_price">￥{{pageData.data.high_price}}</span>
    <span class="returnAmount">最高可优惠￥{{getMaxReturnAmount()}}</span>
  </div>
  <span class="high_price" ms-if="product.data.category==2">{{formatPrice(product.data)}}</span><span class="oldprice" ms-if="product.data.is_special==1">￥{{product.data.act_price}}</span>
  <div class="groupbuyinfo flexcontainer cl-fix" ms-if="pageData.data.category==1">
    <div class="c35">
     <div class="icon"><img src="/statics/img/users.png"></div>
     <div class="tips">已参团</div>
     <div><span class="c">{{applyusers.data.length}}</span>人</div>
   </div>
   <div class="c30">
     <div class="icon"><img src="/statics/img/money.png"></div>
     <div class="tips">每人优惠</div>
     <div><span class="c">￥{{getCurrentPerReturnAmount()}}</span></div>
   </div>
   <div class="c35" ms-if="pageData.data.accomplish_status==2">
     <div class="icon"><img src="/statics/img/timer.png"></div>
     <div class="tips">剩余时间</div>
     <div><span class="c time">210:46:17</span></div>
   </div>
 </div>
 <img ms-if="item.avatar==null || !item.avatar" src="/statics/img/default_avatar.png">
 <div class="avatars flexcontainer" ms-if="applyusers.data.length>10">
  <span ms-repeat-item="applyusers.data" class="avatar" ms-visible="$index<=7">
    <img ms-if="item.avatar!=null &amp;&amp; item.avatar" ms-attr-src="{{item.avatar}}?imageView2/1/w/150/h/150/interlace/1" onerror="this.src='/statics/img/default_avatar.png';this.onerror=null;">
    <img ms-if="item.avatar==null || !item.avatar" src="/statics/img/default_avatar.png">
    <img ms-if="item.apply_mode==1" class="avatartuanzhang" src="/statics/img/tuanzhang.png">
  </span>
  <span class="avatar"><img src="/statics/img/elc.png"></span>
  <span class="avatar">
    <img ms-if="applyusers.data[applyusers.data.length-1].avatar!=null &amp;&amp; applyusers.data[applyusers.data.length-1].avatar" ms-attr-src="{{applyusers.data[applyusers.data.length-1].avatar}}?imageView2/1/w/150/h/150/interlace/1" onerror="this.src='/statics/img/default_avatar.png';this.onerror=null;">
    <img ms-if="applyusers.data[applyusers.data.length-1].avatar==null || !applyusers.data[applyusers.data.length-1].avatar" src="/statics/img/default_avatar.png">
    <img ms-if="applyusers.data[applyusers.data.length-1].apply_mode==1" class="avatartuanzhang" src="/statics/img/tuanzhang.png">
  </span>
</div>
<div class="productdetail_lable" ms-if="pageData.data.order_count>pageData.data.group_min_num">最新参团</div>
<div class="applyusers" ms-visible="expansion" ms-if="pageData.data.order_count>pageData.data.group_min_num">
  <div ms-repeat-item="top5applyusers" class="applyuser  cl-fix">
   <span class="avatar">
     <img ms-if="item.avatar!=null &amp;&amp; item.avatar" ms-attr-src="{{item.avatar}}?imageView2/1/w/150/h/150/interlace/1" onerror="this.src='/statics/img/default_avatar.png';this.onerror=null;">
     <img ms-if="item.avatar==null || !item.avatar" src="/statics/img/default_avatar.png">
   </span>
   <span class="name"><span class="namefont">{{item.name}}</span><img ms-if="item.apply_mode==1" class="tuanzhang" src="/statics/img/tuanzhang.png"></span>
   <span class="groupbuytime">{{item.created_at}}{{item.apply_mode==1?'开团':'参团'}}</span>
 </div>
</div>
<img ms-if="item.avatar==null || !item.avatar" src="/statics/img/default_avatar.png"><iframe frameborder="0" width="100%" id="iframe_video" ms-if="product.data.video_url &amp;&amp; decodeURIComponent(product.data.video_url).indexOf('v.qq.com/iframe/player.html')>-1" ms-src="decodeURIComponent(product.data.video_url)" allowfullscreen="" style="height: 202.5px;"></iframe>
<div class="productDetail" ms-if="(!product.data.content_type || product.data.content_type==1) &amp;&amp; product.data.contents.length>0" ms-each-item="product.data.contents" data-each-rendered="loadContented">
  <img class="lazy" ms-repeat-subitem="item.pics" ms-attr-data-original="{{subitem.pic_url+'?imageView2/2/w/750/interlace/1'}}">
  <p ms-class="pcontent{{$index}} bhheight" ms-if="item.content">{{item.content|html}}</p>
</div>
<div class="bigbtncontainer" ms-if="product.data.sku==8">
  <div class="btn " ms-click="toBuy">{{getButtonText()}}</div>
</div>
<footer class="cl-fix" ms-if="pageData.data.participate_flag==2">
  <div class="smallbtncontainer" ms-if="pageData.data.accomplish_status==2">
   <div class="btn" ms-click="toIndexOrStartGroupbuy">{{getIndexAndStartGroupBuyTest()}}</div>
 </div>
 <div class="bigbtncontainer" ms-if="pageData.data.accomplish_status==2">
   <div class="btn saleout">{{product.data.act_status==5?"活动结束":((product.data.act_status==1 &amp;&amp; product.data.status==1)?"报名即将开始": ( product.data.status==4?"已售罄":"拼团结束"
    ))}}
  </div>
</div>
<div class="isubmit" ms-click="toStartGroupbuy" ms-if="pageData.data.accomplish_status!=2">我也开个团</div>
</footer>
</avalon>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="format-detection" content="telephone=no, email=no">

<title><%= prd.title %></title>
<style>
.status {
 height: 3.42rem;
 line-height: 3.42rem;
 color: #ff5b5b;
 text-align: center;
 font-size: 1.28rem;
}
.info {
 background-color: #fff;
 padding: 1.28rem;
 position: relative;
 height: 5.81rem;
 margin-bottom: 0.6rem;
}
.info .avatar {
 width: 5.81rem;
 border-radius: 5rem;
 position: absolute;
}
.info .userinfo {
 padding-left: 7.09rem;
 height: 5.81rem;
 position: relative;
}
.info .userinfo .name {
 height: 2rem;
 color: #272421;
 margin-bottom: 0.5rem;
 font-size: 1.37rem;
 font-weight: bold;
}
.info .userinfo .name .n {
 font-size: 1.37rem;
 font-weight: bold;
 width: 12rem;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 display: inline-block;
 vertical-align: bottom;
}
@media screen and (min-width: 375px) {
 .info .userinfo .name .n {
   font-size: 1.37rem;
   font-weight: bold;
   width: 15rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
 }
}
.info .userinfo .tips {
 height: 1.5rem;
 line-height: 1.5rem;
 font-size: 1rem;
 color: #7b5525;
}
.info .userinfo .tips .hot {
 width: 0.63rem;
 position: relative;
 top: -2px;
 margin-right: 0.45rem;
}
.info .userinfo .tips.status {
 background: #efefef;
 display: inline-block;
 padding: 0.2rem 1rem;
 border-radius: 1.5rem;
 color: #272421;
 margin-top: 0.3rem;
}
.info .userinfo .tips .c {
 color: #ff5b5b;
}
.item .info {
 padding-bottom: 1.28rem;
 border-bottom: 1px solid #e0e0e0;
}
.pinfo {
 padding: 1.28rem;
 background-color: #fff;
 border-bottom: 1px solid #e0e0e0;
}
.pinfo .thumb {
 width: 8rem;
 float: left;
}
.pinfo .productinfo {
 padding-left: 8.85rem;
 height: 8rem;
 position: relative;
 right: 0;
}
.pinfo .productinfo .title {
 font-size: 1.28rem;
 overflow: hidden;
 text-overflow: ellipsis;
 display: -webkit-box;
 -webkit-line-clamp: 3;
 -webkit-box-orient: vertical;
 word-break: break-word;
}
.pinfo .productinfo .count {
 position: absolute;
 bottom: 0;
 right: 0;
 left: 8.85rem;
 font-size: 1.2rem;
 line-height: 1.5rem;
}
.pinfo .productinfo .count .sale_count {
 color: #999;
 font-size: 1rem;
 position: absolute;
 right: 0;
}
.pinfo .productinfo .count .high_price {
 color: #ff5b5b;
}
.pinfo .productinfo .count .r {
 position: absolute;
 right: 0;
}
.pinfo .productinfo .returnAmount {
 background-color: #ff5b5b;
 color: #fff;
 font-size: 0.94rem;
 display: inline-block;
 padding: 0 2px;
 position: relative;
 top: -2px;
}
.groupbuyinfo {
 background-color: #fff;
 box-sizing: border-box;
 text-align: center;
 padding-bottom: 1.28rem;
 padding-top: 1.28rem;
}
.flexcontainer {
 display: -webkit-box;
 display: -moz-box;
 display: -moz-flex;
 display: -ms-flexbox;
 display: flex;
}
.groupbuyinfo .c35 {
         /*float: left;
         width: 35%;*/
         flex: 1;
         -webkit-flex: 1;
         -webkit-box-flex: 1;
         box-sizing: border-box;
       }
       .groupbuyinfo .c30 {
         /*float: left;
         width: 30%;*/
         flex: 1;
         -webkit-flex: 1;
         -webkit-box-flex: 1;
         box-sizing: border-box;
       }
       .groupbuyinfo .icon {
         width: 4.36rem;
         margin: 0 auto;
         margin-bottom: 1.28rem;
       }
       .groupbuyinfo .tips {
         color: #999;
         font-size: 1.11rem;
       }
       .groupbuyinfo .c {
         color: #ff5b5b;
         font-size: 1.54rem;
       }
       .product-rule {
         padding: 1.282rem;
         background-color: #fef6f6;
       }
       .product-rule .rule-title {
         font-size: 1.37rem;
         line-height: 1.5rem;
         font-style: italic;
         font-weight: bold;
         color: #ff5b5b;
         margin-bottom: 0.5rem;
       }
       .product-rule .rule-desc {
         font-size: 1.11rem;
         color: #999;
       }
       .productdetail_lable {
         padding: 1.2rem 0 0.6rem 1.28rem;
         color: #999;
       }
       .productDetail {
         padding: 1.282rem;
         margin-bottom: 5rem;
         background: #fff;
       }
       footer {
         position: fixed;
         bottom: 0;
         background-color: #fff;
         width: 100%;
         height: 4.7rem;
         padding: 0.64rem 0.68rem;
         border-top: 1px solid #ccc;
         box-sizing: border-box;
       }
       footer .isubmit {
         text-align: center;
         background-color: #ffdd00;
         height: 3.4188rem;
         line-height: 3.4188rem;
         font-size: 1.27rem;
         border: 1px solid #ccc;
         border-radius: 5px;
       }
       footer .smallbtncontainer {
         float: left;
         width: 50%;
         box-sizing: border-box;
       }
       footer .smallbtncontainer .btn {
         margin-right: 0.68rem;
         border: 1px solid #ccc;
         height: 3.4188rem;
         line-height: 3.4188rem;
         text-align: center;
         border-radius: 5px;
         box-sizing: border-box;
       }
       footer .bigbtncontainer {
         float: left;
         width: 50%;
         box-sizing: border-box;
       }
       footer .bigbtncontainer .btn {
         /* border: 1px solid #ccc; */
         height: 3.4188rem;
         line-height: 3.4188rem;
         text-align: center;
         border-radius: 5px;
         background-color: #ffe433;
         box-sizing: border-box;
       }
       footer .bigbtncontainer .btn.saleout {
         color: #fff;
         background-color: #ccc;
         box-sizing: border-box;
       }
       .expansion {
         background: #fff;
         height: 3.76rem;
         line-height: 3.76rem;
         border-bottom: 1px solid #e0e0e0;
         text-align: center;
         color: #999;
         font-size: 1.11rem;
         position: relative;
       }
       .expansion span {}
       .arrow-down {
         position: relative;
         padding-right: 2rem;
       }
       .arrow-down::after {
         content: "";
         width: 0.8rem;
         height: 0.8rem;
         border-top: 2px solid #bbb;
         border-right: 2px solid #bbb;
         position: absolute;
         right: 1rem;
         top: 0.1rem;
         -webkit-transform: rotate(45deg) translateY(-50%);
         transform: rotate(135deg) translateY(0);
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
       }
       .arrow-up {
         position: relative;
         padding-right: 2rem;
       }
       .arrow-up::after {
         content: "";
         width: 0.8rem;
         height: 0.8rem;
         border-top: 2px solid #bbb;
         border-right: 2px solid #bbb;
         position: absolute;
         right: 1rem;
         top: 0.5rem;
         -webkit-transform: rotate(45deg) translateY(-50%);
         transform: rotate(-45deg) translateY(0);
         -webkit-box-sizing: border-box;
         box-sizing: border-box;
       }
       .groupbuyinfo .avatar {
         margin: 0 0.64rem;
         position: relative;
       }
       .groupbuyinfo .avatar img {
         width: 3rem;
         border-radius: 3rem;
       }
       .groupbuyinfo .avatars {
         display: flex;
         justify-content: center;
       }
       .ctimecontainer {
         text-align: center;
         font-size: 1.1rem;
         color: #999;
       }
       .ctime span {
         border: 1px solid #cacaca;
         border-radius: 4px;
         display: inline-block;
         margin-left: 0.5rem;
         width: 8rem;
         height: 3rem;
         line-height: 3rem;
         box-sizing: border-box;
         color: #272421;
         font-weight: bold;
         text-align: center;
       }
       .applyusers {
         background-color: #fff;
         border-top: 1px solid #e0e0e0;
       }
       .applyuser {
         border-bottom: 1px solid #e0e0e0;
         height: 3.85rem;
         line-height: 3.85rem;
         padding: 0 1.28rem;
         box-sizing: border-box;
         position: relative;
       }

       .applyuser .name {
         max-width: 8.8rem;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         display: inline-block;
         padding-left: 0.5rem;
         vertical-align: middle;
       }
       .applyuser .name .namefont {
         max-width: 4.5rem;
         white-space: nowrap;
         text-overflow: ellipsis;
         overflow: hidden;
         display: inline-block;
         vertical-align: middle;
       }
       @media screen and (min-width: 375px) {
         .applyuser .name {
           max-width: 11rem;
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           display: inline-block;
           padding-left: 3.2rem;
           vertical-align: middle;
         }
         .applyuser .name .namefont {
           max-width: 6rem;
           white-space: nowrap;
           text-overflow: ellipsis;
           overflow: hidden;
           display: inline-block;
           vertical-align: middle;
         }
       }
       .applyuser .tuanzhang {
         height: 1.536rem;
         margin-left: 0.42rem;
         position: relative;
         top: -2px;
       }
       .applyuser .groupbuytime {
         position: absolute;
         right: 1.28rem;
       }
       .applyusers .avatar img {
         width: 1.92rem;
         border-radius: 1.92rem;
       }
       .bhheight {
         margin-bottom: 1.28rem;
       }
       .swiper-pagination {
         background-image: none;
       }
       .groupbuyinfo .t {
         margin: 1.28rem 0;
         text-align: left;
         padding-left: 1.28rem;
         position: relative;
         margin-top: 0;
         line-height: 3rem;
         height: 3rem;
       }
       .groupbuyinfo .t .cgroupbuy_sale_count {
         position: absolute;
         right: 1.28rem;
         top: 50%;
         height: 2rem;
         margin-top: -1rem;
         line-height: 2rem;
         background: url(/statics/img/groupbuy/userlist.png) no-repeat;
         background-size: 1.45rem;
         background-position: 0 0.32rem;
         padding-left: 1.8rem;
       }
       .ctimeline {
         width: 2.56rem;
         height: 2px;
         border-top: 1px solid #cacaca;
         display: inline-block;
         margin: 0 1.7rem;
       }
       .avatartuanzhang {
         position: absolute;
         left: 0rem;
         bottom: -1rem;
       }
       .applyuserlisttip {
         background: #fff;
         height: 3.76rem;
         line-height: 3.76rem;
         border-top: 1px solid #e0e0e0;
         text-align: left;
         color: #999;
         font-size: 1.11rem;
         position: relative;
         padding-left: 1.28rem;
         display: none;
       }
       .oldprice {
         text-decoration: line-through;
         font-size: 1rem;
         color: #999;
       }
       .scantitle {
         padding-bottom: 1rem;
       }
       .scantitle .redamount {
         color: #ff5b5b;
       }
       .rDialog-content {
         text-align: center;
       }
       .js-copy .copy {
         color: #ff5b5b;
         cursor: pointer;
       }
     </style>
     <style>html{font-size:11.25px!important;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%;-o-text-size-adjust:100%;text-size-adjust:100%;}</style>
     <script src="/public/lib/jquery-3.1.1.js"></script>
     <%- include ../partials/ahaschool.ejs %>
     <link href="/public/lib/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />

     <script src="/public/lib/Swiper/js/swiper.min.js"></script>

     <link rel="stylesheet" href="/public/lib/Swiper/css/swiper.min.css?v=201708070001">
   </head>
   <body avalonctrl="root" ng-app="pay" ng-controller="payController"> 
    <input type="text" id="coverSrc" value="http://cms.liunar.com/uploadimage/products/<%= prd.promo_thumb %>" style="display: none">
    <span id="page" style="display: none">share</span> 

    <span id="o_id" style="display: none"><%= prd.id %></span> 
    <span id="productTitle" style="display: none"><%= prd.title %></span> 
    <p id="description" style="display: none"><%= prd.description %></p>

    <div class="rDialog verif-mobi-dialog" style="z-index: 1001; left: 32.5px; top: 173px; display: none;">
      <div class="rDialog-wrap" style="width: 295px;"><a href="javascript:;" class="rDialog-close" title="关闭">x</a>
        <div class="rDialog-toper"></div>
        <div class="rDialog-header">绑定手机号</div>
        <div class="rDialog-content" style="width: 22rem !important; height: auto !important;">
          <ul class="field-box">
            <li class="mobile">
              <p><i></i>
                <input name="mobile" id="mobile_ipt" type="tel" value="" placeholder="请输入手机号" maxlength="11">
              </p>
            </li>
            <li class="code">
              <p><i></i>
                <input name="code" id="code_ipt" type="tel" value="" placeholder="请输入验证码" maxlength="6"><span class="control"><em id="message_btn" >发送验证码</em> <ins class="txt addit" style="display: none;"></ins></span></p>
              </li>
            </ul>
            <div class="voice">

            </div>
            <div class="btn-box"> <a href="javascript:;" id="submit_btn">确定</a></div>
            <div class="ruler addit" style="display: none;"></div>
          </div>
          <div class="rDialog-footer"></div>
        </div>
      </div>
      <div class="pub-page" ng-init="loadNameAndPhone()">
       <div class="status" style="display: none;">客官来晚了，本团已结束</div>
       <div class="info cl-fix">
        <img class="avatar" src="<%= jointUsers[0].avatar %>">
        <!--ms-if-->
        <div class="userinfo">
         <div class="name">我是团长:<span class="n"><%= jointUsers[0].fullname || jointUsers[0].nickname %></span></div>
         <!--ms-if-->
         <div class="tips"><img class="hot" src="/statics/img/groupbuy/hot.png">这个活动超级棒！推荐给你</div>
         <div class="tips status"><%= prd.currentCount %>人已经参加，快来一起吧!</div>
       </div>
     </div>
     <div class="pinfo cl-fix">
      <img class="thumb" src="http://activity.huijiame.com/5a1e6aa03a9b7Jzx70KLpAe.jpg?imageView2/1/w/150/h/150/interlace/1">
      <div class="productinfo">
       <div class="title"><%= prd.title %></div>
       <!--1:砍价团 2: 人数团 3：众筹团 4: 邻里团 ,-->
       <!--ms-if-->
       <div class="count">
        <span><%= prd.group_size %>人团 </span>
        <!--ms-if-->
        <span class="high_price">￥<%= prd.group_purchase_msrp %></span>
        <span class="price oldprice"><s>￥<%= prd.msrp %></s></span>

        <!--ms-if-->
        <span class="sale_count"><%= jointUsers[0].totalbought %>人参加</span>
      </div>
    </div>
  </div>
  <!--ms-if-->
  <div class="groupbuyinfo cl-fix">
    <div class="ctimecontainer t">
     <span class="ctime" id="timerDisplay"> </span>
     <span class="cgroupbuy_sale_count">     
      <% if(prd.spaces_left > 0 ){ %>
      <%= prd.currentCount %>人已经参团
      <% }else{ %>
      此团已满，请另开团!
      <% } %></span>
    </div>
    <div class="avatars flexcontainer">
      <% for(var i=0; i< prd.group_size; i++) {%>
      <span class="avatar">
       <% if(jointUsers[i]){ %>
       <img src="<%= jointUsers[i].avatar %>">
       <% }else{ %>
       <img src="/public/assets/ahaschool/default_avatar.png">
       <% } %>
     </span>
     <% } %>
   </div>
   <!--ms-if-->
 </div>
 <div class="expansion" style="display:none;">
  收起参团详情 <span class="arrow-up">&nbsp;</span>
</div>

<div class="applyusers">
  <% for(var i=0; i< jointUsers.length ; i++) {%>
  <div class="applyuser  cl-fix">
   <span class="avatar">
    <img src="<%= jointUsers[i].avatar %>">
  </span>
  <span class="name"><span class="namefont"><%= jointUsers[i].fullname %></span><img class="tuanzhang" src="/statics/img/tuanzhang.png"></span>
  <% if(i==0){ %>
  <span class="groupbuytime"> <%= jointUsers[i].created_time.toLocaleDateString() + ' : ' + jointUsers[i].created_time.toLocaleTimeString() %>开团 </span>
  <% }else{ %>
  <span class="groupbuytime"> <%= jointUsers[i].created_time.toLocaleDateString() + ' : ' + jointUsers[i].created_time.toLocaleTimeString() %>加团 </span>
  <% } %>
</div>

<% } %>
</div>
<div class="productdetail_lable">图文详情</div>

<div class="productDetail rich_textLazy">
  <!--html6194373555564-->
  <section data-role="outer" label="Powered by 135editor.com" style="font-family: 微软雅黑;">
    <section style="font-family: sans-serif; white-space: normal; color: rgb(62, 62, 62); line-height: 25.6px;">
      <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
        <section class="" style="margin-top: 10px; margin-bottom: 10px;">
          <section class="" style="display: inline-block; width: 100%; vertical-align: top;">
            <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
              <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"></section>
            </section>
            <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
              <p style=";transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);"><img data-original="http://imgcdn.wxeditor.com/Uploads/201711/340881/5a1e65d75f6f3.jpg!yeadwx" class="lazy" style="display: inline;" src="http://imgcdn.wxeditor.com/Uploads/201711/340881/5a1e65d75f6f3.jpg!yeadwx"></p>
              <p style=";transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);">
                <br>
              </p>
              <p style=";transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);"><img class="lazy" data-ratio="0.2265625" data-type="png" data-w="640" width="50%" style="vertical-align: middle; visibility: visible !important; display: inline;" data-original="http://resource.huijiame.com/5948ceae3e8ce4wQgAWBpTx.png" src="http://resource.huijiame.com/5948ceae3e8ce4wQgAWBpTx.png"></p>
            </section>
            <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
              <section class="">
                <section class="" style="padding-right: 15px; padding-left: 15px; text-align: justify; font-size: 14px; color: rgb(7, 7, 7); line-height: 1.8; box-sizing: border-box;">
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"><span style="font-size: 14px;"><strong>1508年，米开朗基罗开始创作西斯廷天顶画《创世纪》，曾前来观摩的拉斐尔深受此画影响。</strong></span></p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                    <br>
                  </p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"><span style="font-size: 14px;"><strong>2017年，在梵高的原作《星空》前面，地板上坐了十几个孩子，老师则指导孩子画出自己心目中的星空。</strong></span></p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                    <br>
                  </p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"><span style="font-size: 14px;"><strong>著名画家陈丹青说，他终生感激博物馆。自己没有上过大学，但最后上了世界上最好的大学，就是博物馆。</strong></span></p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                    <br>
                  </p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"><span style="font-size: 14px;"><strong>马云说：未来三十年，不学艺术将会找不到工作。</strong></span></p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);">
                    <br>
                  </p>
                  <p style="color: rgb(7, 7, 7); line-height: 25.2px; text-align: justify; white-space: normal; background-color: rgb(255, 255, 255);"><span style="font-size: 14px;"><strong>没有恰当的审美，生活剥露出最务实最粗俗的一面，越来越追求实用化的背后，生活越来越无趣、越来越枯萎。</strong></span></p>
                  <p>
                    <br>
                  </p>
                  <p><strong>2002年，我有了第一个孩子，当他八九岁时，我与他聊起理想，他说：“我的理想是穿越时空，看物种起源”。作为父亲，看着孩子熠熠生辉的眼睛，我决定要做点什么。</strong></p>
                  <p>
                    <br>
                  </p>
                  <p><strong>2012年，我带着孩子，穿过近10000公里的旅程，历时13个小时的飞行，花费15000，终于降落在了巴黎这座充满艺术气息的城市，我看着孩子穿梭于卢浮宫，在一个个艺术品里面寻找时间的印记，了解历史的痕迹，我想这些博物馆、艺术品或许可以让他穿越时空，离自己的理想更近。</strong></p>
                </section>
              </section>
            </section>
            <section class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
              <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: right;transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);"><img class="lazy" data-ratio="0.159375" data-type="png" data-w="640" width="50%" style="vertical-align: middle; visibility: visible !important; display: inline;" data-original="http://resource.huijiame.com/5948ceae3dbdflNAv75xfOI.png" src="http://resource.huijiame.com/5948ceae3dbdflNAv75xfOI.png"></section>
            </section>
          </section>
        </section>
      </section>
      <section class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
        <section class="">
          <section class="" style="font-size: 14px;">
            <p style="text-align: justify;">
              <br>
            </p>
            <p style="margin-bottom: 10px;">为了让每一个独一无二的孩子都拥有平等的艺术视野，2017年8月，Ahaschool推出了名为“<strong>十万少年漫游世界十大博物馆</strong>”的直播课程，<strong>不仅赢得了22万个购买课程的家庭的信任，收获了6千多条好评反馈，还引起了《纽约时报》的关注。</strong></p>
            <p style="margin: 0em 1em; text-align: justify;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71daa8cb6f.jpg!yeadwx" class="lazy" style="display: inline;" src="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71daa8cb6f.jpg!yeadwx"></p>
            <p style="margin: 0em 1em; text-align: justify;">
              <br>
            </p>
            <p style="margin: 0em 1em; text-align: justify;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71dd3f3a1f.jpg!yeadwx" class="lazy" style="display: inline;" src="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71dd3f3a1f.jpg!yeadwx"></p>
            <p>
              <br>
            </p>
            <p style="margin: 0em 1em; text-align: justify;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71de675f56.jpg!yeadwx" class="lazy" style="display: inline;" src="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71de675f56.jpg!yeadwx"></p>
            <p>
              <br>
            </p>
            <p style="margin: 0em 1em; text-align: justify;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71e03c297e.jpg!yeadwx" class="lazy" style="" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></p>
            <p>
              <br>
            </p>
            <p style="margin: 0em 1em; text-align: justify;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e71e16a6908.jpg!yeadwx" class="lazy" style="" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></p>
            <p style="margin: 0em 1em; text-align: justify;">
              <br>
            </p>
            <p style="margin: 0em 1em; text-align: justify;"><span style="font-size: 14px;"><img data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e7213a92d1e.jpg!yeadwx" class="lazy" style="" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></span></p>
            <p style="margin-top: 15px;"><span style="font-size: 14px;"><br></span></p>
            <p style="margin-top: 5px;"><span style="font-size: 14px;">时隔三个月，我们开始筹备第二季的“十万少年漫游世界十大博物馆”，希望在2018年的寒假把30万甚至100万中国少年带到更多伟大的博物馆。<strong>而这一次，除了兼顾历史和艺术的视野，我们还想在自然和科技的领域，为孩子们打开更多通往新世界的大门。</strong></span></p>
            <p style="margin-top: 15px;"><span style="font-size: 14px;"></span></p>
            <p style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑;">
              <br>
            </p>
            <section class="_135editor" data-tools="135编辑器" data-id="86486" style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑; text-align: justify; border: 0px none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0px; position: relative;">
              <section style="margin: 30px; color: rgb(70, 70, 72); background-color: rgb(198, 198, 199);">
                <section style="width: 16px; height: 50px; border-left-width: 1px; border-left-style: solid; border-color: rgb(198, 198, 199); display: inline-block; margin-top: -20px; margin-left: -4px; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                <section data-style="text-align: center;color:rgb(255,255,255);" style="color: rgb(62, 62, 62);">
                  <section style="color: inherit; text-align: center; margin-top: -30px; margin-bottom: -30px; line-height: 2.1;">
                    <p><strong style="color: rgb(62, 62, 62); font-family: 微软雅黑; line-height: 29.4px; text-align: center; white-space: normal; background-color: rgb(198, 198, 199);"><span class="135brush" data-brushtype="text" style="font-size: 18px; color: rgb(0, 0, 0);">Ahaschool 为什么做这件事情？</span></strong></p>
                  </section>
                  <section style="width: 16px; height: 50px; margin-right: -2px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(198, 198, 199); display: inline-block; margin-top: 2px; float: right; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                </section>
              </section>
            </section>
            <p>
              <br>
            </p>
            <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">
              <br>
            </p>
            <p style="text-align: justify;">作为教育行业创新者，也作为两个孩子的父亲，我深刻的明白，艺术的熏陶对孩子意味着什么。这是最好的时代，也是个最坏的时代，基础教育已不足以满足孩子未来的需求。通识和人文教育才是成就孩子未来的关键。</p>
          </section>
        </section>
      </section>
      <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
        <p style="margin-top: 10px; margin-bottom: 10px;"><img class="lazy" data-ratio="1" data-type="png" data-w="640" style="vertical-align: middle; float: right; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e721f442e7b.jpg!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></p>
        <p style="margin-top: 10px; margin-bottom: 10px;">
          <br>
        </p>
        <p style="margin-top: 10px; margin-bottom: 10px;">
          <br>
        </p>
        <p style="margin-top: 10px; margin-bottom: 10px;">
          <br>
        </p>
        <p style="margin-top: 10px; margin-bottom: 10px;">
          <br>
        </p>
        <p style="margin-top: 10px; margin-bottom: 10px;">
          <br>
        </p>
        <article id="m863" class="yead_editor" data-author="Wxeditor" style="font-size: 14px; margin: 5px auto; text-align: center;">
          <p style="margin: 15px auto 0px; text-align: center;">
            <br>
          </p>
          <section class="yead_bdbc" style="width: 0px; height: 0px; border-left-width: 5px; border-left-style: solid; border-left-color: transparent; border-right-width: 5px; border-right-style: solid; border-right-color: transparent; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: rgb(136, 136, 136); display: inline-block; opacity: 0.5;"></section>
          <section class="yead_bdtc" style="width: 0px; height: 0px; border-left-width: 5px; border-left-style: solid; border-left-color: transparent; border-right-width: 5px; border-right-style: solid; border-right-color: transparent; border-top-width: 10px; border-top-style: solid; border-top-color: rgb(136, 136, 136); display: inline-block; margin-left: -3px;"></section>
          <section style="margin-left:.5em;display:inline-block">
            <p><span style="font-size: 18px; font-family: 微软雅黑; color: rgb(136, 136, 136);"><strong>王雨豪 &nbsp;Ahaschool创始人</strong></span></p>
          </section>
          <section class="yead_bdtc" style="margin-left: 0.5em; width: 0px; height: 0px; border-left-width: 5px; border-left-style: solid; border-left-color: transparent; border-right-width: 5px; border-right-style: solid; border-right-color: transparent; border-top-width: 10px; border-top-style: solid; border-top-color: rgb(136, 136, 136); display: inline-block;"></section>
          <section class="yead_bdbc" style="width: 0px; height: 0px; border-left-width: 5px; border-left-style: solid; border-left-color: transparent; border-right-width: 5px; border-right-style: solid; border-right-color: transparent; border-bottom-width: 10px; border-bottom-style: solid; border-bottom-color: rgb(136, 136, 136); display: inline-block; opacity: 0.5; margin-left: -3px;"></section>
        </article>
      </section>
      <section class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
        <section class="">
          <section class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
            <section class="">
              <section class="" style="font-size: 14px; text-align: justify;">
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal; margin-bottom: 15px; margin-top: 20px;"><span style="line-height: 25.6px;">Ahaschoo</span><span style="line-height: 25.6px;">l的教育核心理念是</span><span style="line-height: 25.6px;">：</span>
                  <br>
                </p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">1.以世界顶尖大学选拔要求为标准，发现孩子的天赋，培养孩子的特长（世界顶级的私立大学，九成以上学生都是特长生）。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">2.提供系统的个性化教育方案，尊重孩子的成长步调。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">3.鼓励孩子多方面尝试，培养孩子的内在兴趣，提升综合能力，带动弱项发展。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">4.不以分数作为唯一评价标准，发现并培养孩子想象力、创造力和解决问题能力。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">5.不盲目与其他孩子比较，设置动态评估体系，提高孩子的自信心。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">6.帮助孩子获得自我管理能力、高效学习能力。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">7.以技术驱动教育，以游戏化、自适应、任务型等方式等实现学习效率革命。</p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">
                  <br>
                </p>
                <p>所以，我希望这次活动，带给孩子的不仅仅是一次博物馆漫游，更是一次发现新的自己，打开新世界的旅程。</p>
                <p>
                  <br>
                </p>
                <p>
                  <br>
                </p>
                <section class="_135editor" data-tools="135编辑器" data-id="86486" style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑; text-align: justify; border: 0px none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0px; position: relative;">
                  <section style="margin: 30px; color: rgb(70, 70, 72); background-color: rgb(198, 198, 199);">
                    <section style="width: 16px; height: 50px; border-left-width: 1px; border-left-style: solid; border-color: rgb(198, 198, 199); display: inline-block; margin-top: -20px; margin-left: -4px; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                    <section data-style="text-align: center;color:rgb(255,255,255);" style="color: rgb(62, 62, 62);">
                      <section style="color: inherit; text-align: center; margin-top: -30px; margin-bottom: -30px; line-height: 2.1;">
                        <p><strong><span class="135brush" data-brushtype="text" style="font-size: 18px; color: rgb(0, 0, 0);">这次漫游对孩子意味着什么？</span></strong></p>
                      </section>
                      <section style="width: 16px; height: 50px; margin-right: -2px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(198, 198, 199); display: inline-block; margin-top: 2px; float: right; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                    </section>
                  </section>
                </section>
                <p>
                  <br>
                </p>
                <p style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑;"><span style="font-family: sans-serif; line-height: 25.6px;"><br></span></p>
                <p style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑;"><strong><span style="font-family: sans-serif; line-height: 25.6px;">艺术人文和自然科学从来都不是不可共存的矛与盾，相反，正是它们之间的相互渗透，才使得人类文明能从刀耕火种走到互联网共享。</span></strong><span style="font-family: sans-serif; line-height: 25.6px;">所以下面这些能反映人文可科技交相辉映的博物馆，出现在了我们第二季的名单上：大英博物馆、中国国家博物馆、美国自然历史博物馆、奔驰博物馆……</span>
                  <br>
                </p>
                <p style="color: rgb(62, 62, 62); line-height: 25.6px; white-space: normal; font-family: 微软雅黑;"><span style="font-family: sans-serif; line-height: 25.6px;"><br></span></p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">另外，针对男孩子普遍拥有的机械情结，以及大多数女孩子与生俱来的爱美之心，我们<strong>特别给其中一些博物馆的直播标明了性别指向，方便家长根据孩子的兴趣爱好，选择性地观看。</strong></p>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">
                  <br>
                </p>
                <article id="m41" class="yead_editor" data-author="Wxeditor" style="border: 0px; margin: 5px auto;">
                  <section style="text-align: center; font-size: 1em; vertical-align: middle; white-space: nowrap;">
                    <p>
                      <br>
                    </p>
                    <section style="margin: -2.75em 1.65em; height: 0px; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent; box-sizing: border-box;">
                      <br>
                    </section>
                    <section style="margin: -2.75em 1.65em; height: 0px; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent; box-sizing: border-box;">
                      <br>
                    </section>
                    <section style="margin: -2.75em 1.65em; height: 0px; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent; box-sizing: border-box;">
                      <br>
                    </section>
                    <section style="margin: -2.75em 1.65em; height: 0px; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent; box-sizing: border-box;">
                      <br>
                    </section>
                    <p>
                      <br>
                    </p>
                  </section>
                </article>
              </section>
            </section>
          </section>
          <section class="_135editor" style="border: 0px none; padding: 0px; position: relative; box-sizing: border-box;">
            <section class="">
              <section class="">
                <p style="margin-top: 20px;"><span style="font-size: 14px;"></span></p>
                <section class="_135editor" data-tools="135编辑器" data-id="86486" style="color: rgb(62, 62, 62); line-height: 25.6px; text-align: justify; white-space: normal; font-family: 微软雅黑; border: 0px none; border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding: 0px; position: relative;">
                  <section style="margin: 30px; color: rgb(70, 70, 72); background-color: rgb(198, 198, 199);">
                    <section style="width: 16px; height: 50px; border-left-width: 1px; border-left-style: solid; border-color: rgb(198, 198, 199); display: inline-block; margin-top: -20px; margin-left: -4px; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                    <section data-style="text-align: center;color:rgb(255,255,255);" style="color: rgb(62, 62, 62);">
                      <section style="color: inherit; text-align: center; margin-top: -30px; margin-bottom: -30px; line-height: 2.1;">
                        <p><strong><span class="135brush" data-brushtype="text" style="font-size: 18px; color: rgb(0, 0, 0);">如何加入这一季的漫游？</span></strong></p>
                      </section>
                      <section style="width: 16px; height: 50px; margin-right: -2px; border-right-width: 1px; border-right-style: solid; border-right-color: rgb(198, 198, 199); display: inline-block; margin-top: 2px; float: right; transform: rotate(45deg); background-color: rgb(254, 254, 254);"></section>
                    </section>
                  </section>
                </section>
                <p style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; text-align: justify; white-space: normal;">
                  <br>
                </p>
                <p style="margin-top: 20px;"><span style="font-size: 14px;">1、直接以<strong style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">99元/份</strong><span style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;">的价格购买，或</span><strong><span style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;">邀请好友一起购买，</span><strong style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">5人成团</strong><span style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;">即可享受每人19</span><strong style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; white-space: normal;">.9元/份</strong><span style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;">的超值优惠</span>！</strong>
                </span><span style="font-size: 14px; color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;">直播分为10集，每集介绍一个博物馆，单集时长约40分钟到1小时，主要内容包括但不限于介绍博物馆的建筑、历史、藏品。</span></p>
                <p style="margin-top: 20px;"><span style="font-size: 14px; color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px;"></span></p>
                <p><span style="font-size: 14px;">2、<strong><span style="line-height: 25.6px;">首播时间：2018年2月1日—2月10日，购买活动的家长可于2月1日—2月10日期间直接用购买的手机号登录“Ahaschool”APP内观看首播</span></strong><span style="line-height: 25.6px;">，错过首播的家长们，<strong>还</strong><strong>可随时在“Ahaschool”APP内进行回看。</strong></span></span><strong style="font-size: 13px; line-height: 25.6px;">（</strong><span style="font-size: 13px; line-height: 25.6px; font-family: 微软雅黑; text-align: justify;">下载链接：https://m.ahaschool.com/ahadownload</span><strong style="font-size: 13px; line-height: 25.6px;">）</strong></p>
                <p><span style="font-size: 14px;"><strong style="line-height: 25.6px;"><br></strong></span></p>
                <p><span style="color: rgb(62, 62, 62); font-family: sans-serif; line-height: 25.6px; font-size: 14px;">3、倘若遇到不可抗情况，首播将延期，具体时间会另行通知</span></p>
              </section>
            </section>
          </section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="">
            <section class="" style="font-size: 14px; text-align: justify;">
              <p style="margin-bottom: 10px;"><span style="font-family: 微软雅黑;"><br></span></p>
              <article id="m41" class="yead_editor" data-author="Wxeditor" style="font-size:14px;border:0px;padding:0px;margin:5px auto;white-space: normal;">
                <section style="text-align: center; font-size: 1em; vertical-align: middle; white-space: nowrap;">
                  <section style="margin: -2.75em 1.65em; white-space: nowrap; height: 0;border-top: 1.3em solid #ffffff; border-bottom: 1.3em solid #ffffff; border-left: 1.3em solid transparent; border-right: 1.3em solid transparent;"></section>
                </section>
              </article>
            </section>
          </section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="">
            <section class="" style="font-size: 14px; text-align: justify;">
              <p>
                <br>
              </p>
            </section>
          </section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="_135editor" data-tools="135编辑器" data-id="89175" style="border: 0px none; padding: 0px; box-sizing: border-box;">
            <section class="layout" style="margin: 10px auto; border-top: 2px solid rgb(117, 117, 118); padding-top: 3px; box-sizing: border-box;">
              <section style="border-top: 1px solid rgb(117, 117, 118); border-bottom: 1px solid rgb(117, 117, 118); padding-top: 5px; padding-bottom: 5px; font-weight: bold; font-size: 18px; box-sizing: border-box;">
                <p class="135brush" data-brushtype="text" style="text-align: center;">十大博物馆</p>
              </section>
            </section>
          </section>
          <p style="margin-top: 10px; margin-bottom: 10px; text-align: center;transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);">
            <br>
          </p>
          <p style="margin-top: 10px; margin-bottom: 10px; text-align: center;transform: translate3d(0px, 0px, 0px);-webkit-transform: translate3d(0px, 0px, 0px);-moz-transform: translate3d(0px, 0px, 0px);-ms-transform: translate3d(0px, 0px, 0px);-o-transform: translate3d(0px, 0px, 0px);"><span style="font-size: 16px;"><strong style="line-height: 25.6px;"><strong style="font-family: 微软雅黑; font-size: 16px; line-height: 15px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255);">英国自然历史博物馆</strong></strong><strong style="line-height: 25.6px;"><strong style="font-family: 微软雅黑; font-size: 16px; line-height: 15px; text-align: center; white-space: normal; background-color: rgb(255, 255, 255);"></strong></strong></span></p>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.5625" data-type="jpeg" data-w="640" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e734287dd2a.jpg!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.7688787185354691" data-type="jpeg" data-w="437" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e73436e8d64.gif!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="">
            <section class="">
              <p style="text-align: justify;"><span style="font-size: 14px;"></span></p>
              <p style="line-height: 2em;"><span style="font-size: 14px;"><span style="font-family: 微软雅黑;">欧洲最大的自然博物馆，因为巨大的恐龙骨骼和华丽的维多利亚建筑风格，被誉为“自然的大教堂”。</span><strong>7000</strong><strong><span style="font-family: 微软雅黑;">万件来自世界各地的标本，从细微到宏观，都是地球的历史；不管植物、动物还是矿物的标本，总有一种标本，能让孩子爱上自然。</span></strong></span>
              </p>
              <p style="text-align: justify;">
                <br>
              </p>
            </section>
          </section>
        </section>
        <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
          <section class="">
            <section class="">
              <p style="text-align: center; margin-top: 15px;"><span style="font-size: 16px;"><strong><strong><span style="font-family: 微软雅黑;">大英博物馆</span></strong>
              </strong><strong><strong><span style="font-family: 微软雅黑;"></span></strong></strong>
            </span>
          </p>
        </section>
      </section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.5875" data-type="png" data-w="640" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e748114e9c1.jpg!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.5875" data-type="png" data-w="640" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e748225986e.gif!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="">
        <section class="" style="font-size: 14px;">
          <p style="margin-bottom: 10px; line-height: 2em;"><strong><span style="font-family:微软雅黑">世界上历史最悠久、规模最宏大的博物馆，</span></strong><span style="font-family:微软雅黑">馆藏文物</span>800<span style="font-family:微软雅黑">多万件，最珍贵的藏品大多数来自</span>18<span style="font-family: 微软雅黑">世纪和</span>19<span style="font-family:微软雅黑">世纪对埃及、印度、希腊及中国的文化掠夺。其中仅埃及的文物就多达</span>4<span style="font-family:微软雅黑">万件，中国文物多达</span>2<span style="font-family:微软雅黑">万</span>3<span style="font-family:微软雅黑">千件。</span></p>
          <p style="line-height: 2em;"><span style="font-family:微软雅黑">名为“中国文物永久展厅”的</span>33<span style="font-family:微软雅黑">号厅展出的两千多件劫掠自中国文物，时间范围上至从石器时代，下迄明清，精美之余，每一件都是近代中国文物保护的伤心史。<strong>对英国人来说，大英博物馆是立体的百科全书，对中国人、埃及人、印度人、希腊人来说，它是让人五味杂陈的立体百科全书。</strong></span></p>
          <p style="text-align: justify;">
            <br>
          </p>
        </section>
      </section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="">
        <section class="">
          <p style="text-align: center; margin-top: 15px;"><span style="font-size: 16px;"><strong>美国自然历史博物馆</strong></span></p>
        </section>
      </section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.5875" data-type="png" data-w="640" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e7455c4fe8f.jpg!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="" style="margin-top: 10px; margin-bottom: 10px; text-align: center;"><img class="lazy" data-ratio="0.5875" data-type="png" data-w="640" style="vertical-align: middle; visibility: visible !important;" data-original="http://imgcdn.wxeditor.com/Uploads/201710/340881/59e744194727e.gif!yeadwx" src="http://resource.huijiame.com/594926e8b05d5sLggVfY90w.png"></section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="">
        <section class="" style="font-size: 14px;">
          <p style="line-height: 2em;"><strong><span style="font-family:微软雅黑">世界上最大的自然博物馆，拥有</span>3000</strong><strong><span style="font-family:微软雅黑">多万件来自亚、非、拉美及大洋洲的标本，</span></strong><span style="font-family:微软雅黑">包括天文、矿物、人类学、古生物和现代生物</span>5<span style="font-family:微软雅黑">个方面，古生物和人类学的收藏在世界各博物馆中占居首位。这里有重达</span>31<span style="font-family:微软雅黑">吨的世界最大陨石，也有</span>536<span style="font-family: 微软雅黑">克拉的世界第二大蓝宝石“印度之星”。<strong>这里有</strong></span><strong>49</strong><strong><span style="font-family:微软雅黑">万册藏书，也有世界上最大、虚拟功能最强的天文馆。</span></strong></p>
        </section>
      </section>
    </section>
    <section class="_135editor" style="border: 0px none; padding: 0px; box-sizing: border-box;">
      <section class="">
        <section class="">
          <p>
            <br>
          </p>
          <p style="text-align: center; margin-top: 15px;"><span style="font-size: 16px;"><strong><span style="font-family: 微软雅黑; text-align: justify;"><strong><span style="font-family: 微软雅黑;">纽约大都会艺术博物馆</span></strong><span style="font-family: 微软雅黑; text-align: justify;"></span></span>
          </strong>
        </span>
      </p>
    </section>
  </section>
</section>
</div>
<footer class="cl-fix">
 <div class="smallbtncontainer">
  <div class="btn createtuanbtn">我也开个团 </div>
</div>
<div class="bigbtncontainer">
  <div class="btn jointuanbtn">参团</div>
</div>
<!--霸王团新规定，老用户只能开团-->
<!--ms-if-->
</footer>
<!--ms-if-->
<div class="pub-loading" style="display: none;">
 <div class="pic-normal-loading"></div>
</div>
<div class="pub-loading-mask" style="display: none;"></div>
</body>

<% var oneSecond = 1000; %>
<% var to=new Date(prd.end_date); %>
<% var secondsBeforeEventOver = Math.ceil(( to.getTime() - new Date().getTime()) / oneSecond) %>

<script type="text/javascript">

  Number.prototype.toHHMMSS = function () {
    var sec_num = this; 
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);
    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    return hours+':'+minutes+':'+seconds;
  }

  var init = function(){
    var timer_limit = <%= secondsBeforeEventOver %>;
    var resolution = 1000;
    var timer = new Timer(resolution);
    timer.after(timer_limit + ' seconds', function () {

    });
    timer.every('1 second', function(){
      document.getElementById('timerDisplay').innerHTML ="活动剩余时间: <span class='time'>"+ (timer_limit-timer.ticks()).toHHMMSS() +"</span>";
    });

    timer.start();
  } 
  $(function(){
   // var phone = localStorage.getItem('phone'); 
   var name = localStorage.getItem('name');
   // var verified = parseInt(localStorage.getItem('phoneVerified'));
   // $('#mobile_ipt').val(phone);


  //  $('.rDialog-close').click(function(){
  //   console.log('hide');
  //   $('.verif-mobi-dialog').hide();
  // })
  if(<%= secondsBeforeEventOver %> > 0){
   init();
 }else{
   document.getElementById('timerDisplay').innerHTML ="活动已结束, 谢谢您的踊跃参与！";
 }   

 var purchaseClickCallback = function (join = false){

  var data = {};
  data.payType = 'GP';
    // var pass = true;
    // if(verified === 1){ 
      // pass = false;
      var url ="/saveOrder/<%= prd.productId %>/"+'?payType='+data.payType;
      url+= '&isGP=true';
      if(join){
        url += "&joiningGroup=<%= prd.group_id %>";
      }
      $.get( url, function( result ) { 
        if(parseInt(result.mo_id) > 0){
          data.mo_id = parseInt(result.mo_id);
          var redirect = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxca0568e7f29d0e45&redirect_uri=http%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpayproduct%3Ftype%3D"+ data.payType +"%26o_id%3D" + data.mo_id + "%26p_id%3D<%= prd.productId%>%26fromGaoPin%3D1%26response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect";
          window.location.href = redirect; 
        }else{
          alert(JSON.stringify(result));
        }
        return;
      })
    
    // if(pass){
    //   $('.verif-mobi-dialog').show();
    // }

    // data.state = '输入电话后请点击‘发送验证码’';

    // $('.control').click(function(){
    //   var number = $('#mobile_ipt').val();
    //   if(isNaN(parseInt(number))){
    //     $('.voice').html('请确认电话格式正确');
    //   }else{
    //     data.state = '请查看短信验证码并进行验证';
    //     data.Mobile = number;
    //     var url = "/saveOrder/<%= prd.productId %>/"+data.Mobile+"?payType="+data.payType; 
    //     url+= '&isGP=true';
    //     if(join){
    //       url += "&joiningGroup=<%= prd.group_id %>";
    //     }
    //       $.get( url, function( result ) { //saveOrder writes into MemberOrder, then writes into verification_order, then requests text msg
    //         console.log(result);
    //         if(result == "full"){
    //          $('.voice').html('group full');
    //          return;
    //        }
    //        var sendResult = JSON.parse(result.msg);
    //        data.verificationId = result.v_id;
    //        data.mo_id = result.mo_id;
    //        if(sendResult.state == 0 || sendResult.message.indexOf("Permits:1") > -1 ){
    //          $('.voice').html('验证码已发送到您的手机，请查看并验证');
    //        }else{
    //         data.state = '无法发送到此号码，请输认验证＂11111＂进行支付';
    //         $('.voice').html(data.state);
    //       }
    //     });
    //     }
    //   });

    // $('#submit_btn').click(function(){
    //     var code = $('#code_ipt').val(); //user input code
    //     var url = "/textConfirm/"+code+'/'+data.verificationId;

    //     $.get( url, function( result ) {
    //       var url = "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxca0568e7f29d0e45&redirect_uri=http%3A%2F%2Fwww.liunar.com%2Ftestpay%2Fpayproduct%3Ftype%3D"+ data.payType +"%26o_id%3D" + data.mo_id + "%26p_id%3D<%= prd.productId %>%26fromGaoPin%3D1";
    //       if(result.success == 1){
    //         data.state = '验证成功！';
    //         url += '%26verified%3D1';
    //         localStorage.setItem('phoneVerified', '1'); 
    //       }else{
    //         data.state = "验证失败： 请输入验证码11111进行支付";
    //       }
    //       url += "%26response_type=code&scope=snsapi_base&state=wxlogin#wechat_redirect";
    //       if(result.success == 1 || code == '11111'){
    //         data.state = '';
    //         window.location.href = url;
    //       }else{
    //        data.state= "验证失败： 请输入验证码11111进行支付";
    //      }
    //    });  
    //     $('.voice').html(data.state);
    //   })
  }
  $('.jointuanbtn').click(function(){
    purchaseClickCallback(true);
  });
  $('.createtuanbtn').click(function(){
    purchaseClickCallback(false);
  });
});

</script>
</html>