<!DOCTYPE html>
<html>

<head>
  <title>留哪儿精选——精选全球最优教育资源</title>
  <meta name="description" content="留哪儿精选是Canbest集团旗下的海外教育类垂直电商平台，留哪儿精选将全球最优质的留学、游学资源，一站式提供给中国学子，让他们能更直接、更高效地选择世界。">
  <meta name="keywords" content="留学, 游学, 夏令营, 背景提升,美国留学, 加拿大留学">
  <link rel="stylesheet" href="/public/lib/slick/slick.css" />
  <link rel="stylesheet" href="/public/lib/slick/slick-theme.css" />
  <% include ../partials/head %>
  <script src="/public/lib/slick/slick.min.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <style>
  ul.slick-dots {
    bottom: 0px;
  }

  ul.slick-dots li button:before {
    font-size: 10px;
  }

  ul.slick-dots li {
    margin: 0 0 0 0;
  }


  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
  .shop-card-img-container{
    margin-left: -12px; 
    margin-right: -12px; 
    margin-top: -12px;
    border-top-left-radius: inherit;
    height: 111px; 
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: inherit; 
    background-position: center center;
  }
  .shop-card-title{
    font-size: 14px; 
    margin: 8px 0px 0px 0px; 
    height: 2.6em; 
    line-height: 1.3em; 
    overflow: hidden;
  }
  .shop-card-title + p, .shop-card-title + p + p{
    position: relative;
    height: 1rem;
  }

  .shop-card-title + p + p{
    margin-bottom: 0px;
  }

  .shop-card-title + p > span, .shop-card-title + p + p > span{
    position: absolute;
  }

  .shop-card-title + p > span:first-child, .shop-card-title + p + p > span:first-child{
    left: 0px;
  }

  .shop-card-title + p > span:last-child, .shop-card-title + p + p > span:last-child{
    right: 0px;
  }


  .mt-20 {
    margin-top: 20px !important;
  }
  .card-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    line-height: 18px;
    margin: 5px 0px 10px;
  }
  .card-row {
    height: 15.625%;
  }
  .card-text{
    margin-top: 3px;
    color: #b2b2b2;
    font-size: 12px;
  }
  .col{
    padding:0 0 0 10px; 
  }
  .tags{
    font-size: 11px;
    margin-top: 4px;
    margin-right: 2px;
  }

  .middle{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
  }

  .middle::before{
    content: '';
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
  }
  select
  {
    border:0px;
    outline:0px;
  }

  .button-outline{
    background-color: rgba(0,0,0,0);
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
    font-weight: normal;
    font-family: Microsoft YaHei;
    font-size: 11px;
  }

  .button-outline.age{
    border-color: #3d5a99 !important;
    color: #3d5a99 !important;
  }

  .button-outline.type-0{
    border-color: #56bad4 !important;
    color: #56bad4 !important;
  }

  .button-outline.type-1{
    border-color: #edac38 !important;
    color: #edac38 !important;
  }

  .button-outline.type-2{
    border-color: #ee7f74 !important;
    color: #ee7f74 !important;
  }

  .button-outline.type-3{
    border-color: #8bc145 !important;
    color: #8bc145 !important;
  }

  .button-outline.type-4{
    border-color: #a667cf !important;
    color: #a667cf !important;
  }


</style>
<script>
  $(function () {
    $('.single-item').slick({
      enabled: true,
      autoplay: true,
      draggable: true,
      autoplaySpeed: 3000,
      dots: true

    });

    $.each( $('a'), function( key, value ) {
      this.href+=location.search;      
    });


    window.onmessage = function(e) {
      var payload = JSON.parse(e.data);
      switch(payload.method) {
        case 'set':
        localStorage.setItem('name', payload.data.name);
        localStorage.setItem('phone', payload.data.phone);
        break;
        case 'get':
        var parent = window.parent;
        var data = localStorage.getItem(payload.key);
        parent.postMessage(data, "*");
        break;
        case 'remove':
        localStorage.removeItem(payload.key);
        break;
      }
    };

  });
</script>
</head>

<body>
  <script>
   document.cookie = "region=<%= region %>; domain=liunar.com; expires=Thu, 18 Dec 2099 12:00:00 UTC; path=/";
 </script>
 <div class="view-container">
  <div class="pane">

    <% pageActive = 'shop' %>
    <% include ../partials/tabs %>
    <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
    <div class="content-container no-header">
      <div class="content" style="background-color: #f0f0f0">
        <div class="item fullscreen">
          <div class="single-item" style="width:100%">
            <a href="http://shop.liunar.com/37">
              <img src="/img/desktop/美国研究生-S.jpg">
            </a>
            <a href="http://shop.liunar.com/49">
              <img src="/img/desktop/IO-S.jpg">
            </a>
            <a href="http://shop.liunar.com/6">
              <img src="/img/desktop/北美百强保录-S.jpg">
            </a>
                <!--<a href="http://toutiao.liunar.com/0/37">    
                    <img src="/img/desktop/美国研究生-S.jpg">
                  </a>-->            
                  <a href="http://shop.liunar.com/72">
                    <img src="/img/desktop/纽约军校夏令营-S.jpg">
                  </a>
                <!--<a href="http://www.liunar.com/about">
                    <img src="/img/desktop/关于我们-S.jpg">
                </a>
                <a href="http://www.liunar.com/feedback">
                    <img src="/img/desktop/学生感言-S.jpg">
                </a>
                <a href="http://shop.liunar.com/22">    
                    <img src="/img/desktop/童军-S.jpg">
                </a>
                <a href="http://toutiao.liunar.com/0/34677">    
                    <img src="/img/desktop/送书-S.jpg">
                  </a>-->    
                </div>
              </div>
              <div class="item fullscreen white-bg">
                <div class="row">
                  <a class="col" align="center" href="/list/0">

                    <img src="/img/slice2.png" width="100%" />
                    <span>冬夏令营</span>
                  </a>
                  <a class="col" align="center" href="/list/1">

                    <img src="/img/slice3.png" width="100%" />
                    <span>背景提升</span>
                  </a>
                  <a class="col" align="center" href="/list/2">

                    <img src="/img/slice4.png" width="100%" />
                    <span>中小学</span>
                  </a>
                  <a class="col" align="center" href="/list/3">

                    <img src="/img/slice5.png" width="100%" />
                    <span>特色学院</span>
                  </a>
                  <a class="col" align="center" href="/list/4">
                    <img src="/img/slice6.png" width="100%" />
                    <span>知名大学</span> 
                  </a>
                </div>
                <div class="row">
                  <div class="col" align="center">
                    <img src="/img/slice7.png" onload="this.width/=1.5;this.onload=null;" />
                    <span style="vertical-align: 40%;">签证服务</span>
                  </div>
                  <div class="col" align="center">
                    <img src="/img/slice8.png" onload="this.width/=1.5;this.onload=null;" />
                    <span style="vertical-align: 40%;">移民项目</span>
                  </div>
                  <div class="col" align="center">
                    <img src="/img/slice9.png" onload="this.width/=1.5;this.onload=null;" />
                    <span style="vertical-align: 40%;">海外服务</span>
                  </div>
                </div>
              </div>  
              <% cate_map = {"冬夏令营":'0', "背景提升":'1', "中小学":'2', "特色学院":'3', "知名大学":'4', "团购产品":'5'} %>
              <div style="background-color: #f0f0f0; margin-top:14px;" >
                <% if (promotion){ %>

                <div class="productHomeContentContainer" style="padding-top: 8px">
                  <p class="mt-20 fullscreen" style="padding-right: 8px;font-size: 18px; color: #FD6601; border-left: 9px solid #FD6601;">
                    <span style="padding-left: 10px">热品推荐</span>
                  </p>
                  <div class="item" style="margin: 0 -17px;">
                    <div class="row shopRow wrapBox no-padding" >
                      <% for (var i = 0; i < promotion.length; i++) { %>
                      <a style="width:100%; background:white; border-bottom:solid 2px #f0f0f0; " href="<%= promotion[i].id %>">
                        <div class="row card-row">
                          <div class="no-padding" style=" background-image: url('http://cms.liunar.com/uploadimage/products/<%= promotion[i].promo_thumb %>'); height: 90px; width: 90px; background-size:auto 100%; background-repeat: no-repeat; background-position: center;">
                          </div>
                          <div class="col" style="background: white;">
                            <p class="card-title">   
                              <%= promotion[i].title%>
                            </p>
                            <div class="row no-padding" style="margin-top: 3px;">
                              <div class="col-40 no-padding">
                                <% if(promotion[i].age_min){ %>
                                <p class="card-text no-margin">
                                  <i class="fa fa-clock-o" style="margin-right: 2px; color: #52baba;"></i>
                                  <%= promotion[i].age_min %> - <%= promotion[i].age_max %>岁
                                </p>
                                <% } %>
                              </div>
                              <div class="col no-padding">
                                <% if(promotion[i].msrp){ %>
                                <span style=" color: #b2b2b2;">
                                  <i style=" color: #52baba;" class="fa fa-dollar"></i>
                                  <span><%= promotion[i].msrp %> <%= cur_map[promotion[i].currency] %>起</span>
                                </span>
                                <% } %>
                              </div>
                            </div>
                            <div class="row no-padding">

                              <div class="col-40 no-padding">
                                <% if(promotion[i].country){ %>
                                <p class="card-text no-margin">
                                  <i class="fa fa-map-marker" style="margin-right: 2px; color: #52baba;"></i>
                                  <%= promotion[i].country%>
                                </p>
                                <% } %>
                              </div>
                              <div class="col">
                                <% if(promotion[i].start_date){ %>
                                <span style=" color: #b2b2b2;">
                                  <%= promotion[i].start_date %>
                                </span>
                                <% } %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </a>
                      <% } %>
                    </div>
                  </div>
                </div>
                <% } %>
                <% for (var j = 0; j < list.length; j++) { %>
                <div class="productHomeContentContainer" style="padding-top: 8px">
                  <p class="mt-20 fullscreen" style="padding-right: 8px;font-size: 18px; color: #FD6601; border-left: 9px solid #FD6601;">
                    <span style="padding-left: 10px">  <%= list[j][0].type %> </span>
                    <a href="/list/<%= cate_map[list[j][0].type] %>"><span style="float: right">更多<i class="fa fa-chevron-right"></i></span> </a>
                  </p>
                  <div class="item" style="margin: 0 -17px;">
                    <div class="row shopRow wrapBox no-padding" >
                      <% for (var i = 0; i < list[j].length; i++) { %>
                      <% if( j == 5){ %>
                      <a class="col col-50" href="/gaopin/product/<%= list[j][i].id %>">
                        <% }else{ %>
                        <a class="col col-50" href="/<%= list[j][i].id %>">
                          <% }%>
                          <div class="item white-bg no-margin" style="padding: 12px; border: 1px solid #dadada; border-radius: 5px 5px 5px 5px;">
                            <div class="shop-card-img-container" style="background-image: url('http://cms.liunar.com/uploadimage/products/<%= list[j][i].promo_thumb %>');">
                            </div>
                            <div>
                              <h4 class="shop-card-title">
                                <%= list[j][i].title%>
                              </h4>
                              <p style="margin-bottom: 3px;margin-top: 8px;font-size: 12px">
                                <span style=" color: #b2b2b2 ;">
                                  <i style="padding-right:5px; color: #52baba;" class="fa fa-map-marker"></i>
                                  <%= list[j][i].country %>
                                </span>
                                <% if(list[j][0].type == '冬夏令营'){ %>
                                <span style=" color: #b2b2b2;">
                                  <i style=" color: #52baba;" class="fa fa-dollar"></i>
                                  <span><%= list[j][i].msrp %> <%= cur_map[list[j][i].currency] %>起</span>
                                </span>
                                <% } %>
                              </p>
                              <p style="margin-top: 3px;font-size: 12px;">
                                <% if(list[j][i].age_min){ %>
                                <span style=" color: #b2b2b2;">
                                  <i style="padding-right: 2px; color: #52baba;" class="fa fa-user"></i>
                                  <%= list[j][i].age_min %> - <%= list[j][i].age_max %>岁
                                </span>
                                <% } %>
                                <% if(list[j][i].start_date){ %>
                                <span style=" color: #b2b2b2;">
                                  <%= list[j][i].start_date %>
                                </span>
                                <% } %>
                              </p>
                            </div>
                          </div>
                        </a>
                        <% } %>
                      </div>
                    </div>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% include ../partials/footScript %>
        <% include ../partials/region_redirect %>

      </body>
      </html>