
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no, email=no" />

    <title>确认订单</title>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="/public/lib/angular/angular.min.js"></script>
    <script src="/public/lib/angular-cookies.js"></script>
    <%- include ../partials/ahaschool.ejs %>

    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/js/timer.js"></script>
    <script src="/public/js/app.js?ac=a"></script>
    <script src="/public/js/directives.js?vg=2"></script>
    <script src="/public/js/factories.js?v=car192s6g23"></script>
    <script src="/public/lib/angular-qr/lib/qrcode.js"></script>
    <script src="/public/lib/angular-qr/src/angular-qr.js"></script>
    <script src="/public/js/pay.js?dc=1pq211s"></script>
    <link href="/public/css/ahaschool/payment.css" rel="stylesheet" type="text/css">
    <style>
    .yellow-button{
        background-color: #ffe433;
        border: 1px solid #cccccc;
        border-radius: 0.3rem;
        text-align: center;
        color: #272421;
        height: 3rem;
        width: 100%;
        overflow: hidden;
        font-size: 1.2rem;
        line-height: 3rem;
        vertical-align: middle;
    }
    .strong{
        text-align: center;
        font-weight: 500;
        margin-bottom: 1rem; 
    }
    .red{
        color: red;
    }
    .toppadding{
        padding-top: 1rem;
    }
    .bigpadding{
        padding: 1rem 0.5rem 1rem 0.5rem;
    }
    .hugepadding{
        padding: 3rem 0.5em;
    }
    .time{
        font-size: 2rem;
    }
    .subtitle{
        color: #B2B2B2
    }
    h2{
        color: #15ef15;
    }
    .overlay{
        opacity:0.75;
        background-color: black;
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:999;
        display: none;
    }
    .middle{
        font-size: .9rem;
        color: darkgrey;
    }
    .howtoshare{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 100000;
        display: none;
    }
</style>

<% var oneSecond = 1000; %>
<% var to=new Date(order.end_date); %>
<% var secondsBeforeEventOver = Math.ceil(( to.getTime() - new Date().getTime()) / oneSecond) %>

<script type="text/javascript">
    var goToShop = function(){
        window.location.href = 'http://shop.liunar.com';
    };
    Number.prototype.toHHMMSS = function () {
        var sec_num = this; 
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);
        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours+':'+minutes+':'+seconds;
    }
    var init = function(){
        var timer_limit = <%= secondsBeforeEventOver %>;
        var resolution = 1000;
        var timer = new Timer(resolution);
        timer.after(timer_limit + ' seconds', function () {

        });
        timer.every('1 second', function(){
            document.getElementById('timerDisplay').innerHTML ="活动剩余时间: <span class='time'>"+ (timer_limit-timer.ticks()).toHHMMSS() +"</span>";
        });

        timer.start();
    } 


    $(function(){

        $('.sharenow').click(function(){
        //blur body
        $('.pub-page').css('filter','blur(2.5px)');
        $('.pub-page').css('-webkit-filter','blur(2.5px)');
        //display overlay
        $('.overlay, .howtoshare').show();
    })
        $('.overlay, .howtoshare').click(function(){
         $('.pub-page').css('filter','');
         $('.pub-page').css('-webkit-filter','');
         $('.overlay, .howtoshare').hide();
     })
        if(<%= secondsBeforeEventOver %> > 0){
           init();
       }   
   });

</script>




<body id="view" ng-app="pay" ng-controller="payController">

    <img class="howtoshare" src="/public/assets/ahaschool/howtoshare.png">

    <input type="text" id="coverSrc" value="http://cms.liunar.com/uploadimage/products/<%= order.promo_thumb %>" style="display: none">
    <span id="o_id" style="display: none"><%= order.id %></span> 
    <span id="productTitle" style="display: none"><%= order.title %></span> 
    <p id="description" style="display: none"><%= order.description %></p>
    <div class="overlay"></div>
    <div class="pub-page">
        <div class="book-box">
          <% if(payType == "GP"){ %>
          <% if(count.count == 1){ %>
          <h2 class="bigpadding">开团成功</h2>
          <div class="subtitle">
            您已经成为团长， 转发好友群或朋友圈，拼团更快哦！
        </div>
        <% } else if(count.count == 2) { %>
        <h2 class="bigpadding">参团成功</h2>
        <div class="subtitle">
            您已经成为团员， 转发好友群或朋友圈，拼团更快哦！
        </div>
        <% } else { %>
        <h2 class="bigpadding">参团成功</h2>
        <% } %>
        <% } else { %>
        <h2 class="bigpadding">购买成功!</h2>
        <% } %>

    </div>
    <div class="book-box book-goods">

        <div class="thumb"> <img src="http://cms.liunar.com/uploadimage/products/135.jpg" style=""> </div>
        <div class="desc">
            <p class="t"> <%= order.title %></p>
            <p class="middle"> <%= order.description %></p>
            <div class="b"> <span class="price">    <% if(payType == "GP"){ %> 3 人团 <% } %>  <em> ¥ <%= price %> </em>    </span> </div>
        </div>
    </div>
    <h2 class="book-title"></h2>

    <div class="book-box">

        <div class="strong toppadding">
           <% if(count.count < 3 && payType == "GP"){ %>

           还差<span class="red"><%= 3 - count.count %></span>人成团，呼唤朋友一起参加吧！</div>
           <div class="yellow-button sharenow" >马上分享</div>

           <% } else { %>
       </div>

       <div class="yellow-button" onclick="goToShop();">去观看更多产品</div>

       <% } %>

       <% if(count.count < 3 && payType == "GP"){ %>
       <div id="timerDisplay" class="hugepadding strong"></div>
       <% } %>
   </div>

   <div class="pub-loading" style="display: none;">
    <div class="pic-normal-loading">
    </div></div>
    <div class="pub-loading-mask" style="display: none;"></div>

</body>
</html>


<br/>

