<!DOCTYPE html>
<html>
<head>  
	<title>留哪儿精选</title>
	<script type="text/javascript" src="/public/lib/jquery-3.1.1.js"></script>
	<% include ../partials/head %>  
	<script src="/public/lib/slick/slick.min.js"></script>
	<script src="/public/lib/slick/angular-slick.js"></script>
	<script src="/public/js/localstorage.js"></script>  
	<script src="/public/js/product.js"></script>
	<style>
	@media (max-width: 400px) {
		input[type=checkbox] + label {
			font-size: 90%;
			line-height: 300% !important;
		}
	}
	input[type=checkbox] + label {
		display:inline-block;
		height:40px;
		border: 2px #dadada solid;
		overflow: hidden;
		border-radius:10px;
		line-height:250%;
		text-align:center;
		width: 30%;	
		margin-right: 1%;
		margin-bottom: 1%;
	} 
	input[type=checkbox]:checked + label {
		background-color:#52baba;
	}
	input[type=checkbox] {
		display:none;
	}
	.filter-cate-container{
		border-bottom: 2px #dadada solid;
		padding-bottom: 3%;
	}
	.last{
		border-bottom:none;
		margin-bottom: 7.5%;
	}
	h2{
		margin-top: 3%;
	}
	.card-title {
		font-size: 14px;
		font-weight: bold;
		color: #333;
		line-height: 18px;
		margin-bottom: 2px;
	}
	.card-row {
		padding-bottom: 10px; 
		padding-top: 10px; 
		border-bottom: 1px #dadada solid;
		height: 15.625%;
	}
	.card-text{
		margin-top: 3px;
		color: #b2b2b2;
		font-size: 12px;
	}


	.col{
		padding:0 0 0 10px; 
	}
	p{
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.tags{
		font-size: 11px;
		margin-top: 4px;
		margin-right: 2px;
	}
	i{
		margin-right: 3%;
	}

	.middle{
		display: inline-block;
		width: 100%;
		vertical-align: middle;
	}

	.middle::before{
		content: '';
		width: 0;
		font-size: 0;
		height: 100%;
		visibility: hidden;
		display: inline-block;
		vertical-align: middle;
	}
	select
	{
		border:0px;
		outline:0px;
	}

	.button-outline{
		background-color: rgba(0,0,0,0);
		border: 1px solid #000;
		color: #000;
		border-radius: 5px;
		padding: 1px 5px;
		text-align: center;
		font-weight: normal;
		font-family: Microsoft YaHei;
		font-size: 11px;
	}

	.button-outline.age{
		border-color: #3d5a99 !important;
		color: #3d5a99 !important;
	}

	.button-outline.type-0{
		border-color: #56bad4 !important;
		color: #56bad4 !important;
	}

	.button-outline.type-1{
		border-color: #edac38 !important;
		color: #edac38 !important;
	}

	.button-outline.type-2{
		border-color: #ee7f74 !important;
		color: #ee7f74 !important;
	}

	.button-outline.type-3{
		border-color: #8bc145 !important;
		color: #8bc145 !important;
	}

	.button-outline.type-4{
		border-color: #a667cf !important;
		color: #a667cf !important;
	}
	ul{
		width: 100%;
		margin:0;
		padding: 0;
		left: 0px;
		background-color: white;
		position: absolute;
		display: none;
	}
	ul li{
		display: block;
		border-bottom: 1px #b7b7b7 solid;
		width: 100%;
		list-style: none;
		height:40px;
		text-align: center;
		line-height: 250%;
	}
	.popup{
		display: none;
		border-radius: 12px;
		padding: 24px;
		position: fixed;
		top:40%;
		background-color: #d3d3d3;
		text-align: center;
		/* center the element */
		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
		/* give it dimensions */
		min-height: 8em;
		width: 90%;
	}
	body p{
		line-height: 16px;
	}
	.content {
		padding:0 7.5982px;
	}

</style>
<script type="text/javascript">
	var filterfieldsCount= {'冬夏令营':3,'背景提升':2, '中小学':2, "特色学院":2, '知名大学':3}

	var serializeFilterData = function(){
		var fieldsArray = [];
		for (var i = 0; i < $('input:checkbox').length; i++) {
			var cateName = $('input:checkbox')[i].name;
			if(fieldsArray.indexOf(cateName) == -1){
				fieldsArray.push(cateName);
			}
		}
		var master = [];
		for (x in fieldsArray) {
			var list = [];
			$("input:checkbox[name="+fieldsArray[x]+"]:checked").each(function(){
				list.push($(this).val());
			});
				if(list.length > 0 && list.indexOf('0') == -1){ //empty list（no selection） OR user selected 不限
					master.push(list);	
				}
			}
			if(master.length ==0){
				$('#noSelection').fadeIn();
				setTimeout(function(){
					$('#noSelection').fadeOut()
				}, 2000);
				return;
			}
			$('#angularSender').val(JSON.stringify(master));
			return true;
		}

		$(function(){
			var product_map = { 0: "冬夏令营", 1: "背景提升", 2: "中小学", 3: "特色学院", 4: "知名大学", 5: "团购产品" };

			$('#getFilter').click(function(){
				if(	document._active =='filter'){
					$('#errHeader').css('display','none');
					$('#filter').fadeOut(1);
					$('#list').fadeIn('slow');
					$('#angular').fadeIn();
					document._active ='list';
				}else{
					$('#errHeader').css('display','none');
					$('#filter').fadeIn('slow');
					$('#list').fadeOut('slow');
					$('#angular').fadeOut();
					document._active ='filter';
				}
				$('.down1').toggle();
				$('.right1').toggle();
			});

			document.category = '<%= category %>';
			document.fieldsCount = filterfieldsCount['<%= category %>'];
			$('#filterSubmit').click(function(){
				if(serializeFilterData(document.fieldsCount)){
					$('#angularSender').trigger('click');
				}
			});
			$('#filterReset').click(function(){
				$('input:checkbox').prop('checked','');
			})
			$('#getMenu').click(function(){
				$('#menu').toggle();
				$('.down0').toggle();
				$('.right0').toggle();
			})
			$('li').click(function(){
				window.location.replace('/list/'+this.id[this.id.length -1]);
			})

		});
	</script>
</head>
<body ng-app='product'>
	<div class="view-container" ng-controller='ListController'>
		<div class="pane">
			<% var head_title = category %>
			<% include ../partials/headerBar %>

			<div class="content-container no-footer" at-bottom method='loadMore()' ng-init="cate='<%= category %>'">
				<div class="row" style="height:40px; border-bottom: #dadada 2px solid;">
					<div id="getMenu" class="col-50" style="text-align: center;border-right: #dadada 2px solid; margin-top: 2%;">
						<%= head_title %><i class="fa fa-caret-right right0" style="margin-left: 5px;"></i><i class="fa fa-caret-down down0" style="display: none; margin-left: 5px;"></i>
					</div>

					<div id="getFilter" class="col" style="text-align: center; height: 60%; margin-top: 2%;">
						<i class="fa fa-sliders"></i>筛选 <i class="fa fa-caret-right right1" style="margin-left: 5px;"></i><i class="fa fa-caret-down down1" style="display: none; margin-left: 5px;"></i>
					</div>	
				</div>

				<ul id="menu">
					<li id="menu0">冬夏令营</li>
					<li id="menu1">背景提升</li>
					<li id="menu2">中小学</li>
					<li id="menu3">特色学院</li>
					<li id="menu4">知名大学</li>
					<li id="menu4">团购产品</li>
				</ul>	
				<div class="content">


					<input type="text" id="getCategory" value="<%= category %>" style="display: none;"/>
					<h2 id="errHeader" style="text-align: center;color: #dadada; display: none;">对不起，没有找到合适的产品！</h2>
					<textarea ng-click='getTrigger()' id="angularSender" style="display:none"></textarea>
					<div class="list" id="list">
						<% var product_map = { "冬夏令营":0, "背景提升":1, "中小学":2, "特色学院":3, "知名大学":4, "团购产品":5 } %>
						<% for(i = 0; i< data.length; i++){ %>
						<% if( data[i].promo_group == 5){ %>
						<a href="/gaopin/product/<%= data[i].id%>">
							<% }else{ %>
							<a href="/<%= data[i].id%>">
								<% }%>
								<div class="row card-row no-padding-x">
									<div class="no-padding" style=" background-image: url('http://cms.liunar.com/uploadimage/products/<%= data[i].promo_thumb %>'); height: 90px; width: 90px; background-size:auto 100%; background-repeat: no-repeat; background-position: center;">
									</div>
									<div class="col">
										<p class="card-title">   
											<%= data[i].title%>
										</p>
										<div class="tags">
											<% if(data[i].tags != null){ %>
											<% tagList = data[i].tags.split(',') %>
											<% if(tagList.length < 4){ %>
											<% var length = tagList.length; %>
											<% }else{%>
											<% var length = 5;%>
											<% }%>
											<% for(j = 0; j< length-1; j++){ %>
											<button class="tag button-outline button-outline type-<%= product_map[category] %>" disabled style="cursor: inherit">
												<%= tagList[j] %>
											</button>
											<% }%>
											<% }%>
										</div>
										<div class="row no-padding" style="margin-top: 3px;">
											<div class="col no-padding">
												<p class="card-text no-margin">
													<% if(data[i].duration){ %>
													<i class="fa fa-clock-o" style="margin-right: 2px; color: #52baba;"></i>
													<%= data[i].duration %>
													<% } %>
												</p>
											</div>
										</div>
										<div class="row no-padding">
											<div class="col-40 no-padding">
												<p class="card-text no-margin" >
													<i class="fa fa-map-marker" style="margin-right: 2px; color: #52baba;"></i>
													<%= data[i].country %>
												</p>
											</div>
											<div class="col no-padding">
												<% if(category == '冬夏令营'){ %>
												<p class="card-text no-margin" style=" text-align: right;">
													<i class="fa fa-dollar" style="margin-right: -2px;"></i>
													<span style="font-size: 1.5em; color: #fe532f;">
														<% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
														<%= data[i].msrp %> </span><%= cur_map[data[i].currency] %>起
													</p>
													<% } %>
												</div>
											</div>
										</div>
									</div>
								</a>
								<%}%>
							</div>
							<div id="angular">
								<a ng-repeat="data in lists" href="/{{data.id}}">
									<div class="row card-row no-padding-x">
										<div class="no-padding" style=" background-image: url('http://cms.liunar.com/uploadimage/products/{{data.promo_thumb}}'); height: 90px; width: 90px; background-size:auto 100%; background-repeat: no-repeat; background-position: center;">
										</div>
										<div class="col">
											<p class="card-title">   
												{{ data.title }} 
											</p>
											<div class="tags">
												<button ng-repeat="tag in data.tags" class="tag button-outline  type-<%= product_map[category] %>" disabled style="cursor: inherit; margin-right: 2px;">
													{{tag}}
												</button>

											</div>
											<div class="row no-padding" style="margin-top: 3px;">
												<div class="col no-padding">
													<p class="card-text no-margin">
														<i class="fa fa-clock-o" style="margin-right: 2px; color: #52baba;"></i>
														{{data.duration}}
													</p>
												</div>
											</div>
											<div class="row no-padding">
												<div class="col-40 no-padding">
													<p class="card-text no-margin">
														<i class="fa fa-map-marker" style="margin-right: 2px; color: #52baba;"></i>
														{{data.country}}
													</p>
												</div>
												<div class="col no-padding">
													<% if(category == '冬夏令营'){ %>
													<p class="card-text no-margin" style=" text-align: right;">
														<i class="fa fa-dollar" style="margin-right: -2px;"></i>
														<span style="font-size: 1.5em; color: #fe532f;margin-right: 4px;">{{data.msrp}}</span>{{data.currency}}起
													</p>
													<% } %>
												</div>
											</div>
										</div>
									</div>
								</a>


							</div>
							<div class="filter" id="filter" style="display: none">
								<div class="filter-cate-container" ng-repeat="(k, v) in filterhtml">
									<h2>{{k}}</h2>
									<span ng-repeat="tag in v">
										<input type="checkbox" name="cate{{tag.cateid}}" value="{{tag.tagid}}">
										<label>{{tag.tagString}}</label>
									</span>
								</div>
								<div class="footer row" style="border: 2px #f0f0f0 solid; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px;">
									<div id="filterReset" class="col-50" style="text-align: center;line-height: 300%;padding: 0px 0px 0px 0px;">重置
									</div>
									<div id="filterSubmit" class="col" style="text-align: center;line-height: 300%; background-color: #52baba; padding: 0px 0px 0px 0px;color: white;"">提交
									</div>
								</div>
							</div>
						</div>
						<div class="popup" id="noSelection">
							<h2>提示</h2>
							<h3 style="color: red; font-size:1.25em;">请选一个过滤的项目！</h3>
						</div>

						<!-- <button ng-click="getValue()">get value</button>  -->

					</div>
				</div>
			</div>
			<% include ../partials/footScript %>
		</body>