
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no, email=no" />


    <title>确认订单</title>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <script src="/public/lib/angular/angular.min.js"></script>
    <script src="/public/lib/angular-cookies.js"></script>
    <%- include ../partials/ahaschool.ejs %>
    <script src="/public/lib/jquery-3.1.1.js"></script>
    <script src="/public/js/app.js?ac=a"></script>
    <script src="/public/js/directives.js?vg=2"></script>
    <script src="/public/js/factories.js?v=car"></script>
    <script src="/public/lib/angular-qr/lib/qrcode.js"></script>
    <script src="/public/lib/angular-qr/src/angular-qr.js"></script>
    <script src="/public/js/pay.js?v=a201as2sd1"></script>
    <link href="/public/css/ahaschool/payment.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
       window.onload = function() {
          var iframe = document.getElementsByTagName('iframe')[0];
          var win;
          try {
              win = iframe.contentWindow;
          } catch(e) {
              win = iframe.contentWindow;
          }
          var purchaseinfo = {
            phone:"<%= prd.phone %>", 
            name: "<%= prd.nickname %>"
        };
        win.postMessage(JSON.stringify({key: 'cachedPurchaseInfo', method: "set", data: purchaseinfo}), "*");
    }
</script>
<body id="view" ng-app="pay" >
    <iframe style="display: none;" src="https://shop.liunar.com">

    </iframe>


    <div class="pub-page">
        <div class="book-box book-other-addr">
            <ul class="book-list ">
                <li>
                    <label>联系人</label>
                    <div class="r">
                        <input type="text" placeholder="请填写联系人姓名" value="<%= prd.nickname %>" id="other_addr_name" maxlength="20"> </div>
                    </li>
                    <li>
                        <label>手机号</label>
                        <div class="r">
                            <input type="text" placeholder="请填写手机号码" value="<%= prd.phone %>" id="other_addr_tel" maxlength="11"> </div>
                        </li>
                    </ul>
                </div>
                <div class="book-box book-goods" data-product-id="500735" data-groupbuy-id="">

                    <div class="thumb"> <img src="http://cms.liunar.com/uploadimage/products/<%= prd.promo_thumb %>"> </div>
                    <div class="desc">

                        <p class="t"> <%= prd.title %></p>
                        <div class="b"> <span class="price">    3人团  <em> ¥ <%= price %> </em>    </span> </div>
                    </div>
                </div>
                <h2 class="book-title">选择类别</h2>
                <div class="book-box book-options">
                    <ul>
                        <li class="active cl-fix" data-price="59.9" data-special_price="59.9" data-id="32774" data-idx="0">
                            <div class="option_name"><%= prd.title %></div>
                            <div class="option_price">
                                <div><dfn>¥</dfn><%= price %></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="book-box">
                    <ul>
                        <li class="book-count">
                            <label>购买数量</label>
                            <div class="count"> <i class="minus" id="order_num_minus"></i><span id="order_num" class="js_num">1</span><i class="add active" id="order_num_add"></i> </div>
                        </li>
                    </ul>
                </div>     
            </div>
            <div class="footer-box" ng-controller="payController">
                <div class="inner"> <span class="txt " id="derate_box" style="display: none;">已优惠<em><dfn>¥</dfn><span id="derate_price"></span></em>
                </span><span class="footer-price"><dfn>¥</dfn><em id="order_price"><%= price %></em></span>
                <% if(getArgs == 'success'){ %>
                <span ng-init='saveName()' class="btn-buy" id="btn_buy_pay" ng-click="pay(<%= timestamp %>, '<%= nonceStr %>', '<%= package %>', '<%= signType %>', '<%= paySign %>','https://www.liunar.com/testpay/paycallback?o_id=<%= o_id%>&fromPay=1')">
                    支付
                </span>
                <% } %>
            </div>

        </div>



        <div class="pub-loading" style="display: none;"><div class="pic-normal-loading"></div></div><div class="pub-loading-mask" style="display: none;"></div></body>
        </html>


        <br/>

