<!DOCTYPE html>
<html>
<head> 
	<style type="text/css">
		body{
			-webkit-font-smoothing: antialiased;
			margin:0;
			width: 8.5in;
			height: 11in;
			font-family:  "Microsoft YaHei", "微软雅黑";	
		}
		.col {
			-webkit-flex-basis: 0;
			-ms-flex-preferred-size: 0;
			flex-basis: 0;
			-webkit-box-flex: 1;
			-webkit-flex-grow: 1;
			-ms-flex-positive: 1;
			flex-grow: 1;
			max-width: 100%
		}
		.col-6 {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 50%;
			-ms-flex: 0 0 50%;
			flex: 0 0 50%;
			max-width: 50%
		}
		.row {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
		.headImgContainer{
			height: 1.39in; 
			width: 2.21739130435in;
			background-size:auto 100%; 
			background-repeat: no-repeat; 
			background-position: center;
			margin:1.5mm;
			border:white 1mm solid;
		}
		.headerContainer{
			text-align: center;
			padding: 1.1cm 0 1.1cm 0; 
		}

		.headerContent{
			width:84.706%;
			margin: 0 auto;
		}
		.bodyContent{
			width:84.706%;
			margin: 0 auto;
		}
		.title{
			height: 1.6in; 
			line-height:1.6in; 
			margin: 1.5mm; 
			width: 65.7%;
			font-size: 18px;
			font-weight: bold;
			background-color:DarkGreen;
			color: white;
		}
		.green-label{
			background-color:DarkGreen;
			color: white;
			font-weight: bold;
			text-align: center;
			width: 1.9cm;
			padding: .75mm 0 1.5mm 0;
			margin-bottom: 1mm;
		}
		.bigger-font{
			font-size:12px;
		}
		.smaller-font{
			font-size: 10px;
		}
		.text-font{
			font-size: 8px;
		}
		.text-container{
			margin-bottom: 4mm;
		}
		.no-margin-top{
			margin-top: 0 !important;
		}
		.no-margin-bot{
			margin-bottom: 0 !important; 
		}
		.title-caption{
			background-color: white;
			color: green;
			width: 65.7%;
			margin: 1.5mm; 
		}
		.tags{
			height:1.0cm;
			line-height: 1.0cm;
		}
		.theme{
			width: 5.78cm;
			margin:-1.5mm 1.5mm 1.5mm 1.5mm;
			line-height: 1.15cm;
		}
		.margin-right{
			margin-right: 2.5mm;
		}
		.text-center{
			text-align: center;
		}
		.block-comment{
			border: 1px #b7b7b7 solid;
			line-height: 8px;
			font-size: 12px;
			margin:1mm;
			width: 40%;
		}
		.col-3 {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 25%;
			-ms-flex: 0 0 25%;
			flex: 0 0 25%;
			max-width: 25%

		}

		.col-9 {
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 75%;
			-ms-flex: 0 0 75%;
			flex: 0 0 75%;
			max-width: 75%
		}
		.right-stack{
			margin-top: 4mm;
		}
		.border-left{
			margin-left: -2mm;
			padding-left: 4mm;
			border-left: 1px #b7b7b7 solid;
		}
		.caution{
			background-color: #f4faef;
			padding: 2.5mm 5mm;
		}
		.sponsors{
			background-color: #DDDDDD;
			max-width:90%;
			padding:4mm;
		}
		.sponsors img{
			height: 1.5cm;
			max-width: 100%;

		}
		.label-center{
			font-weight: bold;
			padding-right: 3mm;
			line-height: 82px;
			text-align: center;
			border-right: 1px solid;
		}
		.banners {
			width: 100%;
			margin-top: 2mm;
		}
		.banners img{
			height: 0.7cm;
		}

	</style>
</head>
<body>
<img src="<%= headerImages[4] %>" style="filter: blur(5px);-webkit-filter: blur(5px); position: absolute; left: 0;z-index: -99;width: 8.5in; height: 452px;display: block;">
	<div class="headerContainer">
		
		<div class="headerContent">
			<div class="row">
				<div class="headImgContainer" style=" background-image: url(<%= headerImages[0] %>); ">
				</div>
				<div class="headImgContainer" style=" background-image: url(<%= headerImages[1] %>); ">
				</div>
				<div class="headImgContainer" style=" background-image: url(<%= headerImages[2] %>); ">
				</div>
			</div>
			<div class="row">
				<div class="title col  no-margin-bot">
					<%= title %>
				</div>
				<div class="headImgContainer" style=" background-image: url(<%= headerImages[3] %>); ">
				</div>
			</div>
			<div class="row">
				<div class="title-caption col tags no-margin-top">
					这个夏天相约美加，一起成长
				</div>
				<div class="row theme">
					<div style="text-align: center; color: white; background-color: navy; font-weight: bold; width: 3cm; max-height:1.16cm; ">
						<%= theme %>
					</div>
					<div style="padding-left: 2mm;">
						<img src="http://www.liunar.com/public/assets/canada_flag.png" style="width: 2.5cm; max-height:1.16cm;" >
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bodyContent">
		<div class="row">
			<div class="col-9">
				<div class="row left-col">
					<img src="http://www.liunar.com/schools/5/1.png" style="width:2.7cm;height: 2.7cm;float: left; margin-top: 2mm;">
					<div style="overflow: hidden;float:left; width: 10cm; margin-top: 5mm; font-size: 10px;  line-height: 12px; padding: 2mm; background-color: #f4faef;">
						这个夏天相约美加，一起成长这个夏天相约美加，一起成长这个夏天相约美加，一起成长这个夏天相约美加，一起成长这个夏天相约美加，一起成长这个夏天相约美加，一起成长这个夏天相约美加，一起成长这
					</div>
				</div>
				<div class="row left-col" style="margin-top: 2mm; padding-right: 5mm;">
					<div class="block-comment col text-center">
						<p>侵入式英文学习</p>
						<p style="color: #b2b2b2;">快乐教学， 前面提高英语综合能力</p>
						<p>听力突破 自信表达 阅读强化</p>
						<p>写作提升 学科扩展 互动学习</p>
					</div>
					<div class="block-comment col text-center">
						<p>侵入式英文学习</p>
						<p style="color: #b2b2b2;">快乐教学， 前面提高英语综合能力</p>
						<p>听力突破 自信表达 阅读强化</p>
						<p>写作提升 学科扩展 互动学习</p>
					</div>
				</div>
				<div class="row left-col" style="margin-top: 2mm; padding-right: 6mm; padding-left: 1mm;">
					<div class="green-label bigger-font-font" style="width: 100%;">
						行程亮点
					</div>
					<div class="smaller-font text-container">
						60国青少年综合入营——收获国际友谊
						在所有活动和课程中，营员们被分成两个年龄段，7-12岁的少年和13-17岁的青少年。他们
						来自不同的国家，包括比利时，法国，德国，西班牙，意大利，巴西，加拿大和美国等60多
						个国家，所有课程与活动共同参与，收获国际友谊。
						美国营地食宿在著名的大学校园——奠定海外留学基础
						美国营全程食宿在当地最著名大学校园，营地分布北美东西两岸，孩子不仅可以感受国外名
						校的氛围，使用校园设施，了解学校历史、教学理念和申请条件，还能培养自己国际化、多
						元化的文化理念，提升综合素质，从而收获到更多的留学申请优势，为今后出国留学做好准
						备。
						专业机构认证和结业证书——助力未来成长
						营地结束提供权威而专业的整体管理和认证，免考雅思，助力留学。寻找人生榜样，设定人
						生目标。树立信仰，构建价值取向，寻觅自己的精神家园。	
					</div>
				</div>
				<div class="sponsors row">
					<div class="col-3">
						<div class="label-center">
							主办方
						</div>
					</div>
					<div class="col-9">
						<div class="row">
							<div class="col" style="text-align: center;">
								<img src="http://www.liunar.com/public/assets/tamwood.png">
								
							</div>
							<div class="col" style="text-align: center;">
								<img src="http://www.liunar.com/public/assets/cbst.png">
								
							</div>
						</div>
						<div class="row">
							<div class="col" style="text-align: center; font-size: 16px;">
								天幕营地
							</div>
							<div class="col" style="text-align: center;font-size: 16px;">
								CanBest教育集团
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<div class="col-3 right-stack" >
				<div class="border-left">
					<div class="green-label smaller-font">
						时间地点
					</div>
					<div class="text-font text-container">
						1.洛杉矶：7月23日~8月13日
						2.旧金山：7月2日~8月6日
						3.波士顿：7月9日~8月6日
						4.温哥华：7月2日~8月13日
						5.惠斯勒：7月2日~8月13日
						6.多伦多：7月2日~8月6日
						（*以上期间任选连续两周）
					</div>
					<div class="green-label smaller-font">
						入营要求
					</div>
					<div class="text-font text-container">
						7~17岁青少年（7~12岁为少年组，13~17岁为青少年组）
					</div>
					<div class="green-label smaller-font">
						报名方式
					</div>
					<div class="text-font text-container">
						全国热线：4008-099-039
						北京固话：010-64783310
						北京张老师：13701191161
						深圳固话：0755-82802809
						深圳吴老师：18576440940
					</div>
				</div>
			</div>
			<div class="banners">
				<img src="http://www.liunar.com/public/assets/2017sc.png" style="float:left;">
				<img src="http://www.liunar.com/public/assets/sc.png" style="float: right;">
			</div>
			<div class="caution text-font">
				<span style="font-weight: bold; font-size: 14px;">全方位安全保障</span>
				<div class="smaller-font">
					营地内所有员工都受过急救培训，而且CanBest教育集团专门招募了营地健康护理人员，可全方位的照顾到营员。工作人员和营员
					一起住在宿舍，每天24小时全程管理。营员签约后将获得保额高达千万的全方位的海外保险，保障营员海外安全无忧。
				</div>
			</div>
		</div>
	</div>
	
</div>
</body>
</html>