<!DOCTYPE html>
<html>

<head>
  <% include ../partials/head %>
  <link rel="stylesheet" href="/public/lib/dripicons/webfont.css">
  <script src="/public/lib/jquery-3.1.1.js"></script>
  <script src="/public/lib/slick/slick.min.js"></script>
  <script src="/public/lib/slick/angular-slick.js"></script>
  <script src="/public/js/product.js?v=1"></script>
  <title>
    <%= prd.title %>
  </title>
  <style type="text/css">
    .text-content {
      border-bottom: 20px #f0f0f0 solid;
      padding: 10px 20px 10px 20px;
    }
    .text-content ul{
      max-width: 100%;
    }
    .fa {
      font-size: 2em;
      color: #52baba;
      margin-right: 15px;
    }

    .header {
      font-size: 1.3em;
    }

    .border-bottom {
      border-bottom: 1px #dadada solid;
      padding-bottom: 10px;
    }

    .tab {
      color: #bde2e2;
      font-size: 1.4em;
      padding-bottom: 2%;
    }

    .tab.active {
      color:#52baba;
    }

    .boxes {
      display: inline-block;
      border: 2px #DADAda solid;
      border-radius: 15px;
      padding: 0px 5px 0px 5px;
      margin: 0px 6px 0px 6px;
    }

    .boxes.active {
      border: 5px #dadada solid;
    }

    p>img {
      width: 100%;
    }

    #page1 img {
      width: 100%;
    }

    span>img {
      width: 100%;
    }

    .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
    }

    html,
    body {
      height: 100%;
    }

    .overlay {
      position:absolute;
      display:none; 

      /* color with alpha transparency */
      background-color: rgba(0, 0, 0, .4);

      /* stretch to screen edges */
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 100000;
      width: 100vw;
      height: 100vh;
    }
    .popup {
     display:none; 
     position: fixed;
     /* center the div */
     right: 0;
     left: 0;
     margin-right: auto;
     margin-left: auto;
     /* give it dimensions */
     width: 75%;
     /* just for example presentation */
     top: 17em;
     background-color: white;
     border-radius: 5px;
     z-index: 100000;
     text-align: center;
   }

   #popup-text {
    font-size: 1.5em;
    font-weight: bold;
  }

  .item > input {
   font-size: 16px;
   height: 35px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   padding: 5px;
   border: 1px solid #bababa;
 }
</style>
<script type="text/javascript">
  function openTab(name, tab_index) {
    var x = document.getElementsByClassName("tab-content");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    var y = document.getElementsByClassName("tab");
    for (i = 0; i < y.length; i++) {
      y[i].className = "tab col-33";
    }
    document.getElementById(name).style.display = "block";
    document.getElementById(tab_index).className += " active";
  }

  function orderItem() {
    $('#page1').hide();
    $('#page2').css("display","block");
  }

  function payItem(){
      //$('#page1').hide();
      $('#page3').show();
      $('#_itenaryHtml').html(document._itenaryHtml);
    }

  function hidePopup() {
        //hide popup, remove overlay
        $(".overlay").css('display', 'none');
        $(".popup").hide();
      }

      function ConvertFormToJSON(form) {
        var array = jQuery(form).serializeArray();
        var json = {};

        jQuery.each(array, function () {
          json[this.name] = this.value || '';
        });
        return json;
      }

      function addListenersToFooter() {
        $('#order').click(orderItem);
        $('#pay').click(payItem);
        $('.overlay').click(hidePopup);
        $('.popup').click(hidePopup);
        $('#inquire').click(function () {
          return;
        });
        $('#order_now').click(function () {
          var data = ConvertFormToJSON($("#form"));
          data.ProductName = '<%= prd.title %>';
          data.ProductId = '<%= prd.id %>';
          if(window.referUId){
            data.liunarUId =  window.referUId; 
          }
          console.log(data);
          if(data.Mobile && data.chineseName && data.Mobile.length > 5 && data.chineseName.length > 1){
            $.ajax({
              type: "POST",
              url: 'http://yun.liunar.com/api/client',
              data: data,
              success: function (d) {
                console.log(d);
                $('.overlay').click(
                  function(){
                    $("#page2").hide();
                    $("#page1").show();
                  }
                  );
                $('.popup').click(function(){
                  $("#page2").hide();
                  $("#page1").show();
                });
                if(d.student){
                  $(".overlay").show();
                  $("#successDiv").fadeIn();
                }else{
                  $(".overlay").show();
                  $("#errorDiv").fadeIn();
                }
              },
              error: function(err){
                $('.overlay').click(
                  function(){
                    $("#page2").hide();
                    $("#page1").show();
                  }
                  );
                $('.popup').click(function(){
                  $("#page2").hide();
                  $("#page1").show();
                });
                $(".overlay").fadeIn();
                $("#errorDiv").fadeIn();
              },
              dataType: 'json'
            });
          }else{
            $(".overlay").fadeIn();
            $("#needInfoDiv").fadeIn();

          }
        });
        $('#pay_now').click(function(){
      
          var data = ConvertFormToJSON($("#form2"));
          data.ProductId = '<%= prd.id %>';
          if(window.referUId){
            data.liunarUId = window.referUId;
          }
          console.log(data);
          if(data.Mobile && data.chineseName && /(\d){6,}/g.test(data.Mobile) == true && data.chineseName.length > 1){
            window.location.href = "http://www.liunar.com/testpay/payproduct?productid=<%= prd.id %>&rid=" + (window.referUId ? window.referUId.toString() : "") + "&type=DP" + "&name=" + data.chineseName + "&tel=" + data.Mobile + "&ref_code=" + data.ref_Code;
          }else{
            $(".overlay").fadeIn();
            $("#needInfoDiv").fadeIn();
          }
        });
      }


      $( document ).ready(function() {
      //set refid if present
      this._userItenary = 0;
      if(window.uid){
        $.get('http://www.liunar.com/api/usercenter/user/getReferCode/'+window.uid, function(data){
          if(data.err) {return;}
          window.refCode = data.reference_code;
          $('#refercode').text('(优惠推荐码:'+ window.refCode+')');
          $('#refercode2').text('(优惠推荐码:'+ window.refCode+')');
        });
      }
      if(window.referUId){
        $.get('http://www.liunar.com/api/usercenter/user/getReferCode/'+window.referUId, function(data){
          if(data.err) {return;}
          $("#ref_Code").val(data.reference_code);
        });
      }
      openTab('box-static-0', 'tab1');
      addListenersToFooter();
    });

  </script>
</head>

<body ng-app="product">
  <div class="overlay"></div>
  <div class="popup "><p id="popup-text "></p></div>
  <div class="popup" id="successDiv" style="border-radius: 12px; padding: 24px;">
    <p style="font-size:1.25em;"><%= prd.title %></p>
    <h3 style="color: green; font-size:1.25em;">预定成功！</h3>
    <p style="font-size:1.25em;">客服将在24小时内联系你</p>
  </div>
  <div class="popup" id="errorDiv" style="border-radius: 12px; padding: 24px;">
    <p style="font-size:1.25em;"><%= prd.title %></p>
    <h3 style="color: darkred; font-size:1.25em;">出错了！请重试！</h3>
  </div>
  <div class="popup" id="needInfoDiv" style="border-radius: 12px; padding: 24px;">
    <p style="font-size:1.25em;"><%= prd.title %></p>
    <h3 style="color: darkred; font-size:1.25em;">请输入您的姓名和联系电话</h3>
  </div>
  <div class="view-container">
    <div class="pane">
      <%# include ../partials/shareHeader %>
      <div class="footerBar shop row" style="border-top: 2px #f0f0f0 solid; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px; background-color: #fff;">
      <div class="col">
        <div class="row no-padding">
          <a class="col no-padding color-666 t-a-c" href="http://shop.liunar.com">
            <i class="dripicons-home d-block" style="font-size: 1.2rem;"></i>
            <span class="d-block" style="font-size: 0.85rem;">首页</span>
          </a>
          <a class="col no-padding color-666 t-a-c" href="tel:4008099039">
            <i class="dripicons-conversation d-block" style="font-size: 1.2rem;"></i>
            <span class="d-block font-85" style="font-size: 0.85rem;">咨询</span>
          </a>
        </div>
      </div>
      <div id="order" class="col" style="font-size: 1.2rem; text-align: center;line-height: 50px; background-color: #ff6f21; padding: 0px 0px 0px 0px;color: white;">免费预订</div>
      <!--<div id="pay" class="col" style="font-size: 1.2rem; text-align: center;line-height: 50px; background-color: #019C00; padding: 0px 0px 0px 0px;color: white;">订金预订</div>-->
    </div>
    <div class="content-container no-header" id="page1" ng-controller="productController">
      <p id="productid" style="display: none;">
        <%=prd.id %>
      </p>

      <p id="productid" style="display: none;"><%=prd.id %></p>      
      <img src="<%= img %>" width="100%">
      <input type="text" id="coverSrc" value="<%= img %>" style="display: none">

      <div class="text-content">
       <span style="font-size: 150%" id="productTitle"><%= prd.title %></span>
       <p style="display: none;"><%= prd.tags %></p>
       <p id="description"><%= prd.description %></p>
       <p>
         <!-- <span style="text-decoration: line-through; color: #7f7f7f; font-size: 1.2em;">$<%= prd.msrp %></span>  -->
         <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
         <% if(prd.msrp){%>
         <span style="color:#e5611a; font-size: 1.7em;">$<%= prd.msrp %><%= cur_map[prd.currency] %>起</span> 
         <span id="refercode" style="color: #7f7f7f;font-size: 1.2em;"></span>
         <% } %>
       </p>
     </div>

     <div class="text-content">
      <p class="border-bottom"><i class="fa fa-map-marker"></i><span class="header"><%=prd.country %></span></p>
      <% if(prd.duration) {%>
      <p class="border-bottom"><i class="fa fa-calendar"></i><span class="header"><%=prd.duration %></span></p>
      <% } %>
      <% if(prd.age_min || prd.first_tab) {%>
      <div class="border-bottom">
        <i class="fa fa-user"></i>
        <span class="header"><%=prd.age_min %> - <%=prd.age_max %> 岁 <%- prd.first_tab %></span>
      </div>
    </div>
    <% } %>


    <div class="text-content">
      <h2 style="text-align: center;color:#52baba;">项目亮点</h2>
      <%- prd.pre_tab %>
    </div>

    <div class="text-content">
      <div class="row" style="margin: 0;padding:0;">
        <div class="tab col-33" id="tab1" onclick="openTab('box-static-0',this.id)">项目介绍</div>
        <div class="tab col-33" id="tab2" onclick="openTab('box-static-1',this.id)">材料清单</div>
<!--         <div class="tab col-33" id="tab3" onclick="openTab('box-static-2',this.id)">申请流程</div>
-->      </div>
<div id="box-static-0" class="tab-content">
  <% if(prd.body_tab1 != null) {%>
  <%- prd.body_tab1 %>
  <% } else{ %>
  <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
  <% } %>
</div>
<div id="box-static-1" style="display: none;" class="tab-content">
  <% if(prd.first_tab != null) {%>
  <%- prd.first_tab %>
  <% } else{ %>
  <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
  <% } %>
</div>
      <!-- <div id="box-static-2" style="display: none;" class="tab-content">
        <% if(prd.body_tab3 != null) {%>
        <%- prd.body_tab3 %>
        <% } else{ %>
        <p style="text-align: center; font-size: 16px; color: #b2b2b2;">抱歉！ 暂无信息</p>
        <% } %>
      </div> -->
    </div>

    <% if(prd.pastcase != null) {%>
    <div class="text-content" id="pastcase">
      <h2 style="text-align: center;color:#52baba;">往期回顾</h2>
      <% for(var i=0; i<prd.pastcase.length; i++) {%>
      <% if(prd.pastcase[i].authorid == null) {%>
      <% prd.pastcase[i].authorid = 0; %>
      <% } %>
      <%# prd.pastcase[i].authorid %>
      <a href="<%= 'http://toutiao.liunar.com/'+ 0 +'/'+ prd.pastcase[i].id%>">
        <div class="row" style="border-bottom: 2px #f7f7f7 solid; margin-bottom: 10px;">
          <div class="col-6">
            <img style="width: 100%; height: auto;" src="http://cms.liunar.com/uploadimage/articles/<%= prd.pastcase[i].promo_thumb %>">
          </div>
          <div class="col-6" > 
            <p style="margin-bottom: 0px;color:#000000;font-size: 0.9em; "><%= prd.pastcase[i].title %></p>
            <i class="fa fa-eye " style="color:#7f7f7f; font-size: 0.7em; "><%= prd.pastcase[i].view_count %></i>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <% } %>
    <hr style="margin-top: 24px" />
    <div style="display:block; ">
      <img src="/img/qr3.jpg " width="100% "/>
    </div> 


  </div>
  <div class="content-container no-footer no-header" id="page2" style="display: none; background: rgb(255, 255, 255); position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; padding: 17px; overflow: scroll; z-index: 99999;">
    <h2 style="text-align: center; "><%= prd.title %></h2>
    <p><%= prd.description %></p>
    <% var cur_map = {'CAD':'加币','CNY':'人民币','AUD':'澳币','USD':'美元','EUR':'欧元'} %>
    <% if(1==2){ %>
    <p style="color: #7f7f7f; text-align: center;">约:<%= prd.msrp %><%= cur_map[prd.currency] %></p>
    <% } %>
    <p id="refercode2" style="color: #7f7f7f; text-align: center;"></p>

    <form id="form">
      <div class="item no-padding">

        <input name="chineseName" id="chineseName" type="text" placeholder="姓名(必填)">
      </div>
      <div class="item no-padding">

        <input name="Mobile" id="Mobile" type="text" placeholder="联系电话(必填)"> 
      </div>
      <div class="item no-padding">
        <small>如果您希望我们透过微信联系您，请填入您的微信号：</small>
        <input name="wechat" id="wechat" type="text" placeholder="微信号">  
      </div>
    </form>
    <div id="order_now" style="border-top: 2px #f0f0f0 solid; text-align: center; line-height: 200%; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px;background-color: #c6aa00; color: white; font-weight: bold; font-size: 1.2em;">立即免费预订</div>

  </div>
  <!--pay FORM -->
    <div class="content-container no-header no-footer" id="page3" style="background: #fff; display: block; position: fixed; top: 0px; left:0px; width: 100vw; height: 100vh; padding: 17px; display: none; overflow: scroll; z-index: 99999;">

      <h2 style="text-align: center; line-height: 1.5em; font-size: 24px;"><%= prd.title %></h2>
      <p style="font-size: 16px; line-height: 1.5em;"><%= prd.description %></p>
      <p style="color: #7f7f7f; text-align: center;">您所选择的出发时间</p>
      <div style="text-align: center;" id="_itenaryHtml"></div>
      <form id="form2">
        <div class="item no-padding">

          <input name="chineseName" id="chineseName" type="text" placeholder="姓名(必填)">
        </div>
        <div class="item no-padding">

          <input name="Mobile" id="Mobile" type="text" placeholder="联系电话(必填)"> 
        </div>
        <div class="item no-padding">

          <input name="ref_Code" id="ref_Code" type="text" placeholder="推荐码(可获得优惠)"> 
        </div>
        <div class="item no-padding">
          <small>如果您希望我们透过微信联系您，请填入您的微信号：</small>
          <input name="wechat" id="wechat" type="text" placeholder="微信号">  
        </div>
      </form>
      <div id="pay_now" style="border-top: 2px #f0f0f0 solid; text-align: center; line-height: 200%; margin-right: 0px;margin-left: 0px; padding: 0px 0px 0px 0px;background-color: #44b549; color: white; font-weight: bold; font-size: 1.2em;">立即预订</div>
    </div>
    <!--end pay form -->

</div>


</div>
</div>
</div>
</body>
<% include ../partials/footScript %> 
<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?744edc12315468ba7f6a9ce159e6d177 ";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>
</html>