<!DOCTYPE html>
<html>
<head>
    <link href="/public/css/d_global.css?v=1" rel="stylesheet"/>
    <title><%= prd.title %>销售指引</title>
    <style type="text/css">
        .content > div{
            border-bottom: #dadada 2px solid;
            padding-bottom: 1%;
            padding-top: 1%;
        }
        .content{
         width: 80%;
         margin: 0 auto;
     }
     i{

        font-style: normal;
        font-size: 3.0em;
    }
    a{
      text-decoration: underline;
  }
</style>
</head>
<body>
    <div class="content">
        <h1 style="text-align:center;">
            产品名：<%= prd.title %>
        </h1>
        <% if (valid) { %>
        <div>
            <i> 渠道佣金 </i>：<span style="font-size: 1.1em;"><%= prd.commission %></span>
        </div>
        <div>
            <i>返佣金时间</i>：<span style="font-size: 1.1em;"><%= prd.referral_fee_process_time %></span>
        </div>
        <div>
         <i> 销售指导</i><%- prd.sale_instruction %>
     </div>
     <div>
        <i>市场指导 </i><%- prd.market_instruction %>
    </div>
    <div style="text-align:left; margin-bottom:24px; margin-top:24px;">
        <i>物料</i>
        <ul>
            <% for(i=0; i<files.length; i++){ %>
            <li> <%= files[i].title %> <a style="margin-left:20px" href="http://cms.liunar.com/uploads/products/<%= prd.id %>/sales_materials/<%= files[i].title %>">点击下载</a> </li>
            <% } %>
        </ul>
    </div>
    <% } %>
</div>
                <% include ../partials/footScript %>
</body>
</html>
