<!DOCTYPE html>
<html>
    <head>
        <title>留哪儿-匠心，良心，教育初心！</title>
        <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
        <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
        <meta name="author" content="Canbest">
        <% include ../d_partials/head %>
        <style>
            .card-group .card+.card {
                border-left: 1px solid rgba(0,0,0,.125);;
            }
            .card, .card p{
                font-size: 95%;
            }

            .card h4{
                font-size: 125%;
                font-weight: bold;
            }

            .bg-grey{
                background-color: #f2f2f2;
            }
            .card-title.nav-card{
                color: #666666;
                font-weight: normal;
                font-size: 18px;
                margin-bottom: 0px; 
                line-height: 3em;
                border-bottom: 1px solid #ddd;
            }

            .card-title.nav-card.active{
                color: #29498D;
                font-weight: bold;
            }

            .card-title.main-text{
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 12px;
                color: #29498D;
            }

            .card-text.main-text{
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 12px;
                color: #666666;
            }

            p.card-text.main-text + ul li.card-text.main-text{
                margin-left: 0px;
                font-size: 14px;
                list-style: disc;
                font-weight: normal;
                margin-bottom: 0em;
                color: #666666;
            }

             li.card-text.main-text{
                margin-left: -40px;
                list-style: none;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 0em;
                color: #666666;
            }
        </style>
    </head>
    <body class="bg-grey">
        <% var active_nav="about" %>
        <% include ../d_partials/nav %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3 ">
                    <div class="sticky-top card text-center radius-0" style="border-top: 5px solid #3B5998; top:40px;">
                        <div class="card-block pt-0">
                            <h1 class="card-title nav-card active">
                                <a href="http://www.liunar.com/about">
                                    留哪儿介绍
                                </a>
                            </h1>
                            <h1 class="card-title nav-card">
                                <a href="http://www.liunar.com/achievement">
                                    留哪儿荣誉
                                </a>
                            </h1>
                            <h1 class="card-title nav-card">
                                <a href="http://www.liunar.com/contact">
                                    联系我们
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mt-3 mt-md-0">
                    <div class="card">
                        <div class="card-block">
                            <img class="mb-4" src="/img/desktop/关于留哪儿.jpg" alt="关于留哪儿" style="width: 100%;">
                            <h1 class="card-title main-text">留哪儿</h1>
                            <p class="card-text main-text">
                                “留哪儿”是一个聚合全球教育资源的知识社交型国际教育电商平台，怀着“匠心，良心，教育初心”的服务理念专注海外教育，帮助孩子成为更好的自己。“留哪儿”业务包括留学（美国、加拿大、英国、澳大利亚、新西兰）、低龄留学（中学、小学）、游学（夏令营、插班生）、背景提升、移民（美国、加拿大）等。
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”由肯博思特（CanBest）教育集团于2015年整合集团业务创立。在温哥华和深圳设有双总部，在洛杉矶、多伦多、澳洲、芬兰和北京都有分支机构。成立至今已经服务超过6000名学生。每年都有200多名学生参与集团举办的北美游学暨北美夏令营节。留学申请中，10%学生入读哈佛、麻省理工、耶鲁等顶级大学，70%学生入读全美TOP30高校（哥伦比亚大学、芝加哥大学等）。
                            </p>
                            <p class="card-text main-text">
                               “留哪儿”的任务是：让孩子选择世界，实现最佳留学教育，得到全周期服务；将一流国际教育资源导入中国。
                            </p>
                            <h1 class="card-title main-text">发展历程</h1>
                            <ul>
                                <li class="card-text main-text">1998年，JL Can学院（温哥华）成立，主营海外K12升学辅导</li>
                                <li class="card-text main-text">2005年，开展海外留学移民业务，以专业经验加严谨负责的理念服务客户</li>
                                <li class="card-text main-text">2011年，开展美国、加拿大高端留学业务，服务学生超500人，10%学生入读哈佛、麻省理工、耶鲁等顶级大学，70%学生入读全美TOP30高校</li>
                                <li class="card-text main-text">2015年，“留哪儿”平台成立，聚合全球优质教育资源的留学商城+留学知识平台</li>
                                <li class="card-text main-text">2016年，开发招生运营平台（SAAS系统），实现海外院校“一键招生”+“一键申请”</li>
                            </ul>
                            <h1 class="card-title main-text">企业文化</h1>
                            <ul>
                                <li class="card-text main-text"><b>愿景：</b>成为全球华人最值得信赖的伙伴，帮客户赢得最适合自己的国际教育并留在让自己最幸福的地方！</li>
                                <li class="card-text main-text"><b>使命：</b>怀着“匠心、良心、教育初心”，帮助每个中国孩子成为更好的自己。</li>
                                <li class="card-text main-text"><b>留哪儿口号：</b>匠心，良心，教育初心！</li>
                                <li class="card-text main-text"><b>服务准则：</b>不急不躁，用心服务，永远比客户想多一步！</li>
                            </ul>
                            <h1 class="card-title main-text">我们的优势</h1>
                            <p class="card-text main-text">
                                “留哪儿”拥有独一无二的跨界团队：国际教育（留学、游学）+互联网。
                            </p>
                            <ul>
                                <li class="card-text main-text"><b>独特优势1：</b>“留哪儿”拥有专业能力强大的留学顾问中央导师团；</li>
                                <li class="card-text main-text"><b>独特优势2：</b>“留哪儿”开发出业内领先的留学申请智能辅助系统；</li>
                                <li class="card-text main-text"><b>独特优势3：</b>“留哪儿”在海外拥有20年历史的升学辅导学校。</li>
                            </ul>
                            <h1 class="card-title main-text">服务</h1>
                            <p class="card-text main-text">
                                “留哪儿”洞察了家长的迫切需求，填补了市场上的空白，开创性地开发出以下产品，确保解决“资源、路线”这两个核心痛点：
                            </p>
                            <ul>
                                <li class="card-text main-text">留哪儿平台（www.liunar.com），聚合全球最优教育资源，覆盖“知名大学、特色学院、低龄留学、背景提升、海外游学”5条产品线，通过结构化的院校库、产品库、知识库，搭建了国内第一个知识社交型的国际教育电商平台</li>
                                <li class="card-text main-text">云招宝（SAAS系统），一站式国际教育申请平台，以领先的云计算和移动互联网技术，实现--申请精细化，流程信息化，决策智能化，将留学申请从传统的手工操作，推进到数据驱动</li>
                            </ul>
                            <p class="card-text main-text">
                                基于领先的技术平台，“留哪儿”一流的专家团队，能够高效地为每一位学生提供度身定做的高品质服务。2017年3月15日，“留哪儿”成为广东省留学服务行业协会“承诺诚信服务单位”。
                            </p>
                            <h1 class="card-title main-text">价值</h1>
                            <p class="card-text main-text">
                               1、可靠。
                            </p>
                            <p class="card-text main-text">
                                在云招宝平台上，留学申请服务通过流程化和标准化，实现了各个系统间的无缝对接与数据的获得和实时处理，云档案柜高效无误地管理文本，极大降低了传统手工作业时代可能出现的差错。全程透明，进度清晰可见，确保“留哪儿”的可靠执行。
                            </p>
                            <p class="card-text main-text">
                                2、最佳。
                            </p>
                            <p class="card-text main-text">
                                基于云招宝的协同服务系统，最好的留学导师和境外专家，将为学生提供最佳策略与服务。云服务令“中央厨房”的理念得以实现，一流专家价值最大化，每个孩子都能得到最佳指导。
                            </p>
                            <p class="card-text main-text">
                                3、全周期。
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”拥有一整套落地留学移民全周期服务，根据孩子的个人特质与家族使命，为客户提供端到端的闭环式体验，实现留学前、中、后的高品质解决方案。
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”是唯一在海外拥有升学辅导机构（详见JLcan.com）的留学平台，已经帮助6000余位学子，考入北美100强知名大学的升学率高达96%。
                            </p>
                            <h1 class="card-title main-text">业务范围</h1>
                            <p class="card-text main-text">
                                <b><small class="text-muted mr-2"><i class="fa fa-circle"></i></small>游学服务——冬令营，夏令营</b>
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”为家长精选了不同游学需求的夏令营，针对不同年龄段的孩子，不同兴趣方向的专业培养，提前适应英语氛围，全面激发孩子德智体美劳的优秀品质。
                            </p>
                            <p class="card-text main-text">
                                2017年“留哪儿”一共开发了美国、加拿大、新西兰等30多条热门夏令营线路。
                            </p>
                            <p class="card-text main-text">
                                <b class="ml-4">热门夏令营：</b>
                            </p>
                            <p class="ml-4 card-text main-text">
                                <b class="text-primary">“全球未来领袖”童军夏令营，</b>通过“寓学于乐”的游戏式丛林教学，让孩子学到课堂上学不到的生存知识，增强团队协作能力，全方位“人文+艺术”的课程设计，启发孩子的立体思维，建立全球视角。
                            </p>
                            <p class="ml-4 card-text main-text">
                                <b class="text-primary">波士顿机器人创客+浸入式英语学习夏令营，</b>当今社会人工智能风靡全球，青少年正是走进机器人世界的主力军，通过专业老师对STEM（科学、技术、工程、数学）知识的全方位讲解，培养孩子 的学习兴趣，原汁原味的英语教学为孩子进入世界名校奠定基础。
                            </p>
                            <p class="ml-4 card-text main-text">
                                <b class="text-primary">北美杰出青少年成长法则夏令营，</b>在加拿大极富盛名的教育营地，通过切身体会成长的独立、思考、沟通、团队等法则，促进孩子全方位成长。
                            </p>
                            <p class="card-text main-text">
                                <b><small class="text-muted mr-2"><i class="fa fa-circle"></i></small>低龄留学——小学/中学留学</b>
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”与加拿大当地多所中小学合作，完美解决低龄儿童留学家长所关心的问题，全程专业人士随时解决申请留学的前中后各种问题。
                            </p>
                            <p class="card-text main-text">
                                <b><small class="text-muted mr-2"><i class="fa fa-circle"></i></small>留学申请</b>
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”提供美国本科、研究生，加拿大留学，英国留学，澳大利亚留学等全周期留学服务申请。“留哪儿”美国大学申请团队，以其超越学生期望的成功率，赢得客户100%的满意度，10%学生入读哈佛、MIT等顶级名校，70%入读全美排名前30（或专业前5名）大学，被称为美国名校申请的超级团队。
                            </p>
                            <p class="card-text main-text">
                                <b><small class="text-muted mr-2"><i class="fa fa-circle"></i></small>特色院校——特色专业定向培养</b>
                            </p>
                            <p class="card-text main-text">
                                特色院校，让有一技之长的孩子成为该领域佼佼者；
                            </p>
                            <p class="card-text main-text">
                                <b><small class="text-muted mr-2"><i class="fa fa-circle"></i></small>背景提升</b>
                            </p>
                            <p class="card-text main-text">
                                指引孩子参加义工活动、竞技比赛等提高孩子的综合竞争力。
                            </p>
                            <h1 class="card-title main-text">发展模式</h1>
                            <p class="card-text main-text">
                                一流的中央导师团+领先的技术平台，快速复制到二、三、四线城市。
                            </p>
                            <p class="card-text main-text">
                                专业服务能力和技术驱动平台， 完全革新了中国留学行业， 给予中国学生更多的选择权，让中国父母们能够找到全球最好的教育资源，做出更智慧的决策。
                            </p>
                            <p class="card-text main-text">
                                “留哪儿”（www.liunar.com）＋云招宝（SAAS系统），不仅实现了海内外的无国界，还为中国二、三、四线城市的孩子，提供与一线城市同样高品质的产品和服务。“留哪儿”领先的技术平台，为各个城市的合作伙伴赋能，令他们能够快速启动业务，专注于本地化运营、拓展市场。数字化的内核，技术基础架构，令“留哪儿”的城市扩张战略高水准、低损耗实施。
                            </p>
                            <p class="card-text main-text">
                                基于三、四线城市快速崛起的国际教育需求，“留哪儿”实现了不分城市大小的公平教育。“留哪儿”技术平台，提供了商业复制的数字基因，无论客户在哪个城市，都能如身处一线城市一样，享受一流服务。依托于统一的大平台和专业化的后台系统，“留哪儿”在中国各地的终端团队，能够位客户提供品质高度保障的服务，以同样的快速度，将全球最好的教育资源，带给每个地方的中国孩子。
                            </p>
                            <h1 class="card-title main-text">“留哪儿”信条</h1>
                            <ul>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>像对待自己的孩子一样，为客户提供教育资源，制定教育决策；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>每个孩子都有选择世界的权力。教育应该透明、公平、有选择权；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>用技术驱动教育，让教育资源的流通更智能、无国界、低摩擦；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>做正确的事情；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>机会存在于明朗的领域中那些有难度的部分；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>本分，实事求是；</li>
                                <li class="ml-2 card-text main-text"><small class="text-muted mr-2"><i class="fa fa-dot-circle-o"></i></small>永不停止探索事物最本质的因素。</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../d_partials/footer %>
    </body>
</html>    