<!DOCTYPE html>
<html>
    <head>
        <title>留哪儿-匠心，良心，教育初心！</title>
        <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
        <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
        <meta name="author" content="Canbest">
        <% include ../d_partials/head %>
        <style>
            .bg-grey{
                background-color: #f2f2f2;
            }

            p.text-center.text-muted{
                font-size: 14px;
            }

            .card-title.nav-card{
                color: #666666;
                font-weight: normal;
                font-size: 18px;
                margin-bottom: 0px; 
                line-height: 3em;
                border-bottom: 1px solid #ddd;
            }

            .card-title.nav-card.active{
                color: #29498D;
                font-weight: bold;
            }

            .text-blue{
                color: #3B5998;
            }

            .card-title.main-text{
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 12px;
                color: #29498D;
            }

            .card-text.main-text{
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 12px;
                color: #666666;
            }

            li.card-text.main-text{
                margin-left: -40px;
                list-style: none;
                font-size: 14px;
                font-weight: normal;
                margin-bottom: 0em;
                color: #666666;
            }

            ul.address > li.card-text.main-text:first-child{
                font-weight: bold;
                color: #333333;
            }
        </style>
    </head>
    <body class="bg-grey">
        <% var active_nav="about" %>
        <% include ../d_partials/nav %>
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3">
                    <div class="sticky-top card text-center radius-0" style="top:40px; border-top: 5px solid #3B5998">
                        <div class="card-block pt-0">
                            <h1 class="card-title nav-card">
                                <a href="http://www.liunar.com/about">
                                    留哪儿介绍
                                </a>
                            </h1>
                            <h1 class="card-title nav-card active">
                                <a href="http://www.liunar.com/achievement">
                                    留哪儿荣誉
                                </a>
                            </h1>
                            <h1 class="card-title nav-card">
                                <a href="http://www.liunar.com/contact">
                                    联系我们
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 mt-3 mt-md-0">
                    <div class="card">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/北美投资商会会员.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">北美投资商会会员</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/微软金牌认证伙伴.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">微软金牌认证伙伴</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/加拿大移民顾问协会认证.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">加拿大移民顾问协会认证</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/哥伦比亚学院委托授权证书.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">哥伦比亚学院委托授权证书</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/加拿大移民顾问资格证书.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">加拿大移民顾问资格证书</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/卑诗省企业认证.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">卑诗省企业认证</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/UBC大学移民顾问认证.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">UBC大学移民顾问认证</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/里士满商会成员认证.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">里士满商会成员认证</p>
                                </div>
                                <div class="col-md-4 py-3">
                                    <div class="bg-grey">
                                        <img src="/img/achievement/温哥华公司资质认证.png" style="width: 100%;" alt="留哪儿荣誉"/>
                                    </div>
                                    <p class="text-center text-muted mt-2">温哥华公司资质认证</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../d_partials/footer %>
    </body>
</html>