<!DOCTYPE html>
<html>
<head>
    <title>留哪儿-匠心，良心，教育初心！</title>
    <meta name="description" content="“留哪儿”怀着“匠心，良心，教育初心”专注海外教育，提供留学，游学和背景打造服务！我们专业的留学知识平台致力于让留学更透明，更可靠，帮助孩子赢得最优质国际教育，成为更好的自己！">
    <meta name="keywords" content="国际教育,出国留学,海外游学,背景提升,特色院校,美国留学,加拿大留学">
    <meta name="author" content="Canbest">
    <% include ../d_partials/head %>
    <style>
        .bg-grey{
            background-color: #f2f2f2;
        }
        .card-title.nav-card{
            color: #666666;
            font-weight: normal;
            font-size: 18px;
            margin-bottom: 0px; 
            line-height: 3em;
            border-bottom: 1px solid #ddd;
        }

        .card-title.nav-card.active{
            color: #29498D;
            font-weight: bold;
        }

        .text-blue{
            color: #3B5998;
        }

        .card-title.main-text{
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 12px;
            color: #29498D;
        }

        .card-text.main-text{
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 12px;
            color: #666666;
        }

        li.card-text.main-text{
            margin-left: -40px;
            list-style: none;
            font-size: 14px;
            font-weight: normal;
            margin-bottom: 0em;
            color: #666666;
        }

        ul.address > li.card-text.main-text:first-child{
            font-weight: bold;
            color: #333333;
        }
    </style>
</head>
<body class="bg-grey">
    <% var active_nav="about" %>
    <% include ../d_partials/nav %>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3 ">
                <div class="sticky-top card text-center radius-0" style="top: 40px; border-top: 5px solid #3B5998">
                    <div class="card-block pt-0">
                        <h1 class="card-title nav-card">
                            <a href="http://www.liunar.com/about">
                                留哪儿介绍
                            </a>
                        </h1>
                        <h1 class="card-title nav-card">
                            <a href="http://www.liunar.com/achievement">
                                留哪儿荣誉
                            </a>
                        </h1>
                        <h1 class="card-title nav-card active">
                            <a href="http://www.liunar.com/contact">
                                联系我们
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-9 mt-3 mt-md-0">
                <div class="card">
                    <div class="card-block">
                        <p class="card-text main-text">
                            如果您有意向了解更多，提出意见或建议，亦或是加入我们的团队，我们都十分期待与您交流。我们保证在最短时间内与您取得联系。
                        </p>
                        <h1 class="card-title main-text">网站反馈</h1>
                        <ul>
                            <li class="card-text main-text">想为留哪儿网站提出建议？</li>
                            <li class="card-text main-text">发现留哪儿平台出现错误？</li>
                            <li class="card-text main-text">发现自己在留哪儿发布的文字图片存在被侵权问题？</li>
                            <li class="card-text main-text">期待了解更多留哪儿团队故事？</li>
                            <li class="card-text main-text">来吧！告诉我们： service@liunar.com</li>
                        </ul>
                        <h1 class="card-title main-text">联系方式</h1>
                        <ul class="address">
                            <li class="card-text main-text">留哪儿加拿大</li>
                            <li class="card-text main-text">210-1909 West Broadway, Vancouver, BC, Canada, V6J 1Z3</li>
                            <li class="card-text main-text">电话: <span class="text-blue">+1 604-428-8678</span></li>
                        </ul>
                        <ul class="address">
                            <li class="card-text main-text">留哪儿深圳</li>
                            <li class="card-text main-text">深圳市南山区海德三道15号海岸大厦东座B区14层优客工场BR10</li>
                            <li class="card-text main-text">电话: <span class="text-blue">4008-099-039</span> / <span class="text-blue">0755-82802809</span></li>
                        </ul>
                        <ul class="address">
                            <li class="card-text main-text">留哪儿北京</li>
                            <li class="card-text main-text">北京市朝阳区望京SOHO T2 A座2007</li>
                            <li class="card-text main-text">电话: <span class="text-blue">010-64783310</span></li>
                        </ul>
                        <ul class="address">
                            <li class="card-text main-text">留哪儿江苏</li>
                            <li class="card-text main-text">南京市 玄武区 兰家庄3号</li>
                            <li class="card-text main-text">电话: <span class="text-blue">025-84860086</span></li>
                        </ul>
                        <h1 class="card-title main-text">商务合作</h1>
                        <ul>
                            <li class="card-text main-text">希望在留哪儿平台传播您自己的相关产品？</li>
                            <li class="card-text main-text">成为留哪儿平台的合作伙伴？</li>
                            <li class="card-text main-text">加入留哪儿大家庭？</li>
                            <li class="card-text main-text">以上合作请邮件联系: Service@liunar.com</li>
                            <li class="card-text main-text">电话: 4008-099-039</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../d_partials/footer %>
</body>
</html>   