@font-face {
    font-family: 'FontAwesome';
    src:url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.eot');
    src:url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.woff') format('woff'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../lib/font-awesome-4.6.3/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*@media only screen and (min-width: 980px) {

	.view-container{
		max-width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
	}
	
	.view-container[nav-view="active"]{
		max-width: 60vw;
		margin-left: 0;
		margin-right: 0;
	}
	
	.nav-title-slide-ios7.bar.bar-header{
		max-width: 40vw;
		margin-left: 30vw;
		margin-right: 30vw;
	}
}*/

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.img-container {
  position: relative;
  width: 100%;
  height: 100%;
}

p.info {
  position: absolute;
  bottom: 55px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.ion.custom:before{
    font-size: 28px;
    vertical-align: middle;
}

textarea{
	resize: none;
}

.unselect {
  -webkit-user-select: none !important;  /* Chrome 49+ */
  -moz-user-select: none !important;     /* Firefox 43+ */
  -ms-user-select: none !important;      /* No support yet */
  user-select: none !important;          /* Likely future */   
}

.wrapBox {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.scroll, .scroll *{
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    -webkit-touch-callout: default;
}

/*-----slick------*/

ul.slick-dots {
    bottom: 0px;
}

ul.slick-dots li button:before {
    font-size: 10px;
    
}

ul.slick-dots li {
    margin: 0 0 0 0;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.backdrop { display: none; } 
.backdrop.visible { display: block; } 
.loading-container:not(.visible) { display: none; }

*{
    font-family: 'FontAwesome', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    /*'FontAwesome', -apple-system, "Helvetica Neue", Arial, "PingFang SC", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;*/
}


.keyboard-up{
    background-color: rgba(0,0,0,0) !important;
}
.hide{
    display: none !important;
}

.iconCustom{
    height: 24px;
    width: 24px;
    display: inline-block; 
    background-size: cover;
    background-position: center;
    vertical-align: middle;
}

.estimate.radio > div.radio-content > .radio-icon{
    display: none;
}

.radio-content .item-content{
    color: rgb(53,76,76);
    font-size: 18px;
    white-space: normal;
}

.estimate.radio.item-radio input:checked + .radio-content .item-content {
    background:  rgb(58,110,111);
    color: #fff;
}


.bar.bar-calm, .button.button-calm, .button.calm{
    /* background-color: #d51f26 !important;*/
    border-color: #3B5998 !important; 
    background-color: #3B5998 !important;
    color: #fff;
}

.spinner.spinner-calm{
    stroke: #3B5998;
    fill: #3B5998;
}

.bar.bar-grey{
    background-color: rgb(102,102,102);
    color: #fff;
}

.bar-header {
   box-shadow: 0px 3px 15px rgba(125, 125, 125, 0.3);
   transition: transparent 0s ease;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > i,
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated > span{
     color: #29498D !important;
}

.item.item-input.labelForm {
    border: 1px solid #3B5998;
    margin-top: 15px;
    color: #207a8c;
    font-size: 16px;
    padding: 6px 12px 6px 12px;
}

.item.item-input.labelForm input{
    font-size: 14px;
    padding-right: 22px;
}

.col.vertical-tabs{
    flex-direction: column;
    -webkit-flex-direction: column;
    height: auto;
    border-right: 1px solid #CCC;
    background-color: #fff;
}

.col.vertical-tabs  .vertical-tab{
    text-align: center;
    padding: 24px 12px;
    background-color: #fff;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE; 
    margin-top: -1px;
}

.col.vertical-tabs .vertical-tab.clicked{
    border-right: 3px solid #3B5998;
    color: #3B5998;
}


.col.vertical-tabs .vertical-tab > p > i{
    font-size: 24px;
}

.col.vertical-tabs  .vertical-tab > p{
    margin-bottom: 2px;
}

.col.tagButton{
    background-color: #fff;
    text-align: center;
    margin: 4px;
    font-size: 15px;
    color: #666;
    border: 1px solid #eee;
    padding: 12px 6px;
    font-weight: lighter;
}

.floatingButton {
    position: fixed; 
    bottom: 112px; 
    right: 5%;
    z-index: 999;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    background-color: rgba(246, 83, 74, 0.85);
    color: #fff;
    line-height: 55px;
    text-align: center;
    font-size: 16px;
}

.fileInput > i{
    font-size: 42px;
    color: #888;
}

.fileInput > input{
    width: 0px;
    height: 0px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.title-image {
    vertical-align:middle;
    height: 27px;
    margin-top: -4px;
}

ion-content{
    background-color: #F8F8F8;
}

.whiteBg {
    background-color: #fff !important;
}

.blackMatt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.vCenterBlock{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}

.spanNoteCenter{
    font-size: 12px;
    color: #777;
    text-align: center;
    margin-bottom: 15px;
}

.textCenter,.textCenter > *{
    text-align: center;
}

.noBorder{
    border: none;
}

.noPadding{
    padding: 0 0 0 0 !important;
}

.centerMargin{
    margin-right: auto !important;
    margin-left: auto !important;
}

.noMargin{
    margin: 0 0 0 0 !important;
}

.textCenter{
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: #888;
}

div.popup-body {
	text-align: center;
}
div.popup-buttons > button.button-positive{
    background-color: #3B5998;
}

div.popup-buttons > button.button-positive:active{
    background-color: #3B5998;
}

.card.subHeader{
    height: 48px;
    width: 100%;
    box-shadow: none;
    text-align: left;
    margin-top: 0;
    margin-left: 0;
    border-radius: 0;
    background-color: gainsboro;
}

.card.subHeader > h3{
    color: #fff;
    line-height: 48px;
    font-size: 18px;
    margin-left: 15px;
}

.fullWidthCardMenu{
    box-shadow: none;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
}

.fullWidthCard{
    box-shadow: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;  
    margin-top: 12px;
    margin-bottom: 0px;
}

.fullWidthCard hr{
    margin-top: 0; 
    margin-bottom:0; 
    width: 88%; 
    border: 1px solid #e5e5e5;
}

.homeMenuItem{
    padding-top: 12px;
    text-align: center;
}

.homeMenuItem > i{
    font-size: 36px;
}

.squareBox{
    display: block;
}

.fourSquareCol:nth-child(odd){
    padding: 12px 6px 12px 12px;
}

.fourSquareCol:nth-child(even){
    padding: 12px 12px 12px 6px;
}

.fourSquareCol-image {
    padding: 12px 12px 12px 0px;
}

.fourSquareCol-image:nth-child(odd) {
    border-right: 1px solid #e5e5e5;
}

.fourSquareCol-image:nth-child(even) {
    padding-left: 12px;
}

.fourSquareCol-image:nth-child(1), .fourSquareCol-image:nth-child(2){
    border-bottom: 1px solid #e5e5e5;
}

.fourSquareCol-image > a{
    height: 80px;
}

.fourSquareCol-image > a > img {
    width: 54px; 
    height: 54px; 
    position: absolute; 
    right: 0px; 
    bottom: 0px;
}

.fourSquareCol-image > a > h3 {
    font-size: 13px;
    width: 65%;
    white-space: normal;
    height: 45%;
    line-height: 160%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.fourSquareCol-image > a > p {
    font-size: 12px;
    width: 58%;
    height: 50%;
    /*line-height: 120%;*/
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
}


.custom.item-thumbnail-left{
    padding-left: 25%;
    min-height: 90px;
    height: 110px;
}

.custom.item-thumbnail-left > img{
    top: 0;
    left: 0;
    max-height: 100% !important;
    max-width: 100% !important;
    width: auto;
    clip: rect(0px,120px,200px,0px);
}

.custom.item-thumbnail-left > div > h4{
    font-size: 16px;
}

/*-----------------------------------------------*/
.campDetail img{
    width: 100%;
}

.listMargin {
    margin-bottom: 5px;
}

.applyButton {
    left: 10px;
    border-color: gray;
    width: 90px;
}

.estimateBody {
    background-color: #ffffff;;
    width:100%;
    padding: 0;
}

.estimateBtn {
    font-size: 18px;
    width: 100%;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 24px;
    border-radius: 0;
}

.estimateBtn.next{
    background-color: rgb(246, 83, 74);
    color: #fff;
}

.estimateCard {
    margin: 0;
    line-height: 60px;
    text-align: center;
    position: relative;
    height:120px;
    background-color: rgb(58,110,111);
}

.estimateBtnGroup {
    width: 75%;
    margin: auto;
}

.estimateCard > p{
    color: #fff;
    margin-top: 36px;
    font-size: 28px;
}

.estimateItem {
   background-color: rgb(58,110,111);
   position: relative;
   text-align: center;
}

.estimateItem p {
    position: absolute;
    margin-top: 30%;
    width: 100%;
    left: 0;
    color:black;
    font-weight: 500;
    font-size: 2rem;
}

.estimateList {
    margin-top: 36px;
    width: 75%;
    margin-left:12.5%;
    padding: 24px; 
    border: 1px solid rgb(58,110,111); 
    background-color: #fff;
}

.articleHeader > h1{
    padding: 17px 17px;
    font-size: 40px;
}

.articleHeader > .item.item-avatar > img{
    left: 17px;
}

.articleDetail{
    padding: 0 17px;
}

.articleDetail, 
.articleDetail > p, 
.articleDetail > span, 
.articleDetail p span *, 
.articleDetail > *,
.articleDetail > * > *,
.articleDetail > p > span{
    font-family: STHeiti, 'Microsoft YaHei', Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    text-size-adjust: 100% !important;
    color: #333;
    line-height: 28px !important;
    font-weight: normal !important;
	margin-top: 24px !important;
    margin-bottom: 0px !important;
    word-wrap: break-word;
    text-indent: 0em !important;
}

.articleDetail img{
    width: 100% !important;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
}

.articleDetail img.qrCode{
    width: 50% !important;
    margin-left: 25%;
    margin-right: 25%;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
}

.articleDetail li{
    list-style: none;
    width: 100%;
}

.articleDetail ul{
    width: 100%;
}
/*------------------------------------------------*/
.productDetail, .productDetail > *{
    font-family: STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif !important;
}

.productDetail img{
    width: 100%;
}

.productDetail p{
    word-wrap: break-word;
    margin-top: 24px;
    font-size: 17px;
    line-height: 28px;
    color: #333;
}


.productDetail h3{
    word-wrap: break-word;
    font-size: 19px!important;
    padding-top: 16px;
    line-height: 28px;
    font-weight: bolder;
    /*color: #3A3A3A;*/
}

.productDetail h4{
    word-wrap: break-word;
    font-size: 17px!important;
    padding-top: 16px;
    line-height: 28px;
    font-weight: bolder;
}

.productDetail h5{
    font-weight: bold;
    word-wrap: break-word;
    font-size: 17px;
    line-height: 28px;
    padding: 12px 8px;
    color: #999;
    border: 1px solid #ddd;
}

.productDetail li{
    /*padding-left: 18px;
	list-style: none;*/
	margin-left: 32px !important;
    margin-top: 4px !important;
}

.productDetail table{
    width: 100%;
}

.productDetail li > p{
    margin: 0 !important;
    font-size: 14px;
}

.liunarProductCards{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 24px;
}

.liunarProductCards:first-child {
    margin-top: 0 !important;
}

.liunarProductCards > .item:last-child {
    background-color: #3B5998;
    color: #fff;
    text-align: center;
}

.liunarProductCards > .item:first-child {
    margin-top: 0 !important;
    position: relative;
    background-color: #fff;
    background-size: cover;
    height: 240px;
}

.liunarProductCards > .item:first-child > div{
    padding: 12px;
    font-size: 18px;
    position: absolute;
    background-color: #3B5998;
    color: #fff;
    bottom: 0;
    left: 0;
}

.productCards{
    border-radius: 0;
    width: 84%;
    margin-left: 8%;
    padding: 15px 15px 15px 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: #C0272D solid 1px;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;   
}


.productCards > p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
}

.productCards > .item.item-text-wrap{
    border: none;
    height: 160px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 0;
}

.productCards > .item.item-divider{
    border: none;
    background-color: rgba(0,0,0,0);
    margin-top: 0;
}

.productCards > .item.item-divider > p{
    text-align: center;
    color: grey;
}

.productCards > .item.item-divider > p.anchorText{
    text-decoration: none;
    color: #ea545f;
    font-size: 14px;
    text-align: right;
}

/*------school------*/

.schoolProductImg {
    position: relative;
    width:100%;
    margin:0;
    height:200px;
    opacity: 0.6;
    -webkit-filter: brightness(100%);

}

.schoolProductP {
    text-align: center;
    position: absolute;
    top:45px;
    width: 100%;
    font: bold 17px/45px Helvetica, Sans-Serif;
}

.schoolButtonFull{
    color: #fff !important;
    font-weight: 300;
    height: 160px;
    min-height: 26vh;
    font-size: 18px;
    text-align: center;
    padding: 24px 24px 24px 24px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 4px;
    margin-top: 26px;
}

.schoolButtonFull > div > img {
    width: 15%;
    max-width: 80px;
}

.schoolButton-left{
    margin-left: 8px;
    margin-right: 4px;
}

.schoolButton-right{
    margin-left: 4px;
    margin-right: 8px;
}

.schoolButton{
    width: 100%;
    height: 160px;
    min-height: 26vh;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    padding: 24px 24px 24px 24px;  
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.schoolButton > div > p {
    color: #ffffff;
    opacity: 1 !important; 
}

.schoolButton > div > img {
    width: 30%;
    max-width: 80px;
}

.schoolStandardCard{
    height: 200px; 
    padding: 6px 6px 6px 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.schoolInfoTable > tbody > tr > th{
    font-weight: bolder;
    font-size: 10px;
}

.schoolInfoTable > tbody > tr > td {
    text-align: center;
}

.schoolInfoTable > tbody > tr, td, th{
    border: 1px solid #444;
    padding: 2px;
}

.schoolInfoTable > tbody > tr:nth-child(even) {
    background-color: #3B5998;
    color: #fff;
}

.schoolInfoTable > tbody > tr {
    color:#3B5998;
}

.schoolNavBtn{
    padding: 8px 0px;
    background-color: #3B5998;
    color: #fff;
}

.schoolNavBtn.active{
    color: #3B5998;
    background-color: #fff;
}

.mapOption{
    color: #3B5998;
}

.mapOptionActived{
    background-color: #3B5998;
    color: #fff;
}

.schoolBottomButton{
    line-height: 44px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

/*----Profile Item---*/
.profileItem{
    margin-top: 14px;
    margin-bottom: 0 !important;
}


.profileItem > .item:nth-child(2){
    border-top: 0.5px solid #d3d3d3;
}

.profileItem > *{
    color: #444 !important;
    border: none;
}

.profileItem > h2{
    color: dimgray;
    font-weight: 200;
    font-size: 16px;
}

.profileItem > p{
    color: gray;
    font-size: 15px;
}

.profileItem:first-child{
    margin-top: 0;
    text-align: center;
}

.profileItem > .profileAvater{
    width: 80px;
    height: auto;
    border-radius: 40px;
}

.terms > p.fileList > span::before{
    font-family: "FontAwesome";
    content: "\f15c" "  ";
    color: #3B5998;
}

.terms > p.emailRule > span::before{
    font-family: "FontAwesome";
    content: "\f0e0" "  ";
    color: #3B5998;
}

.clientTab{
    padding: 0;
    color: #3B5998;
    text-align: center;
    font-size: 16px;
    line-height: 44px;
}

.clientTab.active{
    color:#fff;
    background-color: #3B5998;
}
/*---Questions----*/
.questionHeader > h2:first-child{
    float: left;
    font-weight: 500;
    font-size: 18px;
    color: #000;
}

.questionHeader > h2{
    float: right;
    font-weight: 300;
    font-size: 16px;
    color: #666;
}

.questionHeader > h2 > i{
    color: #888;
    margin-left: 6px;
}

.questionItem > .questionTitle > *{
    font-size: 16px;
    font-weight: 300;
    overflow: visible;
    white-space: normal;
}

.questionItem > .questionContent > *{
    font-size: 14px;
}

.questionItem > .questionAuthor > p:first-child{
    color: #d51f26;
    float: left;
}

.questionItem > .questionAuthor > p:first-child > span{
    color: #666;
    margin-left: 6px;
}

.questionItem > .questionAuthor > p{
    float: right;
}

.questionItem > .questionAuthor > p > a > span:first-child{
    color: #666;
}

.questionItem > .questionAuthor > p > a > span:first-child > i{
    color: #888;
}

.questionItem > .questionAuthor > p > a > span{
    font-size: 16px;
    color: #d51f26;
    margin-left: 12px;
}

.questionItem > .questionAuthor > p > a > span > i{
    margin-right: 6px;
}

.questionDetail, .answerDetail{
    padding-left: 20px;
}

.questionDetail > p{
    margin-top: 14px;
    overflow: visible;
    white-space: normal;
    max-width: 70vw;
}

.questionDetail > h3{
    overflow: visible;
    white-space: normal;
    max-width: 70vw;
}

.questionDetail > h2 {
    color: steelblue;
    margin-bottom: 12px;
    max-width: 70vw;
}

.questionDetail > p.questionNote{
    text-align: right;
    max-width: 70vw;
}

.answerDetail > p > *, .answerDetail > p, .answerDetail > *, .answerDetail p *{
    overflow: hidden;
    text-overflow: clip;
    white-space: normal;
    max-width: 70vw;
}

.answerDetail > h2{
    color: steelblue;
    margin-bottom: 12px;
}

.answerDetail > p.answerNote{
    text-align: right;
}


.QALikes{
    text-align: center;
}

.QALikes > img{
    border-radius: 50%;
}

.badgeBtn{
    color: #fff;
    border: none;
    border-radius: 12px;
    line-height: 8px;
    height: 16px;
}

.badgeBtn-outline{
    width: 100%;
    background-color: rgba(0,0,0,0);
    border: 1px solid;
    border-radius: 12px;
    line-height: 12px;
    height: 24px;
    text-align: center;
}

.homeBadgeBtn-outline{
    background-color: rgba(0,0,0,0);
    color: #4c9cbf;
    border: 1px solid; 
    border-color: #4C9CBF;
    border-radius: 12px;
    font-size: 14px;
    line-height: 12px;
    height: 24px;
    width: auto;
    margin-left: 3.5px;
    margin-right: 3.5px;
    text-align: center;
}
/*-----shop---*/
.row.shopRow{
   padding-top: 0;
   padding-left:5px;
   padding-right: 5px;
   padding-bottom: 0;
}

.row > .shopNav{
    color: rgb(67,180,247);
    text-align: center;
    border: 1px solid rgb(232,232,232);
    padding: 5px;
    flex: 0 0 22%;
    -webkit-flex: 0 0 22%;
    max-width: 22%;
    border: 0px;
}

.row > .countryNav{
    text-align: center;
    border: 1px solid rgb(232,232,232);
    padding: 5px;
    flex: 0 0 28%;
    -webkit-flex: 0 0 28%;
    max-width: 28%;
    border: 0px;  
}

.row > .shopNav > i{
    font-size: 20px;
    margin-bottom: 6px;
}

/*------promote--------*/
.button.promoteFormBtn{
    color: #fff;
    border-color: #fff;
    border: 2px solid;
    background-color: transparent;
    font-size: 24px;
    font-weight: bolder;
    width: 55%;
}
.promoteFormContainer{
    margin-top: 24px;
    font-size: 18px;
    color: #fff;
    font-weight: bolder;
}


.promoteFormInput{
    padding: 4px;
    height: 36px;
    width: 65%;
    border: 2px solid #fff;
    border-radius: 6px;
    background-color: rgb(244,244,244);
    font-size: 18px;
    font-weight: lighter;
    color: #333;
}

/*---------collectFormPopUp----------*/

div.collectForm div.popup{
    width: 500px;
    max-width: 90%;
}

div.collectForm  div.popup-head {
    background-color: rgb(19,134,131);
}

div.collectForm div.popup-head > h3.popup-title, 
div.collectForm div.popup-head > h5.popup-sub-title{
    color: #fff;
}

div.collectForm div.popup-head > h3.popup-title{
    font-size: 18px;
    font-weight: bolder;
}

div.collectForm div.popup-head > h5.popup-sub-title{
    font-size: 14px;
    font-weight: normal;
}

div.collectForm div.popup-buttons{
    padding: 0px;
}
div.collectForm div.popup-buttons > button{
    background: rgb(19,134,131);
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
}

.relativeList.item-thumbnail-left{
    padding-left: 146px;
}

/*---------msgCenter---------*/
.tab-buttons > .button{
	font-size: 14px;
	color: lightslategrey;
}

.tab-buttons > .button.selected{
	color: #3B5998;
}

.msgItemList {
	display: none;
}

.msgItemList.show {
	display: block;
}

.msgItemList .item-content{
	padding-left: 92px;
}

.QR-code-container {
	position: relative;
	width: 120px;
	height: 150px;
	overflow: auto;
	border: 1px solid #333;
}

.QR-code-container > i{
	position: absolute;
	bottom: 0px;
	left: 10px;
	font-size: 32px;
}

.edit-group{
	position: absolute;
    box-sizing: border-box;
    min-height: 100%;
    width: 100%;
    background-color: #f2f6f8;
    padding: 10px 10px 60px;
    font-family: HelveticaNeue-Light,STHeitiSC-Light;
}

div.input-container{
    position: relative;
    margin-bottom: 10px;
    padding-top: 1px;
    background-color: #fff;
}


.pr{
	position: relative;
}

.type-wrapper{
	margin-left: 45px;
    margin-right: 10px;
}

.input-icon {
	float: left;
    width: 14px;
    height: 17px;
    line-height: 100%;
    margin: 8px 0 0 16px;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    left: 0px;
	color: grey;
	text-align: center;
}

.textarea-icon{
	float: left;
    width: 14px;
    height: 17px;
    line-height: 100%;
    margin: 14px 0 0 16px;
    vertical-align: middle;
    font-size: 20px;
    position: absolute;
    left: 0px;
	color: grey;
	text-align: center;
}

.type-wrapper > input {
	vertical-align: middle;
}


.type-wrapper > input[type=date] {
	padding-top: 14px;
}

.type-wrapper > textarea {

}

.type-wrapper > input, .type-wrapper > textarea {
	box-sizing: border-box;
    width: 100%;
    padding: 14px 0;
    border-width: 0;
    box-shadow: none;
    outline: 0;
    color: #939699;
    -webkit-appearance: caret;
    -moz-appearance: none;
    margin: 0;
    font-family: HelveticaNeue-Light,STHeitiSC-Light;
}

input[type="radio"].msgType {
	display: none;
}
input[type="radio"].msgType:checked + label.msgTypeLabel {
	border-color: #009688;
}
input[type="radio"].msgType:checked + label.msgTypeLabel:after {
	transform: scale(0.7);
	background: #009688;
}

label.msgTypeLabel {
	display: inline-block;
	box-sizing: border-box;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: #fff;
	margin-bottom: 12px;
	border: 2px solid #7A7A7A;
	border-radius: 50%;
	position: relative;
	cursor: pointer;
/*	transition: .2s;*/
}
label.msgTypeLabel:before {
	content: '';
	position: absolute;
	display: block;
	height: 300%;
	width: 300%;
	top: -100%;
	left: -100%;
	z-index: -1;
	border-radius: 50%;
	transition: .3s;
}

label.msgTypeLabel:after {
	content: '';
	display: block;
	height: 100%;
	width: 100%;
	background: #fff;
	border-radius: 50%;
	background-size: contain;
/*
	transform: scale(0);
	transition: .2s;
*/
}

label.msgTypeLabel:active:before {
	background: #fff;
}

span.msgTypeLabelText{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 12px;
}

/*----Invation----*/

.invitation-slide{
    background-image: url('/img/invitation/BG.jpg');
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 18px;
    text-align: center;
}

.invitation-slide.last-child{
    background-image: url('/img/invitation/slice3.png');
}

.invitation-slide > .full{
    width: 100vw;
    height: 50vh;
    margin: -18px -18px 0px -18px;
}

.invitation-slide > .full > img{
    width: 100vw;
    max-width: 100vw;
    height: auto;
}

.invitation-slide > .invitation-header{
    margin: -18px -18px 0px -18px;
    height: 20vh;
    background-image: url('/img/invitation/slice3.png');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 42px;
}

.invitation-slide > .invitation-header.index-header{
    margin: -18px -18px 0px -18px;
    height: 50vh;
    background-image: url('/img/invitation/slice3.png');
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 42px;
}

.invitation-slide > .invitation-header.index-header > img{
    vertical-align: middle;
    max-width: 320px;
    width: 60%;
}

.invitation-slide > .invitation-header > img{
    vertical-align: middle;
}

.invitation-slide > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 280px;
    margin-top: 32px;
}

.middle{
        display: inline-block;
        width: 100%;
        vertical-align: middle;
    }

    .middle::before{
        content: '';
        width: 0;
        font-size: 0;
        height: 100%;
        visibility: hidden;
        display: inline-block;
        vertical-align: middle;
    }






